@charset "UTF-8";

html {
	background-color: #f9f9f9;
}

body {
	color: #5e6a71;
}

#jacket {
	overflow: hidden;
}

#binder {
	width: 990px;
	margin: 0 auto;
}

main {
	margin-left: 198px;
	box-sizing: border-box;
}

.fixed main,
.hybrid main {
	width: 792px;
}