@charset "UTF-8";
@mixin gutter($whole,$halve) {

$gutters: (
	'': 2rem,
	'.wide': 4rem,
	'.narrow': 1rem
	);

@each $gutter, $dividend in $gutters {

	/* #{$gutter} */

	.gutter#{$gutter} .column,
	.guttered#{$gutter} {
		padding-left: $dividend;
		padding-right: $dividend; }

	}

$spacing: (
	'loose': 4rem,
	'tight': 1rem
	);

@each $space, $dividend in $spacing {

	.spacing-#{$space} .gutter .column:not(.gutterless),
	.spacing-#{$space} .guttered {
		padding-left: $dividend/$whole;
		padding-right: $dividend/$whole; }

	// One Column
	.spacing-#{$space} .single.gutter .column:not(.gutterless) {
		padding-left: $dividend/$whole;
		padding-right: $dividend/$whole; }

	// Two Columns
	.spacing-#{$space} .halves.gutter .column.one:not(.gutterless),
	.spacing-#{$space} .halves.gutter .column:nth-of-type(2n+3):not(.gutterless),
	.spacing-#{$space} .side-left.gutter .column.one:not(.gutterless),
	.spacing-#{$space} .side-right.gutter .column.one:not(.gutterless),
	.spacing-#{$space} .margin-left.gutter .column.one:not(.gutterless),
	.spacing-#{$space} .margin-right.gutter .column.one:not(.gutterless) {
		padding-left: $dividend/$whole;
		padding-right: $dividend/$halve;
		}
	.spacing-#{$space} .halves.gutter .column.two:not(.gutterless),
	.spacing-#{$space} .halves.gutter .column:nth-of-type(2n+4):not(.gutterless),
	.spacing-#{$space} .side-left.gutter .column.two:not(.gutterless),
	.spacing-#{$space} .side-right.gutter .column.two:not(.gutterless),
	.spacing-#{$space} .margin-left.gutter .column.two:not(.gutterless),
	.spacing-#{$space} .margin-right.gutter .column.two:not(.gutterless) {
		padding-left: ($dividend/$halve);
		padding-right: $dividend/$whole;
		}

	// Three Columns
	.spacing-#{$space} .thirds.gutter .column.one:not(.gutterless),
	.spacing-#{$space} .thirds.gutter .column:nth-of-type(3n+4):not(.gutterless),
	.spacing-#{$space} .triptych.gutter .column.one:not(.gutterless) {
		padding-left: $dividend/$whole;
		padding-right: $dividend/$halve;
		}
	.spacing-#{$space} .thirds.gutter .column.two:not(.gutterless),
	.spacing-#{$space} .thirds.gutter .column:nth-of-type(3n+5):not(.gutterless),
	.spacing-#{$space} .triptych.gutter .column.two:not(.gutterless) {
		padding-left: $dividend/$halve;
		padding-right: $dividend/$halve;
		}
	.spacing-#{$space} .thirds.gutter .column.three:not(.gutterless),
	.spacing-#{$space} .thirds.gutter .column:nth-of-type(3n+6):not(.gutterless),
	.spacing-#{$space} .triptych.gutter .column.three:not(.gutterless) {
		padding-left: $dividend/$halve;
		padding-right: $dividend/$whole;
		}

	// Four Columns
	.spacing-#{$space} .quarters.gutter .column.one:not(.gutterless),
	.spacing-#{$space} .quarters.gutter .column:nth-of-type(4n+5):not(.gutterless) {
		padding-left: $dividend/$whole;
		padding-right: $dividend/$halve;
		}
	.spacing-#{$space} .quarters.gutter .column.two:not(.gutterless),
	.spacing-#{$space} .quarters.gutter .column.three:not(.gutterless),
	.spacing-#{$space} .quarters.gutter .column:nth-of-type(4n+6):not(.gutterless),
	.spacing-#{$space} .quarters.gutter .column:nth-of-type(4n+7):not(.gutterless) {
		padding-left: $dividend/$halve;
		padding-right: $dividend/$halve;
		}
	.spacing-#{$space} .quarters.gutter .column.four:not(.gutterless),
	.spacing-#{$space} .quarters.gutter .column:nth-of-type(4n+8):not(.gutterless) {
		padding-left: $dividend/$halve;
		padding-right: $dividend/$whole;
		}

	}

@each $gutter, $dividend in $gutters {

	// One Column
	.single.gutter#{$gutter} .column:not(.gutterless) {
		padding-left: $dividend/$whole;
		padding-right: $dividend/$whole; }

	// Two Columns
	.halves.gutter#{$gutter} .column.one:not(.gutterless),
	.halves.gutter#{$gutter} .column:nth-of-type(2n+3):not(.gutterless),
	.side-left.gutter#{$gutter} .column.one:not(.gutterless),
	.side-right.gutter#{$gutter} .column.one:not(.gutterless) {
		padding-left: $dividend/$whole;
		padding-right: ($dividend/$halve);
		}
	.halves.gutter#{$gutter} .column.two:not(.gutterless),
	.halves.gutter#{$gutter} .column:nth-of-type(2n+4):not(.gutterless),
	.side-left.gutter#{$gutter} .column.two:not(.gutterless),
	.side-right.gutter#{$gutter} .column.two:not(.gutterless) {
		padding-left: ($dividend/$halve);
		padding-right: $dividend/$whole;
		}

	// Three Columns
	.thirds.gutter#{$gutter} .column.one:not(.gutterless),
	.thirds.gutter#{$gutter} .column:nth-of-type(3n+4):not(.gutterless),
	.triptych.gutter#{$gutter} .column.one:not(.gutterless) {
		padding-left: $dividend/$whole;
		padding-right: $dividend/$halve;
		}
	.thirds.gutter#{$gutter} .column.two:not(.gutterless),
	.thirds.gutter#{$gutter} .column:nth-of-type(3n+5):not(.gutterless),
	.triptych.gutter#{$gutter} .column.two:not(.gutterless) {
		padding-left: $dividend/$halve;
		padding-right: $dividend/$halve;
		}
	.thirds.gutter#{$gutter} .column.three:not(.gutterless),
	.thirds.gutter#{$gutter} .column:nth-of-type(3n+6):not(.gutterless),
	.triptych.gutter#{$gutter} .column.three:not(.gutterless) {
		padding-left: $dividend/$halve;
		padding-right: $dividend/$whole;
		}

	// Four Columns
	.quarters.gutter#{$gutter} .column.one:not(.gutterless),
	.quarters.gutter#{$gutter} .column:nth-of-type(4n+5):not(.gutterless) {
		padding-left: $dividend/$whole;
		padding-right: $dividend/$halve;
		}
	.quarters.gutter#{$gutter} .column.two:not(.gutterless),
	.quarters.gutter#{$gutter} .column.three:not(.gutterless),
	.quarters.gutter#{$gutter} .column:nth-of-type(4n+6):not(.gutterless),
	.quarters.gutter#{$gutter} .column:nth-of-type(4n+7):not(.gutterless) {
		padding-left: $dividend/$halve;
		padding-right: $dividend/$halve;
		}
	.quarters.gutter#{$gutter} .column.four:not(.gutterless),
	.quarters.gutter#{$gutter} .column:nth-of-type(4n+8):not(.gutterless) {
		padding-left: $dividend/$halve;
		padding-right: $dividend/$whole;
		}

	}

	/*
		.gutterless {
			padding-left: 0px !important;
			padding-right: 0px !important;
			}
	*/

	/*
		.fifths.gutter .column { padding: 1em; }
		.fifths.gutter .column:nth-of-type(5n+1) { padding-left: 2em; }
		.fifths.gutter .column:nth-of-type(5n+5) { padding-right: 2em; }
	*/

	}