@charset "UTF-8";

.main-header {
	height: 142px;
	background-color: #5e6a71;
	width: 100%;
	position: relative;
	box-sizing: border-box;
	touch-action: manipulation;
}

.main-header .header-group {
	position: absolute;
	bottom: 0;
	left: 0;
	max-width: 792px;
	}
.header-group {
	padding-bottom: 1em;
	padding-left: 2em;
	}
.main-header sup,
.main-header sub {
	display: block;
	color: white;
	line-height: 1em;
	vertical-align: baseline;
	margin: 0px;
	}
.main-header a,
.main-header a:hover {
	color: white;
	}
.main-header sup {
	font-size: .9em;
	text-transform: uppercase;
	}
.main-header sup a {
	color: #e6e8e9;
	}
.main-header sub {
	font-size: 2em;
	}
.main-header sup a,
.main-header sub a,
.main-header sub * {
	font-size: 100%;
	}
.main-header sup span {
	display: block;
	line-height: 1em;
	}