@charset "UTF-8";

.main-header {
	height: 142px;
	background-color: #5e6a71;
	width: 100%;
	position: relative;
	box-sizing: border-box;
	}
.main-header .header-group:not(.unset) {
	position: absolute;
	bottom: 0;
	left: 0;
	max-width: 792px;
	}
.main-header:not(.gutter) .header-group:not(.unset):not(.guttered) {
	padding-bottom: 1em;
	padding-left: 2em;
	}
.main-header sup:not(.unset),
.main-header sub:not(.unset) {
	display: block;
	color: white;
	line-height: 1em;
	vertical-align: baseline;
	margin: 0px;
	}
.main-header a,
.main-header a:hover {
	color: white;
	}
.main-header sup:not(.unset) {
	font-size: .9em;
	text-transform: uppercase;
	}
.main-header sup:not(.unset) a {
	color: #e6e8e9;
	}
.main-header sub:not(.unset) {
	font-size: 2em;
	}
.main-header sup:not(.unset) a,
.main-header sub:not(.unset) a,
.main-header sub:not(.unset) * {
	font-size: 100%;
	}
.main-header sup:not(.unset) span {
	display: block;
	line-height: 1em;
	}