@charset "UTF-8";

.column img:not(.unscaled),
.row:not(.unscale) .column img,
.column:not(.unscale) img {
	max-width: 100%;
	height: auto;
}

img.unframed {
	height: auto;
}

.fill-width,
.full-width {
	width: 100%;
	height: auto;
}

.fill-height {
	height: 100%;
	width: auto;
}

.max-width {
	max-width: 100%;
	height: auto !important;
	box-sizing: border-box;
}