@charset "UTF-8";
$layouts: 'single','halves','thirds','side-left', 'side-right', 'margin-left','margin-right','triptych','quarters','eighths';

@mixin layouts-pixels {
	.row.single .column {
		width: 792px;
	}

	.column.singled {
		width: 792px !important;
	}

	.row.halves .column {
		width: 396px;
	}

	.column.half {
		width: 396px !important;
	}

	.row.thirds .column {
		width: 264px;
	}

	.column.third {
		width: 264px !important;
	}

	.row.quarters .column {
		width: 198px;
	}

	.column.quarter {
		width: 198px !important;
	}

	.row.triptych .column {
		width: 198px;
	}

	.row.triptych .column.two {
		width: 396px;
	}

	.row.margin-right .column.one,
	.row.margin-left .column.two {
		width: 594px;
	}

	.row.margin-right .column.two,
	.row.margin-left .column.one {
		width: 198px;
	}

	.row.side-right .column.one,
	.row.side-left .column.two {
		width: 528px;
	}

	.row.side-right .column.two,
	.row.side-left .column.one {
		width: 264px;
	}
}

@mixin layouts-percents {

	// single

	.row.single .column { width: 100%; }

	// halves

	.row.halves .column { width: 50%; }
	.column.half { width: 50% !important; }

	// thirds

	.row.thirds .column { width: 33.33333%; }
	.column.third { width: 33.33333% !important; }

	// quarters

	.row.quarters .column { width: 25%; }
	.column.quarter { width: 25% !important; }

	// triptych

	.row.triptych .column { width: 25%; }
	.row.triptych .column.two { width: 50%; }

	// Margin - Right & Left

	.row.margin-right .column.one,
	.row.margin-left .column.two {
		width: 75%; }
	.row.margin-right .column.two,
	.row.margin-left .column.one {
		width: 25%; }

	//  Side - Right & Left

	.row.side-right .column.one,
	.row.side-left .column.two {
		width: 67%; }
	.row.side-right .column.two,
	.row.side-left .column.one {
		width: 33%; }

	}

@mixin nested {

	.row {
		max-width: auto;
	}

	/* single then halves */
	.row.single .row.halves .column {
		width: 396px;
	}

	.fluid .row.single .halves .column {
		width: 50%;
	}

	/* halves then halves */
	.row.halves .halves .column {
		width: 198px;
	}

	.hybrid .row.halves .halves .column,
	.fluid .row.halves .halves .column {
		width: 50%;
	}

	/* halves then thirds */
	.row .row.thirds .column {
		width: 132px;
	}

	.row.quarters .row.thirds .column {
		width: 66px;
	}

	.fluid .row .row.thirds .column {
		width: 33%;
	}

	.fluid .row .row.thirds .column.two {
		width: 34%;
	}

	/* halves then quarters */
	.row .row.quarters .column {
		width: 99px;
	}

	.hybrid .row .row.quarters .column,
	.fluid .row .row.quarters .column {
		width: 25%;
	}

	/* thirds then halves */
	.row.thirds .row.halves .column {
		width: 132px;
	}

	.fluid .row.thirds .halves .column {
		width: 50%;
	}

	/* quarters then ... */
	.row .column.row.single,
	.row .column.row.single .column {
		width: 792px;
	}
}