@mixin marginalize {

	$default: 2em;
	$wide: $default * 2;
	$tall: $default * 2;
	$narrow: $default / 2;
	$short: $default / 2;

	.marginalize .column,
	.marginalized {
		padding: $default; }
	.marginalize.wide .column,
	.marginalized.wide {
		padding-left: $wide;
		padding-right: $wide; }
	.marginalize.narrow .column,
	.marginalized.narrow {
		padding-left: $narrow;
		padding-right: $narrow; }
	.marginalize.tall .column,
	.marginalized.tall {
		padding-top: $tall;
		padding-bottom: $tall; }
	.marginalize.short .column,
	.marginalized.short {
		padding-top: $short;
		padding-bottom: $short; }
		
	// One by One
	.marginalize-top .column,
	.marginalized-top {
		padding-top: $default; }
	.marginalize-right .column,
	.marginalized-right {
		padding-right: $default; }
	.marginalize-bottom .column,
	.marginalized-bottom {
		padding-bottom: $default; }
	.marginalize-left .column,
	.marginalized-left {
		padding-left: $default; }
		
	// SIDES
	.marginalize-sides .column,
	.marginalized-sides {
		padding-left: $default;
		padding-right: $default; }
	
	// Wide
	.marginalize-sides.wide .column,
	.marginalized-sides.wide {
		padding-left: $wide;
		padding-right: $wide; }
	.marginalize-right.wide .column,
	.marginalized-right.wide {
		padding-right: $wide; }
	.marginalize-left.wide .column,
	.marginalized-left.wide {
		padding-left: $wide; }

	// Narrow
	.marginalize-sides.narrow .column,
	.marginalized-sides.narrow {
		padding-left: $narrow;
		padding-right: $narrow; }
	.marginalize-right.narrow .column,
	.marginalized-right.narrow {
		padding-right: $narrow; }
	.marginalize-left.narrow .column,
	.marginalized-left.narrow {
		padding-left: $narrow; }
		
	// ENDS
	.marginalize-ends .column,
	.marginalized-ends {
		padding-top: $default;
		padding-bottom: $default; }
	
	// Tall
	.marginalize-ends.tall .column,
	.marginalized-ends.tall {
		padding-top: $tall;
		padding-bottom: $tall; }
	.marginalize-top.tall .column,
	.marginalized-top.tall {
		padding-top: $tall; }
	.marginalize-bottom.tall .column,
	.marginalized-bottom.tall {
		padding-bottom: $tall; }
	
	// Short
	.marginalize-ends.short .column,
	.marginalized-ends.short {
		padding-top: $short;
		padding-bottom: $short; }
	.marginalize-top.short .column,
	.marginalized-top.short {
		padding-top: $short; }
	.marginalize-bottom.short .column,
	.marginalized-bottom.short {
		padding-bottom: $short; }
	
	}
