@charset "UTF-8";

@mixin pad {

	$default: 2rem;
	$wide: $default * 2;
	$tall: $default * 2;
	$narrow: $default / 2;
	$short: $default / 2;

	.pad .column,
	.padded {
		padding: $default; }
	.pad.wide .column,
	.padded.wide {
		padding-left: $wide;
		padding-right: $wide; }
	.pad.narrow .column,
	.padded.narrow {
		padding-left: $narrow;
		padding-right: $narrow; }
	.pad.tall .column,
	.padded.tall {
		padding-top: $tall;
		padding-bottom: $tall; }
	.pad.short .column,
	.padded.short {
		padding-top: $short;
		padding-bottom: $short; }
		
	// One by One
	.pad-top .column,
	.padded-top {
		padding-top: $default; }
	.pad-right .column,
	.padded-right {
		padding-right: $default; }
	.pad-bottom .column,
	.padded-bottom {
		padding-bottom: $default; }
	.pad-left .column,
	.padded-left {
		padding-left: $default; }
		
	// SIDES
	.pad-sides .column,
	.padded-sides {
		padding-left: $default;
		padding-right: $default; }
	
	// Wide
	.pad-sides.wide .column,
	.padded-sides.wide {
		padding-left: $wide;
		padding-right: $wide; }
	.pad-right.wide .column,
	.padded-right.wide {
		padding-right: $wide; }
	.pad-left.wide .column,
	.padded-left.wide {
		padding-left: $wide; }

	// Narrow
	.pad-sides.narrow .column,
	.padded-sides.narrow {
		padding-left: $narrow;
		padding-right: $narrow; }
	.pad-right.narrow .column,
	.padded-right.narrow {
		padding-right: $narrow; }
	.pad-left.narrow .column,
	.padded-left.narrow {
		padding-left: $narrow; }
		
	// ENDS
	.pad-ends .column,
	.padded-ends {
		padding-top: $default;
		padding-bottom: $default; }
	
	// Tall
	.pad-ends.tall .column,
	.padded-ends.tall {
		padding-top: $tall;
		padding-bottom: $tall; }
	.pad-top.tall .column,
	.padded-top.tall {
		padding-top: $tall; }
	.pad-bottom.tall .column,
	.padded-bottom.tall {
		padding-bottom: $tall; }
	
	// Short
	.pad-ends.short .column,
	.padded-ends.short {
		padding-top: $short;
		padding-bottom: $short; }
	.pad-top.short .column,
	.padded-top.short {
		padding-top: $short; }
	.pad-bottom.short .column,
	.padded-bottom.short {
		padding-bottom: $short; }
	
	}
