@charset "UTF-8";

.text-align-right { text-align: right; }
.text-align-left { text-align: left; }
.text-align-center { text-align: center; }
.text-align-justify { text-align: justify; }

.hidden { display: none; }
.shown { display: block; }
.visible { visibility: visible; }
.invisible { visibility: hidden; }
.nowrap { white-space: nowrap; }

.clear, .clear-both { clear: both; }

/* Important */
.padless, .padding-0 { padding: 0px !important }
.marginless, .margin-0 { margin: 0px !important }

.display-block { display: block !important }
.display-none { display: none !important }

.clear-important, .clear-both-important { clear: both !important; }

.visibility-visible { visibility: visible !important; }
.visibility-hidden { visibility: hidden !important; }

.text-align-right-important { text-align: right !important; }
.text-align-left-important { text-align: left !important; }
.text-align-center-important { text-align: center !important; }
.text-align-justify-important { text-align: justify !important; }