@charset "UTF-8";

/* ### Spineless */
.spineless.fixed main,
.spineless.hybrid main,
.spineless .fixed main,
.spineless .hybrid main {
	margin-left: 0;
	width: 990px;
	}
.spineless.fluid main,
.spineless .fluid main {
	margin-left: 0;
	}
.fluid main {
	width: auto;
	}
section {
	position: relative;
	clear: both;
	}