@charset "UTF-8";

body table {
	width: 100%;
}

body table th {
	font-weight: 700;
	text-align: left;
}

body table td,
body table th {
	padding: .3em .6em .3em 0;
	vertical-align: top;
}

table.stripe td,
table.stripe th {
	padding: .3em .6em;
}

/* line */
table.line td {
	border-top: 1px #d7dadb solid;
}

/* stripe */
table.stripe tr:nth-of-type(even) td {
	background-color: #eff0f1;
}

ul.line {
	padding: 0 0 1em 0;
}

ul.line li {
	list-style: none;
	padding: .3em 0;
	margin: 0;
}

ul.line li ~ li {
	border-top: 1px #d7dadb solid;
}
