@charset "UTF-8";

body:not(.unset) table {
	width: 100%;
	}
body:not(.unset) table th {
	font-weight: bold;
	text-align: left;
	}
body:not(.unset) table td,
body:not(.unset) table th {
	padding: .3em .6em .3em 0em;
	vertical-align: top;
	}
table.stripe td,
table.stripe th {
	padding: .3em .6em;
	}

/* line */
table.line td {
	border-top: 1px #d7dadb solid;
	}
	
/* stripe */
table.stripe tr:nth-of-type(even) td {
	background-color: #eff0f1;
	}
	
ul.line {
	padding: 0 0 1em 0;
	}
ul.line li {
	list-style: none;
	padding: .3em 0;
	margin: 0px;
	}
ul.line li ~ li {
	border-top: 1px #d7dadb solid;
	}