@charset "UTF-8";

/* ### Clearing  */

.row:not(.clear-none):before, .row:not(.clear-none):after,
main:before, main:after,
#binder:before, #binder:after,
.clearfix:before, .clearfix:after,
.rebound:before, .rebound:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
  }
#binder:after,
main:after,
.row:not(.clear-none):after,
.clearfix:after,
.rebound:after {
  clear: both;
  }
main,
.row:not(.clear-none),
.rebound,
.clearfix {
  zoom: 1; }

/* or */
.cf:before,
.cf:after,
.clear:before,
.clear:after {
    content: " "; /* 1 */
    display: table; /* 2 */
	}

.cf:after,
.clear:after {
    clear: both;
	}

@media \0screen {
  img.max-width {
  	width: auto; /* for ie 8 */
  }
  }

.hybrid.small figure.fill-width {
	width: 100%;
	}
.picture-frame {
	line-height: 0px;
	}
img.grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

/* Background Images */
.background-size-contain,
.background-image-contain [style*="background-image"]:first-of-type,
.background-image-contain [style*="background-image"] {
	background-size: contain;
}
.background-size-cover,
.background-image-cover [style*="background-image"]:first-of-type,
.background-images-cover [style*="background-image"] {
	background-size: cover;
}
.background-repeat-no-repeat,
.background-images-norepeat * {
	background-repeat: no-repeat;
}
.background-position-center {
	background-position: center;
}
/* North */
.background-position-center-top {
	background-position: center top;
}
/* Northeast */
.background-position-right-top {
	background-position: right top;
}
/* East */
.background-position-center-top {
	background-position: right center;
}
/* Southeast */
.background-position-right-bottom {
	background-position: center top;
}
/* South */
.background-position-center-bottom {
	background-position: center bottom;
}
/* Southwest */
.background-position-left-bottom {
	background-position: left bottom;
}
/* West */
.background-position-left-center {
	background-position: left center;
}
/* Northwest */
.background-position-left-top {
	background-position: left top;
}

/* ### Auto Ratios, Responsive Video  */
.aspect-ratio-22-1,
.aspect-ratio-70mm,
.aspect-ratio-pano {
   position: relative;
   padding-bottom: 45.454545%;
   /* padding-top: 25px; Add for controls. */
   height: 0;
}
.iframe-16-9,
.aspect-ratio-16-9,
.aspect-ratio-hd {
   position: relative;
   padding-bottom: 56.25%;
   /* padding-top: 25px; Add for controls. */
   height: 0;
}
.iframe-4-3,
.aspect-ratio-4-3 {
   position: relative;
   padding-bottom: 75%;
   height: 0;
}
.aspect-ratio-3-4 {
   position: relative;
   padding-bottom: 133%;
   height: 0;
}
.aspect-ratio-square,
.aspect-ratio-1-1 {
   position: relative;
   padding-bottom: 100%;
   height: 0;
}

/* Centering */
.center.vertically > *,
.centered.vertically {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	}
.centered.absolutely,
.center.absolutely > *:first-of-type {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  }

/* Code */
code textarea,
code textarea:focus {
	width: 100%;
	padding: 15px;
	height: auto;
	color: white;
	background-color: rgba(94,106,113,0.5);
	}