
// Fixed Large

@mixin grid-large {

	/* Grid - Manual Overrides */
	
	.at-large-max-width,
	.at-large-max-width .column {
		max-width: 100% !important;
		}
	.at-large-full-width,
	.at-large-full-width .column {
		width: 100% !important;
		}
	.at-large-half-width,
	.at-large-half-width .column {
		width: 50% !important;
		}
	.at-large-third-width,
	.at-large-third-width .column {
		width: 33.3334% !important;
		}
	.at-large-clear,
	.at-large-clear .column {
		clear: both !important;
		}
	.at-large-float-none,
	.at-large-float-none .column {
		float: none !important;
		}
			
	}

// Medium

@mixin grid-medium {
	
	/* Grid - Manual Controls */

	.at-medium-max-width,
	.at-medium-max-width .column {
		max-width: 100% !important;
		}
	.at-medium-full-width,
	.at-medium-full-width .column {
		width: 100% !important;
		}
	.at-medium-half-width,
	.at-medium-half-width .column {
		width: 50% !important;
		}
	.at-medium-third-width,
	.at-medium-third-width .column {
		width: 33.3334% !important;
		}
	.at-medium-clear,
	.at-medium-clear .column {
		clear: both !important;
		}
	.at-medium-float-none,
	.at-medium-float-none .column {
		float: none !important;
		}
	
	}
	
// Smallish

@mixin grid-smallish {
	
	/* Grid - Manual Controls */

	.at-smallish-max-width,
	.at-smallish-max-width .column {
		max-width: 100% !important;
		}
	.at-smallish-full-width,
	.at-smallish-full-width .column {
		width: 100% !important;
		}
	.at-smallish-half-width,
	.at-smallish-half-width .column {
		width: 50% !important;
		}
	.at-smallish-third-width,
	.at-smallish-third-width .column {
		width: 33.3334% !important;
		}
	.at-smallish-clear,
	.at-smallish-clear .column {
		clear: both !important;
		}
	.at-smallish-float-none,
	.at-smallish-float-none .column {
		float: none !important;
		}
	
	}

// Fixed Small

@mixin grid-small {
	
xx.row .column {
	/* width: 100% !important; */
	width: 100%;
	float: none;
	clear: both;
	}
	


/*
.fixed .row {

	&.single .column,
	&.halves .column,
	&.thirds .column,
	&.triptych .column,
	&.sidebar .column.one,
	&.sidebar .column.two,
	&.sideleft .column.one,
	&.sideleft .column.two,
	&.margin .column.one,
	&.margin .column.two,
	&.single .halves .column {
		width: 100%;
		float: none;
		clear: both;
		}
		
	}

/* Unfortunately, this doesn't work --> .hybrid .row.halves *:not(.row) .column, */

.hybrid,
.fluid {

	.row {
	
		&.single .column,
		&.halves .column,
		&.thirds .column.one,
		&.thirds .column.two,
		&.thirds .column.three,
		&.triptych .column,
		&.side-right .column.one,
		&.side-right .column.two,
		&.side-left .column.one,
		&.side-left .column.two,
		&.margin-right .column.one,
		&.margin-right .column.two,
		&.thirds .halves .column,
		&.fifteenths .four-fifteenths,
		&.fifteenths .five-fifteenths,
		&.fifteenths .six-fifteenths,
		&.fifteenths .seven-fifteenths {
			width: 100%;
			float: none;
			clear: both;
			}
		}
	}

	.fluid .row.quarters .column {
		width: 50%;
		}
	.hybrid .row.quarters .column,
	.hybrid .row.fifteenths .two-fifteenths,
	.hybrid .row.fifteenths .three-fifteenths {
		width: 50%;
		}
		
	.hybrid .row .row.thirds .column {
		width: 33%;
		}
	.hybrid .row .row.thirds .column.two {
		width: 34%;
		}
	
	
	/* nesting */
	.hybrid .row .row.quarters .column,
	.fluid .row .row.quarters .column,
	.hybrid .row .row.thirds .column,
	.hybrid .row .row.thirds .column.two,
	.hybrid .row .row.halves .column,
	.hybrid .row .row.halves .column {
		clear: none;
		float: left;
		}
	
/* Grid - Manual Controls */

.at-small-max-width,
.at-small-max-width .column {
	max-width: 100% !important;
	}
.at-small-full-width,
.at-small-full-width .column {
	width: 100% !important;
	}
.at-small-half-width,
.at-small-half-width .column {
	width: 50% !important;
	}
.at-small-third-width,
.at-small-third-width .column {
	width: 33.3334% !important;
	}
.at-small-clear,
.at-small-clear .column {
	clear: both !important;
	}
.at-small-float-none,
.at-small-float-none .column {
	float: none !important;
	}

/* Gutters */
.halves.gutter .column:nth-of-type(odd),
.halves.gutter .column:nth-of-type(even) { padding: 2em 2em 0 2em; } 
.halves.gutter.wide .column:nth-of-type(odd),
.halves.gutter.wide .column:nth-of-type(even) { padding: 4em 4em 0 4em; }
.halves.gutter.wide .column ~ .column { padding: 0em 4em 0 4em; }

.thirds.gutter .column:nth-of-type(3n+1) { padding-left: 2em; } 
.thirds.gutter .column:nth-of-type(3n+2) { padding-left: 2em; padding-right: 2em; } 
.thirds.gutter .column:nth-of-type(3n+3) { padding-right: 2em; }

.fifths.gutter .column { padding: 1em; }
.fifths.gutter .column:nth-of-type(5n+1) { padding-left: 2em; }
.fifths.gutter .column:nth-of-type(5n+5) { padding-right: 2em; }

/* Gutters */
.halves.gutter .column:nth-of-type(odd),
.halves.gutter .column:nth-of-type(even) { padding: 2em 2em 1em 2em; } 
.halves.gutter.wide .column:nth-of-type(odd),
.halves.gutter.wide .column:nth-of-type(even) { padding: 4em 4em 1.5em 4em; }
.halves.gutter.wide .column ~ .column { padding: 0em 4em 1.5em 4em; }
	
		
}