@charset "UTF-8";

@mixin shelved {
	#spine {
		width: 298px;
		min-height: 100%;
		left: -298px;
		top: 0;
		z-index: 99164;
		font-size: 16px;

		#glue {
			position: fixed;
			width: 298px;
		}

		#glue:before {
			left: -702px;
			width: 1000px;
		}

		#shelve {
			display: block;
		}

		header {
			top: 0;
			left: 0;
			width: 100%;
			position: fixed;
			height: 50px;
		}

		#wsu-actions section {
			width: 298px;
		}

		nav ul li {
			line-height: 1.5em;
		}

		nav ul li.parent > a:after,
		nav ul li.parent.opened > a:after {
			display: block;
		}
	}
}

@mixin unshelved {
	#spine {
		left: auto;

		#shelve {
			display: none;
		}

		&.unshelved,
		&.shelved,
		&.skimmed header,
		&.unshelved header {
			box-shadow: none;
			transition: none;
			left: auto;
		}

		#glue header {
			top: 0;
			left: 0;
			position: relative;
			height: 198px;
		}

		#wsu-actions {
			padding-top: 0;
		}

		#wsu-actions section {
			width: 298px;
		}
	}

	.row.side-right .column {
		width: 100%;
	}

	#wsu-signature {
		background-position: center;
		background-size: 180px auto;
		height: 197px;
	}
}

@mixin navscroll {
	.spine-mobile #spine {
		#scroll {
			overflow-y: scroll;
			-webkit-overflow-scrolling: touch; // Add momentum based scrolling to the scroll area.
		}
	}

	.spine-mobile-open body {
		overflow: hidden;
	}

	.spine-mobile-open #spine {
		min-height: 0 !important;

		#wsu-actions {
			padding-top: 0 !important;
		}

		#scroll {
			overflow-y: scroll;
			-webkit-overflow-scrolling: touch;
			position: fixed;
			left: 0;
			top: 50px;
			bottom: 0; /* Offset for when iOS address and nav bars hide */
			width: 298px;
			z-index: 99165;
		}
	}

	.spine-mobile .spine-animating #spine #scroll {
		top: 0;
		bottom: 0; /* Offset for when iOS address and nav bars hide */
		position: fixed;
	}
}

@mixin unshelved-ios {
	@media only screen and (max-device-width: 480px) and (orientation:portrait),
		only screen and (max-device-width: 480px) and (orientation:landscape),
		only screen	and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait),
    	only screen and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {

		.spine-mobile-open #spine {
			top: 0 !important;
			min-height: 0 !important;

			#wsu-actions {
				padding-top: 0 !important;
			}
		}
	}
}
