@charset "UTF-8";
@mixin shelved {
	
	#wsu-signature {
		background-position: center 12px;
		background-size: auto 30px;
		height: 50px;
		margin-left: 40px;
		}
	
	#spine {

		width: 298px;
		min-height: 100%;
		left: -298px;
		top: 0;
		z-index: 99164;
		font-size: 16px;
		
		#glue {
			width: 298px;
			margin-top: 50px;
			}
		#glue:before {
			left: -702px;
			width: 1000px;
			}
			
		a#shelve {
			display: block;
			}	
		&.shelved {
			-webkit-transition: left 0.2s ease-in-out;
			transition: left 0.4s ease-in-out;
			left: -500px;
			}
		&.unshelved {
			-webkit-transition: left 0.2s ease-in-out;
			left: 0;
			}
		header {
			top: 0;
			left: 0;
			width: 100%;
			position: fixed;
			height: 50px;
			}
		.spine-actions {
			padding-top: 50px;
			}
		#wsu-actions section {
			width: 298px;
			}
		.spine-navigation {
			padding-bottom: 100px;
			}
		nav ul li {
			line-height: 1.5em;
			}
		nav ul li.parent > a:after,
		nav ul li.parent.opened > a:after {
			display: block;
			}
		footer {
			width: 242px; // 298px - ( ( 1.75em x 16px ) x 2 = 56 )
			}
			
		}
	
	}
	
@mixin unshelved {
	
	#spine {
		
		left: auto;
		
		a#shelve {
			display: none;
			}
		&.unshelved,
		&.shelved,
		&.skimmed header,
		&.unshelved header {
			box-shadow: none;
			-webkit-transition: none;
			left: auto;
			}
		#glue header {
			top: 0;
			left: 0;
			position: relative;
			height: 198px;
			}
		#wsu-actions {
			padding-top: 0px;
			}
		#wsu-actions section {
			width: 298px;
			}
		}
		
	.row.side-right .column {
		width: 100%;
		}
	
	#wsu-signature {
		background-position: center;
		background-size: 180px auto;
		height: 197px;
		margin-left: 0px;
		}

	}
	
@mixin navscroll {
	
    #spine.unshelved {
    
	    /*top: 0px !important;*/
	    min-height: 0 !important;
		
		#wsu-actions {
			padding-top: 0px !important;
		}
			
		#scroll {
			overflow-y: scroll;
			-webkit-overflow-scrolling: touch;
			position: absolute;
			top: 0px;
			bottom: 0px;
			width: 298px;
			z-index: 99165;

			footer {
		    	position: relative !important;
			}
		}
			
		#scroll {
			-webkit-transition: left 0.2s ease-in-out;
			left: 0;
		}	
	}
}




@mixin unshelved-ios {
	
@media
	
	only screen
	and (max-device-width: 480px)
	and (orientation:portrait),
	
	only screen
	and (max-device-width: 480px)
	and (orientation:landscape),
	
	only screen
	and (device-width: 768px)
	and (device-height: 1024px)
	and (orientation:portrait),

    only screen
    and (device-width: 768px)
    and (device-height: 1024px)
    and (orientation:landscape)

	{
    
    #spine.unshelved {
    
	    top: 0px !important;
	    min-height: 0 !important;
	
	    footer {
		    position: relative !important;
		    }
		#wsu-actions {
			padding-top: 0px !important;
			}
		.spine-navigation {
			padding-bottom: 0px !important;
			}
        
		}
	
	}

	}