@media /* !PRINT */
	print {
	
html.print #spine header button,
html.print #spine header button#shelve,
html.print #spine header span.controls button,
html.print #spine #wsu-actions #wsu-tab-print button#print-invoke,
html.print #spine #wsu-actions #wsu-tab-print button#print-cancel {
	display: none;
	}
	}
	
html.print #spine {
	position: absolute;
	top: -9000px;
	}

html.print #spine header button,
html.print #wsu-tabs-actions li:not(#wsu-tab-print) button {
	display: none;
	}
html.print #binder {
	background: white url("../marks/sig-horizontal.svg") center 32px no-repeat;
	background-size: auto 30px;
	padding-top: 80px;
	width: 792px;
	}

html.print #spine li#wsu-tab-print {
	position: fixed;
	top: 10px;
	left: 70%;
	width: 150px;
	border-radius: 5px;
	float: none;
	}

html.print #spine #wsu-tab-print .print-controls button {
	display: inline-block;
	}
html.print #spine #wsu-tab-print button {
	display: inline-block;
	width: auto;
	margin-right: 10px;
	font-size: 1.4em;
	line-height: 1em;
	padding: 0px;
	}
	
@media /* !BREAK ONE */
	(min-width: 792px)
	and (max-width: 989px),
	
	/* iPads (portrait and landscape) */
	only screen 
	and (min-device-width : 768px) 
	and (max-device-width : 1024px)
	and (orientation : portrait),
	
	print {

#binder {
	width: 792px;
	}
#binder.fluid {
	width: 100%;
	}
#binder.fluid main {
	width: auto;
	margin-left: 198px;
	}
	}
	
@media /* !BREAK TWO */
	screen
	and ( min-width : 493px )
	and	( max-width : 791px )
	and ( min-device-width : 990px ),
	
	screen
	and ( min-width : 493px )
	and	( max-width : 767px )
	
	{

#binder {
	width: 694px;
	}
main {
	width: 396px;
	margin-left: 298px;
	}
#binder.fluid,
#binder.hybrid {
	width: 100%;
	}
.fluid main,
.hybrid main {
	width: auto;
	margin-left: 298px;
	}
.fluid main {
	margin-left: 0px;
	}
	}
	
@media /* !BREAK <= TWO */
	screen
	and (min-width: 493px)
	and (max-width: 791px)
	and ( min-device-width : 990px ),
	
	screen
	and (min-width: 493px)
	and (max-width: 791px)
	and ( min-device-width : 990px )
	{

#binder:not(.fluid) #spine {
	left: auto;
	position: fixed;
	}
#binder:not(.fluid) #spine #glue {
	margin-top: 0px;
	}
x#wsu-actions {
	margin-top: 50px;
	}
	}
	
@media /* !BREAK ONE -> TWO (Toolbar Top) */
	only screen
	and (min-width: 793px)
	and (max-width: 989px),
	
	/* iPads (portrait) */
	only screen 
	and ( min-device-width : 768px ) 
	and ( max-device-width : 1024px ) 
	and ( orientation : portrait )
	
	{
	
#binder:not(.fluid) #spine #wsu-actions {
	xposition: fixed;
	xright: 0;
	xtop: 0;
	xmargin-bottom: 0px;
	width: 298px;
	}
x#binder:not(.fluid) #spine #wsu-actions #wsu-tabs-actions {
	margin-left: 100px;
	}
#binder:not(.fluid) #spine #wsu-tabs-actions li button {
	height: 50px;
	overflow-y: hidden;
	}
x#binder:not(.fluid) #spine #navigation {
	border-top: 1px #e7e9ea solid;
	margin-top: 50px;
	}
x#binder:not(.fluid) #spine nav#site ul li:first-child {
	border-top: none;
	}

	}

@media /* !BREAK THREE */
	(max-width: 410px) and
	(max-device-width : 990px),
	
	(max-width: 693px) and
	(min-device-width : 990px)
	{

#binder {
	width: 396px;
	}
main {
	width: 396px;
	margin-left: 0px;
	}
#binder.fluid,
#binder.hybrid {
	width: 100%;
	}
.fluid main,
.hybrid main {
	width: auto;
	margin-left: 0px;
	}
	}

@media /* !BREAK THREE */
	only screen
	and (max-width: 452px)
	{

#binder {
	width: 396px;
	min-width: 396px;
	overflow: hidden;
	}
main {
	width: 396px;
	margin: 0px;
	}
#binder.fluid,
#binder.hybrid {
	width: 100%;
	}
.fluid main,
.hybrid main {
	width: auto;
	margin-left: 0px;
	}	
#binder #spine a#logo,
#binder.fixed #spine a#logo,
#binder.hybrid #spine a#logo,
#binder.fluid #spine a#logo {
	background-position: 55px center;
	}
	}
	
@media /* !BREAK <= TWO */
	screen
	and ( max-width : 791px )
	and ( min-device-width : 990px ),
	
	screen
	and ( max-width : 767px )
	
	{
	
.row .column {
	float: none;
	}
.row.halves .column,
.row.triptych .column,
.row.triptych .column.two,
.row.sidebar .column.one,
.row.sidebar .column.two,
.row.thirds .column,
.row.margin .column.one,
.row.margin .column.two,
.hybrid .row.single .column,
.hybrid .row.halves .column,
.hybrid .row.thirds .column.one,
.hybrid .row.thirds .column.two,
.hybrid .row.thirds .column.three,
.hybrid .row.triptych .column,
.hybrid .row.sidebar .column.one,
.hybrid .row.sidebar .column.two,
.hybrid .row.margin .column.one,
.hybrid .row.margin .column.two {
	width: 100%;
	}
.row.quarters .column,
.fluid .row .column,
.fluid .row.halves .column,
.fluid .row.halves .thirds .column,
.row.twelfths {
	float: left;
	}
/* Nested */
.row.halves .halves .column {
	width: 198px;
	float: left;
	}
.fluid .row.halves .halves .column {
	width: 50%;
	float: left;
	}
.row.halves .thirds .column {
	width: 132px;
	float: left;
	}
	}
@media 
	only screen and
	(max-width: 591px)
	{
	
.fluid .row.single .column,
.fluid .row.halves .column,
.fluid .row.thirds .column.one,
.fluid .row.thirds .column.two,
.fluid .row.thirds .column.three,
.fluid .row.triptych .column,
.fluid .row.sidebar .column.one,
.fluid .row.sidebar .column.two,
.fluid .row.margin .column.one,
.fluid .row.margin .column.two {
	width: 100%;
	float: none;
	}
.fluid .row.quarters .column {
	width: 50%;
	}
	}


@media /* !BREAK <= ONE (Scale Spine) */
	screen
	and ( max-width : 989px )
	and ( min-device-width : 990px ),
	
	screen
	and ( max-width : 989px )
	and ( orientation: portrait )
	{

#binder:not(.fluid) #spine {
	font-size: 16px;
	width: 298px;
	}
#binder:not(.fluid) #spine a#logo {
	background-position: center center;
	background-size: 200px auto;
	height: 200px;
	margin-left: 35px;
	}
#binder:not(.fluid) #spine #glue {
	margin-top: 50px;
	}
#binder:not(.fluid) #spine #wsu-actions {
	margin: 0px;
	}
#binder:not(.fluid) #spine #wsu-actions section {
	width: 298px;
	height: 100%;
	position: fixed;
	}
#binder #spine #wsu-share ul {
	margin: 30px;
	}
#binder:not(.fluid) #spine #wsu-actions > ul li button {
	font-size: 1.4em;
	}
#binder:not(.fluid) #spine nav#site,
#binder:not(.fluid) #spine nav#offsite {
	margin-left: 30px;
	margin-right: 30px;
	}
#binder:not(.fluid) #spine nav#site ul li u {
	height: 37px;
	width: 37px;
	}
#binder:not(.fluid) #spine nav#site ul li ul li {
	margin-left: 20px;
	}
#binder:not(.fluid) #spine nav#site ul li:hover u,
#binder:not(.fluid) #spine nav#site ul li u,
#binder:not(.fluid) #spine nav#site ul li.parent u {
    display: block;
	}
#binder:not(.fluid) #spine nav#site > ul > li.active > u,
#binder:not(.fluid) #spine nav#site > ul > li.current-menu-parent > u,
#binder:not(.fluid) #spine nav#site > ul > li.current-menu-item > u {
    display: none;
	}
#binder:not(.fluid) #spine nav#site ul li u:after,
#binder:not(.fluid) #spine nav#site ul li.opened ul li.parent u:after {
	border-width: 7px;
	top: 14px;
	}
#binder:not(.fluid) #spine nav#offsite ul li a i {
	display: inline;
	}
#binder:not(.fluid) #spine nav#site ul li.opened u:after,
#binder:not(.fluid) #spine nav#site ul li.opened ul li.parent.opened u:after {
	border-width: 0px 5px 5px 5px;
	margin-right: 1px;
	}
#binder:not(.fluid) #spine nav ul li {
	line-height: 1.5em;
	}
#binder:not(.fluid) #spine #glue > footer {
	width: 238px;
	margin-left: 30px;
	margin-right: 30px;
	}
	}
	
@media /* !BREAK <= ONE */
	screen
	and ( min-width : 0px )
	and ( max-width : 693px ),
	
	screen
	and ( min-width : 792px )
	and ( max-width : 989px ),
	
	/* iPads (portrait) */
	only screen 
	and ( min-device-width : 768px ) 
	and ( max-device-width : 1024px ) 
	and ( orientation : portrait )
	{
	
#binder:not(.fluid) #spine {
	min-height: 100%;
	left: -298px;
	top: 0;
	overflow: visible;
	position: fixed;
	xposition: absolute;
	z-index: 9999;
	}
#binder:not(.fluid) #spine #glue > header {
	top: 0;
	left: 0;
	width: 100%;
	position: fixed;
	}
#binder:not(.fluid) main {
	margin-top: 50px;
	}
#binder:not(.fluid) #spine #navigation {
	margin-top: 0px;
	}
#binder:not(.fluid) #spine a#logo {
	background-image: url("../marks/sig-horizontal.svg");
	background-position: center 13px;
	background-size: auto 30px;
	height: 50px;
	}

x#binder:not(.fluid) #spine.lightest a#logo { background-image: url('../marks/sig-horizontal-whitelogotype.svg'); }
x#binder:not(.fluid) #spine.lighter a#logo { background-image: url('../marks/sig-horizontal-whitelogotype.svg'); }
#binder:not(.fluid) #spine.light a#logo { background-image: url('../marks/sig-horizontal-whitelogotype.svg'); }
#binder:not(.fluid) #spine.gray a#logo { background-image: url('../marks/sig-horizontal-whitelogotype-darkerchevron.svg'); }
#binder:not(.fluid) #spine.dark a#logo { background-image: url('../marks/sig-horizontal-whitelogotype.svg'); }
#binder:not(.fluid) #spine.darker a#logo { background-image: url('../marks/sig-horizontal-whitelogotype.svg'); }
#binder:not(.fluid) #spine.darkest a#logo { background-image: url('../marks/sig-horizontal-whitelogotype.svg'); }
#binder:not(.fluid) #spine.black a#logo { background-image: url('../marks/sig-horizontal-whitelogotype.svg'); }
#binder:not(.fluid) #spine.crimson a#logo { background-image: url('../marks/sig-horizontal-whitelogotype.svg'); }


.extension #binder:not(.fluid) #spine a#logo { background-image: url("../marks/sig-h-extension.svg"); }
.globalcampus #binder:not(.fluid) #spine a#logo { background-image: url("../marks/sig-h-globalcampus.svg"); }
.spokane #binder:not(.fluid) #spine a#logo { background-image: url("../marks/sig-h-spokane.svg"); }
.tricities #binder:not(.fluid) #spine a#logo { background-image: url("../marks/sig-h-tricities.svg"); }
.vancouver #binder:not(.fluid) #spine a#logo { background-image: url("../marks/sig-h-vancouver.svg"); }


#binder:not(.fluid) #spine.unshelved {
	-webkit-transition: left 0.1s ease-in-out;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	left: 0;
	}
#binder:not(.fluid) #spine.scanned header {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	}
#binder:not(.fluid) #spine.unshelved header {
	box-shadow: none;
	}
#binder:not(.fluid) #spine.shelved {
	-webkit-transition: left 0.2s ease-in-out;
	left: -298px;
	}
#binder:not(.fluid) #spine button#shelve {
	display: block;
	}
	}

@media
	(min-width: 397px)
	and (max-width: 693px)
	/* and (max-device-width: 989px) */ {
	
#binder #spine.shelved {
	left: -298px;
	}
	}
	
/* !FLUID RULES ************************* */
	
@media screen
	and ( max-width : 792px )
	and ( min-device-width : 990px ),
	
	screen
	and ( max-width : 792px )
	and ( orientation: portrait ) {

#binder.fluid #spine {
	font-size: 16px;
	width: 298px;
	}
#binder.fluid #spine a#logo {
	background-position: 40% center;
	background-size: 200px auto;
	height: 200px;
	margin-left: 35px;
	}
#binder.fluid #spine #wsu-actions {
	width: 278px;
	}
#binder.fluid #spine #glue {
	margin-top: 50px;
	xborder-top: 1px #e7e9ea solid;
	display: block;
	}
#binder.fluid #spine #wsu-actions > ul li button {
	font-size: 1.4em;
	padding: .3em 0em;
	}
#binder.fluid #spine nav#site,
#binder.fluid #spine nav#offsite {
	margin-left: 30px;
	margin-right: 30px;
	}
#binder.fluid #spine nav#site > ul > li:first-child a::before {
	right: 5;
	top: 10;
	border-width: 0px 7px 7px 7px;
	}
#binder.fluid #spine nav#site > ul > li:first-child a::after {
	right: 7;
	top: 17;
	border-width: 3px 5px;
	}
#binder.fluid #spine nav#site ul li u {
	height: 37px;
	width: 37px;
	}
#binder.fluid #spine nav#site ul li ul li {
	margin-left: 20px;
	}
#binder.fluid #spine nav#site ul li:hover u,
#binder.fluid #spine nav#site ul li u,
#binder.fluid #spine nav#site ul li.parent u {
    display: block;
	}
#binder.fluid #spine nav#site > ul > li.active > u,
#binder.fluid #spine nav#site > ul > li.current-menu-parent > u,
#binder.fluid #spine nav#site > ul > li.current-menu-item > u {
    display: none;
	}
#binder.fluid #spine nav#site ul li u:after,
#binder.fluid #spine nav#site ul li.opened ul li.parent u:after {
	border-width: 7px;
	top: 14px;
	}
#binder.fluid #spine nav#offsite ul li a i {
	display: inline;
	}
#binder.fluid #spine nav#site ul li.opened u:after,
#binder.fluid #spine nav#site ul li.opened ul li.parent.opened u:after {
	border-width: 0px 5px 5px 5px;
	margin-right: 1px;
	}
#binder.fluid #spine nav ul li {
	line-height: 1.5em;
	}
#binder.fluid #spine #glue > footer {
	width: 238px;
	margin-left: 30px;
	margin-right: 30px;
	}
#binder.fluid #spine {
	min-height: 100%;
	left: -298px;
	top: 0;
	overflow: visible;
	position: fixed;
	z-index: 9999;
	}
#binder.fluid #spine #glue > header {
	top: 0;
	left: 0;
	width: 100%;
	position: fixed;
	}
#binder.fluid main {
	margin-top: 50px;
	}
#binder.fluid #spine #navigation {
	margin-top: 0px;
	}
#binder.fluid #spine a#logo {
	background-image: url("../marks/sig-horizontal.svg");
	background-position: center 14px;
	background-size: auto 30px;
	height: 50px;
	}
	
x#binder.fluid #spine.lightest a#logo { background-image: url('../marks/sig-horizontal-whitelogotype.svg'); }
x#binder.fluid #spine.lighter a#logo { background-image: url('../marks/sig-horizontal-whitelogotype.svg'); }
#binder.fluid #spine.light a#logo { background-image: url('../marks/sig-horizontal-whitelogotype.svg'); }
#binder.fluid #spine.gray a#logo { background-image: url('../marks/sig-horizontal-whitelogotype-darkerchevron.svg'); }
#binder.fluid #spine.dark a#logo { background-image: url('../marks/sig-horizontal-whitelogotype.svg'); }
#binder.fluid #spine.darker a#logo { background-image: url('../marks/sig-horizontal-whitelogotype.svg'); }
#binder.fluid #spine.darkest a#logo { background-image: url('../marks/sig-horizontal-whitelogotype.svg'); }
#binder.fluid #spine.black a#logo { background-image: url('../marks/sig-horizontal-whitelogotype.svg'); }
#binder.fluid #spine.crimson a#logo { background-image: url('../marks/sig-horizontal-whitelogotype.svg'); }

.extension #binder.fluid #spine a#logo { background-image: url("../marks/sig-h-extension.svg"); }
.globalcampus #binder.fluid #spine a#logo { background-image: url("../marks/sig-h-globalcampus.svg"); }
.spokane #binder.fluid #spine a#logo { background-image: url("../marks/sig-h-spokane.svg"); }
.tricities #binder.fluid #spine a#logo { background-image: url("../marks/sig-h-tricities.svg"); }
.vancouver #binder.fluid #spine a#logo { background-image: url("../marks/sig-h-vancouver.svg"); }
	
#binder.fluid #spine.unshelved {
	-webkit-transition: left 0.1s ease-in-out;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	left: 0;
	}
#binder.fluid #spine.scanned header {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	}
#binder.fluid #spine.unshelved header {
	box-shadow: none;
	}
#binder.fluid #spine.shelved {
	-webkit-transition: left 0.2s ease-in-out;
	left: -298px;
	}
#binder.fluid #spine button#shelve {
	display: block;
	}
	}

@media screen
	and ( max-width : 791px )
	and ( min-width : 691px )
	and ( min-device-width : 990px ),
	
	screen
	and ( max-width : 791px )
	and ( min-width : 691px )
	and ( orientation: portrait ) {
	
#binder #spine a#logo,
#binder.fixed #spine a#logo,
#binder.hybrid #spine a#logo,
#binder.fluid #spine a#logo {
	margin-left: 0px;
	}
#binder #spine #glue,
#binder.fixed #spine #glue,
#binder.hybrid #spine #glue {
	margin-top: 0px;
	}
	
	}

@media screen
	and ( max-device-width : 480px ) {

.extension #binder #spine a#logo,
.globalcampus  #binder #spine a#logo,
.spokane #binder #spine a#logo,
.tricities #binder #spine a#logo,
.vancouver #binder #spine a#logo {
	background-size: 340px auto;
	background-position: center 14px;
	margin-left: 40px;
	}
.extension #binder #spine a#logo { background-image: url('../marks/sig-h-extension.svg'); }
.globalcampus  #binder #spine a#logo { background-image: url('../marks/sig-h-globalcampus.svg'); }
.spokane #binder #spine a#logo { background-image: url('../marks/sig-h-spokane.svg'); }
.tricities #binder #spine a#logo { background-image: url('../marks/sig-h-tricities.svg'); }
.vancouver #binder #spine a#logo { background-image: url('../marks/sig-h-vancouver.svg'); }

	}


@media /* BREAK THREE */
	only screen and
	(max-width: 693px) {

.extension #binder #spine a#logo,
.globalcampus  #binder #spine a#logo,
.spokane #binder #spine a#logo,
.tricities #binder #spine a#logo,
.vancouver #binder #spine a#logo {
	background-size: 340px auto;
	background-position: center 14px;
	margin-left: 40px;
	}
.extension #binder #spine a#logo { background-image: url('../marks/sig-h-extension.svg'); }
.globalcampus  #binder #spine a#logo { background-image: url('../marks/sig-h-globalcampus.svg'); }
.spokane #binder #spine a#logo { background-image: url('../marks/sig-h-spokane.svg'); }
.tricities #binder #spine a#logo { background-image: url('../marks/sig-h-tricities.svg'); }
.vancouver #binder #spine a#logo { background-image: url('../marks/sig-h-vancouver.svg'); }

main {
	margin-top: 50px;
	}
#binder #spine.unshelved {
	left: 0px;
	}
#binder #spine.shelved {
	left: -298px;
	}
#spine #wsu-actions {
	position: relative;
	margin-top: 50px;
	width: 298px;
	}
#spine #wsu-actions > ul li {
		
	}
	}


/* !LARGE FORMAT (Folio) */

.row .column.folio-only {
	display: none;
	}

@media
	only screen
	and ( min-width : 989px )
	{
#binder.fluid.folio {
	width: 100%;
	max-width: 1782px; /* Main (792) x 2 + Spine (198) */
	}		
#binder.fluid.folio main {
	width: auto;
	margin: 0px 0px 0px 198px;
	}

	}

@media /* !LARGE FORMAT Fixed +1 */
	only screen
	and ( min-width : 1188px )
	and ( min-device-width : 990px )
	{
#binder.fixed.folio {
	width: 1188px;
	}
#binder.fixed.folio main,
#binder.fixed.folio main > section {
	width: 990px;
	}
.folio .row .column.folio-only {
	display: block;
	}
	}

@media /* !LARGE FORMAT Fixed +2 */
	only screen
	and ( min-width : 1386px )
	and ( min-device-width : 990px )
	{
#binder.fixed.folio {
	width: 1386px;
	}
#binder.fixed.folio main,
#binder.fixed.folio main > section {
	width: 1188px;
	}
.folio-only {
	display: block;
	}
	}
	
@media /* !LARGE FORMAT +3  */
	only screen
	and ( min-width : 1584px )
	and ( min-device-width : 990px )
	{
#binder.fixed.folio {
	width: 1584px;
	}
#binder.fixed.folio main,
#binder.fixed.folio main > section {
	width: 1386px;
	}

	}

/* !Exclusions */
.desktop-only,
.hide-on-desktop,
.ipad-only,
.hide-on-ipad,
.small-tablet-only,
.hide-on-small-tablet,
.mobile-only.
.hide-on-mobile {
	display: none;
	}
