{% set page = pages[current_build] -%}
{% set page_var = page.vars %}
{% include "preprocess/blocks/head.html" %}
<body class="{{ "wireframe" if page_var.demo else "" }}">

	<div id="jacket">

		{% if page_var.cropped -%}
			{% include "preprocess/content/cropped.html" %}
		{% endif -%}

		<div id="binder" class="{{ page_var.grid_layout if page_var.grid_layout else "hybrid" }} {{ "spineless" if page_var.cropped else "" }}">

			<main>
				{% include "preprocess/blocks/main_content.html" %}
			</main>

			{% include "preprocess/blocks/spine.html" %}

		</div><!-- /binder -->

	</div><!-- /jacket -->

	{% if page_var.malformed -%}
		{% include "preprocess/blocks/contact_malformed.html" %}
	{% else -%}
		{% include "preprocess/blocks/contact_normal.html" %}
	{% endif -%}

</body>
</html>