{% set page = pages[current_build] -%}
{% set page_var = page.vars %}

{% if page_var.wp_admin -%}
    {% include "preprocess/blocks/wp-admin-bar-head.html" %}
{% else -%}
    {% include "preprocess/blocks/head.html" %}
{% endif -%}

<body class="{{ "wireframe" if page_var.demo else "" }} {{ "admin-bar" if page_var.wp_admin else "" }}">

	<div id="jacket">

		{% if page_var.cropped -%}
			{% include "preprocess/content/cropped.html" %}
		{% endif -%}

		<div id="binder" class="{{ page_var.grid_layout if page_var.grid_layout else "hybrid" }} {{ "spineless" if page_var.cropped else "" }}">

			<main>
				{% include "preprocess/blocks/main_content.html" %}
			</main>

			{% include "preprocess/blocks/spine.html" %}

		</div><!-- /binder -->

	</div><!-- /jacket -->

	{% if page_var.malformed -%}
		{% include "preprocess/blocks/contact_malformed.html" %}
	{% else -%}
		{% include "preprocess/blocks/contact_normal.html" %}
	{% endif -%}

    {% if page_var.wp_admin -%}
        {% include "preprocess/blocks/wp-admin-bar.html" %}
    {% endif -%}
</body>
</html>