@charset "UTF-8";
$locality: '//repo.wsu.edu/spine/1/fonts/';
$stack: '"Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif';

$opensans-fonts: (
	opensans: '',
	opensans-b: '-Bold',
	opensans-bi: '-BoldItalic',
	opensans-cb: '-CondBold',
	opensans-cl: '-CondLight',
	opensans-cli: '-CondLightItalic',
	opensans-eb: '-ExtraBold',
	opensans-ebi: '-ExtraBoldItalic',
	opensans-i: '-Italic',
	opensans-l: '-Light',
	opensans-li: '-LightItalic',
	opensans-sb: '-Semibold',
	opensans-sbi: '-SemiBoldItalic'
	);
	
@each $opensans-font, $fontname in $opensans-fonts {
	@font-face {
		font-family: "OpenSans#{$fontname}";
		src: url('#{$locality}OpenSans#{$fontname}.eot');
		src: url('#{$locality}OpenSans#{$fontname}.eot?#iefix') format('embedded-opentype'),
        	 url('#{$locality}OpenSans#{$fontname}.woff') format('woff'),
			 url('#{$locality}OpenSans#{$fontname}.ttf') format('truetype'),
			 url('#{$locality}OpenSans#{$fontname}.svg#OpenSans') format('svg');
		font-weight: normal;
		font-style: normal;
		}
	.opensans#{to-lower-case($fontname)},
	.#{$opensans-font} {
		font-family: "OpenSans#{$fontname}", #{$stack};
		}
	}