@import 'vars/global';
@import 'vars/colors';
@import 'respond/states';
@import 'respond/grid';
@import 'skeleton/layouts';
@import 'skeleton/gutter';
@import 'respond/print';

#binder #spine.unshelved header:before {
	content: "";
	position: absolute;
	width: 900px;
	height: 15px;
	box-shadow: 0px 4px 10px -6px rgba(0,0,0,0.5);
	-webkit-transition: box-shadow 0.1s ease-in-out;
	transition: box-shadow 0.1s ease-in-out;
	top: 35px;
	left: 298px;
	display: block;
	z-index: 1;
	}


/* ## LARGE (after first break) */

@media screen
	and ( max-width : 1187px )
	
	{

/* ### Large Grid */

@include grid-large-controls;

	}
	
.max-1188 .rebound,
.max-1188 .row.rebound {
	width: 792px;
	}
	
/* ## MEDIUM (after first break) */

/* Tablets (iPad) then iPads (portrait, not landscape) */

@media screen
	and ( max-width : 989px ),
	
	only screen
	and (max-device-width : 1024px)
	and (orientation : portrait)
	
	{

#binder {
	width: 792px;
	}
#binder main {
	margin-left: 0px;
	padding-top: 50px;
	}
			
#binder.fluid {
	width: 100%;
	}
#binder.fluid main {
	width: auto;
	margin-left: 198px;
	padding-top: 0px;
	}

.spineless.fixed main,
.spineless.hybrid main,
.spineless .fixed main,
.spineless .hybrid main {
	margin-left: 0px;
	width: 792px;
	}
	
.spineless.fluid main,
.spineless .fluid main {
	margin-left: 0px;
	}
	
.fluid .row.rebound,
.fluid .verso .rebound,
.fluid .recto .rebound,
.fluid .recto.verso .rebound {
	width: 100%;
	}
	
.fluid .recto.verso .rebound,
.fluid .verso .rebound {
	border-left: 198px transparent solid;
	}

.verso .rebound {
	border-left: 0px transparent solid;
	margin-left: auto;
	margin-right: 0px;
	}
	
.recto.verso .rebound {
	border-left: 0px transparent solid;
	margin-left: auto;
	margin-right: auto;
	}
	
.spineless .fluid .verso .rebound,
.spineless .fluid .recto.verso .rebound {
	border-left: 0px transparent solid;
	}
			
/* Shelving */
#binder:not(.fluid) {

	@include shelved;
			
	}
	
/* Layout Adjustments */

.hybrid {
	
	@include layouts-percents;
	
	}

/* Adjust Search */
.spine-search input[type="text"] {
	padding-right: 18px;
	}
.spine-search button {
	right: 10px;
	}

/* Header Colors and Signatures */

#binder:not(.fluid) #spine {
	@each $spine-color, $color in $spine-colors {
		&.#{$spine-color} header { background-color: $color; }
		}
	}

/* Signature */


nav a.external:after {
	font-family: "Spine-Icons";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: absolute;
	margin-left: 3px;
	content: "\21AA";
	}
	
/* Grid Medium */
@include grid-medium-controls;

@include header-colors;
@include signatures('horizontal','#binder:not(.fluid) ');
	
	}


/* SMALL (max 791px)
------------------------------------------ */
@media screen
	and ( max-width : 791px )
	and ( min-device-width : 990px ),
	
	screen
	and ( max-width : 791px )
	and ( orientation: portrait )
	and ( max-device-width: 420px ),
	
	screen
	and ( max-width : 791px )
	and ( orientation: landscape )
	and ( max-device-width: 480px )
	
	{

#binder,
.rebound,
.single,
.spineless .rebound,
.fifteenths .rebound,
.fifths .rebound {
	width: 100%;
	}

#binder.fixed {
	width: 694px;
	}
#binder main {
	width: auto;
	padding-top: 50px;
	margin-left: 0px;
	}
#binder.fixed main {
	width: 396px;
	margin-left: 0px;
	}
#binder.hybrid main,
#binder.fluid main {
	width: 100%;
	font-size: 16px;
	line-height: 26px;
	margin-left: 0px;
	padding-top: 50px;
	}

.max-1188 .rebound,
.max-1188 .row.rebound {
	width: 792px;
	}
.row:not(.boundless) {
	width: 100%;
	}

.fluid .verso .rebound,
.fluid .recto.verso .rebound {
	border-left: 0px transparent solid;
	}

/* Shelving */
#binder.fluid {

	@include shelved;
	
	}
	
/* Signature */
#binder.fluid #wsu-signature {
	background-position: center 12px;
	background-size: auto 30px;
	height: 49px;
	}

@include grid-small-controls;

/* Header Colors and Signatures */
@include header-colors;
@include signatures('horizontal','.fluid ');

	}

	
/* SMALLISH (Fixed Only)
----------------------------------------------------- */
/* Medium and Desktop - Small */

@media
	only screen
	and (min-width: 694px)
	and (max-width: 791px)
	
	{

#binder.fixed {
	width: 694px; /* 298px + 396px */
	}
#binder.fixed main {
	width: 396px;
	padding-top: 0px;
	margin-left: 298px;
	}
	
/* Shelving */

#binder.fixed {
	@include unshelved;
	}
	
/* Grid */

.fixed { @include layouts-small; }
@include grid-smallish-controls;

/* Gutters */

.fixed {
	// @include gutter(2,2);
	}

/* Header Colors and Signatures */

@include header-colors;
@include signatures('vertical','#binder.fixed ');

}

/* ## SMALL (max 693)  */
/* 792px - 198px = 594px */

@media 
	only screen
	and (max-width: 693px)
	{

#binder {
	
	&.fixed {
	
		width: 396px;
		min-width: 396px;
		margin: 0px auto;
		
		main {
			padding-top: 50px;
			margin-left: 0px;
			}
		
		}
		
	&.fluid,
	&.hybrid {
	
		width: 100%;
		
		main {
			width: auto;
			margin-left: 0px;
			}
		
		}

	}


/* #### Logo */

[class*="-signature"]  #wsu-signature {
	background-size: 340px auto !important;
	background-position: center 12px !important;
	margin-left: 40px !important;
	}
	
/* #### Grid */

.fixed,.hybrid,.fluid { @include layouts-small; }
@include grid-small-controls;

/* #### Gutters */

@include gutter(1,1);


/* #### Signature */
#wsu-signature {
	background-position: center 12px !important;
	background-size: auto 30px !important;
	height: 49px !important;
	}
[class*="-signature"] #wsu-signature {
	background-size: 320px auto !important;
	}

/* Header Colors and Signatures */
@include header-colors;
@include signatures('horizontal','.fluid ');

	}

/* ## SMALLER than small */

@media 
	
	only screen
	and (max-width: 420px),
	
	screen
	and ( max-width: 360px )
	and ( max-device-width: 480px )
	and ( orientation: landscape )
	
	{
	
#wsu-signature {
	background-size: 320px auto !important;
	}
	
	}
	
@media 
	
	only screen
	and (max-width: 360px),
	
	screen
	and ( max-width: 360px )
	and ( max-device-width: 480px )
	and ( orientation: portrait )
	
	{
	
#wsu-signature {
	background-size: 260px auto !important;
	background-position: center 60% !important;
	}
	
	}
	
/* IOS fix for unshelved spine */
@include unshelved-ios;
	
/* ## XLARGE */

@media
	
	only screen
	and ( min-width : 990px )
	
	{

#binder.fluid {

	width: 100%;
	max-width: 990px;
	
	&.max-1188,
	&.max-1188 .row {
		max-width: 1188px;
		}
	&.max-1386,
	&.max-1386 .row {
		max-width: 1386px;
		}
	&.max-1584,
	&.max-1584 .row {
		max-width: 1584px;
		}
	&.max-1782,
	&.max-1782 .row {
		max-width: 1782px;
		}
	&.max-1980,
	&.max-1980 .row {
		max-width: 1980px;
		}
	}

#binder.fluid .row:not(.rebound) {
	width: 100% !important;
	}
	
	}

/* !LARGE FORMAT -> 1188 */
@media
	
	only screen
	and ( min-width : 1188px )
	and ( min-device-width : 990px )
	
	{

#binder:not(.fluid) {
	&.max-1188,
	&.max-1386,
	&.max-1584,
	&.max-1782,
	&.max-1980 {
		width: 1188px;
		}
	}
	
#binder:not(.fluid) {
	&.max-1188 main,
	&.max-1386 main,
	&.max-1584 main,
	&.max-1782 main,
	&.max-1980 main {
		width: 990px;
		}
	}
	
#binder:not(.fluid) {
	&.max-1188 .row,
	&.max-1386 .row,
	&.max-1584 .row,
	&.max-1782 .row,
	&.max-1980 .row {
		xxwidth: 990px;
		max-width: 990px;
		}
	}
		
	}

/* XLARGE -> 1386 */
@media
	
	only screen
	and ( min-width : 1386px )
	
	{

#binder:not(.fluid) {
	&.max-1386,
	&.max-1584,
	&.max-1782,
	&.max-1980 {
		width: 1386px;
		}
	}

#binder:not(.fluid) {
	&.max-1386 main,
	&.max-1584 main,
	&.max-1782 main,
	&.max-1980 main {
		width: 1188px;
		}
	}

#binder:not(.fluid) {
	&.max-1386 .row,
	&.max-1584 .row,
	&.max-1782 .row,
	&.max-1980 .row {
		max-width: 1188px;
		}
	}

	}
	
/* !LARGE FORMAT -> 1584  */
@media
	only screen
	and ( min-width : 1584px )
	{

#binder:not(.fluid) {
	&.max-1584,
	&.max-1782,
	&.max-1980 {
		width: 1584px;
		}
	}

#binder:not(.fluid) {
	&.max-1584 main,
	&.max-1782 main,
	&.max-1980 main {
		width: 1386px;
		}
	}

#binder:not(.fluid) {
	&.max-1584 .row,
	&.max-1782 .row,
	&.max-1980 .row {
		max-width: 1386px;
		}
	}

	}
	
/* !LARGE FORMAT -> 1782  */
@media
	
	only screen
	and ( min-width : 1782px )
	
	{

#binder:not(.fluid) {
	&.max-1782,
	&.max-1980 {
		width: 1782px;
		}
	}

#binder:not(.fluid) {
	&.max-1782 main,
	&.max-1980 main {
		width: 1584px;
		}
	}

#binder:not(.fluid) {
	&.max-1782 .row,
	&.max-1980 .row {
		max-width: 1584px;
		}
	}

	}

/* !LARGE FORMAT -> 1980  */
@media
	
	only screen
	and ( min-width : 1980px )
	
	{
	
#binder:not(.fluid) {
	&.max-1980 {
		width: 1980px;
		}
	}

#binder:not(.fluid) {
	&.max-1980 main {
		width: 1782px;
		}
	}
	
#binder:not(.fluid) {
	&.max-1980 .row {
		max-width: 1782px;
		}
	}

	}
	
/* ## Show and Hide */

.display-none-important {
	display: none !important;
	}
.display-block-important {
	display: block !important;
	}
	
@each $size, $name in $sizes {
	
	div:not(.size-lt-#{$name}) .size-lt-#{$name}-only, div:not(.size-#{$name}) .size-#{$name}-only, div:not(.size-gt-#{$name}) .size-gt-#{$name}-only {
		@extend .display-none-important; }
	}

/* ## PRINT VIEW */

@include print-view;
