@import 'vars/global';
@import 'vars/colors';
@import 'respond/states';
@import 'respond/grid';
@import 'skeleton/layouts';
@import 'skeleton/gutter';

#binder #spine.unshelved header:before {
	content: "";
	position: absolute;
	width: 900px;
	height: 15px;
	box-shadow: 0px 4px 10px -6px rgba(0,0,0,0.5);
	-webkit-transition: box-shadow 0.1s ease-in-out;
	transition: box-shadow 0.1s ease-in-out;
	top: 35px;
	left: 298px;
	display: block;
	z-index: 1;
	}


/* ## LARGE (after first break) */

@media screen
	and ( max-width : 1187px )
	
	{

/* ### Large Grid */

@include grid-large-controls;

	}
	
/* ## MEDIUM (after first break) */

/* Tablets (iPad) then iPads (portrait, not landscape) */

@media screen
	and ( max-width : 989px ),
	
	only screen
	and (max-device-width : 1024px)
	and (orientation : portrait)
	
	{

#binder {
	width: 792px;
	}
#binder main {
	margin-left: 0px;
	padding-top: 50px;
	}
			
#binder.fluid {
	width: 100%;
	}
#binder.fluid main {
	width: auto;
	margin-left: 198px;
	padding-top: 0px;
	}
	
.spineless main {
	width: auto;
	margin-left: 0px;
	}
		
/* Shelving */
#binder:not(.fluid) {

	@include shelved;
			
	}
	
/* Layout Adjustments */

.hybrid {
	
	@include layouts-percents;
	
	}

/* Adjust Search */
.spine-search input[type="text"] {
	padding-right: 18px;
	}
.spine-search button {
	right: 10px;
	}

/* Header Colors and Signatures */

#binder:not(.fluid) #spine {
	@each $spine-color, $color in $spine-colors {
		&.#{$spine-color} header { background-color: $color; }
		}
	}

/* Signature */


nav a.external:after {
	font-family: "Spine-Icons";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: absolute;
	margin-left: 3px;
	content: "\21AA";
	}
	
/* Grid Medium */
@include grid-medium-controls;

@include header-colors;
@include signatures('horizontal','#binder:not(.fluid) ');
	
	}


/* SMALL (max 791px)
------------------------------------------ */
@media screen
	and ( max-width : 791px )
	and ( min-device-width : 990px ),
	
	screen
	and ( max-width : 791px )
	and ( orientation: portrait )
	and ( max-device-width: 420px ),
	
	screen
	and ( max-width : 791px )
	and ( orientation: landscape )
	and ( max-device-width: 480px )
	
	{

#binder,
.rebound,
.single,
.spineless .rebound,
.fifteenths .rebound,
.fifths .rebound {
	width: 100%;
	}

#binder.fixed {
	width: 694px;
	}
#binder main {
	width: auto;
	padding-top: 50px;
	margin-left: 0px;
	}
#binder.fixed main {
	width: 396px;
	margin-left: 0px;
	}
#binder.hybrid main,
#binder.fluid main {
	width: 100%;
	font-size: 16px;
	line-height: 26px;
	margin-left: 0px;
	padding-top: 50px;
	}

/* Shelving */
#binder.fluid {

	@include shelved;
	
	}
	
/* Signature */
#binder.fluid #wsu-signature {
	background-position: center 12px;
	background-size: auto 30px;
	height: 49px;
	}

.at-medium-max-width {
	max-width: 100% !important;
	}
.at-medium-full-width {
	width: 100% !important;
	}
.at-medium-half-width {
	width: 50% !important;
	}
.at-medium-clear {
	clear: both !important;
	}

/* Header Colors and Signatures */
@include header-colors;
@include signatures('horizontal','.fluid ');

	}

	
/* SMALLISH (Fixed Only)
----------------------------------------------------- */
/* Medium and Desktop - Small */

@media
	only screen
	and (min-width: 694px)
	and (max-width: 791px)
	
	{

#binder.fixed {
	width: 694px; /* 298px + 396px */
	}
#binder.fixed main {
	width: 396px;
	padding-top: 0px;
	margin-left: 298px;
	}
	
/* Shelving */

#binder.fixed {
	@include unshelved;
	}
	
/* Grid */

.fixed { @include layouts-small; }
@include grid-smallish-controls;

/* Gutters */

.fixed { @include gutter(2,2); }

/* Header Colors and Signatures */

@include header-colors;
@include signatures('vertical','#binder.fixed ');

}

/* ## SMALL (max 693)  */
/* 792px - 198px = 594px */

@media 
	only screen
	and (max-width: 693px)
	{

#binder {
	
	&.fixed {
	
		width: 396px;
		min-width: 396px;
		margin: 0px auto;
		
		main {
			padding-top: 50px;
			margin-left: 0px;
			}
		
		}
		
	&.fluid,
	&.hybrid {
	
		width: 100%;
		
		main {
			width: auto;
			margin-left: 0px;
			}
		
		}

	}


/* #### Logo */

[class*="-signature"]  #wsu-signature {
	background-size: 340px auto !important;
	background-position: center 12px !important;
	margin-left: 40px !important;
	}
	
/* #### Grid */

.fixed,.hybrid,.fluid { @include layouts-small; }
@include grid-small-controls;

/* #### Gutters */

@include gutter(2,2);


/* #### Signature */
#wsu-signature {
	background-position: center 12px !important;
	background-size: auto 30px !important;
	height: 49px !important;
	}
[class*="-signature"] #wsu-signature {
	background-size: 320px auto !important;
	}

/* Header Colors and Signatures */
@include header-colors;
@include signatures('horizontal','.fluid ');

	}

/* ## SMALLER */

@media 
	
	only screen
	and (max-width: 420px),
	
	screen
	and ( max-width: 360px )
	and ( max-device-width: 480px )
	and ( orientation: landscape )
	
	{
	
#wsu-signature {
	background-size: 320px auto !important;
	}
	
	}
	
@media 
	
	only screen
	and (max-width: 360px),
	
	screen
	and ( max-width: 360px )
	and ( max-device-width: 480px )
	and ( orientation: portrait )
	
	{
	
#wsu-signature {
	background-size: 260px auto !important;
	background-position: center 60% !important;
	}
	
	}
	
/* IOS fix for unshelved spine */
@include unshelved-ios;
	
/* ## XLARGE Sizes */

/* ## XLARGE */

@media
	
	only screen
	and ( min-width : 990px )
	
	{

#binder.fluid {

	width: 100%;
	max-width: 990px;
	
	&.max-1188,
	&.max-1188 .row {
		max-width: 1188px;
		}
	&.max-1386,
	&.max-1386 .row {
		max-width: 1386px;
		}
	&.max-1584,
	&.max-1584 .row {
		max-width: 1584px;
		}
	&.max-1782,
	&.max-1782 .row {
		max-width: 1782px;
		}
	&.max-1980,
	&.max-1980 .row {
		max-width: 1980px;
		}
	}

#binder.fluid .row {
	width: 100% !important;
	}
	
	}

/* !LARGE FORMAT -> 1188 */
@media
	
	only screen
	and ( min-width : 1188px )
	and ( min-device-width : 990px )
	
	{

#binder:not(.fluid) {
	&.max-1188,
	&.max-1386,
	&.max-1584,
	&.max-1782,
	&.max-1980 {
		width: 1188px;
		}
	}
	
#binder:not(.fluid) {
	&.max-1188 main,
	&.max-1386 main,
	&.max-1584 main,
	&.max-1782 main,
	&.max-1980 main {
		width: 990px;
		}
	}
	
#binder:not(.fluid) {
	&.max-1188 .row,
	&.max-1386 .row,
	&.max-1584 .row,
	&.max-1782 .row,
	&.max-1980 .row {
		xxwidth: 990px;
		max-width: 990px;
		}
	}
		
	}

/* XLARGE -> 1386 */
@media
	
	only screen
	and ( min-width : 1386px )
	
	{

#binder:not(.fluid) {
	&.max-1386,
	&.max-1584,
	&.max-1782,
	&.max-1980 {
		width: 1386px;
		}
	}

#binder:not(.fluid) {
	&.max-1386 main,
	&.max-1584 main,
	&.max-1782 main,
	&.max-1980 main {
		width: 1188px;
		}
	}

#binder:not(.fluid) {
	&.max-1386 .row,
	&.max-1584 .row,
	&.max-1782 .row,
	&.max-1980 .row {
		max-width: 1188px;
		}
	}

	}
	
/* !LARGE FORMAT -> 1584  */
@media
	only screen
	and ( min-width : 1584px )
	{

#binder:not(.fluid) {
	&.max-1584,
	&.max-1782,
	&.max-1980 {
		width: 1584px;
		}
	}

#binder:not(.fluid) {
	&.max-1584 main,
	&.max-1782 main,
	&.max-1980 main {
		width: 1386px;
		}
	}

#binder:not(.fluid) {
	&.max-1584 .row,
	&.max-1782 .row,
	&.max-1980 .row {
		max-width: 1386px;
		}
	}

	}
	
/* !LARGE FORMAT -> 1782  */
@media
	
	only screen
	and ( min-width : 1782px )
	
	{

#binder:not(.fluid) {
	&.max-1782,
	&.max-1980 {
		width: 1782px;
		}
	}

#binder:not(.fluid) {
	&.max-1782 main,
	&.max-1980 main {
		width: 1584px;
		}
	}

#binder:not(.fluid) {
	&.max-1782 .row,
	&.max-1980 .row {
		max-width: 1584px;
		}
	}

	}

/* !LARGE FORMAT -> 1980  */
@media
	
	only screen
	and ( min-width : 1980px )
	
	{
	
#binder:not(.fluid) {
	&.max-1980 {
		width: 1980px;
		}
	}

#binder:not(.fluid) {
	&.max-1980 main {
		width: 1782px;
		}
	}
	
#binder:not(.fluid) {
	&.max-1980 .row {
		max-width: 1782px;
		}
	}

	}
	
/* ## Show and Hide */

/* Hide */
.size-small-only,
.size-gt-small-only,
.size-gt-smallish-only,
.size-gt-medium-only,
.size-gt-large-only,
.size-gt-xlarge-only,
.size-lt-small-only,
.size-lt-smallish-only,
.size-lt-medium-only,
.size-lt-large-only,
.size-lt-xlarge-only,
.size-xlarge-only {
	display: none !important;
	}
	
.folio-only,
.min-1188-only, .max-1188-only,
.min-1386-only, .max-1386-only,
.min-1584-only, .max-1584-only,
.min-1782-only, .max-1782-only,
.min-1980-only, .max-1980-only {
	display: none !important;	
	}

/* Show */
.size-small .size-small-only,
.size-gt-small .size-gt-small-only,
.size-gt-smallish .size-gt-smallish-only,
.size-gt-medium .size-gt-medium-only,
.size-gt-large .size-gt-large-only,
.size-gt-xlarge .size-gt-xlarge-only,
.size-lt-small .size-lt-small-only,
.size-lt-smallish .size-lt-smallish-only,
.size-lt-medium .size-lt-medium-only,
.size-lt-large .size-lt-large-only,
.size-lt-xlarge .size-lt-xlarge-only,
.size-xlarge .size-xlarge-only {
	display: block !important;
	}


/* ## PRINT VIEW */

html.print #binder main {
	margin-left: 0px;
	}
html.print #binder #spine header button#shelve {
	display: none;
	}

@media 
	print {
	html.print { zoom: 90%; }
	
html.print #spine header button#shelve,
html.print #spine .print-controls {
	display: none;
	}
/*#jacket { overflow: visible; }*/
	}
	
html.print #binder {
	position: relative;
	width: 792px;
	overflow: hidden;
	}
html.print #spine,
html.print #glue {
	min-height: 0px !important;
	width: 792px;
	}
html.print #spine {
	height: 50px;
	width: 100%;
	top: 0;
	margin-left: 0px;
	}
html.print main {
	padding-top: 50px;
	}
html.print #spine header {
	position: relative;
	}
html.print #wsu-signature {
	background-position: center 12px;
	background-size: auto 30px;
	height: 49px;
	}
html.print #spine #glue header ~ * {
	display: none !important;
	}
	
html.print #wsu-signature {
	background-image: url("//repo.wsu.edu/spine/1/marks/wsu-signature-horizontal.svg");
	}
html.print .light #wsu-signature,
html.print .gray #wsu-signature,
html.print .dark #wsu-signature,
html.print .crimson #wsu-signature {
	background-image: url('//repo.wsu.edu/spine/1/marks/wsu-signature-horizontal-lighter.svg');
	}
/*
.for(@campuses); .-each(@campus) {
	html.print .@{campus}-signature #wsu-signature { background-image: url('//repo.wsu.edu/marks/wsu-@{campus}-signature-horizontal.svg'); }
	}
*/
	
html.print #spine .print-controls {
	float: right;
	}
html.print #spine .print-controls button {
	display: inline-block;
	width: auto;
	font-size: 1.4em;
	line-height: 1em;
	padding: 0px;
	}
html.print #spine .print-button {
	display: none;
	}
#spine .print-controls {
	display: block;
	z-index: 99164;
	margin: 0px 10px 0px 0px;
	position: absolute;
	right: 20px;
	}
#spine .print-controls button {
	display: block;
	float: left;
	margin: 0px;
	text-indent: 0px;
	font-weight: normal;
	}
#spine button#print-invoke,
#spine button#print-cancel {
	color: #8D959A;
	background: white;
	border-color: #8D959A;
	border-style: solid;
	display: block;
	}
#spine button#print-invoke {
	border-width: 0px 1px 1px 1px;
	border-radius: 0px 0px 0px 5px;
	padding: 4px 15px 4px 12px;
	}
#spine button#print-cancel {
	border-width: 0px 1px 1px 0px;
	border-radius: 0px 0px 5px 0px;
	padding: 4px 5px 4px 12px;
	}
#spine button#print-invoke:hover,
#spine button#print-cancel:hover {
	text-shadow: none;
	background: #EFF0F1;
	}
#spine button#print-invoke:before,
#spine button#print-cancel:before {
	font-family: "Spine-Icons";
	font-size: 12px;
	width: 17px;
	text-align: left;
	padding-right: 8px;
	position: relative;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	}
#spine button#print-cancel:before {
	padding-right: 5px;
	}
#spine button#print-invoke:before { content: "⎙"; }
#spine button#print-cancel:before { content: "␡"; }