@import 'vars/global';
@import 'vars/colors';
@import 'vars/grid';

#binder #spine.unshelved header:before {
	content: "";
	position: absolute;
	width: 900px;
	height: 15px;
	box-shadow: 0px 4px 10px -6px rgba(0,0,0,0.5);
	-webkit-transition: box-shadow 0.1s ease-in-out;
	transition: box-shadow 0.1s ease-in-out;
	top: 35px;
	left: 298px;
	display: block;
	z-index: 1;
	}

/* III.0.5 Show and Hide
-------------------------------------------------- */
/* Hide */
.size-small-only,
.size-gt-small-only,
.size-gt-smallish-only,
.size-gt-medium-only,
.size-gt-large-only,
.size-gt-xlarge-only,
.size-lt-small-only,
.size-lt-smallish-only,
.size-lt-medium-only,
.size-lt-large-only,
.size-lt-xlarge-only,
.size-xlarge-only {
	display: none !important;
	}

/* Show */
.size-small .size-small-only,
.size-gt-small .size-gt-small-only,
.size-gt-smallish .size-gt-smallish-only,
.size-gt-medium .size-gt-medium-only,
.size-gt-large .size-gt-large-only,
.size-gt-xlarge .size-gt-xlarge-only,
.size-lt-small .size-lt-small-only,
.size-lt-smallish .size-lt-smallish-only,
.size-lt-medium .size-lt-medium-only,
.size-lt-large .size-lt-large-only,
.size-lt-xlarge .size-lt-xlarge-only,
.size-xlarge .size-xlarge-only {
	display: block !important;
	}
	
/* III.1.0 MEDIUM (after first break)
-------------------------------------------------- */

/* Tablets (iPad) then iPads (portrait, not landscape) */

@media screen
	and ( max-width : 989px ),
	
	only screen
	and (max-device-width : 1024px)
	and (orientation : portrait)
	
	{

#binder {
	width: 792px;
	}

#binder:not(.fluid) {

	main {
		margin-left: 0px;
		padding-top: 50px;
		}
		
	#wsu-signature {
		background-position: 40% center;
		background-size: 200px auto;
		height: 50px;
		margin-left: 40px;
		}
	
	#spine {

		width: 298px;
		min-height: 100%;
		left: -298px;
		top: 0;
		z-index: 99164;
		font-size: 16px;
		
	#glue {
		width: 298px;
		margin-top: 50px;
		}
	section {
		font-size: 16px;
		width: 298px;
		}
		
	/* 1.2 Navigation */
	nav.spine-offsitenav,
	footer {
		width: 238px;
		margin-left: 30px;
		margin-right: 30px;
		}
	nav ul li {
		line-height: 1.5em;
		}
	nav ul li.parent > a:after,
	nav ul li.parent.opened > a:after {
		display: block;
		}
		
	/* 1.3 Header */
	header {
		top: 0;
		left: 0;
		width: 100%;
		position: fixed;
		height: 50px;
		background: white;
		}
	&.unshelved {
		-webkit-transition: left 0.1s ease-in-out;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
		left: 0;
		}
	
	&.scanned header {
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
		}
	&.unshelved header {
		box-shadow: none;
		}
	&.shelved {
		-webkit-transition: left 0.2s ease-in-out;
		transition: left 0.2s ease-in-out;
		left: -298px;
		}
	button#shelve {
		display: block;
		}
		
		}

	}

/* Fluid after first break */
#binder.fluid {
	width: 100%;
	}
	
#binder.fluid main {
	width: auto;
	margin-left: 198px;
	}
	
.spineless main {
		width: auto;
		margin-left: 0px;
		}

/* Adjust Search */
.spine-search input[type="text"] {
	padding-right: 18px;
	}
.spine-search button {
	right: 10px;
	}

/* Header Colors and Signatures */

#binder:not(.fluid) #spine {
	@each $spine-color, $color in $spine-colors {
		&.#{$spine-color} header { background-color: $color; }
		}
	}

/* Signature */
#binder:not(.fluid) #wsu-signature {
	background-position: center 14px;
	background-size: auto 30px;
	height: 49px;
	}
	
@include horizontal-signatures(':not(.fluid)')
	
	}


/* SMALL (max 791px)
------------------------------------------ */
@media screen
	and ( max-width : 791px )
	and ( min-device-width : 990px ),
	
	screen
	and ( max-width : 791px )
	and ( orientation: portrait )
	and ( max-device-width: 420px ),
	
	screen
	and ( max-width : 791px )
	and ( orientation: landscape )
	and ( max-device-width: 480px )
	
	{

#binder,
.rebound,
.single,
.spineless .rebound,
.fifteenths .rebound,
.fifths .rebound {
	width: 100%;
	}

#binder.fixed {
	width: 694px;
	}
#binder.fixed main {
	width: 396px;
	margin-left: 0px;
	}

#binder main {
	width: auto;
	padding-top: 50px;
	margin-left: 0px;
	}
#binder.hybrid main,
#binder.fluid main {
	font-size: 16px;
	line-height: 26px;
	margin-left: 0px;
	}
#binder #spine,
#binder #spine .spine-actions section {
	font-size: 16px;
	width: 298px;
	}
#binder #spine {
	width: 298px;
	min-height: 100%;
	left: -298px;
	top: 0;
	overflow: visible;
	position: fixed;
	z-index: 99164;
	}
#binder #glue {
	margin-top: 50px;
	}
#spine button#shelve {
	display: block;
	}
	
/* Navigation */
#binder.fluid {

	#spine {
	
		.spine-sitenav,
		.spine-offsitenav,
		.spine-footer {
			width: 238px;
			margin-left: 30px;
			margin-right: 30px;
			}
		nav ul li {
			line-height: 1.5em;
			}
		nav ul li.parent > a:after,
		nav ul li.parent.opened > a:after {
			display: block;
			}
			
		/* Header */
		#glue > header {
			top: 0;
			left: 0;
			width: 100%;
			position: fixed;
			height: 50px;
			}
		#wsu-signature {
			background-position: center center;
			background-size: 200px auto;
			height: 49px;
			}
		
		&.unshelved {
			-webkit-transition: left 0.1s ease-in-out;
			box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
			left: 0;
			}
		&.scanned header {
			box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
			}
		&.unshelved header {
			box-shadow: none;
			}
		&.shelved {
			-webkit-transition: left 0.2s ease-in-out;
			transition: left 0.2s ease-in-out;
			left: -298px;
			}
		#button#shelve {
			display: block;
			}
	
		}
	}
	
/* Logo */
#binder.fluid #wsu-signature,
html.print #wsu-signature {
	background-image: url("//repo.wsu.edu/spine/1/marks/sig-horizontal.svg");
	background-position: center 14px;
	background-size: auto 30px;
	height: 49px;
	}
html.lt-ie9 #binder.fluid #wsu-signature {
	background-image: url('//repo.wsu.edu/spine/1/marks/wsu-signature-horizontal.png');
	}

/* Header Colors and Signatures */

#binder.fluid #spine {
	@each $spine-color, $color in $spine-colors {
		&.#{$spine-color} header { background-color: $color; }
		}
	}

/* Signature */
#binder.fluid #wsu-signature {
	background-position: center 14px;
	background-size: auto 30px;
	height: 49px;
	}
	
@include horizontal-signatures('.fluid');

/* Grid */

/* Hybrid Shift */
.hybrid .row.halves .column { width: 50%; }
.hybrid .row.thirds .column { width: 33%; }
.hybrid .row.thirds .column.two { width: 34%; }
.hybrid .row.quarters .column { width: 25%; }

.hybrid .row.single .column,
.hybrid .row.halves .column,
.hybrid .row.triptych .column,
.hybrid .row.triptych .column.two,
.hybrid .row.sidebar .column.one,
.hybrid .row.sidebar .column.two,
.hybrid .row.margin .column.one,
.hybrid .row.margin .column.two {
	width: 100%;
	}
.row.quarters .column,
.fluid .row .column,
.fluid .row.halves .column,
.fluid .row.halves .thirds .column,
.hybrid .row .column,
.hybrid .row.halves .column,
.hybrid .row.halves .thirds .column,
.row.twelfths {
	float: left;
	}
/* Nested */
.row.halves .halves .column {
	width: 198px;
	float: left;
	}
.fluid .row.halves .halves .column {
	width: 50%;
	float: left;
	}
.row.halves .thirds .column {
	width: 132px;
	float: left;
	}
.hybrid .row .row.thirds .column {
	width: 33%;
	}
.hybrid .row .row.thirds .column.two {
	width: 34%;
	}

	}

/* SMALL (max 693)
----------------------------------------------------- */
/* 792px - 198px = 594px */

@media 
	only screen
	and (max-width: 693px)
	{

#binder {
	
	&.fixed {
	
		width: 396px;
		min-width: 396px;
		margin: 0px auto;
		
		main {
			margin-top: 50px;
			margin-left: 0px;
			}
		
		}
		
	&.fluid,
	&.hybrid {
	
		width: 100%;
		
		main {
			width: auto;
			margin-left: 0px;
			}
		
		}

	}
	
/*
main {
		width: 396px;
		margin: 0px;
		padding-top: 50px;
		}
*/

/* Logo */
.extension-signature #wsu-signature,
.globalcampus-signature #wsu-signature,
.spokane-signature #wsu-signature,
.tricities-signature #wsu-signature,
.vancouver-signature #wsu-signature {
	background-size: 340px auto;
	background-position: center 14px;
	margin-left: 40px;
	}
	
/* Grid */
.fixed .row {

	&.single .column,
	&.halves .column,
	&.thirds .column,
	&.triptych .column,
	&.sidebar .column.one,
	&.sidebar .column.two,
	&.sideleft .column.one,
	&.sideleft .column.two,
	&.margin .column.one,
	&.margin .column.two,
	&.single .halves .column {
		width: 100%;
		float: none;
		clear: both;
		}
		
	}


/* Grid */
.fluid .row.single .column,
.fluid .row.halves .column,
.fluid .row.thirds .column.one,
.fluid .row.thirds .column.two,
.fluid .row.thirds .column.three,
.fluid .row.triptych .column,
.fluid .row.sidebar .column.one,
.fluid .row.sidebar .column.two,
.fluid .row.sideleft .column.one,
.fluid .row.sideleft .column.two,
.fluid .row.margin .column.one,
.fluid .row.margin .column.two,
.fluid .row.single .halves .column {
	width: 100%;
	float: none;
	clear: both;
	}
.fluid .row.quarters .column {
	width: 50%;
	}
	
.hybrid .row.single .column,
.hybrid .row.halves .column,
/* Unfortunately, this doesn't work --> .hybrid .row.halves *:not(.row) .column, */
.hybrid .row.thirds .column.one,
.hybrid .row.thirds .column.two,
.hybrid .row.thirds .column.three,
.hybrid .row.triptych .column,
.hybrid .row.sidebar .column.one,
.hybrid .row.sidebar .column.two,
.hybrid .row.sideleft .column.one,
.hybrid .row.sideleft .column.two,
.hybrid .row.margin .column.one,
.hybrid .row.margin .column.two,
.hybrid .row.thirds .halves .column,
.hybrid .row.fifteenths .four-fifteenths,
.hybrid .row.fifteenths .five-fifteenths,
.hybrid .row.fifteenths .six-fifteenths,
.hybrid .row.fifteenths .seven-fifteenths {
	width: 100%;
	float: none;
	clear: both;
	}
.hybrid .row.quarters .column,
.hybrid .row.fifteenths .two-fifteenths,
.hybrid .row.fifteenths .three-fifteenths {
	width: 50%;
	}
	
.hybrid .row .row.thirds .column {
	width: 33%;
	}
.hybrid .row .row.thirds .column.two {
	width: 34%;
	}


/* nesting */
.hybrid .row .row.quarters .column,
.fluid .row .row.quarters .column,
.hybrid .row .row.thirds .column,
.hybrid .row .row.thirds .column.two,
.hybrid .row .row.halves .column,
.hybrid .row .row.halves .column {
	clear: none;
	float: left;
	}

/* Gutters */
.halves.gutter .column:nth-of-type(odd),
.halves.gutter .column:nth-of-type(even) { padding: 2em 2em 0 2em; } 
.halves.gutter.wide .column:nth-of-type(odd),
.halves.gutter.wide .column:nth-of-type(even) { padding: 4em 4em 0 4em; }
.halves.gutter.wide .column ~ .column { padding: 0em 4em 0 4em; }

.thirds.gutter .column:nth-of-type(3n+1) { padding-left: 2em; } 
.thirds.gutter .column:nth-of-type(3n+2) { padding-left: 2em; padding-right: 2em; } 
.thirds.gutter .column:nth-of-type(3n+3) { padding-right: 2em; }

.fifths.gutter .column { padding: 1em; }
.fifths.gutter .column:nth-of-type(5n+1) { padding-left: 2em; }
.fifths.gutter .column:nth-of-type(5n+5) { padding-right: 2em; }

/* Gutters */
.halves.gutter .column:nth-of-type(odd),
.halves.gutter .column:nth-of-type(even) { padding: 2em 2em 1em 2em; } 
.halves.gutter.wide .column:nth-of-type(odd),
.halves.gutter.wide .column:nth-of-type(even) { padding: 4em 4em 1.5em 4em; }
.halves.gutter.wide .column ~ .column { padding: 0em 4em 1.5em 4em; }


	}
	
/* SMALL-MED (Fixed Only)
----------------------------------------------------- */
/* Medium and Desktop - Small */

@media
	only screen
	and (min-width: 694px) and
	(max-width: 791px) and
	(max-device-width : 990px),
	
	(min-width: 694px) and
	(max-width: 791px) and
	(min-device-width : 990px)
	{

#binder.fixed {
	width: 694px;
	}
#binder.fixed main {
	width: 396px;
	margin-top: 0px;
	margin-left: 298px;
	}
#binder.fixed #spine {
	left: auto;
	}
#binder.fixed #glue {
	margin-top: 0px;
	}

/* Header */
#binder.fixed #spine #glue > header {
	top: 0;
	left: 0;
	position: relative;
	height: 198px;
	}
#binder.fixed #spine.unshelved,
#binder.fixed #spine.shelved,
#binder.fixed #spine.scanned header,
#binder.fixed #spine.unshelved header {
	box-shadow: none;
	-webkit-transition: none;
	left: auto;
	}
#binder.fixed #spine button#shelve {
	display: none;
	}
	
.fixed .row.sidebar .column {
	width: 100%;
	}

/* Logo */
#binder.fixed #wsu-signature {
	background-position: center;
	background-size: 180px auto;
	height: 197px;
	margin-left: 0px;
	}

@include vertical-signatures('.fixed');

}
	
@media 
	only screen
	and (max-width: 420px),
	
	screen
	and ( max-width: 360px )
	and ( max-device-width: 480px )
	and ( orientation: landscape )
	{
	
.fluid a#wsu-signature,
:not(.fluid) #wsu-signature,
.extension-signature #wsu-signature,
.globalcampus-signature #wsu-signature,
.spokane-signature #wsu-signature,
.tricities-signature #wsu-signature,
.vancouver-signature #wsu-signature {
	background-size: 320px auto;
	}
	
	}
	
@media 
	only screen
	and (max-width: 360px),
	
	screen
	and ( max-width: 360px )
	and ( max-device-width: 480px )
	and ( orientation: portrait )
	{
	
#binder.fluid #spine a#wsu-signature,
#binder:not(.fluid) #spine a#wsu-signature {
	background-size: 260px auto;
	background-position: 65% 60%;
	}
.extension-signature #binder #spine a#wsu-signature,
.globalcampus-signature  #binder #spine a#wsu-signature,
.spokane-signature #binder #spine a#wsu-signature,
.tricities-signature #binder #spine a#wsu-signature,
.vancouver-signature #binder #spine a#wsu-signature {
	background-size: 260px auto;
	background-position: center 60%;
	}
	
	}
	
/* LARGE FORMAT (Folio)
---------------------------------------------------------- */

.folio-only {
	display: none;
	}
.hybrid.folio .row .column,
.fixed.folio .row .column {
	float: left;
	}

@media
	only screen
	and ( min-width : 990px )
	{

#binder.fluid.folio {
	width: 100%;
	}		
#binder.fluid.folio main {
	width: auto;
	margin: 0px 0px 0px 198px;
	}
#binder.fluid.folio.max-1188 { max-width: 1188px; }
#binder.fluid.folio.max-1386 { max-width: 1386px; }
#binder.fluid.folio.max-1584 { max-width: 1584px; }
#binder.fluid.folio.max-1782 { max-width: 1782px; }
#binder.fluid.folio.max-1980 { max-width: 1980px; }
	}

/* !LARGE FORMAT -> 1188 */
@media
	only screen
	and ( min-width : 1188px )
	and ( min-device-width : 990px )
	{

#binder:not(.fluid).folio.max-1188,
#binder:not(.fluid).folio.max-1386,
#binder:not(.fluid).folio.max-1584,
#binder:not(.fluid).folio.max-1782,
#binder:not(.fluid).folio.max-1980 { width: 1188px; }

#binder:not(.fluid).folio.max-1188 main,
#binder:not(.fluid).folio.max-1386 main,
#binder:not(.fluid).folio.max-1584 main,
#binder:not(.fluid).folio.max-1782 main,
#binder:not(.fluid).folio.max-1980 main { width: 990px; }

.folio-only {
	display: block;
	}
	}

/* !LARGE FORMAT -> 1386 */
@media
	only screen
	and ( min-width : 1386px )
	and ( min-device-width : 990px )
	{

#binder:not(.fluid).folio.max-1386,
#binder:not(.fluid).folio.max-1584,
#binder:not(.fluid).folio.max-1782,
#binder:not(.fluid).folio.max-1980 { width: 1386px; }

#binder:not(.fluid).folio.max-1386 main,
#binder:not(.fluid).folio.max-1584 main,
#binder:not(.fluid).folio.max-1782 main,
#binder:not(.fluid).folio.max-1980 main { width: 1188px; }

.max-1386-only {
	display: block;
	}
	}
	
/* !LARGE FORMAT -> 1584  */
@media
	only screen
	and ( min-width : 1584px )
	and ( min-device-width : 990px )
	{
#binder:not(.fluid).folio.max-1584,
#binder:not(.fluid).folio.max-1782,
#binder:not(.fluid).folio.max-1980 { width: 1584px; }

#binder:not(.fluid).folio.max-1584 main,
#binder:not(.fluid).folio.max-1782 main,
#binder:not(.fluid).folio.max-1980 main { width: 1386px; }

.max-1584-only {
	display: block;
	}
	}
	
/* !LARGE FORMAT -> 1782  */
@media
	only screen
	and ( min-width : 1782px )
	and ( min-device-width : 990px )
	{

#binder:not(.fluid).folio.max-1782,
#binder:not(.fluid).folio.max-1980 { width: 1782px;	}

#binder:not(.fluid).folio.max-1782 main,
#binder:not(.fluid).folio.max-1980 main { width: 1584px; }

	}

/* !LARGE FORMAT -> 1980  */
@media
	only screen
	and ( min-width : 1980px )
	and ( min-device-width : 990px )
	{

#binder:not(.fluid).folio.max-1980 { width: 1980px;	}
#binder:not(.fluid).folio.max-1980 main { width: 1782px; }
	
.max-1980-only {
	display: block;
	}

	}


/* III.5.0 PRINT
----------------------------------------------------------------- */

html.print #binder main {
	margin-left: 0px;
	}
html.print #binder #spine header button#shelve {
	display: none;
	}

@media 
	print {
	html.print { zoom: 90%; }
	
html.print #spine header button#shelve,
html.print #spine .print-controls {
	display: none;
	}
/*#jacket { overflow: visible; }*/
	}
	
html.print #binder {
	position: relative;
	width: 792px;
	overflow: hidden;
	}
html.print #spine,
html.print #glue {
	min-height: 0px !important;
	width: 792px;
	}
html.print #spine {
	height: 50px;
	width: 100%;
	top: 0;
	margin-left: 0px;
	}
html.print main {
	padding-top: 50px;
	}
html.print #spine header {
	position: relative;
	}
html.print #wsu-signature {
	background-position: center 14px;
	background-size: auto 30px;
	height: 49px;
	}
html.print #spine #glue header ~ * {
	display: none !important;
	}
	
html.print #wsu-signature {
	background-image: url("//repo.wsu.edu/spine/1/marks/wsu-signature-horizontal.svg");
	}
html.print .light #wsu-signature,
html.print .gray #wsu-signature,
html.print .dark #wsu-signature,
html.print .crimson #wsu-signature {
	background-image: url('//repo.wsu.edu/spine/1/marks/wsu-signature-horizontal-lighter.svg');
	}
/*
.for(@campuses); .-each(@campus) {
	html.print .@{campus}-signature #wsu-signature { background-image: url('//repo.wsu.edu/marks/wsu-@{campus}-signature-horizontal.svg'); }
	}
*/
	
html.print #spine .print-controls {
	float: right;
	}
html.print #spine .print-controls button {
	display: inline-block;
	width: auto;
	font-size: 1.4em;
	line-height: 1em;
	padding: 0px;
	}
html.print #spine .print-button {
	display: none;
	}
#spine .print-controls {
	display: block;
	z-index: 99164;
	margin: 0px 10px 0px 0px;
	position: absolute;
	right: 20px;
	}
#spine .print-controls button {
	display: block;
	float: left;
	margin: 0px;
	text-indent: 0px;
	font-weight: normal;
	}
#spine button#print-invoke,
#spine button#print-cancel {
	color: #8D959A;
	background: white;
	border-color: #8D959A;
	border-style: solid;
	display: block;
	}
#spine button#print-invoke {
	border-width: 0px 1px 1px 1px;
	border-radius: 0px 0px 0px 5px;
	padding: 4px 15px 4px 12px;
	}
#spine button#print-cancel {
	border-width: 0px 1px 1px 0px;
	border-radius: 0px 0px 5px 0px;
	padding: 4px 5px 4px 12px;
	}
#spine button#print-invoke:hover,
#spine button#print-cancel:hover {
	text-shadow: none;
	background: #EFF0F1;
	}
#spine button#print-invoke:before,
#spine button#print-cancel:before {
	font-family: "Spine-Icons";
	font-size: 12px;
	width: 17px;
	text-align: left;
	padding-right: 8px;
	position: relative;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	}
#spine button#print-cancel:before {
	padding-right: 5px;
	}
#spine button#print-invoke:before { content: "⎙"; }
#spine button#print-cancel:before { content: "␡"; }