@import 'vars/global';
@import 'vars/colors';

/* II Spine */

/* Icons Font */
@font-face {
	font-family: "Spine-Icons";
    src: url('//repo.wsu.edu/spine/1/icons/wsu-spine-icons-regular.eot');
    src: url('//repo.wsu.edu/spine/1/icons/wsu-spine-icons-regular.eot?#iefix') format("embedded-opentype"),
         url('//repo.wsu.edu/spine/1/icons/wsu-spine-icons-regular.ttf') format("font/truetype"),
         url('//repo.wsu.edu/spine/1/icons/wsu-spine-icons-regular.woff') format("woff");
    font-weight: normal;
    font-style: normal;
	}


/* II.1.0 THE SPINE
--------------------------------------------------------------------------- */

#spine,
#spine * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
	}

#spine {
	
	font-size: 12px;
	width: 198px;
	height: 100%;
	top: 0;
	z-index: 99164;
	position: fixed;
	bottom: 0;
	
	#glue {
		margin-top: 0px;
		width:198px;
		position: relative;
		}
	button {
		background-color: transparent;
		border: none;
		border-radius: 0px;
		text-indent: 120%;
		white-space: nowrap;
		overflow: hidden;
		}
	a {
		color: #5e6a71;
		}
	a:hover {
		color: #981e32;
		}
		
	/* II.1.1 Cracked */
	
	&.cracked {
	
		position: absolute;
		height: auto;
		
		&.scrolled #glue {
			bottom: 0;
			top: auto;
			position: fixed;
			width: 198px;
			}
		footer {
			position: relative !important;
			position: absolute;
			bottom: 0;
			padding: 5px 0px !important;
			}
		.spine-social-channels ul {
			margin-top: 10px;
			padding-top: 15px;
			}
		
		}
	
	/* II.1.2 Cropped */
	
	&.cropped {
		font-size: 12px;
		height: 198px;
		min-height: 198px;
		box-shadow: 0px 0px 5px rgba(66,74,79,0.5);
		position: absolute;
		top: 0px;
		
		nav,
		footer {
			display: none;
			}
		
		}
	
	}
	
.size-lt-large #spine.cropped nav,
.size-lt-large #spine.cropped footer {
	display: block;
	}
	
footer.looseleaf {
	padding-top: 10px;
	
	nav,
	small {
		position: absolute;
		white-space: nowrap;
		}
	.spine-global-links {
		right: 50%;
		padding-right: 45px;
		}
	.copyright-link {
		left: 50%;
		padding-left: 43px;
		padding-top: 4px;
		}
	.spine-social-channels {
		float: right;
		display: block;
		left: 50%;
		z-index: 500;
		width: 1px;
		overflow: visible;
		}
	.spine-social-channels ul {
		position: relative;
		left: -42px;
		}
	.spine-social-channels ul li {
		display: inline-block;
		width: auto;
		padding: 0px 0px 0px 1px;
		margin: 0px;
		width: 20px;
		white-space: nowrap;
		}
	.spine-social-channels li a {
		font-size: 16px;
		}
	.spine-global-links li {
		width: auto;
		display: inline-block;
		margin: 0px;
		padding-left: 10px;
		}
	
	}

/* II.2.0 HEADER (#spine)
--------------------------------------------------------------------------- */

#spine header {
	z-index: 99164;
	}
#wsu-signature {
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url('//repo.wsu.edu/spine/1/marks/wsu-signature-vertical.svg');
	background-size: 150px auto;
	height: 155px;
	display: block;
	text-indent: 120%;
	overflow: hidden;
	white-space: nowrap;
	}
html.no-svg #wsu-signature {
	background-image: url('//repo.wsu.edu/spine/1/marks/wsu-signature-vertical.png');
	}


/* Spine Menu Button (Shelve and Unshelve) */
button#shelve {
	height: 50px;
	width: 100px;
	border: none;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 100;
	font-size: 24px;
	color: #b6bcbf;
	display: none;
	background: transparent url('http://repo.wsu.edu/spine/1/icons/menu.svg') 20px center no-repeat;
	outline: none;
	}
button#shelve:hover {
	color: #5e6a71;
	}
.spine-actions-tabs button:before,
.spine-nav button:before,
.spine-footer button:before {
	font-family: "Spine-Icons";
	text-indent: 0px;
	position: absolute;
	left: 0px;	top: 0em; right: 0px; bottom: 0px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	}
	
/* II.3.0 NAVIGATION
--------------------------------------------------------------------------- */

#spine {

	nav {

	ul {
		margin: 0px;
		padding: 0px;
		}
	li {
		list-style: none;
		}
	ul li {
		position: relative;
		margin: 0px; padding: 0px;
		border-width: 1px 0px 0px 0px;
		border-style: solid;
		line-height: 1.1em;
		}
	ul li a {
		display: block;
		padding: 6px 0px;
		}
	ul li li,
	ul li li:hover {
		border-top: none;
		}
	ul ul li a {
		text-transform: none;
		padding: .4em 0;
		}
	ul ul li {
		margin-left: 1.25em;
		}
	ul ul ul li a {
		padding: .25em 0;
		}
	
	/* Parents */
	
	li.parent {
	
		> a {
			padding-right: 15px;
			}
		&.opened > a,
		&.active > a {
			padding-bottom: 3px;
			}
		> a:after,
		&.opened > a:after {
			font-family: "Spine-Icons";
			display: none;
			position: absolute;
			top: .5em;
			right: 0;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			}
		&:not(.active) > a:after {
			content: "\F501";
			}
		&.opened:not(.active) > a:after {
			content: "\F500";
			}
		> a:hover:after,
		&.opened > a:hover:after {
			display: block;
			}
		&.opened li:last-child a,
		&.active li:last-child a {
			padding-bottom: 8px;
			}
			
		&.active > a:hover {
		cursor: default;
		}
		
		}
		
	.active li.parent > a:after,
	.active li.parent.opened > a:hover:after {
		top: .4em;
		}
		
	/* II.2.2 NAVIGATION -> Disclosure */
	ul ul li {
		display: none;
		}
	ul ul li {
		line-height: 1.3em;
		}
	ul li.active > ul > li,
	ul li.opened > ul > li {
		display: block;
		}
		
	}
	
	}

/* II.2.3 NAVIGATION -> SECTIONS -> Site */

#spine {

	.spine-sitenav {
		margin: 10px 20px;
		}
	.spine-sitenav > ul > li:nth-last-of-type(1) {
		border-bottom-width: 1px;
		}
	
	/* Home Icon */
	
	.spine-sitenav:not(.homeless) > ul > li:first-child > a {
		padding-left: 1.4em;
		background-image: url('//repo.wsu.edu/spine/1/icons/home-gray.svg');
		background-color: transparent;
		background-repeat: no-repeat;
		background-position: left center;
		background-size: 1em auto;
		}
	.spine-sitenav:not(.homeless) > ul > li.active:first-child > a,
	.spine-sitenav:not(.homeless) > ul > li:first-child > a:hover,
	.spine-sitenav:not(.homeless) > ul > li:first-child > a:before {
		background-image: url('//repo.wsu.edu/spine/1/icons/home-crimson.svg');
		}
		
	/* "Dogeared" Link */

	li:not(.parent).dogeared > a {
		color: #981e32;
		font-weight: bold;
		}
	li.dogeared > a:hover,
	li.parent.dogeared > a:hover {
		cursor: default;
		}
		
	/* External Links */
	
	nav a.external:hover:after {
		font-family: "Spine-Icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		position: absolute;
		margin-left: 3px;
		content: "\21AA";
		}
	
	}
	
/* II.2.4 NAVIGATION -> SECTIONS -> Offsite  */

.spine-offsitenav {
	
	margin: 20px 20px 0px 20px;
	
	ul li {
		border: none !important;
		line-height: 1.3em;
		}
	a {
		text-transform: none;
		padding: .35em 0px;
		}
	a i {
		display: none;
		}
	a:hover i {
		display: inline;
		}
	
	}


/* II.3.0 ACTIONS 
--------------------------------------------------------------------------- */

.no-js #spine .spine-actions,
html.lt-ie9 #spine .spine-actions {
	display: none;
	}
	
#spine	{

	.spine-actions {
		
		padding: 0px;
		
		section {
			z-index: 100;
			height: 100%;
			width: auto;
			position: fixed;
			display: block;
			padding: 0px;
			margin: 0px;
			width: 198px;
			}
		section.closed {
			display: none;
			}
		section.opened {
			display: block;
			}
		> ul {
			display: block;
			}
		ul li {
			padding: 0px; margin: 0px;
			list-style: none;
			}
		> ul li {
			display: block;
			width: 25%;
			text-align: center;
			list-style: none;
			display: block;
			float: left;
			}
	
		}
		
	/* II.3.2 Actions -> Tabs */
	
	.spine-actions-tabs {
		
		margin: 0px 2em;
		padding: 0px;
		
		button {
			outline: none;
			}
		li {
			width: 25%;
			display: inline-block;
		    margin: 0;
		    padding: 0;
			}
		li button {
			position: relative;
			width: 100%;
			height: 2.2em;
			font-weight: normal;
			font-size: 1.2em;
			line-height: 1em;
			text-shadow: none;
			width: 100%;
			padding: .8em 0 .8em 0;
			display: block;
			}
		li button:before {
			text-align: center;
			top: .9em;
			}
		
		}
		
	.spine-search-tab button:before { content: "$"; }
	.spine-contact-tab button:before { content: "\2709"; }
	.spine-share-tab button:before { content: "\F601"; }
	.spine-print-tab button:before { content: "\2399"; }
	
	.spine-search-tab.opened button:hover:before,
	.spine-contact-tab.opened button:hover:before,
	.spine-share-tab.opened button:hover:before,
	.spine-print-tab.opened button:hover:before { content: "\2421"; }

} // end #spine

/* II.3.1 ACTIONS -> Search 
--------------------------------------------------------------------------- */

.spine-search {

	form {
		padding: 1em 2em 0 2em;
		margin: 0px 0px -1px 0px;
		position: relative;
		line-height: 1em;
		}
	input[type="text"] {
		font-size: 1.6em;
		color: #5e6a71;
		background-color: transparent;
		border-radius: 0px;
		padding: .5em 15px 5px 0;
		text-indent: 0px;
		height: 1.7em;
		width: 100%;
		margin: 0px;
		border: none;
		box-shadow: none;
		border-bottom: 1px #b6bcbf solid;
		}
	input:focus {
		color: #981e32;
		border: none;
		border-bottom: 1px #981e32 solid;
		}
	button {
		position: absolute;
		left: auto;
		bottom: 0px;
		right: 0px;
		padding: 0px;
		height: 40px;
		width: 50px;
		text-indent: 110%;
		overflow: hidden;
		}
	button:before {
		content: "\25BB";
		color: #b6bcbf;
		font-size: 1.3em;
		display: inline-block;
		text-align: right;
		left: auto !important;
		top: auto !important;
		bottom: 5px !important;
		right: 20px !important;
		}
	button:hover:before {
		color: $crimson;
		}
	
	}
	
.spine-search :-webkit-input-placeholder {
   text-indent: 3px;
   }
.spine-search :-moz-placeholder,
.spine-search :-ms-input-placeholder {
   text-indent: 5px;
   }
	
/* Index */

/* Reset jQuery UI */
#spine-shortcuts {
	padding-top: 2px;
	max-height: 100%;
	display: block;
	position: relative;
	padding: 0 2em;
	}
#spine-shortcuts *,
#spine-shortcuts *:focus,
#spine-shortcuts *:hover {
	border: none;
	background: transparent;
	padding: 0px; 
	margin: 0px;
	border-radius: 0;
	line-height: 1.1em;
	box-shadow: none;
	}

#spine-shortcuts {

	li {
		padding: 0px;
		list-style: none;
		}
	li a {
		color: #5e6a71;
		display: block;
		padding: .6em 0;
		margin: 0;
		border-bottom: 1px #c3cbcf solid;
		}
	li a:hover,
	li a.ui-state-focus {
		color: white;
		background-color: #434d53;
		margin: -1px -2em 0px -2em;
		padding: .6em 2em .6em 2em;
		border-bottom: 2px #434d53 solid;
		}
	li:first-child a:hover,
	li:first-child a.ui-state-focus {
		margin: 0px -2em 0px -2em;
		border-bottom: 1px #434d53 solid;
		}
	li:first-child a {
		border-top: 1px transparent solid;
		}
	li:last-child a {
		border-bottom-color: transparent;
		}
	li a:active,
	li a:hover,
	li a:focus {
		outline: none;
		}
	}
	
.ui-helper-hidden-accessible {
	  border: 0 none;
	  clip: rect(0px, 0px, 0px, 0px);
	  height: 1px;
	  margin: -1px;
	  overflow: hidden;
	  padding: 0;
	  position: absolute;
	  width: 1px;
	}

/* II.3.2 ACTIONS -> Contact 
--------------------------------------------------------------------------- */

#spine .spine-contact {

	address {
		color: #384044;
		margin: 2em;
		display: block;
		}
	div {
		padding: .75em 0;
		border-bottom: 1px #c3cbcf solid;
		line-height: 1.4em;
		}
	div div {
		padding: 0;
		line-height: 1.1em;
		border-bottom: none;
		}
	.organization  {
		font-weight: bold;
		padding-bottom: .5em;
		}
	.organization-unit  {
		font-size: 1.3em;
		padding-bottom: .3em;
		border-bottom: none;
		}
	.organization-unit a,
	.organization-unit a:hover {
		color: black;
		}
	.organization-name  {
		white-space: nowrap;
		padding: 0;
		border-bottom: none;
		}
	.adr {
		border: none;
		padding: 0px;
		}
	.street-address {
		border-bottom: none;
		padding: 0;
		}
	.more {
		border-bottom: none;
		}
	.area {
		padding-top: 0;
		}
	div:before {
		font-family: "Spine-Icons";
		width: 1.7em;
		display: inline-block;
		text-align: center;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		}
	.tel:before { content: "\1F4DE"; }
	.email:before { content: "\0040"; }
	.more:before { content: "\2139"; }
	
	.postalcode {
		white-space: nowrap;
		}
		
	}

/* 3.3 Share */

#spine .spine-share {

	ul {
		margin: 2em !important;
		
		li {
		
			a {
				display: block;
				padding-top: .75em;
				padding-bottom: .75em;
				border-bottom: 1px #c3cbcf solid;
				}
			a:hover {
				color: white !important;
				background: #434d53;
				padding-left: 2em;
				padding-right: 2em;
				margin: -1px -2em 1px -2em;
				}
			a:active {
				background: #981e32;
				}
			a:hover {
				color: white;
				}
			a:before {
				font-family: "Spine-Icons" !important;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				width: 1.8em;
				display: inline-block;
				text-align: center;
				}
			&:last-of-type a  {
				border-bottom: none;
				}
			a span {
				display: none;
				}
			
			&.by-facebook a:before { content: "F"; }
			&.by-twitter a:before { content: "T"; }
			&.by-email a:before { content: "@"; }
			&.by-pinterest a:before { content: "P"; }
			&.by-linkedin a:before { content: "L"; }
			&.by-other a:before { content: ""; display: none; }
		
			}
		
		}

	}

/* II.3.4 Print */


/* II.5.0 FOOTER-Spine */

#spine footer {
	margin: 0px 20px;
	position: absolute;
	bottom: 0px;
	padding: 1.75em 0px .75em 0px;
	width: 160px;
	}
html.lt-ie9 #spine footer {
	position: relative;
	}

/* II.5.1 FOOTER -> Social */

.spine-footer nav ul li {
	border-top: none !important;
	text-align: center;
	}

#spine .spine-social-channels {
	
	margin-bottom: .6em;
	width: 100%;
	
	ul {
		text-align: center;
		
		li {
			color: #b6bcbf;
			background-position: center center;
			background-repeat: no-repeat;
			width: 2.5em;
			display: inline-block;
			margin: 0px;
			padding: 0px;
			}
		li a {
			color: #e0e5e8;
			color: #D7DADB;
			text-indent: -9000px;
			font-size: 1.8em;
			line-height: .8em;
			height: 1.2em;
			padding: 0px;
			display: block;
			position: relative;
			text-transform: none;
			}
		li a:before {
			font-family: "Spine-Icons";
			position: absolute;
			top: 0;
			left: 0;
			text-indent: 0;
			text-align: center;
			width: 30px;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			}

		.facebook-channel {
			a:before { content: "F"; }
			a:hover { color: $facebook-blue; }
			}
		.twitter-channel {
			a:before { content: "T"; }
			a:hover { color: $twitter-blue; }
			}
		.youtube-channel {
			a:before { content: "Y"; }
			a:hover { color: $youtube-red; }
			}
		.directory-channel {
			a:before { content: "s"; }
			a:hover:before { content: "S"; }
			a:hover { color: #b6bcbf; }
			}
		.linkedin-channel {
			a:before { content: "L"; }
			a:hover { color: $linkedin-blue; }
			}
		.pinterest-channel {
			a:before { content: "P"; }
			a:hover { color: $pinterest-red; }
			}
		.gplus-channel {
			a:before { content: "G"; }
			a:hover { color: $gplus-orange; }
			}
		.flickr-channel {
			a:before { content: "R"; }
			a:hover { color: $flickr-pink; }
			}
		.tumblr-channel {
			a:before { content: "B"; }
			a:hover { color: $tumblr-blue; }
			}
		
		}

	}

/* II.5.2 FOOTER -> Global Navigation */

.spine-global-links {
	
	font-size: .9em;
	border-top-width: 1px;
	border-top-style: solid;
	padding-top: 5px;
	margin-top: 5px;
	width: 100%;
	
	ul {
		display: table;
		width: 100%;
		}
	ul li {
		font-size: .8em;
		line-height: 1em;
		display: table-cell;
		text-transform: uppercase;
		text-align: left;
		}
	ul li:nth-of-type(1) { text-align: left; width: 29%; }
	ul li:nth-of-type(2) { text-align: left; width: 31%; }
	ul li:nth-of-type(3) { text-align: left; width: 30%; }
	ul li:nth-of-type(4) {	text-align: right; width: 10%; }
	
	small {
		font-size: .7em;
		line-height: 1em;
		color: #b6bcbf;
		display: block;
		text-align: center;
		margin: 0px 0px;
		padding: 6px 0px;
		}
	.copyright-link a {
		color: #8b9399;
		}
	.copyright-link a:hover {
		color: $gray;
		}
	
	}
	
/* II.6.0 COLORS - Spinal Column */

main {
	position: relative;
	}

#spine {

	background-color: $gray-er;
	
	&.bleed:before {
		content: " ";
		background-color: white;
		width: 1000px;
		position: absolute;
		min-height: 100%;
		left: -1000px;
		background-color: $gray-er;
		}
	.spine-sitenav a {
		color: $gray;
		}
	.spine-actions-tabs button,
	.spine-social-channels a,
	.spine-footer small a {
		color: $gray-lightly;
		}
	.spine-sitenav ul li,
	.spine-global-links {
		border-color: lighten($gray-lightly, 5%);
		}
	nav a:hover,
	.spine-sitenav a:hover,
	.spine-sitenav li.dogeared > a {
		color: $crimson;
		}
	.spine-search-tab.opened button,
	.spine-search-tab.opened button:hover,
	.spine-offsitenav a,
	.spine-global-links a {
		color: $gray-light;
		}
	.spine-actions-tabs li.opened button,
	.spine-actions-tabs li button:hover,
	.spine-actions-tabs li.opened button:hover {
		color: $gray-light;
		}
	.spine-offsitenav a:hover,
	.spine-global-links a:hover {
		color: $gray;
		}
	.spine-actions-tabs li.opened,
	.spine-actions-tabs li.opened:hover,
	.spine-actions section {
		background-color: $gray-lightest;
		}
	.spine-actions li:hover i {
		color: $crimson;
		}
	.spine-search-tab button {
		color: $gray-light;
		}

/* LIGHTEST #e6e8e9, rgb(230,232,233) */

&.lightest {

	background-color: $gray-lightest;
	
	&.bleed:before {
		background-color: $gray-lightest;
		}
	.spine-sitenav a,
	.spine-offsitenav a:hover {
		color: $gray-dark;
		}
	.spine-actions-tabs li.opened button,
	.spine-actions-tabs li button,
	.spine-actions-tabs li.opened button:hover,
	.spine-social-channels a,
	.spine-footer small a {
		color: $gray-lighter;
		}
	.spine-sitenav ul li,
	.spine-global-links {
		border-color: $gray-lightly;
		}
	.spine-search-tab.opened button,
	.spine-search-tab.opened button:hover {
		color: $gray-dark;
		}
	.spine-offsitenav a,
	.spine-global-links a {
		color: $gray-light;
		}
	.spine-actions-tabs button:hover,
	.spine-sitenav a,
	.spine-offsitenav a:hover,
	.spine-global-links a:hover {
		color: $gray;
		} 
	.spine-sitenav a:hover,
	.spine-sitenav li.dogeared > a {
		color: $crimson;
		}
	.spine-actions-tabs li.opened,
	.spine-actions-tabs li.opened:hover,
	.spine-actions section {
		background-color: white;
		}
			
	}
	
/* LIGHTLY #d7dadb, rgb(215 218 219) */

&.lightly {

	background-color: $gray-lightly;
	
	&.bleed:before {
		background-color: $gray-lightly;
		}
	.spine-sitenav a,
	.spine-offsitenav a:hover {
		color: $gray-darker;
		}
	.spine-actions-tabs li.opened button,
	.spine-actions-tabs li button,
	.spine-actions-tabs li.opened button:hover,
	.spine-social-channels .directory-channel a:hover,
	.spine-social-channels a,
	footer small a {
		color: $gray-light;
		}
	.spine-sitenav ul li,
	.spine-global-links {
		border-color: $gray-lighter;
		}
	.spine-search-tab.opened button,
	.spine-search-tab.opened button:hover {
		color: $gray-darker;
		}
	.spine-offsitenav a,
	.spine-global-links a {
		color: $gray;
		}
	.spine-actions-tabs button:hover,
	.spine-sitenav a,
	.spine-offsitenav a:hover,
	.spine-global-links a:hover {
		color: $gray-dark;
		} 
	.spine-sitenav a:hover,
	.spine-sitenav li.dogeared > a {
		color: $crimson;
		}
	.spine-actions-tabs li.opened,
	.spine-actions-tabs li.opened:hover,
	.spine-actions section {
		background-color: white;
		}
	
	}

/* LIGHTER #b5babe, rgb(181 186 190) */

&.lighter {

	background-color: $gray-lighter;
	
	&.bleed:before {
		background-color: $gray-lighter;
		}
	nav.spine-sitenav a,
	nav.spine-offsitenav a:hover {
		color: $gray-darker;
		}
	.spine-actions-tabs li.opened button,
	.spine-actions-tabs button,
	.spine-actions-tabs li.opened button:hover,
	.spine-social-channels .directory-channel a:hover,
	.spine-social-channels a,
	footer small a {
		color: $gray-light;
		}
	.spine-sitenav ul li,
	.spine-global-links {
		border-color: $gray-light;
		}
	.spine-search-tab.opened button,
	.spine-search-tab.opened button:hover {
		color: $gray-darkest;
		}
	.spine-offsitenav a,
	.spine-global-links a {
		color: $gray-dark;
		}
	.spine-actions-tabs button:hover,
	.spine-sitenav a,
	.spine-offsitenav a:hover,
	.spine-global-links a:hover {
		color: $gray-darkest;
		} 
	.spine-sitenav a:hover,
	.spine-sitenav li.dogeared > a {
		color: $crimson;
		}
	
	}

/* LIGHT #8b9399, rgb(139,147,153) */

&.light {

	background-color: $gray-light;
	
	&.bleed:before {
		background-color: $gray-light;
		}
	#wsu-signature {
		background-image: url('//repo.wsu.edu/spine/1/marks/wsu-signature-vertical-lighter.svg');
		}
	&:not(.homeless) .spine-sitenav > ul > li:first-child a {
		background-image: url('//repo.wsu.edu/spine/1/icons/home-gray-lightest.svg');
		}
	&:not(.homeless) .spine-sitenav > ul > li:first-child a:before,
	&:not(.homeless) .spine-sitenav > ul > li:first-child a:hover {
		background-image: url('//repo.wsu.edu/spine/1/icons/home-white.svg');
		}
	nav.spine-sitenav a,
	nav.spine-offsitenav a:hover {
		color: $gray-lightest;
		}
	.spine-actions li.opened button,
	.spine-actions li button,
	.spine-actions li.opened button:hover,
	.spine-social-channels a,
	footer small a {
		color: $gray-lighter;
		}
	.spine-sitenav ul li,
	.spine-global-links {
		border-color: $gray-lighter;
		}
	.spine-search-tab.opened button,
	.spine-search-tab.opened button:hover {
		color: $gray-darker;
		}
	.spine-offsitenav a,
	.spine-global-links a {
		color: $gray-lightly;
		}
	.spine-actions-tabs button:hover,
	.spine-offsitenav a:hover,
	.spine-global-links a:hover {
		color: $gray-lightest;
		} 
	.spine-sitenav a:hover,
	.spine-sitenav li.dogeared > a {
		color: white;
		}
	
	}

/* GRAY #5e6a71, rgb(94,106,113) */


&.gray {

	background: $gray;
	
	&.bleed:before {
		background: $gray;
		}
	#wsu-signature {
		background-image: url('//repo.wsu.edu/spine/1/marks/wsu-signature-vertical-lighter.svg');
		}
	&:not(.homeless) .spine-sitenav > ul > li:first-child a {
		background-image: url('//repo.wsu.edu/spine/1/icons/home-gray-lightest.svg');
		}
	&:not(.homeless) .spine-sitenav > ul > li:first-child a:before,
	&:not(.homeless) .spine-sitenav > ul > li:first-child a:hover {
		background-image: url('//repo.wsu.edu/spine/1/icons/home-white.svg');
		}
	.spine-sitenav a,
	.spine-offsitenav a:hover {
		color: $gray-lightly;
		}
	.spine-actions li.opened button,
	.spine-actions li button,
	.spine-actions li.opened button:hover,
	.spine-social-channels a,
	footer small a {
		color: darken($gray-dark, 2%);
		}
	.spine-sitenav ul li,
	.spine-global-links {
		border-color: $gray-dark;
		}
	.spine-search-tab.opened button,
	.spine-search-tab.opened button:hover {
		color: $gray-darker;
		}
	.spine-offsitenav a,
	.spine-global-links a {
		color: $gray-lighter;
		}
	.spine-actions-tabs button:hover,
	.spine-offsitenav a:hover,
	.spine-global-links a:hover {
		color: $gray-lightly;
		} 
	li.facebook-channel a:hover {
		color: $facebook-lightblue;
		}
	.spine-sitenav a:hover,
	.spine-sitenav li.dogeared > a {
		color: white;
		}
	
	}

/* GRAY-DARK #383D42, rgb(75,85,90) */

&.dark {

	background-color: $gray-dark;
	
	&.bleed:before {
		background-color: $gray-dark;
		}
	#wsu-signature {
		background-image: url('//repo.wsu.edu/spine/1/marks/wsu-signature-vertical-lighter.svg');
		}
	.dark:not(.homeless) .spine-sitenav > ul > li:first-child a {
		background-image: url('//repo.wsu.edu/spine/1/icons/home-gray-lightest.svg');
		}
	.dark:not(.homeless) .spine-sitenav > ul > li:first-child a:before,
	.dark:not(.homeless) .spine-sitenav > ul > li:first-child a:hover {
		background-image: url('//repo.wsu.edu/spine/1/icons/home-white.svg');
		}
	nav.spine-sitenav a,
	nav.spine-offsitenav a:hover {
		color: $gray-lightly;
		}
	.spine-actions li.opened button,
	.spine-actions li button,
	.spine-actions li.opened button:hover,
	.spine-social-channels a,
	footer small a {
		color: $gray-light;
		}
	.spine-sitenav ul li,
	.spine-global-links {
		border-color: $gray;
		}
	.spine-search-tab.opened button,
	.spine-search-tab.opened button:hover {
		color: $gray-darker;
		}
	.spine-offsitenav a,
	.spine-global-links a {
		color: $gray-light;
		}
	.spine-actions-tabs button:hover,
	.dark .spine-sitenav a,
	.spine-offsitenav a:hover,
	.spine-global-links a:hover,
	.spine-social-channels li[class*="-channel"] a:hover {
		color: $gray-lightly;
		}
	
	.spine-sitenav a:hover,
	.spine-sitenav li.dogeared > a {
		color: white;
		}
	
	}

/* GRAY-DARKER #2a3033, rgb(42 48 51) */


&.darker {

	background-color: darken($gray-darker, 3%);
	
	&.bleed:before {
		background-color: darken($gray-darker, 3%);
		}
	&:not(.homeless) .spine-sitenav > ul > li:first-child a {
		background-image: url('//repo.wsu.edu/spine/1/icons/home-gray-lighter.svg');
		}
	&:not(.homeless) .spine-sitenav > ul > li:first-child a:before,
	&:not(.homeless) .spine-sitenav > ul > li:first-child a:hover {
		background-image: url('//repo.wsu.edu/spine/1/icons/home-white.svg');
		}
	.spine-sitenav a,
	.spine-offsitenav a:hover {
		color: $gray-lighter;
		}
	.spine-actions li.opened button,
	.spine-actions li button,
	.spine-actions li.opened button:hover,
	.spine-social-channels a,
	footer small a {
		color: $gray;
		}
	.spine-sitenav ul li,
	.spine-global-links {
		border-color: $gray-dark;
		}
	.spine-search-tab.opened button,
	.spine-search-tab.opened button:hover {
		color: $gray-darker;
		}
	.spine-offsitenav a,
	.spine-global-links a {
		color: $gray-light;
		}
	.spine-actions-tabs button:hover,
	.spine-sitenav a,
	.spine-offsitenav a:hover,
	.spine-global-links a:hover{
		color: $gray-lightly;
		}
	.spine-sitenav a:hover,
	.spine-sitenav li.dogeared > a {
		color: white;
		}
	
	}

/* GRAY-DARKEST #000, rgb 0,0,0 */

&.darkest {
	
	background-color: $gray-darkest;
	
	&.bleed:before {
		background-color: $gray-darkest;
		}
	&:not(.homeless) .spine-sitenav > ul > li:first-child a {
		background-image: url('//repo.wsu.edu/spine/1/icons/home-gray-lighter.svg');
		}
	&:not(.homeless) .spine-sitenav > ul > li:first-child a:before,
	&:not(.homeless) .spine-sitenav > ul > li:first-child a:hover {
		background-image: url('//repo.wsu.edu/spine/1/icons/home-white.svg');
		}
	nav.spine-sitenav a,
	nav.spine-offsitenav a:hover {
		color: $gray-lighter;
		}
	.spine-actions li.opened button,
	.spine-actions li button,
	.spine-actions li.opened button:hover,
	.spine-social-channels a,
	footer small a {
		color: $gray;
		}
	.spine-sitenav ul li,
	.spine-global-links {
		border-color: $gray-dark;
		}
	.spine-search-tab.opened button,
	.spine-search-tab.opened button:hover {
		color: $gray-darker;
		}
	.spine-offsitenav a,
	.spine-global-links a {
		color: $gray-light;
		}
	.spine-actions-tabs button:hover,
	.spine-sitenav a,
	.spine-offsitenav a:hover,
	.spine-global-links a:hover{
		color: $gray-lightly;
		}
	.spine-sitenav a:hover,
	.spine-sitenav li.dogeared > a {
		color: $crimson;
		}
	
	}

/* CRIMSON #981e32 */	

&.crimson {

	background-color: $crimson;
	
	&.bleed:before {
		background-color: $crimson;
		}
	#wsu-signature {
		background-image: url('//repo.wsu.edu/spine/1/marks/wsu-signature-vertical-lightest.svg');
		}
	&:not(.homeless) .spine-sitenav > ul > li:first-child a {
		background-image: url('//repo.wsu.edu/spine/1/icons/home-gray-lighter.svg');
		}
	&:not(.homeless) .spine-sitenav > ul > li:first-child a:before,
	&:not(.homeless) .spine-sitenav > ul > li:first-child a:hover {
		background-image: url('//repo.wsu.edu/spine/1/icons/home-white.svg');
		}
	nav.spine-sitenav a {
		color: $gray-lighter;
		}
	.spine-actions li.opened button,
	.spine-actions li button,
	.spine-actions li.opened button:hover,
	.spine-social-channels a,
	footer small a {
		color: $crimson-darkest;
		}
	.spine-sitenav ul li,
	.spine-global-links {
		border-color: $crimson-dark;
		}
	.spine-offsitenav a,
	.spine-global-links a {
		color: $crimson-darkest;
		}
	.spine-actions-tabs button:hover,
	.spine-offsitenav a:hover,
	.spine-global-links a:hover,
	.spine-social-channels li[class*="-channel"] a:hover {
		color: black;
		}
	.spine-sitenav a:hover,
	.spine-sitenav li.dogeared > a {
		color: white;
		}
	
	}
	
	}

/* Transparent */
#spine.velum, #spine.velum.bleed:before {
	background: rgba(255,255,255,0.8);
	}
.size-lt-large #spine.velum header, 
.size-lt-large #spine.velum.bleed:before {
	background: rgba(255,255,255,0.9);
	}

/* Campus Signature Versions */

@each $campus in $campuses {
    .#{$campus}-signature #spine #wsu-signature { background-image: url('//repo.wsu.edu/spine/1/marks/wsu-#{$campus}-signature-vertical.svg'); }
	}
	
@each $campus in $campuses {
    $i:1; @while $i < 5 {
	    .#{$campus}-signature #spine.#{nth($lightest-signature-classes,$i)} #wsu-signature {
	    	background-image: url('//repo.wsu.edu/spine/1/marks/wsu-#{$campus}-signature-vertical-lightest.svg');
	    	}
		$i: $i+1;
		}
	}

