
$counter: (
	01: one,
	02: two,
	03: three,
	04: four,
	05: five,
	06: six,
	07: seven,
	08: eight,
	09: nine,
	10: ten,
	11: eleven,
	12: twelve,
	13: thirteen,
	14: fourteen,
	15: fifteen,
	16: sixteen,
	17: seventeen,
	18: eighteen,
	19: nineteen,
	20: twenty,
	21: twentyone,
	22: twentytwo,
	23: twentythree,
	24: twentyfour
);

// Breaks
$breaks: (
	594: 'small',
	792: 'medium',
	990: 'large',
	1188: 'max-1188',
	1386: 'max-1386',
	1584: 'max-1584',
	1782: 'max-1782',
	1980: 'max-1980'
);

$sizes: (
	594: 'small',
	791: 'smallish',
	792: 'medium',
	990: 'large',
	1188: 'max-1188',
	1386: 'max-1386',
	1584: 'max-1584',
	1782: 'max-1782',
	1980: 'max-1980'
);

// Spacing
$spacing-default: 2rem;
$spacing-wide: $spacing-default * 2;
$spacing-tall: $spacing-default * 2;
$spacing-narrow: $spacing-default / 2;
$spacing-short: $spacing-default / 2;

// Campuses
$pullman: pullman;
$spokane: spokane;
$vancouver: vancouver;
$tricities: tricities;
$globalcampus: globalcampus;
$extension: extension;
$hs: healthsciences;
$hss: healthsciences-spokane;

// Locales
$everett: everett;

// Miscellaneous
$campaign: campaign; /* Stretching the definition of campus. New term? */
$foundation: foundation;

$campuses: $pullman,$spokane,$vancouver,$tricities,$globalcampus,$extension,$hs,$hss;

// Pullman is not included in this list, as the default mark is used.
$signatures: $spokane,$vancouver,$tricities,$globalcampus,$extension,$hs,$hss,$foundation,$campaign;

// Typography
@mixin serif {
	font-family: "Palatino Linotype", Palatino, "Book Antiqua", Georgia, serif;
}

@mixin sans {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

// locality acts as a base URL for assets. This must be updated when tagging a new release.
// HTTPS is forced to avoid issues with file:// and because we're better off planning ahead.
$locality: 'https://repo.wsu.edu/spine/1.4.4';
// font_domain accomplishes the same thing, but does not force HTTPS to avoid CORs issues when
// a page is displayed via HTTP
$font_domain: '//repo.wsu.edu/spine/1.4.4';

// Signature rules:
// - The default display, which also covers lighter, darker, and darkest is standard vertical.
// - For light, gray, dark, and crimson, the white vertical mark is default.
// - When the Spine is mobile, or cropped and in a skimmed state, horizontal marks are used.
// - When the print script is used, horizontal marks are used.
// - In the past, the vertical mark was loaded in a fixed layout between 694px and 791px. (?)
@mixin signatures() {
	// Covers default, lighter, darker, darkest.
	#wsu-signature {
		background-image: url("#{$locality}/marks/wsu-signature-vertical.svg");
	}

	.darker #wsu-signature {
		background-image: url("#{$locality}/marks/wsu-signature-vertical-darker.svg");
	}

	.light #wsu-signature,
	.gray #wsu-signature,
	.dark #wsu-signature,
	.darkest #wsu-signature,
	.crimson #wsu-signature {
		background-image: url("#{$locality}/marks/wsu-signature-vertical-white.svg");
	}

	// Covers mobile default and the skimmed view of a cropped spine.
	.spine-mobile #wsu-signature,
	.print #wsu-signature,
	#spine.cropped.skimmed #wsu-signature {
		background-image: url("#{$locality}/marks/wsu-signature-horizontal.svg");
	}

	.spine-mobile .darker #wsu-signature,
	.print .darker #wsu-signature,
	#spine.cropped.skimmed.darker #wsu-signature {
		background-image: url("#{$locality}/marks/wsu-signature-horizontal-darker.svg");
	}

	.spine-mobile .light #wsu-signature,
	.spine-mobile .gray #wsu-signature,
	.spine-mobile .dark #wsu-signature,
	.spine-mobile .darkest #wsu-signature,
	.spine-mobile .crimson #wsu-signature,
	.print .light #wsu-signature,
	.print .gray #wsu-signature,
	.print .dark #wsu-signature,
	.print .darkest #wsu-signature,
	.print .crimson #wsu-signature,
	#spine.cropped.skimmed.light #wsu-signature,
	#spine.cropped.skimmed.gray #wsu-signature,
	#spine.cropped.skimmed.dark #wsu-signature,
	#spine.cropped.skimmed.darkest #wsu-signature,
	#spine.cropped.skimmed.crimson #wsu-signature {
		background-image: url("#{$locality}/marks/wsu-signature-horizontal-white.svg");
	}

	@each $signature in $signatures {
		// Covers default, lighter, darker, darkest.
		.#{$signature}-signature #wsu-signature {
			background-image: url("#{$locality}/marks/wsu-#{$signature}-signature-vertical.svg");
		}

		.#{$signature}-signature .darker #wsu-signature {
			background-image: url("#{$locality}/marks/wsu-#{$signature}-signature-vertical-darker.svg");
		}

		.#{$signature}-signature .light #wsu-signature,
		.#{$signature}-signature .gray #wsu-signature,
		.#{$signature}-signature .dark #wsu-signature,
		.#{$signature}-signature .darkest #wsu-signature,
		.#{$signature}-signature .crimson #wsu-signature {
			background-image: url("#{$locality}/marks/wsu-#{$signature}-signature-vertical-white.svg");
		}

		// Covers mobile default and the skimmed view of a cropped spine.
		// Account for the signature class assigned to `html`.
		.spine-mobile.#{$signature}-signature #wsu-signature,
		.print.#{$signature}-signature #wsu-signature,
		// Account for the signature class assigned between `html` and `#spine`.
		.spine-mobile .#{$signature}-signature #wsu-signature,
		.print .#{$signature}-signature #wsu-signature,
		// Account for the cropped skimmed mark.
		.#{$signature}-signature  #spine.cropped.skimmed #wsu-signature {
			background-image: url("#{$locality}/marks/wsu-#{$signature}-signature-horizontal.svg");
		}

		// Covers mobile default and the skimmed view of a cropped spine.
		// Account for the signature class assigned to `html`.
		.spine-mobile.#{$signature}-signature .darker #wsu-signature,
		.print.#{$signature}-signature .darker #wsu-signature,
		// Account for the signature class assigned between `html` and `#spine`.
		.spine-mobile .#{$signature}-signature .darker #wsu-signature,
		.print .#{$signature}-signature .darker #wsu-signature,
		// Account for the cropped skimmed mark.
		.#{$signature}-signature  #spine.cropped.skimmed.darker #wsu-signature {
			background-image: url("#{$locality}/marks/wsu-#{$signature}-signature-horizontal-darker.svg");
		}

		// A horizontal mark should be used on mobile and cropped skimmed views.
		//
		// Account for the signature class assigned to `html`.
		.spine-mobile.#{$signature}-signature .light #wsu-signature,
		.spine-mobile.#{$signature}-signature .gray #wsu-signature,
		.spine-mobile.#{$signature}-signature .dark #wsu-signature,
		.spine-mobile.#{$signature}-signature .darkest #wsu-signature,
		.spine-mobile.#{$signature}-signature .crimson #wsu-signature,
		.print.#{$signature}-signature .light #wsu-signature,
		.print.#{$signature}-signature .gray #wsu-signature,
		.print.#{$signature}-signature .dark #wsu-signature,
		.print.#{$signature}-signature .darkest #wsu-signature,
		.print.#{$signature}-signature .crimson #wsu-signature,
		// Account for the signature class assigned between `html` and `#spine`.
		.spine-mobile .#{$signature}-signature .light #wsu-signature,
		.spine-mobile .#{$signature}-signature .gray #wsu-signature,
		.spine-mobile .#{$signature}-signature .dark #wsu-signature,
		.spine-mobile .#{$signature}-signature .darkest #wsu-signature,
		.spine-mobile .#{$signature}-signature .crimson #wsu-signature,
		.print .#{$signature}-signature .light #wsu-signature,
		.print .#{$signature}-signature .gray #wsu-signature,
		.print .#{$signature}-signature .dark #wsu-signature,
		.print .#{$signature}-signature .darkest #wsu-signature,
		.print .#{$signature}-signature .crimson #wsu-signature,
		// Account for the signature class assigned anywhere above Spine for cropped views.
		.#{$signature}-signature #spine.cropped.skimmed.light #wsu-signature,
		.#{$signature}-signature #spine.cropped.skimmed.gray #wsu-signature,
		.#{$signature}-signature #spine.cropped.skimmed.dark #wsu-signature,
		.#{$signature}-signature #spine.cropped.skimmed.darkest #wsu-signature,
		.#{$signature}-signature #spine.cropped.skimmed.crimson #wsu-signature {
			background-image: url("#{$locality}/marks/wsu-#{$signature}-signature-horizontal-white.svg");
		}
	}

	html.lt-ie9 #wsu-signature {
		background-image: url("#{$locality}/marks/wsu-signature-horizontal.png");
	}
}

@mixin header-colors {
	#binder #spine {
		header,
		#scroll {
			background-color: #fff;
		}

		@each $spine-color, $color in $spine-colors {
			&.#{""+$spine-color} header,
			&.#{""+$spine-color} #scroll {
				background-color: $color;
			}
		}
	}
}
