
$counter: (
	01: one,
	02: two,
	03: three,
	04: four,
	05: five,
	06: six,
	07: seven,
	08: eight,
	09: nine,
	10: ten,
	11: eleven,
	12: twelve,
	13: thirteen,
	14: fourteen,
	15: fifteen,
	16: sixteen,
	17: seventeen,
	18: eighteen,
	19: nineteen,
	20: twenty,
	21: twentyone,
	22: twentytwo,
	23: twentythree,
	24: twentyfour
	);
	
// Breaks
$breaks: (
	594: 'small',
	792: 'medium',
	990: 'large',
	1188: 'max-1188',
	1386: 'max-1386',
	1584: 'max-1584',
	1782: 'max-1782',
	1980: 'max-1980'
	);
	
$sizes: (
	594: 'small',
	791: 'smallish',
	792: 'medium',
	990: 'large',
	1188: 'max-1188',
	1386: 'max-1386',
	1584: 'max-1584',
	1782: 'max-1782',
	1980: 'max-1980'
	);

// Spacing
$spacing-default: 2rem;
$spacing-wide: $spacing-default * 2;
$spacing-tall: $spacing-default * 2;
$spacing-narrow: $spacing-default / 2;
$spacing-short: $spacing-default / 2;

// Campuses
$pullman: pullman;
$spokane: spokane;
$vancouver: vancouver;
$tricities: tricities;
$globalcampus: globalcampus;
$extension: extension;

$campuses: $pullman,$spokane,$vancouver,$tricities,$globalcampus,$extension;

// Typography
@mixin serif {
	font-family: "Palatino Linotype", Palatino, "Book Antiqua", Georgia, serif;
	}
@mixin sans {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	}

// locality acts as a base URL for assets. This must be updated when tagging a new release.
// HTTPS is forced to avoid issues with file:// and because we're better of planning ahead.
$locality: 'https://repo.wsu.edu/spine/develop';
// font_domain accomplishes the same thing, but does not force HTTPS to avoid CORs issues when
// a page is displayed via HTTP
$font_domain: '//repo.wsu.edu/spine/develop';

@mixin signatures($directionality,$path) {

	@if $directionality == 'horizontal' {
		#xxwsu-signature {
			background-position: center 14px;
			background-size: auto 30px;
			height: 49px;
			}
		}

	@each $campus in $campuses {
		@if $campus == 'pullman' {
			#{$path} #wsu-signature {
		    	background-image: url('#{$locality}/marks/wsu-signature-#{$directionality}.svg');
		    	}
	    	}
		@else {
			.#{$campus}-signature #{$path} #wsu-signature {
	    		background-image: url('#{$locality}/marks/wsu-#{$campus}-signature-#{$directionality}.svg');
				}
			}
		}
	@each $campus in $campuses {
		@if $campus == 'pullman' {
			#{$path}.lighter #wsu-signature {
		    	background-image: url('#{$locality}/marks/wsu-signature-#{$directionality}-crimson-gray-graydarker.svg');
		    	}
	    	}
		@else {
	    	.#{$campus}-signature #{$path}.lighter #wsu-signature {
	    		background-image: url('#{$locality}/marks/wsu-#{$campus}-signature-#{$directionality}-crimson-gray-graydarker.svg');
				}
			}
		}
	@each $campus in $campuses {
		@if $campus == 'pullman' {
			#{$path}.light #wsu-signature {
		    	background-image: url('#{$locality}/marks/wsu-signature-#{$directionality}-crimson-gray-white.svg');
		    	}
	    	}
		@else {
	    	.#{$campus}-signature #{$path}.light #wsu-signature {
	    		background-image: url('#{$locality}/marks/wsu-#{$campus}-signature-#{$directionality}-crimson-gray-white.svg');
				}
			}
		}
	@each $campus in $campuses {
		@if $campus == 'pullman' {
			#{$path}.gray #wsu-signature {
		    	background-image: url('#{$locality}/marks/wsu-signature-#{$directionality}-crimson-graydark-graylighter.svg');
		    	}
	    	}
		@else {
	    	.#{$campus}-signature #{$path}.gray #wsu-signature {
	    		background-image: url('#{$locality}/marks/wsu-#{$campus}-signature-#{$directionality}-crimson-graydark-graylighter.svg');
				}
			}
		}
	@each $campus in $campuses {
		@if $campus == 'pullman' {
			#{$path}.dark #wsu-signature {
		    	background-image: url('#{$locality}/marks/wsu-signature-#{$directionality}-crimson-7d868c-graylightly.svg');
		    	}
	    	}
		@else {
	    	.#{$campus}-signature #{$path}.dark #wsu-signature {
	    		background-image: url('#{$locality}/marks/wsu-#{$campus}-signature-#{$directionality}-crimson-7d868c-graylightly.svg');
				}
			}
		}
	@each $campus in $campuses {
		@if $campus == 'pullman' {
			#{$path} .darker #wsu-signature,
			#{$path} .darkest #wsu-signature {
		    	background-image: url('#{$locality}/marks/wsu-signature-#{$directionality}-crimson-gray-graylighter.svg');
		    	}
	    	}
		@else {
	    	.#{$campus}-signature #{$path}.darker #wsu-signature,
	    	.#{$campus}-signature #{$path}.darkest #wsu-signature {
	    		background-image: url('#{$locality}/marks/wsu-#{$campus}-signature-#{$directionality}-crimson-gray-graylighter.svg');
				}
			}
		}
	@each $campus in $campuses {
		@if $campus == 'pullman' {
			#{$path}.crimson #wsu-signature {
		    	background-image: url('#{$locality}/marks/wsu-signature-#{$directionality}-white-graylightly-white.svg');
		    	}
	    	}
		@else {
	    	.#{$campus}-signature #{$path}.crimson #wsu-signature {
	    		background-image: url('#{$locality}/marks/wsu-#{$campus}-signature-#{$directionality}-white-graylightly-white.svg');
				}
			}
		}

	html.lt-ie9 #{$path} #wsu-signature {
		background-image: url('#{$locality}/marks/wsu-signature-#{$directionality}.png');
		}

	}
	
@mixin header-colors {
	
	#binder #spine {
		header { background-color: white; }
		@each $spine-color, $color in $spine-colors {
			&.#{$spine-color} header { background-color: $color; }
			}
		}
	}