
$counter: (
	01: one,
	02: two,
	03: three,
	04: four,
	05: five,
	06: six,
	07: seven,
	08: eight,
	09: nine,
	10: ten,
	11: eleven,
	12: twelve,
	13: thirteen,
	14: fourteen,
	15: fifteen,
	16: sixteen,
	17: seventeen,
	18: eighteen,
	19: nineteen,
	20: twenty,
	21: twentyone,
	22: twentytwo,
	23: twentythree,
	24: twentyfour
);

// Breaks
$breaks: (
	594: 'small',
	792: 'medium',
	990: 'large',
	1188: 'max-1188',
	1386: 'max-1386',
	1584: 'max-1584',
	1782: 'max-1782',
	1980: 'max-1980'
);

$sizes: (
	594: 'small',
	791: 'smallish',
	792: 'medium',
	990: 'large',
	1188: 'max-1188',
	1386: 'max-1386',
	1584: 'max-1584',
	1782: 'max-1782',
	1980: 'max-1980'
);

// Spacing
$spacing-default: 2rem;
$spacing-wide: $spacing-default * 2;
$spacing-tall: $spacing-default * 2;
$spacing-narrow: $spacing-default / 2;
$spacing-short: $spacing-default / 2;

// Campuses
$pullman: pullman;
$spokane: spokane;
$vancouver: vancouver;
$tricities: tricities;
$globalcampus: globalcampus;
$extension: extension;
$hs: healthsciences;
$hss: healthsciences-spokane;

// Locales
$everett: everett;

// Miscellaneous
$campaign: campaign; /* Stretching the definition of campus. New term? */
$foundation: foundation;

$campuses: $pullman,$spokane,$vancouver,$tricities,$globalcampus,$extension,$hs,$hss;
$signatures: $pullman,$spokane,$vancouver,$tricities,$globalcampus,$extension,$hs,$hss,$foundation,$campaign;

// Typography
@mixin serif {
	font-family: "Palatino Linotype", Palatino, "Book Antiqua", Georgia, serif;
}

@mixin sans {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

// locality acts as a base URL for assets. This must be updated when tagging a new release.
// HTTPS is forced to avoid issues with file:// and because we're better off planning ahead.
$locality: 'https://repo.wsu.edu/spine/develop';
// font_domain accomplishes the same thing, but does not force HTTPS to avoid CORs issues when
// a page is displayed via HTTP
$font_domain: '//repo.wsu.edu/spine/develop';

@mixin signatures($directionality,$path) {
	@each $signature in $signatures {
		@if $signature == 'pullman' {
			#{$path} #wsu-signature,
			#{$path}.lighter #wsu-signature,
			#{$path} .darker #wsu-signature,
			#{$path} .darkest #wsu-signature {
		    	background-image: url("#{$locality}/marks/wsu-signature-#{$directionality}.svg");
			}
		}
		@else {
			.#{$signature}-signature #{$path} #wsu-signature,
			.#{$signature}-signature #{$path}.lighter #wsu-signature,
			.#{$signature}-signature #{$path}.darker #wsu-signature,
			.#{$signature}-signature #{$path}.darkest #wsu-signature {
	    		background-image: url("#{$locality}/marks/wsu-#{$signature}-signature-#{$directionality}.svg");
			}
		}
	}

	@each $signature in $signatures {
		@if $signature == 'pullman' {
			#{$path}.light #wsu-signature,
			#{$path}.gray #wsu-signature,
			#{$path}.dark #wsu-signature,
			#{$path}.crimson #wsu-signature {
		    	background-image: url("#{$locality}/marks/wsu-signature-#{$directionality}-white.svg");
			}
		}
		@else {
			.#{$signature}-signature #{$path}.light #wsu-signature,
			.#{$signature}-signature #{$path}.gray #wsu-signature,
			.#{$signature}-signature #{$path}.dark #wsu-signature,
			.#{$signature}-signature #{$path}.crimson #wsu-signature {
	    		background-image: url("#{$locality}/marks/wsu-#{$signature}-signature-#{$directionality}-white.svg");
			}
		}
	}

	html.lt-ie9 #{$path} #wsu-signature {
		background-image: url("#{$locality}/marks/wsu-signature-#{$directionality}.png");
	}
}

@mixin header-colors {
	#binder #spine {
		header,
		#scroll {
			background-color: white;
		}

		@each $spine-color, $color in $spine-colors {
			&.#{""+$spine-color} header,
			&.#{""+$spine-color} #scroll {
				background-color: $color;
			}
		}
	}
}