// WSU COLORS

$crimson: #981e32;
	$crimson-er: #c60c30;
	$crimson-dark: #6b1523;
	$crimson-darkest: #490e18;
	
$gray: #5E6A71;
	$gray-er: white;
	$gray-light: #8d959a;
	$gray-lighter: #b5babe;
	$gray-lightly: #d7dadb;
	$gray-lightest: #eff0f1;
	$gray-dark: #464e54;
	$gray-darker: #2a3033;
	$gray-darkest: black;

$orange: #b67233;
	$orange-er: white;
	$orange-light: #8d959a;
	$orange-lighter: #b5babe;
	$orange-lightly: #d7dadb;
	$orange-lightest: #eff0f1;
	$orange-dark: #464e54;
	$orange-darker: #2a3033;
	$orange-darkest: black;
	
$green: #8f7e35;
	$green-er: white;
	$green-light: #8d959a;
	$green-lighter: #b5babe;
	$green-lightly: #d7dadb;
	$green-lightest: #eff0f1;
	$green-dark: #464e54;
	$green-darker: #2a3033;
	$green-darkest: black;
	
$blue: #4f868e;
	$blue-er: white;
	$blue-light: #8d959a;
	$blue-lighter: #b5babe;
	$blue-lightly: #d7dadb;
	$blue-lightest: #eff0f1;
	$blue-dark: #464e54;
	$blue-darker: #2a3033;
	$blue-darkest: black;
	
$yellow: #c69214;
	$yellow-er: white;
	$yellow-light: #8d959a;
	$yellow-lighter: #b5babe;
	$yellow-lightly: #d7dadb;
	$yellow-lightest: #eff0f1;
	$yellow-dark: #464e54;
	$yellow-darker: #2a3033;
	$yellow-darkest: black;
	
$transparent: rgba(255,255,255,.8);
	$transparent-er: rgba(255,255,255,.5);
	
// Spine Colors

$spine-colors: (
	lightest: $gray-lightest,
	lightly: $gray-lightly,
	lighter: $gray-lighter,
	light: $gray-light,
	gray: $gray,
	dark: $gray-dark,
	darker: darken($gray-darker,3%),
	darkest: $gray-darkest,
	crimson: $crimson
	);

// Spine Transparency
@mixin vellum($color) {
	$transparencies: ('05':.05, '10':.10, '15':.15, '20':.2, '25':.25);
	@each $transparency, $percent in $transparencies {
		&.vellum-#{$transparency} {
			background-color: transparentize($color,$percent);
			}
		&.vellum-#{$transparency}.bleed:before {
			background-color: transparentize($color,$percent);
			}
		}
	}
	
// Social Channel Colors
$facebook-blue: #3B5998;
$facebook-light: #D3D8E8;
$twitter-blue: #55acee;
$twitter-light: #e1e8ed;
$youtube-red: #cc181e;
$linkedin-blue: #007bb6;
$pinterest-red: #cb2027;
$gplus-orange: #dd4b39;
$flickr-pink: #ff0084;
$tumblr-blue: #34526f;
$reddit-orange: #ff4500;