
// Campuses
$spokane: spokane;
$vancouver: vancouver;
$tricities: tricities;
$globalcampus: globalcampus;
$extension: extension;
$healthsciences: healthsciences;
$foundation: foundation;

$campuses: $spokane,$vancouver,$tricities,$globalcampus,$extension,$healthsciences,$foundation;
