{% if page_var.mainheader -%}
	{% include "preprocess/blocks/main-header.html" -%}
{% endif -%}

{% if page.title -%}
	<header class="guttered padded-ends short">
		<h1> {{ page.title }} </h1>
	</header>
{% endif -%}

{% if page_var.columns or page_var.spacing -%}
	{% include "preprocess/blocks/switches.html" -%}
{% endif -%}

{% if page_var.content -%}
	{% include "preprocess/content/content.html" -%}
{% endif -%}
{% if page_var.anchored -%}
	{% include "preprocess/content/anchored.html" -%}
{% endif -%}
{% if page_var.typography -%}
	{% include "preprocess/content/typography.html" -%}
{% endif -%}

{% if page_var.showLong -%}
	{% include "preprocess/content/content_long.html" -%}
{% endif -%}

{% if not page_var.columns and not page_var.spacing -%}
	{% include "preprocess/blocks/switches.html" -%}
{% endif -%}

{% if page_var.unbound -%}
	{% include "preprocess/content/unbound.html" -%}
{% endif -%}

{% if page_var.spacing -%}
	{% include "preprocess/content/spacing.html" -%}
{% endif -%}

{% if page_var.columns -%}
	{% include "preprocess/content/columns.html" -%}
{% endif -%}

{% if page_var.ui -%}
	{% include "preprocess/content/ui.html" -%}
{% endif -%}

{% if page_var.demo -%}
	{% include "preprocess/content/demo.html" -%}
{% endif -%}

{% if page_var.cropped -%}
	{% include "preprocess/blocks/looseleaf-footer.html" -%}
{% endif -%}