@charset "UTF-8";
#spine  {
	&.lightest {
		/* #### LIGHTEST #e6e8e9, rgb(230,232,233) */
		#glue:before {
			background-color: $gray-lightest;
		}

		@include vellum($gray-lightest);

		.spine-sitenav a,
		.spine-offsitenav a:hover,
		.spine-search-tab button {
			color: $gray-dark;
		}

		.spine-sitenav a:hover {
			color: $crimson;
		}

		.spine-actions-tabs li button,
		.spine-social-channels a,
		.spine-footer small a {
			color: $gray-lighter;
		}

		.spine-sitenav ul li,
		.spine-global-links {
			border-color: $gray-lightly;
		}

		.spine-offsitenav a,
		.spine-global-links a {
			color: lighten($gray-light,2%);
		}

		.spine-actions-tabs button:hover,
		.spine-offsitenav a:hover,
		.spine-global-links a:hover {
			color: $gray;
		}

		.spine-search-tab:not(.opened) button {
			color: $gray-light;
		}

		.spine-search-tab:not(.opened) button:hover {
			color: $gray;
		}

		.spine-actions-tabs li.opened,
		.spine-actions-tabs li.opened:hover,
		.spine-actions section {
			background-color: white;
		}
	}

	&.lightly {
		/* #### LIGHTLY #d7dadb, rgb(215 218 219) */
		#glue:before {
			background-color: $gray-lightly;
		}

		@include vellum($gray-lightly);

		.spine-actions-tabs button,
		.spine-social-channels a:hover,
		.spine-social-channels a,
		.spine-footer small a {
			color: $gray-lighter;
		}

		.spine-sitenav a,
		.spine-offsitenav a:hover {
			color: $gray-darker;
		}

		.spine-sitenav ul li,
		.spine-global-links {
			border-color: lighten($gray-lighter,2%);
		}

		.spine-offsitenav a,
		.spine-global-links a {
			color: $gray-light;
		}

		.spine-actions-tabs button:hover,
		.spine-sitenav a,
		.spine-offsitenav a:hover,
		.spine-global-links a:hover {
			color: $gray;
		}

		.spine-search-tab button {
			color: $gray-light;
		}

		.spine-search-tab button:hover {
			color: $gray;
		}

		.spine-sitenav a:hover,
		.spine-sitenav li.dogeared > a {
			color: $crimson;
		}
	}

	&.lighter {
		/* #### LIGHTER #b5babe, rgb(181 186 190) */
		#glue:before {
			background-color: $gray-lighter;
		}

		@include vellum($gray-lighter);

		.spine-actions-tabs .opened button,
		.spine-actions-tabs button,
		.spine-actions-tabs .opened button:hover,
		.spine-social-channels .directory-channel a:hover,
		.spine-social-channels a,
		.spine-footer small a {
			color: $gray-light;
		}

		.spine-sitenav a,
		.spine-offsitenav a:hover {
			color: $gray-darker;
		}

		.spine-sitenav ul li,
		.spine-global-links {
			border-color: $gray-light;
		}

		.spine-search-tab.opened button:hover {
			color: $gray-darkest;
		}

		.spine-offsitenav a,
		.spine-global-links a {
			color: $gray;
		}

		.spine-actions-tabs button:hover,
		.spine-sitenav a,
		.spine-offsitenav a:hover,
		.spine-global-links a:hover {
			color: $gray-darker;
		}

		.spine-search-tab button {
			color: lighten($gray-darker,25%); /* 3% */
		}

		.spine-search-tab button:hover {
			color: $gray-darkest;
		}

		.spine-sitenav a:hover,
		.spine-sitenav li.dogeared > a {
			color: $crimson;
		}
	}

	&.light {
		/* #### LIGHT #8b9399, rgb(139,147,153) */
		#glue:before {
			background-color: $gray-light;
		}

		@include vellum($gray-light);

		.spine-sitenav:not(.homeless) > ul > li:first-child a {
			background-image: url("#{$locality}/icons/home-gray-lightest.svg");
		}

		.spine-sitenav:not(.homeless) > ul > li:first-child a:before,
		.spine-sitenav:not(.homeless) > ul > li:first-child a:hover {
			background-image: url("#{$locality}/icons/home-white.svg");
		}

		.spine-actions .opened button,
		.spine-actions button,
		.spine-actions .opened button:hover,
		.spine-social-channels a,
		.spine-footer small a {
			color: $gray-lighter;
		}

		.spine-sitenav a,
		.spine-offsitenav a:hover {
			color: $gray-lightly;
		}

		.spine-sitenav ul li,
		.spine-global-links {
			border-color: $gray-lighter;
		}

		.spine-offsitenav a,
		.spine-global-links a {
			color: lighten($gray-lighter,2%);
		}

		.spine-actions-tabs button:hover,
		.spine-offsitenav a:hover,
		.spine-global-links a:hover {
			color: $gray-lightly;
		}

		.spine-search-tab:not(.opened) button {
			color: $gray-lightly;
		}

		.spine-search-tab:not(.opened) button:hover {
			color: $gray-lightest;
		}

		.spine-social-channels .twitter-channel a:hover {
			color: $twitter-light !important;
		}

		.spine-sitenav a:hover,
		.spine-sitenav li.dogeared > a {
			color: white;
		}
	}

	&.gray {
		/* #### GRAY #5e6a71, rgb(94,106,113) */
		#glue:before {
			background: $gray;
		}

		@include vellum($gray);

		.spine-sitenav:not(.homeless) > ul > li:first-child a {
			background-image: url("#{$locality}/icons/home-gray-lightest.svg");
		}

		.spine-sitenav:not(.homeless) > ul > li:first-child a:before,
		.spine-sitenav:not(.homeless) > ul > li:first-child a:hover {
			background-image: url("#{$locality}/icons/home-white.svg");
		}

		.spine-actions .opened button,
		.spine-actions button,
		.spine-actions .opened button:hover,
		.spine-social-channels a,
		.spine-footer small a {
			color: darken($gray-dark, 2%);
		}

		.spine-sitenav a,
		.spine-offsitenav a:hover,
		.spine-search-tab button {
			color: $gray-lightly;
		}

		.spine-sitenav ul li,
		.spine-global-links {
			border-color: $gray-dark;
		}

		.spine-offsitenav a {
			color: darken($gray-darker,4%);
		}

		.spine-global-links a {
			color: darken($gray-dark, 8%);
		}

		.spine-actions-tabs :not(.opened) button:hover,
		.spine-offsitenav a:hover,
		.spine-global-links a:hover {
			color: $gray-lightly;
		}

		.spine-search-tab button {
			color: $gray-darker;
		}

		.spine-search-tab button:hover {
			color: $gray-darkest;
		}

		.spine-social-channels .facebook-channel a:hover {
			color: $facebook-light !important;
		}

		.spine-sitenav a:hover,
		.spine-sitenav li.dogeared > a {
			color: white;
		}
	}

	&.dark {
		/* #### GRAY-DARK #383D42, rgb(75,85,90) */
		#glue:before {
			background-color: $gray-dark;
		}

		@include vellum($gray-dark);

		.spine-sitenav:not(.homeless) > ul > li:first-child a {
			background-image: url("#{$locality}/icons/home-gray-lightest.svg");
		}

		.spine-sitenav:not(.homeless) > ul > li:first-child a:before,
		.spine-sitenav:not(.homeless) > ul > li:first-child a:hover {
			background-image: url("#{$locality}/icons/home-white.svg");
		}

		.spine-sitenav a,
		.spine-offsitenav a:hover {
			color: $gray-lightly;
		}

		.spine-actions .opened button,
		.spine-actions button,
		.spine-actions .opened button:hover,
		.spine-social-channels a,
		.spine-footer small a {
			color: darken($gray-light,6%);
		}

		.spine-sitenav ul li,
		.spine-global-links {
			border-color: $gray;
		}

		.spine-search-tab.opened button,
		.spine-search-tab.opened button:hover {
			color: $gray-darker;
		}

		.spine-offsitenav a,
		.spine-global-links a {
			color: $gray-light;
		}

		.spine-actions-tabs :not(.opened) button:hover,
		.spine-sitenav a,
		.spine-offsitenav a:hover,
		.spine-global-links a:hover {
			color: $gray-lightly;
		}

		.spine-social-channels li[class*="-channel"] a:hover {
			color: $gray-lightly !important;
		}

		.spine-search-tab button {
			color: darken($gray-lighter,4%);
		}

		.spine-search-tab button:hover {
			color: $gray-lightly;
		}

		.spine-sitenav a:hover,
		.spine-sitenav li.dogeared > a {
			color: white;
		}
	}

	&.darker {
		/* #### GRAY-DARKER #2a3033, rgb(42 48 51) */
		#glue:before {
			background-color: darken($gray-darker, 3%);
		}

		@include vellum(darken($gray-darker, 3%));

		.spine-sitenav:not(.homeless) > ul > li:first-child a {
			background-image: url("#{$locality}/icons/home-gray-lighter.svg");
		}

		.spine-sitenav:not(.homeless) > ul > li:first-child a:before,
		.spine-sitenav:not(.homeless) > ul > li:first-child a:hover {
			background-image: url("#{$locality}/icons/home-white.svg");
		}

		.spine-sitenav a,
		.spine-offsitenav a:hover {
			color: $gray-lighter;
		}

		.spine-actions .opened button,
		.spine-actions button,
		.spine-actions .opened button:hover,
		.spine-social-channels a,
		.spine-footer small a {
			color: $gray;
		}

		.spine-sitenav ul li,
		.spine-global-links {
			border-color: $gray-dark;
		}

		.spine-search-tab.opened button,
		.spine-search-tab.opened button:hover {
			color: $gray-darker;
		}

		.spine-offsitenav a,
		.spine-global-links a {
			color: lighten($gray, 3%);
		}

		.spine-actions-tabs :not(.opened) button:hover,
		.spine-sitenav a,
		.spine-offsitenav a:hover,
		.spine-global-links a:hover{
			color: $gray-lightly;
		}

		.spine-search-tab button {
			color: $gray-light;
		}

		.spine-search-tab button:hover {
			color: $gray-lighter;
		}

		.spine-sitenav a:hover,
		.spine-sitenav li.dogeared > a {
			color: white;
		}
	}

	&.darkest {
		/* #### GRAY-DARKEST #000, rgb 0,0,0 */
		#glue:before {
			background-color: $gray-darkest;
		}

		@include vellum($gray-darkest);

		.spine-sitenav:not(.homeless) > ul > li:first-child a {
			background-image: url("#{$locality}/icons/home-gray-lighter.svg");
		}

		.spine-sitenav:not(.homeless) > ul > li:first-child a:before,
		.spine-sitenav:not(.homeless) > ul > li:first-child a:hover {
			background-image: url("#{$locality}/icons/home-crimson.svg");
		}

		.spine-sitenav a,
		.spine-offsitenav a:hover {
			color: $gray-lighter;
		}

		.spine-actions button,
		.spine-social-channels a,
		.spine-footer small a {
			color: $gray;
		}

		.spine-sitenav ul li,
		.spine-global-links {
			border-color: $gray-dark;
		}

		.spine-offsitenav a,
		.spine-global-links a {
			color: $gray;
		}

		.spine-actions-tabs :not(.opened) button:hover,
		.spine-sitenav a,
		.spine-offsitenav a:hover,
		.spine-global-links a:hover{
			color: $gray-lightly;
		}

		.spine-search-tab:not(.opened) button {
			color: $gray-light;
		}

		.spine-search-tab:not(.opened) button:hover {
			color: $gray-lighter;
		}

		.spine-sitenav a:hover,
		.spine-sitenav li.dogeared > a {
			color: $crimson-er;
		}
	}

	&.crimson {
		/* #### CRIMSON #981e32 */
		#glue:before {
			background-color: $crimson;
		}

		@include vellum($crimson);

		.spine-sitenav:not(.homeless) > ul > li:first-child a {
			background-image: url("#{$locality}/icons/home-gray-lighter.svg");
		}

		.spine-sitenav:not(.homeless) > ul > li:first-child a:before,
		.spine-sitenav:not(.homeless) > ul > li:first-child a:hover {
			background-image: url("#{$locality}/icons/home-white.svg");
		}

		.spine-sitenav a {
			color: $gray-lighter;
		}

		.spine-actions-tabs button,
		.spine-social-channels a,
		.spine-footer small a {
			xcolor: black;
			color: $crimson-dark;
			color: darken($crimson-dark,4%);
		}

		.spine-sitenav ul li,
		.spine-global-links {
			border-color: $crimson-dark;
		}

		.spine-offsitenav a,
		.spine-global-links a {
			color: darken($crimson-darkest,6%);
			color: black;
		}

		.spine-actions-tabs :not(.opened) button:hover,
		.spine-offsitenav a:hover,
		.spine-global-links a:hover {
			color: black;
			color: $crimson-darkest;
		}

		.spine-social-channels li[class*="-channel"] a:hover {
			color: $crimson-darkest !important;
		}

		.spine-search-tab:not(.opened) button {
			color: darken($crimson-darkest,10%);
		}

		.spine-search-tab:not(.opened) button:hover {
			color: black;
		}

		.spine-sitenav a:hover,
		.spine-sitenav li.dogeared > a {
			color: white;
		}
	}
}