@charset "UTF-8";
#spine  {
	&.lightest {
		#glue:before {
			background-color: $gray-lightest;
		}

		@include vellum($gray-lightest);

		.spine-sitenav a,
		.spine-search-tab button {
			color: $gray-dark;
		}

		.spine-sitenav a:hover {
			color: $crimson;
		}

		.spine-actions-tabs li button,
		.spine-social-channels a,
		.spine-footer small a {
			color: $gray-lighter;
		}

		.spine-sitenav ul li,
		.spine-global-links {
			border-color: $gray-lightly;
		}

		.spine-offsitenav a,
		.spine-global-links a {
			color: lighten($gray-light,2%);
		}

		.spine-actions-tabs button:focus,
		.spine-actions-tabs button:hover,
		.spine-offsitenav a:hover,
		.spine-global-links a:hover {
			color: $gray;
		}

		.spine-search-tab:not(.opened) button {
			color: $gray-light;
		}

		.spine-search-tab:not(.opened) button:focus,
		.spine-search-tab:not(.opened) button:hover {
			color: $gray;
		}

		.spine-actions-tabs li.opened,
		.spine-actions-tabs li.opened:hover,
		.spine-actions section {
			background-color: #fff;
		}
	}

	&.lightly {
		#glue:before {
			background-color: $gray-lightly;
		}

		@include vellum($gray-lightly);

		.spine-actions-tabs button,
		.spine-social-channels a:hover,
		.spine-social-channels a,
		.spine-footer small a {
			color: $gray-lighter;
		}

		.spine-sitenav ul li,
		.spine-global-links {
			border-color: lighten($gray-lighter,2%);
		}

		.spine-offsitenav a,
		.spine-global-links a {
			color: $gray-light;
		}

		.spine-actions-tabs button:focus,
		.spine-actions-tabs button:hover,
		.spine-sitenav a,
		.spine-offsitenav a:hover,
		.spine-global-links a:hover {
			color: $gray;
		}

		.spine-search-tab button {
			color: $gray-light;
		}

		.spine-search-tab button:focus,
		.spine-search-tab button:hover {
			color: $gray;
		}

		.spine-sitenav a:hover,
		.spine-sitenav li.dogeared > a {
			color: $crimson;
		}
	}

	&.lighter {
		#glue:before {
			background-color: $gray-lighter;
		}

		@include vellum($gray-lighter);

		.spine-actions-tabs .opened button,
		.spine-actions-tabs button,
		.spine-actions-tabs .opened button:hover,
		.spine-social-channels .directory-channel a:hover,
		.spine-social-channels a,
		.spine-footer small a {
			color: $gray-light;
		}

		.spine-sitenav ul li,
		.spine-global-links {
			border-color: $gray-light;
		}

		.spine-search-tab.opened button:hover {
			color: $gray-darkest;
		}

		.spine-offsitenav a,
		.spine-global-links a {
			color: $gray;
		}

		.spine-actions-tabs button:focus,
		.spine-actions-tabs button:hover,
		.spine-sitenav a,
		.spine-offsitenav a:hover,
		.spine-global-links a:hover {
			color: $gray-darker;
		}

		.spine-search-tab button {
			color: lighten($gray-darker,25%); /* 3% */
		}

		.spine-search-tab button:focus,
		.spine-search-tab button:hover {
			color: $gray-darkest;
		}

		.spine-sitenav a:hover,
		.spine-sitenav li.dogeared > a {
			color: $crimson;
		}
	}

	&.light {
		#glue:before {
			background-color: $gray-light;
		}

		@include vellum($gray-light);

		.spine-actions .opened button,
		.spine-actions button,
		.spine-actions .opened button:hover,
		.spine-social-channels a,
		.spine-footer small a {
			color: $gray-lighter;
		}

		.spine-sitenav ul li,
		.spine-global-links {
			border-color: $gray-lighter;
		}

		.spine-offsitenav a,
		.spine-global-links a {
			color: lighten($gray-lighter,2%);
		}

		.spine-actions-tabs button:focus,
		.spine-actions-tabs button:hover,
		.spine-sitenav a,
		.spine-offsitenav a:hover,
		.spine-global-links a:hover {
			color: $gray-lightly;
		}

		.spine-search-tab:not(.opened) button {
			color: $gray-lightly;
		}

		.spine-search-tab:not(.opened) button:focus,
		.spine-search-tab:not(.opened) button:hover {
			color: $gray-lightest;
		}

		.spine-social-channels .twitter-channel a:hover {
			color: $twitter-light !important;
		}

		.spine-sitenav a:hover,
		.spine-sitenav li.dogeared > a {
			color: #fff;
		}
	}

	&.gray {
		#glue:before {
			background: $gray;
		}

		@include vellum($gray);

		.spine-actions .opened button,
		.spine-actions button,
		.spine-actions .opened button:hover,
		.spine-social-channels a,
		.spine-footer small a {
			color: darken($gray-dark, 2%);
		}

		.spine-sitenav ul li,
		.spine-global-links {
			border-color: $gray-dark;
		}

		.spine-offsitenav a {
			color: darken($gray-darker,4%);
		}

		.spine-global-links a {
			color: darken($gray-dark, 8%);
		}

		.spine-actions-tabs :not(.opened) button:focus,
		.spine-actions-tabs :not(.opened) button:hover,
		.spine-sitenav a,
		.spine-offsitenav a:hover,
		.spine-global-links a:hover {
			color: $gray-lightly;
		}

		.spine-search-tab button {
			color: $gray-darker;
		}

		.spine-search-tab button:hover {
			color: $gray-darkest;
		}

		.spine-social-channels .facebook-channel a:hover {
			color: $facebook-light !important;
		}

		.spine-sitenav a:hover,
		.spine-sitenav li.dogeared > a {
			color: #fff;
		}
	}

	&.dark {
		#glue:before {
			background-color: $gray-dark;
		}

		#shelve,
		#shelve:before,
		#shelve:after {
			color: $gray-lightly;
		}

		@include vellum($gray-dark);

		.spine-sitenav a,
		.spine-actions button,
		.spine-social-channels a,
		.spine-footer small a,
		.spine-offsitenav a,
		.spine-global-links a {
			color: $gray-lightly;
		}

		.spine-global-links a:focus,
		.spine-global-links a:hover,
		.spine-actions-tabs button:focus,
		.spine-actions-tabs button:hover,
		.spine-offsitenav a:focus,
		.spine-offsitenav a:hover,
		.spine-sitenav a:focus,
		.spine-sitenav a:hover,
		.spine-sitenav li.dogeared > a {
			color: #fff;
		}

		.spine-actions .opened button,
		.spine-actions .opened button:focus,
		.spine-actions .opened button:hover {
			color: $gray-darker;
		}

		.spine-sitenav ul li,
		.spine-global-links {
			border-color: rgba(255, 255, 255, .1);
		}
	}

	&.darker {
		#glue:before {
			background-color: darken($gray-darker, 3%);
		}

		#shelve,
		#shelve:before,
		#shelve:after {
			color: $gray-lightly;
		}

		@include vellum(darken($gray-darker, 3%));

		.spine-sitenav a,
		.spine-actions button,
		.spine-social-channels a,
		.spine-footer small a,
		.spine-offsitenav a,
		.spine-global-links a {
			color: $gray-lightly;
		}

		.spine-global-links a:focus,
		.spine-global-links a:hover,
		.spine-actions-tabs button:focus,
		.spine-actions-tabs button:hover,
		.spine-offsitenav a:focus,
		.spine-offsitenav a:hover,
		.spine-sitenav a:focus,
		.spine-sitenav a:hover,
		.spine-sitenav li.dogeared > a {
			color: #fff;
		}

		.spine-actions .opened button,
		.spine-actions .opened button:focus,
		.spine-actions .opened button:hover {
			color: $gray-darker;
		}

		.spine-sitenav ul li,
		.spine-global-links {
			border-color: rgba(255, 255, 255, .1);
		}
	}

	&.darkest {
		#glue:before {
			background-color: $gray-darkest;
		}

		@include vellum($gray-darkest);

		.spine-actions button,
		.spine-social-channels a,
		.spine-footer small a {
			color: $gray;
		}

		.spine-sitenav ul li,
		.spine-global-links {
			border-color: $gray-dark;
		}

		.spine-offsitenav a,
		.spine-global-links a {
			color: $gray;
		}

		.spine-search-tab:not(.opened) button:focus,
		.spine-search-tab:not(.opened) button:hover,
		.spine-actions-tabs :not(.opened) button:focus,
		.spine-actions-tabs :not(.opened) button:hover,
		.spine-sitenav a,
		.spine-offsitenav a:hover,
		.spine-global-links a:hover{
			color: $gray-lightly;
		}

		.spine-search-tab:not(.opened) button {
			color: $gray-light;
		}

		.spine-sitenav a:hover,
		.spine-sitenav li.dogeared > a {
			color: $crimson-er;
		}
	}

	&.crimson {
		#glue:before {
			background-color: $crimson;
		}

		#shelve,
		#shelve:before,
		#shelve:after {
			color: $gray-lightly;
		}

		@include vellum($crimson);

		.spine-sitenav a,
		.spine-global-links a,
		.spine-actions button,
		.spine-offsitenav a {
			color: $gray-lightly;
		}

		.spine-sitenav a:hover,
		.spine-sitenav li.dogeared > a,
		.spine-global-links a:hover,
		.spine-actions-tabs button:focus,
		.spine-actions-tabs button:hover,
		.spine-offsitenav a:focus,
		.spine-offsitenav a:hover {
			color: #fff;
		}

		.spine-actions .opened button,
		.spine-actions .opened button:focus,
		.spine-actions .opened button:hover {
			color: $gray-darker;
		}

		.spine-social-channels a,
		.spine-footer small a {
			color: $crimson-dark;
			color: darken($crimson-dark,4%);
		}

		.spine-sitenav ul li,
		.spine-global-links {
			border-color: #81192a;
		}

		.spine-social-channels li[class*="-channel"] a:hover {
			color: $crimson-darkest !important;
		}
	}
}
