/* WSU COLORS
-------------------------------------------------------- */

/* CRIMSON */ .crimson-back { background-color: #981e32; } .crimson-text { color: #981e32; }
/* crimsoner */ .crimson-er-back { background-color: #cf0a2f; } .crimson-er-text { color: #cf0a2f; }

/* GRAY */ .gray-back { background-color: #5E6A71; } .gray-text { color: #5E6A71; }
/* grayer */ .gray-er-back, .er-back, .white-back { background-color: white; } .gray-er-text, .er-text, .white-text { color: white; }
/* light */ .gray-light-back, .light-back { background-color: #8d959a; } .gray-light-text, .light-text { color: #8d959a; }
/* lighter */ .gray-lighter-back, .lighter-back { background-color: #b5babe; } .gray-lighter-text, .lighter-text { color: #b5babe; }
/* lightly */ .gray-lightly-back, .lightly-back { background-color: #d7dad8; } .gray-lightly-text, .lightly-text { color: #d7dad8; }
/* lightest */ .gray-lightest-back, .lightest-back { background-color: #eff0f1; } .gray-lightest-text, .lightest-text, .white-text { color: white; }
/* dark */ .gray-dark-back, .dark-back { background-color: #464e54; } .gray-dark-text, .dark-text { color: #464e54; }
/* darker */ .gray-darker-back, .darker-back { background-color: #2a3033; } .gray-darker-text, .darker-text { color: #2a3033; }
/* darkest */ .gray-darkest-back, .darkest-back, .black-back { background-color: black; } .gray-darkest-text, .darkest-text, .black-text { color: black; }

/* ORANGE */ .orange-back { background-color: #b67233; } .orange-text { color: #b46f2d; }
/* orange-er */ .orange-er-back { background-color: #d38235; } .orange-er-text { color: #d38235; }
/* light */ .orange-light-back { background-color: #cb986e; } .orange-light-text { color: #cb986e; }
/* lighter */ .orange-lighter-back { background-color: #ddbea1; } .orange-lighter-text { color: #ddbea1; }
/* lightly */ .orange-lightly-back { background-color: #eddccc; } .orange-lightly-text { color: #eddccc; }
/* lightest */ .orange-lightest-back  { background-color: #f8f1eb; } .orange-lightest-text  { color: #f8f1eb; }
/* dark */ .orange-dark-back { background-color: #925829; } .orange-dark-text { color: #925829; }
/* darker */ .orange-darker-back { background-color: #6d441f; } .orange-darker-text { color: #6d441f; }
/* darkest */ .orange-darkest-back { background-color: #492e14; } .orange-darkest-text { color: #492e14; }

/* GREEN */ .green-back { background-color: #8f7e35; } .green-text { color: #878247; }
/* greener */ .green-er-back { background-color: #ada400; } .green-er-text { color: #ada400; }
/* light */ .green-light-back { background-color: #afa370; } .green-light-text { color: #afa370; }
/* lighter */ .green-lighter-back { background-color: #cbc4a2; } .green-lighter-text { color: #cbc4a2; }
/* lightly */ .green-lightly-back { background-color: #e3dfcd; } .green-lightly-text { color: #e3dfcd; }
/* lightest */ .green-lightest-back { background-color: #f4f2eb; } .green-lightest-text { color: #f4f2eb; }
/* dark */ .green-dark-back { background-color: #72652a; } .green-dark-text { color: #72652a; }
/* darker */ .green-darker-back { background-color: #564c20; } .green-darker-text { color: #564c20; }
/* darkest */ .green-darkest-back { background-color: #393215; } .green-darkest-text { color: #393215; }

/* BLUE */ .blue-back { background-color: #4f868e; } .blue-text { color: #568a90; }
/* bluer */ .blue-er-back { background-color: #00a5bd; } .blue-er-text { color: #00a5bd; }
/* light */ .blue-light-back { background-color: #76adb3; } .blue-light-text { color: #76adb3; }
/* lighter */ .blue-lighter-back { background-color: #a6cace; } .blue-lighter-text { color: #a6cace; }
/* lightly */ .blue-lightly-back { background-color: #cfe2e4; } .blue-lightly-text { color: #cfe2e4; }
/* lightest */ .blue-lightest-back { background-color: #ecf3f4; } .blue-lightest-text { color: #ecf3f4; }
/* dark */ .blue-dark-back { background-color: #326f76; } .blue-dark-text { color: #326f76; }
/* darker */ .blue-darker-back { background-color: #255359; } .blue-darker-text { color: #255359; }
/* darkest */ .blue-darkest-back { background-color: #193838; } .blue-darkest-text { color: #193838; }

/* YELLOW */ .yellow-back { background-color: #c69214; } .yellow-text { color: #c6a960; }
/* yellower */ .yellow-er-back { background-color: #ffb81c; } .yellow-er-text { color: #ffb81c; }
/* light */ .yellow-light-back { background-color: #d7b258; } .yellow-light-text { color: #d7b258; }
/* lighter */ .yellow-lighter-back { background-color: #e5cd93; } .yellow-lighter-text { color: #e5cd93; }
/* lightly */ .yellow-lightly-back { background-color: #f1e4c4; } .yellow-lightly-text { color: #f1e4c4; }
/* lightest */ .yellow-lightest-back { background-color: #f9f4e7; } .yellow-lightest-text { color: #f9f4e7; }
/* dark */ .yellow-dark-back { background-color: #9e7510; } .yellow-dark-text { color: #9e7510; }
/* darker */ .yellow-darker-back { background-color: #77580c; } .yellow-darker-text { color: #77580c; }
/* darkest */ .yellow-darkest-back { background-color: #4f3a08; } .yellow-darkest-text { color: #4f3a08; }



