@font-face {
  font-family: "OpenSans";
  src: url("//repo.wsu.edu/spine/1/fonts/OpenSans.eot");
  src: url("//repo.wsu.edu/spine/1/fonts/OpenSans.eot?#iefix") format("embedded-opentype"), url("//repo.wsu.edu/spine/1/fonts/OpenSans.woff") format("woff"), url("//repo.wsu.edu/spine/1/fonts/OpenSans.ttf") format("truetype"), url("//repo.wsu.edu/spine/1/fonts/OpenSans.svg#OpenSans") format("svg");
  font-weight: normal;
  font-style: normal; }
.opensans,
.opensansopensans {
  font-family: "OpenSans", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; }

@font-face {
  font-family: "OpenSans-Bold";
  src: url("//repo.wsu.edu/spine/1/fonts/OpenSans-Bold.eot");
  src: url("//repo.wsu.edu/spine/1/fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-Bold.woff") format("woff"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-Bold.ttf") format("truetype"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-Bold.svg#OpenSans") format("svg");
  font-weight: normal;
  font-style: normal; }
.opensans-bold,
.opensansopensans-b {
  font-family: "OpenSans-Bold", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; }

@font-face {
  font-family: "OpenSans-BoldItalic";
  src: url("//repo.wsu.edu/spine/1/fonts/OpenSans-BoldItalic.eot");
  src: url("//repo.wsu.edu/spine/1/fonts/OpenSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-BoldItalic.woff") format("woff"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-BoldItalic.ttf") format("truetype"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-BoldItalic.svg#OpenSans") format("svg");
  font-weight: normal;
  font-style: normal; }
.opensans-bolditalic,
.opensansopensans-bi {
  font-family: "OpenSans-BoldItalic", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; }

@font-face {
  font-family: "OpenSans-CondBold";
  src: url("//repo.wsu.edu/spine/1/fonts/OpenSans-CondBold.eot");
  src: url("//repo.wsu.edu/spine/1/fonts/OpenSans-CondBold.eot?#iefix") format("embedded-opentype"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-CondBold.woff") format("woff"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-CondBold.ttf") format("truetype"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-CondBold.svg#OpenSans") format("svg");
  font-weight: normal;
  font-style: normal; }
.opensans-condbold,
.opensansopensans-cb {
  font-family: "OpenSans-CondBold", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; }

@font-face {
  font-family: "OpenSans-CondLight";
  src: url("//repo.wsu.edu/spine/1/fonts/OpenSans-CondLight.eot");
  src: url("//repo.wsu.edu/spine/1/fonts/OpenSans-CondLight.eot?#iefix") format("embedded-opentype"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-CondLight.woff") format("woff"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-CondLight.ttf") format("truetype"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-CondLight.svg#OpenSans") format("svg");
  font-weight: normal;
  font-style: normal; }
.opensans-condlight,
.opensansopensans-cl {
  font-family: "OpenSans-CondLight", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; }

@font-face {
  font-family: "OpenSans-CondLightItalic";
  src: url("//repo.wsu.edu/spine/1/fonts/OpenSans-CondLightItalic.eot");
  src: url("//repo.wsu.edu/spine/1/fonts/OpenSans-CondLightItalic.eot?#iefix") format("embedded-opentype"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-CondLightItalic.woff") format("woff"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-CondLightItalic.ttf") format("truetype"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-CondLightItalic.svg#OpenSans") format("svg");
  font-weight: normal;
  font-style: normal; }
.opensans-condlightitalic,
.opensansopensans-cli {
  font-family: "OpenSans-CondLightItalic", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; }

@font-face {
  font-family: "OpenSans-ExtraBold";
  src: url("//repo.wsu.edu/spine/1/fonts/OpenSans-ExtraBold.eot");
  src: url("//repo.wsu.edu/spine/1/fonts/OpenSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-ExtraBold.woff") format("woff"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-ExtraBold.ttf") format("truetype"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-ExtraBold.svg#OpenSans") format("svg");
  font-weight: normal;
  font-style: normal; }
.opensans-extrabold,
.opensansopensans-eb {
  font-family: "OpenSans-ExtraBold", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; }

@font-face {
  font-family: "OpenSans-ExtraBoldItalic";
  src: url("//repo.wsu.edu/spine/1/fonts/OpenSans-ExtraBoldItalic.eot");
  src: url("//repo.wsu.edu/spine/1/fonts/OpenSans-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-ExtraBoldItalic.woff") format("woff"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-ExtraBoldItalic.ttf") format("truetype"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-ExtraBoldItalic.svg#OpenSans") format("svg");
  font-weight: normal;
  font-style: normal; }
.opensans-extrabolditalic,
.opensansopensans-ebi {
  font-family: "OpenSans-ExtraBoldItalic", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; }

@font-face {
  font-family: "OpenSans-Italic";
  src: url("//repo.wsu.edu/spine/1/fonts/OpenSans-Italic.eot");
  src: url("//repo.wsu.edu/spine/1/fonts/OpenSans-Italic.eot?#iefix") format("embedded-opentype"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-Italic.woff") format("woff"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-Italic.ttf") format("truetype"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-Italic.svg#OpenSans") format("svg");
  font-weight: normal;
  font-style: normal; }
.opensans-italic,
.opensansopensans-i {
  font-family: "OpenSans-Italic", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; }

@font-face {
  font-family: "OpenSans-Light";
  src: url("//repo.wsu.edu/spine/1/fonts/OpenSans-Light.eot");
  src: url("//repo.wsu.edu/spine/1/fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-Light.woff") format("woff"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-Light.ttf") format("truetype"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-Light.svg#OpenSans") format("svg");
  font-weight: normal;
  font-style: normal; }
.opensans-light,
.opensansopensans-l {
  font-family: "OpenSans-Light", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; }

@font-face {
  font-family: "OpenSans-LightItalic";
  src: url("//repo.wsu.edu/spine/1/fonts/OpenSans-LightItalic.eot");
  src: url("//repo.wsu.edu/spine/1/fonts/OpenSans-LightItalic.eot?#iefix") format("embedded-opentype"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-LightItalic.woff") format("woff"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-LightItalic.ttf") format("truetype"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-LightItalic.svg#OpenSans") format("svg");
  font-weight: normal;
  font-style: normal; }
.opensans-lightitalic,
.opensansopensans-li {
  font-family: "OpenSans-LightItalic", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; }

@font-face {
  font-family: "OpenSans-Semibold";
  src: url("//repo.wsu.edu/spine/1/fonts/OpenSans-Semibold.eot");
  src: url("//repo.wsu.edu/spine/1/fonts/OpenSans-Semibold.eot?#iefix") format("embedded-opentype"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-Semibold.woff") format("woff"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-Semibold.ttf") format("truetype"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-Semibold.svg#OpenSans") format("svg");
  font-weight: normal;
  font-style: normal; }
.opensans-semibold,
.opensansopensans-sb {
  font-family: "OpenSans-Semibold", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; }

@font-face {
  font-family: "OpenSans-SemiBoldItalic";
  src: url("//repo.wsu.edu/spine/1/fonts/OpenSans-SemiBoldItalic.eot");
  src: url("//repo.wsu.edu/spine/1/fonts/OpenSans-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-SemiBoldItalic.woff") format("woff"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-SemiBoldItalic.ttf") format("truetype"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-SemiBoldItalic.svg#OpenSans") format("svg");
  font-weight: normal;
  font-style: normal; }
.opensans-semibolditalic,
.opensansopensans-sbi {
  font-family: "OpenSans-SemiBoldItalic", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; }
@font-face {
  font-family: "OpenSans";
  src: url("//repo.wsu.edu/spine/1/fonts/OpenSans.eot");
  src: url("//repo.wsu.edu/spine/1/fonts/OpenSans.eot?#iefix") format("embedded-opentype"), url("//repo.wsu.edu/spine/1/fonts/OpenSans.woff") format("woff"), url("//repo.wsu.edu/spine/1/fonts/OpenSans.ttf") format("truetype"), url("//repo.wsu.edu/spine/1/fonts/OpenSans.svg#OpenSans") format("svg");
  font-weight: normal;
  font-style: normal; }
.opensans,
.opensansopensans {
  font-family: "OpenSans", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; }

@font-face {
  font-family: "OpenSans-Bold";
  src: url("//repo.wsu.edu/spine/1/fonts/OpenSans-Bold.eot");
  src: url("//repo.wsu.edu/spine/1/fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-Bold.woff") format("woff"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-Bold.ttf") format("truetype"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-Bold.svg#OpenSans") format("svg");
  font-weight: normal;
  font-style: normal; }
.opensans-bold,
.opensansopensans-b {
  font-family: "OpenSans-Bold", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; }

@font-face {
  font-family: "OpenSans-BoldItalic";
  src: url("//repo.wsu.edu/spine/1/fonts/OpenSans-BoldItalic.eot");
  src: url("//repo.wsu.edu/spine/1/fonts/OpenSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-BoldItalic.woff") format("woff"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-BoldItalic.ttf") format("truetype"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-BoldItalic.svg#OpenSans") format("svg");
  font-weight: normal;
  font-style: normal; }
.opensans-bolditalic,
.opensansopensans-bi {
  font-family: "OpenSans-BoldItalic", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; }

@font-face {
  font-family: "OpenSans-CondBold";
  src: url("//repo.wsu.edu/spine/1/fonts/OpenSans-CondBold.eot");
  src: url("//repo.wsu.edu/spine/1/fonts/OpenSans-CondBold.eot?#iefix") format("embedded-opentype"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-CondBold.woff") format("woff"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-CondBold.ttf") format("truetype"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-CondBold.svg#OpenSans") format("svg");
  font-weight: normal;
  font-style: normal; }
.opensans-condbold,
.opensansopensans-cb {
  font-family: "OpenSans-CondBold", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; }

@font-face {
  font-family: "OpenSans-CondLight";
  src: url("//repo.wsu.edu/spine/1/fonts/OpenSans-CondLight.eot");
  src: url("//repo.wsu.edu/spine/1/fonts/OpenSans-CondLight.eot?#iefix") format("embedded-opentype"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-CondLight.woff") format("woff"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-CondLight.ttf") format("truetype"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-CondLight.svg#OpenSans") format("svg");
  font-weight: normal;
  font-style: normal; }
.opensans-condlight,
.opensansopensans-cl {
  font-family: "OpenSans-CondLight", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; }

@font-face {
  font-family: "OpenSans-CondLightItalic";
  src: url("//repo.wsu.edu/spine/1/fonts/OpenSans-CondLightItalic.eot");
  src: url("//repo.wsu.edu/spine/1/fonts/OpenSans-CondLightItalic.eot?#iefix") format("embedded-opentype"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-CondLightItalic.woff") format("woff"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-CondLightItalic.ttf") format("truetype"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-CondLightItalic.svg#OpenSans") format("svg");
  font-weight: normal;
  font-style: normal; }
.opensans-condlightitalic,
.opensansopensans-cli {
  font-family: "OpenSans-CondLightItalic", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; }

@font-face {
  font-family: "OpenSans-ExtraBold";
  src: url("//repo.wsu.edu/spine/1/fonts/OpenSans-ExtraBold.eot");
  src: url("//repo.wsu.edu/spine/1/fonts/OpenSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-ExtraBold.woff") format("woff"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-ExtraBold.ttf") format("truetype"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-ExtraBold.svg#OpenSans") format("svg");
  font-weight: normal;
  font-style: normal; }
.opensans-extrabold,
.opensansopensans-eb {
  font-family: "OpenSans-ExtraBold", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; }

@font-face {
  font-family: "OpenSans-ExtraBoldItalic";
  src: url("//repo.wsu.edu/spine/1/fonts/OpenSans-ExtraBoldItalic.eot");
  src: url("//repo.wsu.edu/spine/1/fonts/OpenSans-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-ExtraBoldItalic.woff") format("woff"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-ExtraBoldItalic.ttf") format("truetype"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-ExtraBoldItalic.svg#OpenSans") format("svg");
  font-weight: normal;
  font-style: normal; }
.opensans-extrabolditalic,
.opensansopensans-ebi {
  font-family: "OpenSans-ExtraBoldItalic", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; }

@font-face {
  font-family: "OpenSans-Italic";
  src: url("//repo.wsu.edu/spine/1/fonts/OpenSans-Italic.eot");
  src: url("//repo.wsu.edu/spine/1/fonts/OpenSans-Italic.eot?#iefix") format("embedded-opentype"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-Italic.woff") format("woff"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-Italic.ttf") format("truetype"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-Italic.svg#OpenSans") format("svg");
  font-weight: normal;
  font-style: normal; }
.opensans-italic,
.opensansopensans-i {
  font-family: "OpenSans-Italic", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; }

@font-face {
  font-family: "OpenSans-Light";
  src: url("//repo.wsu.edu/spine/1/fonts/OpenSans-Light.eot");
  src: url("//repo.wsu.edu/spine/1/fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-Light.woff") format("woff"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-Light.ttf") format("truetype"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-Light.svg#OpenSans") format("svg");
  font-weight: normal;
  font-style: normal; }
.opensans-light,
.opensansopensans-l {
  font-family: "OpenSans-Light", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; }

@font-face {
  font-family: "OpenSans-LightItalic";
  src: url("//repo.wsu.edu/spine/1/fonts/OpenSans-LightItalic.eot");
  src: url("//repo.wsu.edu/spine/1/fonts/OpenSans-LightItalic.eot?#iefix") format("embedded-opentype"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-LightItalic.woff") format("woff"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-LightItalic.ttf") format("truetype"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-LightItalic.svg#OpenSans") format("svg");
  font-weight: normal;
  font-style: normal; }
.opensans-lightitalic,
.opensansopensans-li {
  font-family: "OpenSans-LightItalic", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; }

@font-face {
  font-family: "OpenSans-Semibold";
  src: url("//repo.wsu.edu/spine/1/fonts/OpenSans-Semibold.eot");
  src: url("//repo.wsu.edu/spine/1/fonts/OpenSans-Semibold.eot?#iefix") format("embedded-opentype"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-Semibold.woff") format("woff"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-Semibold.ttf") format("truetype"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-Semibold.svg#OpenSans") format("svg");
  font-weight: normal;
  font-style: normal; }
.opensans-semibold,
.opensansopensans-sb {
  font-family: "OpenSans-Semibold", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; }

@font-face {
  font-family: "OpenSans-SemiBoldItalic";
  src: url("//repo.wsu.edu/spine/1/fonts/OpenSans-SemiBoldItalic.eot");
  src: url("//repo.wsu.edu/spine/1/fonts/OpenSans-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-SemiBoldItalic.woff") format("woff"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-SemiBoldItalic.ttf") format("truetype"), url("//repo.wsu.edu/spine/1/fonts/OpenSans-SemiBoldItalic.svg#OpenSans") format("svg");
  font-weight: normal;
  font-style: normal; }
.opensans-semibolditalic,
.opensansopensans-sbi {
  font-family: "OpenSans-SemiBoldItalic", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; }
