@font-face {
	font-family: "OpenSans";
	src: url('/../fonts/OpenSans-Regular.ttf')
	}
@font-face {
	font-family: "OpenSans-Bold";
	src: url('../fonts/OpenSans-Bold.ttf')
	}
@font-face {
	font-family: "OpenSans-Italic";
	src: url('../fonts/OpenSans-Italic.ttf')
	}
@font-face {
	font-family: "OpenSans-Condensed";
	src: url('../fonts/OpenSans-CondLight.ttf')
	}
@font-face {
	font-family: "OpenSans-CondensedBold";
	src: url('../fonts/OpenSans-CondBold.ttf')
	}
	
.opensans em,.opensans i { font-family: "OpenSans-Italic", "Lucida Grande", sans-serif; }
.opensans strong,.opensans b { font-family: "OpenSans-Bold", "Lucida Grande", sans-serif; }

@font-face {
    font-family: 'open_sans_condensedbold';
    src: url('OpenSans-CondBold-webfont.eot');
    src: url('OpenSans-CondBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-CondBold-webfont.woff') format('woff'),
         url('OpenSans-CondBold-webfont.ttf') format('truetype'),
         url('OpenSans-CondBold-webfont.svg#open_sans_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sanscondensed_light';
    src: url('OpenSans-CondLight-webfont.eot');
    src: url('OpenSans-CondLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-CondLight-webfont.woff') format('woff'),
         url('OpenSans-CondLight-webfont.ttf') format('truetype'),
         url('OpenSans-CondLight-webfont.svg#open_sanscondensed_light') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansCnLtIt';
    src: url('OpenSans-CondLightItalic-webfont.eot');
    src: url('OpenSans-CondLightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-CondLightItalic-webfont.woff') format('woff'),
         url('OpenSans-CondLightItalic-webfont.ttf') format('truetype'),
         url('OpenSans-CondLightItalic-webfont.svg#open_sansCnLtIt') format('svg');
    font-weight: normal;
    font-style: normal;

}