/* BREAKS */
	
@media /* BREAK ONE : Tablets (iPad) */
	(min-width: 792px)
	and (max-width: 989px),
	
	/* iPads (portrait) */
	only screen 
	and (min-device-width : 768px) 
	and (max-device-width : 1024px)
	and (orientation : portrait),
	
	print {

#binder {
	width: 792px;
	}
#binder.fluid {
	width: 100%;
	}
#binder.fluid main {
	width: auto;
	margin-left: 198px;
	}
	}
	
@media /* BREAK ONE : Tablets (iPad) */
	only screen 
	and (min-device-width : 768px) 
	and (max-device-width : 1024px)
	and (orientation : portrait),
	
	print {
	
#binder.fluid main {
	margin-left: 0px;
	}	
	
	}
	
@media /* Medium */
	screen
	and ( min-width : 493px )
	and	( max-width : 791px )
	and ( min-device-width : 990px ),
	
	screen
	and ( min-width : 493px )
	and	( max-width : 767px )
	
	{

#binder {
	width: 694px;
	}
main {
	width: 396px;
	margin-left: 298px;
	}
#binder.fluid,
#binder.hybrid {
	width: 100%;
	}
#binder.hybrid main,
#binder.fluid main {
	width: auto;
	margin-left: 298px;
	}
#binder.hybrid main,
#binder.fluid main {
	margin-left: 0px;
	}
	}

@media /* Smallish */
	(max-width: 410px) and
	(max-device-width : 990px),
	
	/* Desktop - Small */
	(max-width: 693px) and
	(min-device-width : 990px)
	{

#binder {
	width: 396px;
	}
main {
	width: 396px;
	margin-left: 0px;
	}
#binder.fluid,
#binder.hybrid {
	width: 100%;
	}
#binder.fluid main,
#binder.hybrid main {
	width: auto;
	margin-left: 0px;
	}
#wsu-actions {
	margin-top: 50px;
	}
	}

@media /* !BREAK THREE */
	only screen
	and (max-width: 452px)
	{

#binder {
	width: 396px;
	min-width: 396px;
	overflow: hidden;
	}
#binder main {
	width: 396px;
	margin: 0px;
	}
#binder.fluid,
#binder.hybrid {
	width: 100%;
	}
#binder.fluid main,
#binder.hybrid main {
	width: auto;
	margin-left: 0px;
	}	
#binder #spine a#logo,
#binder.fixed #spine a#logo,
#binder.hybrid #spine a#logo,
#binder.fluid #spine a#logo {
	background-position: 55px center;
	}
	}
	
/* GRID BEHAVIOR */
	
@media /* !BREAK -> TWO */
	screen
	and ( max-width : 791px )
	and ( min-device-width : 990px ),
	
	screen /* Allow for zoon */
	and ( max-width : 767px )
	
	{
	
.row .column {
	float: none;
	}
.row.halves .column,
.row.triptych .column,
.row.triptych .column.two,
.row.sidebar .column.one,
.row.sidebar .column.two,
.row.thirds .column,
.row.margin .column.one,
.row.margin .column.two,
xx.hybrid .row.single .column,
xx.hybrid .row.halves .column,
xx.hybrid .row.thirds .column.one,
xx.hybrid .row.thirds .column.two,
xx.hybrid .row.thirds .column.three,
xx.hybrid .row.triptych .column,
xx.hybrid .row.sidebar .column.one,
xx.hybrid .row.sidebar .column.two,
xx.hybrid .row.margin .column.one,
xx.hybrid .row.margin .column.two {
	width: 100%;
	}
.row.quarters .column,
.fluid .row .column,
.fluid .row.halves .column,
.fluid .row.halves .thirds .column,
.hybrid .row .column,
.hybrid .row.halves .column,
.hybrid .row.halves .thirds .column,
.row.twelfths {
	float: left;
	}
/* Nested */
.row.halves .halves .column {
	width: 198px;
	float: left;
	}
.fluid .row.halves .halves .column {
	width: 50%;
	float: left;
	}
.row.halves .thirds .column {
	width: 132px;
	float: left;
	}
	}
@media /* !BREAK: Three (smartphones) */
	only screen and
	(max-width: 591px)
	{
	
.fluid .row.single .column,
.fluid .row.halves .column,
.fluid .row.thirds .column.one,
.fluid .row.thirds .column.two,
.fluid .row.thirds .column.three,
.fluid .row.triptych .column,
.fluid .row.sidebar .column.one,
.fluid .row.sidebar .column.two,
.fluid .row.margin .column.one,
.fluid .row.margin .column.two {
	width: 100%;
	float: none;
	}
.fluid .row.quarters .column {
	width: 50%;
	}
	
.hybrid .row.single .column,
.hybrid .row.halves .column,
.hybrid .row.thirds .column.one,
.hybrid .row.thirds .column.two,
.hybrid .row.thirds .column.three,
.hybrid .row.triptych .column,
.hybrid .row.sidebar .column.one,
.hybrid .row.sidebar .column.two,
.hybrid .row.margin .column.one,
.hybrid .row.margin .column.two {
	width: 100%;
	float: none;
	}
.hybrid .row.quarters .column {
	width: 50%;
	}
	
	}

/* SPINE BEHAVIOR */

@media /* Medium */
	screen
	and ( max-width : 989px )
	and ( min-device-width : 990px ),
	
	screen
	and ( max-width : 989px )
	and ( orientation: portrait )
	{

#binder:not(.fluid) #spine,
#binder:not(.fluid) #spine #wsu-actions section {
	font-size: 16px;
	width: 298px;
	}
#binder:not(.fluid) #spine a#logo {
	background-position: center center;
	background-size: 198px auto;
	height: 200px;
	}
#binder:not(.fluid) #spine #glue {
	xmargin-top: 50px;
	}
#binder:not(.fluid) #spine nav#site,
#binder:not(.fluid) #spine nav#offsite,
#binder:not(.fluid) #spine footer {
	width: 238px;
	margin-left: 30px;
	margin-right: 30px;
	}
#binder:not(.fluid) #spine nav ul li {
	line-height: 1.5em;
	}
	
	}
	
@media /* BREAK ONE */
	screen
	and ( min-width : 0px )
	and ( max-width : 693px ),
	
	/* Or */
	
	screen
	and ( min-width : 792px )
	and ( max-width : 989px ),
	
	/* Tablet - Portrait (iPad) */
	only screen 
	and ( min-device-width : 768px ) 
	and ( max-device-width : 1024px ) 
	and ( orientation : portrait )
	{
	
#binder:not(.fluid) #spine {
	min-height: 100%;
	left: -298px;
	top: 0;
	overflow: visible;
	position: fixed;
	xposition: absolute;
	z-index: 99631;
	}
#binder:not(.fluid) #spine #glue > header {
	top: 0;
	left: 0;
	width: 100%;
	position: fixed;
	}
#binder:not(.fluid) main {
	margin-top: 50px;
	}
#binder:not(.fluid) #spine #navigation {
	margin-top: 0px;
	}
#binder:not(.fluid) #spine a#logo {
	background-image: url("../marks/sig-horizontal.svg");
	background-position: center 13px;
	background-size: auto 30px;
	height: 49px;
	}

/* Logo */
#binder:not(.fluid) #spine.lightest a#logo { background-image: url('../marks/sig-horizontal-whitelogotype.svg'); }
#binder:not(.fluid) #spine.lighter a#logo { background-image: url('../marks/sig-horizontal-whitelogotype.svg'); }
#binder:not(.fluid) #spine.light a#logo { background-image: url('../marks/sig-horizontal-whitelogotype.svg'); }
#binder:not(.fluid) #spine.gray a#logo { background-image: url('../marks/sig-horizontal-whitelogotype-darkerchevron.svg'); }
#binder:not(.fluid) #spine.dark a#logo { background-image: url('../marks/sig-horizontal-whitelogotype.svg'); }
#binder:not(.fluid) #spine.darker a#logo { background-image: url('../marks/sig-horizontal-whitelogotype.svg'); }
#binder:not(.fluid) #spine.darkest a#logo { background-image: url('../marks/sig-horizontal-whitelogotype.svg'); }
#binder:not(.fluid) #spine.black a#logo { background-image: url('../marks/sig-horizontal-whitelogotype.svg'); }
#binder:not(.fluid) #spine.crimson a#logo { background-image: url('../marks/sig-horizontal-whitelogotype.svg'); }

.extension-signature #binder:not(.fluid) #spine a#logo { background-image: url("../marks/sig-h-extension.svg"); }
.globalcampus-signature #binder:not(.fluid) #spine a#logo { background-image: url("../marks/sig-h-globalcampus.svg"); }
.spokane-signature #binder:not(.fluid) #spine a#logo { background-image: url("../marks/sig-h-spokane.svg"); }
.tricities-signature #binder:not(.fluid) #spine a#logo { background-image: url("../marks/sig-h-tricities.svg"); }
.vancouver-signature #binder:not(.fluid) #spine a#logo { background-image: url("../marks/sig-h-vancouver.svg"); }

#binder:not(.fluid) #spine.unshelved {
	-webkit-transition: left 0.1s ease-in-out;
	transition: left 0.1s ease-in-out;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	left: 0;
	}
#binder #spine.unshelved::after {
	content: "";
	left: 298px;
	top: 45px;
	height: 5px;
	width: 990px;
	background: transparent;
	position: absolute;
	display: block;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
	}
#binder:not(.fluid) #spine.scanned header {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	}
#binder:not(.fluid) #spine.unshelved header {
	box-shadow: none;
	}
#binder:not(.fluid) #spine.shelved {
	-webkit-transition: left 0.2s ease-in-out;
	transition: left 0.2s ease-in-out;
	left: -298px;
	}
#binder:not(.fluid) #spine button#shelve {
	display: block;
	}
	}

@media /* Small */
	(min-width: 397px)
	and (max-width: 693px)
	/* and (max-device-width: 989px) */ {
	
#binder #spine.shelved {
	left: -298px;
	}
	}
	
@media /* Medium */
	(max-width: 791px)
	/* and (max-device-width: 989px) */ {
	
#binder.hybrid main,
#binder.fluid main {
	font-size: 16px;
	line-height: 26px;
	}
	}
	
/* !FLUID RULES ************************* */
	
@media screen
	and ( max-width : 792px )
	and ( min-device-width : 990px ),
	
	screen
	and ( max-width : 792px )
	and ( orientation: portrait ) {

#binder.hybrid #spine,
#binder.fluid #spine  {
	font-size: 16px;
	width: 298px;
	min-height: 100%;
	left: -298px;
	top: 0;
	overflow: visible;
	position: fixed;
	z-index: 99163;
	}
#binder.hybrid #spine #glue > header,
#binder.fluid #spine #glue > header {
	top: 0;
	left: 0;
	width: 100%;
	position: fixed;
	}
#binder.hybrid #spine a#logo,
#binder.fluid #spine a#logo {
	background-position: 40% center;
	background-size: 200px auto;
	height: 50px;
	margin-left: 35px;
	}
xx#binder.fluid #spine #wsu-actions {
	margin-top: 0px;
	}
#binder.fluid #spine #wsu-actions section {
	width: 298px;
	}
#binder.fluid #spine #glue {
	margin-top: 50px;
	xborder-top: 1px #e7e9ea solid;
	display: block;
	}
#binder.fluid #spine nav#site,
#binder.fluid #spine nav#offsite,
#binder.fluid #spine footer {
	width: 238px;
	margin-left: 30px;
	margin-right: 30px;
	}
#binder.fluid #spine nav ul li {
	line-height: 1.5em;
	}



#binder.fluid main {
	margin-top: 50px;
	}
#binder.fluid #spine #navigation {
	margin-top: 0px;
	}
	
/* Logo */
#binder.hybrid #spine a#logo,
#binder.fluid #spine a#logo {
	background-image: url("../marks/sig-horizontal.svg");
	background-position: center 14px;
	background-size: auto 30px;
	height: 49px;
	}

#binder.fluid #spine.lightest a#logo { background-image: url('../marks/sig-horizontal-whitelogotype.svg'); }
#binder.fluid #spine.lighter a#logo { background-image: url('../marks/sig-horizontal-whitelogotype.svg'); }
#binder.fluid #spine.light a#logo { background-image: url('../marks/sig-horizontal-whitelogotype.svg'); }
#binder.fluid #spine.gray a#logo { background-image: url('../marks/sig-horizontal-whitelogotype-darkerchevron.svg'); }
#binder.fluid #spine.dark a#logo { background-image: url('../marks/sig-horizontal-whitelogotype.svg'); }
#binder.fluid #spine.darker a#logo { background-image: url('../marks/sig-horizontal-whitelogotype.svg'); }
#binder.fluid #spine.darkest a#logo { background-image: url('../marks/sig-horizontal-whitelogotype.svg'); }
#binder.fluid #spine.black a#logo { background-image: url('../marks/sig-horizontal-whitelogotype.svg'); }
#binder.fluid #spine.crimson a#logo { background-image: url('../marks/sig-horizontal-whitelogotype.svg'); }

.extension-signature #binder.fluid #spine a#logo { background-image: url("../marks/sig-h-extension.svg"); }
.globalcampus-signature #binder.fluid #spine a#logo { background-image: url("../marks/sig-h-globalcampus.svg"); }
.spokane-signature #binder.fluid #spine a#logo { background-image: url("../marks/sig-h-spokane.svg"); }
.tricities-signature #binder.fluid #spine a#logo { background-image: url("../marks/sig-h-tricities.svg"); }
.vancouver-signature #binder.fluid #spine a#logo { background-image: url("../marks/sig-h-vancouver.svg"); }
	
#binder.fluid #spine.unshelved {
	-webkit-transition: left 0.1s ease-in-out;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	left: 0;
	}
#binder.fluid #spine.scanned header {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	}
#binder.fluid #spine.unshelved header {
	box-shadow: none;
	}
#binder.fluid #spine.shelved {
	-webkit-transition: left 0.2s ease-in-out;
	transition: left 0.2s ease-in-out;
	left: -298px;
	}
#binder.fluid #spine button#shelve {
	display: block;
	}
	}

@media screen /* Desktops - Medium */
	and ( max-width : 791px )
	and ( min-width : 691px )
	and ( min-device-width : 990px ),
	
	/* or */
	
	screen /* Tablets (Portrait) - Medium */
	and ( max-width : 791px )
	and ( min-width : 691px )
	and ( orientation: portrait ) {
	
	}

@media screen
	and ( max-device-width : 480px ) {

.extension-signature #binder #spine a#logo,
.globalcampus-signature  #binder #spine a#logo,
.spokane-signature #binder #spine a#logo,
.tricities-signature #binder #spine a#logo,
.vancouver-signature #binder #spine a#logo {
	background-size: 340px auto;
	background-position: center 14px;
	margin-left: 40px;
	}
.extension-signature #binder #spine a#logo { background-image: url('../marks/sig-h-extension.svg'); }
.globalcampus-signature  #binder #spine a#logo { background-image: url('../marks/sig-h-globalcampus.svg'); }
.spokane-signature #binder #spine a#logo { background-image: url('../marks/sig-h-spokane.svg'); }
.tricities-signature #binder #spine a#logo { background-image: url('../marks/sig-h-tricities.svg'); }
.vancouver-signature #binder #spine a#logo { background-image: url('../marks/sig-h-vancouver.svg'); }

	}

@media /* BREAK : THREE -> */
	only screen and
	(max-width: 693px) {

.extension-signature #binder #spine a#logo,
.globalcampus-signature  #binder #spine a#logo,
.spokane-signature #binder #spine a#logo,
.tricities-signature #binder #spine a#logo,
.vancouver-signature #binder #spine a#logo {
	background-size: 340px auto;
	background-position: center 14px;
	margin-left: 40px;
	}
.extension-signature #binder #spine a#logo { background-image: url('../marks/sig-h-extension.svg'); }
.globalcampus-signature  #binder #spine a#logo { background-image: url('../marks/sig-h-globalcampus.svg'); }
.spokane-signature #binder #spine a#logo { background-image: url('../marks/sig-h-spokane.svg'); }
.tricities-signature #binder #spine a#logo { background-image: url('../marks/sig-h-tricities.svg'); }
.vancouver-signature #binder #spine a#logo { background-image: url('../marks/sig-h-vancouver.svg'); }

main {
	margin-top: 50px;
	}
#binder #spine.unshelved {
	left: 0px;
	}

#binder #spine.shelved {
	left: -298px;
	}
#spine #wsu-actions {
	position: relative;
	margin-top: 50px;
	width: 298px;
	}
	
	}


/* !LARGE FORMAT (Folio) */

.row .column.folio-only {
	display: none;
	}

@media
	only screen
	and ( min-width : 989px )
	{
#binder.fluid.folio {
	width: 100%;
	max-width: 1782px; /* Main (792) x 2 + Spine (198) */
	}		
#binder.fluid.folio main {
	width: auto;
	margin: 0px 0px 0px 198px;
	}

	}

@media /* !LARGE FORMAT Fixed +1 */
	only screen
	and ( min-width : 1188px )
	and ( min-device-width : 990px )
	{
#binder.fixed.folio {
	width: 1188px;
	}
#binder.fixed.folio main,
#binder.fixed.folio main > section {
	width: 990px;
	}
.folio .row .column.folio-only {
	display: block;
	}
	}

@media /* !LARGE FORMAT Fixed +2 */
	only screen
	and ( min-width : 1386px )
	and ( min-device-width : 990px )
	{
#binder.fixed.folio {
	width: 1386px;
	}
#binder.fixed.folio main,
#binder.fixed.folio main > section {
	width: 1188px;
	}
.folio-only {
	display: block;
	}
	}
	
@media /* !LARGE FORMAT +3  */
	only screen
	and ( min-width : 1584px )
	and ( min-device-width : 990px )
	{
#binder.fixed.folio {
	width: 1584px;
	}
#binder.fixed.folio main,
#binder.fixed.folio main > section {
	width: 1386px;
	}

	}
	
@media /* !PRINT */
	print {
	
html.print #spine header button#shelve,
html.print #spine .print-controls {
	display: none;
	}
	}
	
html.print #spine {
	position: absolute;
	left: -99163px;
	}
html.print #spine header {
	height: 155px;
	width: 792px;
	}
	
html.print #spine header button,
html.print #wsu-tabs-actions li:not(#wsu-tab-print) button {
	xdisplay: none;
	}
html.print #binder {
	background: white url("../marks/sig-horizontal.svg") center 32px no-repeat;
	background-size: auto 30px;
	padding-top: 80px;
	width: 792px;
	}

html.print #spine #wsu-tab-print .print-controls button {
	display: inline-block;
	}
html.print #spine .print-controls {
	top: 10px;
	left: 99793px;
	}
html.print #spine .print-controls button {
	display: inline-block;
	width: auto;
	font-size: 1.4em;
	line-height: 1em;
	padding: 0px;
	}

/* !Exclusions */
.desktop-only,
.hide-on-desktop,
.ipad-only,
.hide-on-ipad,
.small-tablet-only,
.hide-on-small-tablet,
.mobile-only.
.hide-on-mobile {
	display: none;
	}
