@charset "UTF-8";
#binder #spine.unshelved header:before {
  content: "";
  position: absolute;
  width: 900px;
  height: 15px;
  box-shadow: 0px 4px 10px -6px rgba(0, 0, 0, 0.5);
  -webkit-transition: box-shadow 0.1s ease-in-out;
  transition: box-shadow 0.1s ease-in-out;
  top: 35px;
  left: 298px;
  display: block;
  z-index: 1; }

/* III.0.5 Show and Hide
-------------------------------------------------- */
/* Hide */
.size-small-only,
.size-gt-small-only,
.size-gt-smallish-only,
.size-gt-medium-only,
.size-gt-large-only,
.size-gt-xlarge-only,
.size-lt-small-only,
.size-lt-smallish-only,
.size-lt-medium-only,
.size-lt-large-only,
.size-lt-xlarge-only,
.size-xlarge-only {
  display: none !important; }

/* Show */
.size-small .size-small-only,
.size-gt-small .size-gt-small-only,
.size-gt-smallish .size-gt-smallish-only,
.size-gt-medium .size-gt-medium-only,
.size-gt-large .size-gt-large-only,
.size-gt-xlarge .size-gt-xlarge-only,
.size-lt-small .size-lt-small-only,
.size-lt-smallish .size-lt-smallish-only,
.size-lt-medium .size-lt-medium-only,
.size-lt-large .size-lt-large-only,
.size-lt-xlarge .size-lt-xlarge-only,
.size-xlarge .size-xlarge-only {
  display: block !important; }

/* III.1.0 MEDIUM (after first break)
-------------------------------------------------- */
/* Tablets (iPad) then iPads (portrait, not landscape) */
@media screen and (max-width: 989px), only screen and (max-device-width: 1024px) and (orientation: portrait) {
  #binder {
    width: 792px; }

  #binder:not(.fluid) main {
    margin-left: 0px;
    padding-top: 50px; }
  #binder:not(.fluid) #wsu-signature {
    background-position: 40% center;
    background-size: 200px auto;
    height: 50px;
    margin-left: 40px; }
  #binder:not(.fluid) #spine {
    width: 298px;
    min-height: 100%;
    left: -298px;
    top: 0;
    z-index: 99164;
    font-size: 16px;
    /* 1.2 Navigation */
    /* 1.3 Header */ }
    #binder:not(.fluid) #spine #glue {
      xxwidth: 298px;
      margin-top: 50px; }
    #binder:not(.fluid) #spine section {
      font-size: 16px;
      width: 298px; }
    #binder:not(.fluid) #spine footer {
      width: 242px;
      padding-bottom: 50px; }
    #binder:not(.fluid) #spine nav ul li {
      line-height: 1.5em; }
    #binder:not(.fluid) #spine nav ul li.parent > a:after,
    #binder:not(.fluid) #spine nav ul li.parent.opened > a:after {
      display: block; }
    #binder:not(.fluid) #spine header {
      top: 0;
      left: 0;
      width: 100%;
      position: fixed;
      height: 50px;
      background: white; }
    #binder:not(.fluid) #spine.unshelved {
      -webkit-transition: left 0.1s ease-in-out;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
      left: 0; }
    #binder:not(.fluid) #spine.scanned header {
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); }
    #binder:not(.fluid) #spine.unshelved header {
      box-shadow: none; }
    #binder:not(.fluid) #spine.shelved {
      -webkit-transition: left 0.2s ease-in-out;
      transition: left 0.2s ease-in-out;
      left: -298px; }
    #binder:not(.fluid) #spine button#shelve {
      display: block; }

  /* Fluid after first break */
  #binder.fluid {
    width: 100%; }

  #binder.fluid main {
    width: auto;
    margin-left: 198px; }

  .spineless main {
    width: auto;
    margin-left: 0px; }

  /* Adjust Search */
  .spine-search input[type="text"] {
    padding-right: 18px; }

  .spine-search button {
    right: 10px; }

  /* Header Colors and Signatures */
  #binder:not(.fluid) #spine.lightest header {
    background-color: #eff0f1; }
  #binder:not(.fluid) #spine.lightly header {
    background-color: #d7dadb; }
  #binder:not(.fluid) #spine.lighter header {
    background-color: #b5babe; }
  #binder:not(.fluid) #spine.light header {
    background-color: #8d959a; }
  #binder:not(.fluid) #spine.gray header {
    background-color: #5e6a71; }
  #binder:not(.fluid) #spine.dark header {
    background-color: #464e54; }
  #binder:not(.fluid) #spine.darker header {
    background-color: #23282b; }
  #binder:not(.fluid) #spine.darkest header {
    background-color: black; }
  #binder:not(.fluid) #spine.crimson header {
    background-color: #981e32; }

  /* Signature */
  #binder:not(.fluid) #wsu-signature {
    background-position: center 14px;
    background-size: auto 30px;
    height: 49px; }

  :not(.fluid) #wsu-signature {
    background-image: url("/marks/wsu-signature-horizontal.svg"); }

  .spokane-signature :not(.fluid) #wsu-signature {
    background-image: url("/marks/wsu-spokane-signature-horizontal.svg"); }

  .vancouver-signature :not(.fluid) #wsu-signature {
    background-image: url("/marks/wsu-vancouver-signature-horizontal.svg"); }

  .tricities-signature :not(.fluid) #wsu-signature {
    background-image: url("/marks/wsu-tricities-signature-horizontal.svg"); }

  .globalcampus-signature :not(.fluid) #wsu-signature {
    background-image: url("/marks/wsu-globalcampus-signature-horizontal.svg"); }

  .extension-signature :not(.fluid) #wsu-signature {
    background-image: url("/marks/wsu-extension-signature-horizontal.svg"); }

  .foundation-signature :not(.fluid) #wsu-signature {
    background-image: url("/marks/wsu-foundation-signature-horizontal.svg"); }

  :not(.fluid) .lighter #wsu-signature {
    background-image: url("/marks/wsu-signature-horizontal-crimson-gray-graydarker.svg"); }

  .spokane-signature :not(.fluid) .lighter #wsu-signature {
    background-image: url("/marks/wsu-spokane-signature-horizontal-crimson-gray-graydarker.svg"); }

  .vancouver-signature :not(.fluid) .lighter #wsu-signature {
    background-image: url("/marks/wsu-vancouver-signature-horizontal-crimson-gray-graydarker.svg"); }

  .tricities-signature :not(.fluid) .lighter #wsu-signature {
    background-image: url("/marks/wsu-tricities-signature-horizontal-crimson-gray-graydarker.svg"); }

  .globalcampus-signature :not(.fluid) .lighter #wsu-signature {
    background-image: url("/marks/wsu-globalcampus-signature-horizontal-crimson-gray-graydarker.svg"); }

  .extension-signature :not(.fluid) .lighter #wsu-signature {
    background-image: url("/marks/wsu-extension-signature-horizontal-crimson-gray-graydarker.svg"); }

  .foundation-signature :not(.fluid) .lighter #wsu-signature {
    background-image: url("/marks/wsu-foundation-signature-horizontal-crimson-gray-graydarker.svg"); }

  :not(.fluid) .light #wsu-signature {
    background-image: url("/marks/wsu-signature-horizontal-crimson-gray-white.svg"); }

  .spokane-signature :not(.fluid) .light #wsu-signature {
    background-image: url("/marks/wsu-spokane-signature-horizontal-crimson-gray-white.svg"); }

  .vancouver-signature :not(.fluid) .light #wsu-signature {
    background-image: url("/marks/wsu-vancouver-signature-horizontal-crimson-gray-white.svg"); }

  .tricities-signature :not(.fluid) .light #wsu-signature {
    background-image: url("/marks/wsu-tricities-signature-horizontal-crimson-gray-white.svg"); }

  .globalcampus-signature :not(.fluid) .light #wsu-signature {
    background-image: url("/marks/wsu-globalcampus-signature-horizontal-crimson-gray-white.svg"); }

  .extension-signature :not(.fluid) .light #wsu-signature {
    background-image: url("/marks/wsu-extension-signature-horizontal-crimson-gray-white.svg"); }

  .foundation-signature :not(.fluid) .light #wsu-signature {
    background-image: url("/marks/wsu-foundation-signature-horizontal-crimson-gray-white.svg"); }

  :not(.fluid) .gray #wsu-signature {
    background-image: url("/marks/wsu-signature-horizontal-crimson-graydark-graylighter.svg"); }

  .spokane-signature :not(.fluid) .gray #wsu-signature {
    background-image: url("/marks/wsu-spokane-signature-horizontal-crimson-graydark-graylighter.svg"); }

  .vancouver-signature :not(.fluid) .gray #wsu-signature {
    background-image: url("/marks/wsu-vancouver-signature-horizontal-crimson-graydark-graylighter.svg"); }

  .tricities-signature :not(.fluid) .gray #wsu-signature {
    background-image: url("/marks/wsu-tricities-signature-horizontal-crimson-graydark-graylighter.svg"); }

  .globalcampus-signature :not(.fluid) .gray #wsu-signature {
    background-image: url("/marks/wsu-globalcampus-signature-horizontal-crimson-graydark-graylighter.svg"); }

  .extension-signature :not(.fluid) .gray #wsu-signature {
    background-image: url("/marks/wsu-extension-signature-horizontal-crimson-graydark-graylighter.svg"); }

  .foundation-signature :not(.fluid) .gray #wsu-signature {
    background-image: url("/marks/wsu-foundation-signature-horizontal-crimson-graydark-graylighter.svg"); }

  :not(.fluid) .dark #wsu-signature {
    background-image: url("/marks/wsu-signature-horizontal-crimson-7d868c-graylightly.svg"); }

  .spokane-signature :not(.fluid) .dark #wsu-signature {
    background-image: url("/marks/wsu-spokane-signature-horizontal-crimson-7d868c-graylightly.svg"); }

  .vancouver-signature :not(.fluid) .dark #wsu-signature {
    background-image: url("/marks/wsu-vancouver-signature-horizontal-crimson-7d868c-graylightly.svg"); }

  .tricities-signature :not(.fluid) .dark #wsu-signature {
    background-image: url("/marks/wsu-tricities-signature-horizontal-crimson-7d868c-graylightly.svg"); }

  .globalcampus-signature :not(.fluid) .dark #wsu-signature {
    background-image: url("/marks/wsu-globalcampus-signature-horizontal-crimson-7d868c-graylightly.svg"); }

  .extension-signature :not(.fluid) .dark #wsu-signature {
    background-image: url("/marks/wsu-extension-signature-horizontal-crimson-7d868c-graylightly.svg"); }

  .foundation-signature :not(.fluid) .dark #wsu-signature {
    background-image: url("/marks/wsu-foundation-signature-horizontal-crimson-7d868c-graylightly.svg"); }

  :not(.fluid) .darker #wsu-signature,
  :not(.fluid) .darkest #wsu-signature {
    background-image: url("/marks/wsu-signature-horizontal-crimson-gray-graylighter.svg"); }

  .spokane-signature :not(.fluid) .darker #wsu-signature,
  .spokane-signature :not(.fluid) .darkest #wsu-signature {
    background-image: url("/marks/wsu-spokane-signature-horizontal-crimson-gray-graylighter.svg"); }

  .vancouver-signature :not(.fluid) .darker #wsu-signature,
  .vancouver-signature :not(.fluid) .darkest #wsu-signature {
    background-image: url("/marks/wsu-vancouver-signature-horizontal-crimson-gray-graylighter.svg"); }

  .tricities-signature :not(.fluid) .darker #wsu-signature,
  .tricities-signature :not(.fluid) .darkest #wsu-signature {
    background-image: url("/marks/wsu-tricities-signature-horizontal-crimson-gray-graylighter.svg"); }

  .globalcampus-signature :not(.fluid) .darker #wsu-signature,
  .globalcampus-signature :not(.fluid) .darkest #wsu-signature {
    background-image: url("/marks/wsu-globalcampus-signature-horizontal-crimson-gray-graylighter.svg"); }

  .extension-signature :not(.fluid) .darker #wsu-signature,
  .extension-signature :not(.fluid) .darkest #wsu-signature {
    background-image: url("/marks/wsu-extension-signature-horizontal-crimson-gray-graylighter.svg"); }

  .foundation-signature :not(.fluid) .darker #wsu-signature,
  .foundation-signature :not(.fluid) .darkest #wsu-signature {
    background-image: url("/marks/wsu-foundation-signature-horizontal-crimson-gray-graylighter.svg"); }

  :not(.fluid) .crimson #wsu-signature {
    background-image: url("/marks/wsu-signature-horizontal-white-graylightly-white.svg"); }

  .spokane-signature :not(.fluid) .crimson #wsu-signature {
    background-image: url("/marks/wsu-spokane-signature-horizontal-white-graylightly-white.svg"); }

  .vancouver-signature :not(.fluid) .crimson #wsu-signature {
    background-image: url("/marks/wsu-vancouver-signature-horizontal-white-graylightly-white.svg"); }

  .tricities-signature :not(.fluid) .crimson #wsu-signature {
    background-image: url("/marks/wsu-tricities-signature-horizontal-white-graylightly-white.svg"); }

  .globalcampus-signature :not(.fluid) .crimson #wsu-signature {
    background-image: url("/marks/wsu-globalcampus-signature-horizontal-white-graylightly-white.svg"); }

  .extension-signature :not(.fluid) .crimson #wsu-signature {
    background-image: url("/marks/wsu-extension-signature-horizontal-white-graylightly-white.svg"); }

  .foundation-signature :not(.fluid) .crimson #wsu-signature {
    background-image: url("/marks/wsu-foundation-signature-horizontal-white-graylightly-white.svg"); }

  html.lt-ie9 #binder:not(.fluid) #wsu-signature {
    background-image: url("//repo.wsu.edu/spine/1/marks/wsu-signature-horizontal.png"); } }
/* SMALL (max 791px)
------------------------------------------ */
@media screen and (max-width: 791px) and (min-device-width: 990px), screen and (max-width: 791px) and (orientation: portrait) and (max-device-width: 420px), screen and (max-width: 791px) and (orientation: landscape) and (max-device-width: 480px) {
  #binder,
  .rebound,
  .single,
  .spineless .rebound,
  .fifteenths .rebound,
  .fifths .rebound {
    width: 100%; }

  #binder.fixed {
    width: 694px; }

  #binder.fixed main {
    width: 396px;
    margin-left: 0px; }

  #binder main {
    width: auto;
    padding-top: 50px;
    margin-left: 0px; }

  #binder.hybrid main,
  #binder.fluid main {
    font-size: 16px;
    line-height: 26px;
    margin-left: 0px; }

  #binder #spine,
  #binder #spine .spine-actions section {
    font-size: 16px;
    xxwidth: 298px; }

  #binder #spine {
    width: 298px;
    min-height: 100%;
    left: -298px;
    top: 0;
    overflow: visible;
    position: fixed;
    z-index: 99164; }

  #binder #glue {
    margin-top: 50px; }

  #spine button#shelve {
    display: block; }

  /* Navigation */
  #binder.fluid #spine {
    /* Header */ }
    #binder.fluid #spine .spine-sitenav,
    #binder.fluid #spine .spine-offsitenav,
    #binder.fluid #spine .spine-footer {
      width: 242px; }
    #binder.fluid #spine nav ul li {
      line-height: 1.5em; }
    #binder.fluid #spine nav ul li.parent > a:after,
    #binder.fluid #spine nav ul li.parent.opened > a:after {
      display: block; }
    #binder.fluid #spine footer {
      padding-bottom: 50px; }
    #binder.fluid #spine #glue > header {
      top: 0;
      left: 0;
      width: 100%;
      position: fixed;
      height: 50px; }
    #binder.fluid #spine #wsu-signature {
      background-position: center center;
      background-size: 200px auto;
      height: 49px; }
    #binder.fluid #spine.unshelved {
      -webkit-transition: left 0.1s ease-in-out;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
      left: 0; }
    #binder.fluid #spine.scanned header {
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); }
    #binder.fluid #spine.unshelved header {
      box-shadow: none; }
    #binder.fluid #spine.shelved {
      -webkit-transition: left 0.2s ease-in-out;
      transition: left 0.2s ease-in-out;
      left: -298px; }
    #binder.fluid #spine #button#shelve {
      display: block; }

  /* Grid */
  /* Hybrid Shift */
  .hybrid .row {
    	/*
    .column,
    	&.quarters .column,
    	&.halves .column,
    	&.halves .thirds .column {
    		float: left;
    		}
    */ }
    .hybrid .row.halves .column, .hybrid .row.triptych .column.two {
      width: 50%; }
    .hybrid .row.thirds .column {
      width: 33%; }
    .hybrid .row.thirds .column.two {
      width: 34%; }
    .hybrid .row.quarters .column, .hybrid .row.triptych .column.one, .hybrid .row.triptych .column.three {
      width: 25%; }
    .hybrid .row.sidebar .column.one, .hybrid .row.sideleft .column.two {
      width: 66%; }
    .hybrid .row.sidebar .column.two, .hybrid .row.sideleft .column.one {
      width: 34%; }
    .hybrid .row.single .column, .hybrid .row.margin .column.one, .hybrid .row.margin .column.two {
      width: 100%; }

  .fluid .row .column,
  .fluid .row.halves .column,
  .fluid .row.halves .thirds .column {
    float: left; }

  .row.twelfths {
    float: left; }

  /* Nested */
  .row.halves .halves .column {
    width: 198px;
    float: left; }

  .fluid .row.halves .halves .column {
    width: 50%;
    float: left; }

  .row.halves .thirds .column {
    width: 132px;
    float: left; }

  .hybrid .row .row.thirds .column {
    width: 33%; }

  .hybrid .row .row.thirds .column.two {
    width: 34%; }

  /* Signature */
  #binder.fluid #spine #wsu-signature {
    background-position: center 14px;
    background-size: auto 30px;
    height: 49px; }

  /* Header Colors and Signatures */
  #binder #spine header {
    background-color: white; }
  #binder #spine.lightest header {
    background-color: #eff0f1; }
  #binder #spine.lightly header {
    background-color: #d7dadb; }
  #binder #spine.lighter header {
    background-color: #b5babe; }
  #binder #spine.light header {
    background-color: #8d959a; }
  #binder #spine.gray header {
    background-color: #5e6a71; }
  #binder #spine.dark header {
    background-color: #464e54; }
  #binder #spine.darker header {
    background-color: #23282b; }
  #binder #spine.darkest header {
    background-color: black; }
  #binder #spine.crimson header {
    background-color: #981e32; }

  .fluid #wsu-signature {
    background-image: url("/marks/wsu-signature-horizontal.svg"); }

  .spokane-signature .fluid #wsu-signature {
    background-image: url("/marks/wsu-spokane-signature-horizontal.svg"); }

  .vancouver-signature .fluid #wsu-signature {
    background-image: url("/marks/wsu-vancouver-signature-horizontal.svg"); }

  .tricities-signature .fluid #wsu-signature {
    background-image: url("/marks/wsu-tricities-signature-horizontal.svg"); }

  .globalcampus-signature .fluid #wsu-signature {
    background-image: url("/marks/wsu-globalcampus-signature-horizontal.svg"); }

  .extension-signature .fluid #wsu-signature {
    background-image: url("/marks/wsu-extension-signature-horizontal.svg"); }

  .foundation-signature .fluid #wsu-signature {
    background-image: url("/marks/wsu-foundation-signature-horizontal.svg"); }

  .fluid .lighter #wsu-signature {
    background-image: url("/marks/wsu-signature-horizontal-crimson-gray-graydarker.svg"); }

  .spokane-signature .fluid .lighter #wsu-signature {
    background-image: url("/marks/wsu-spokane-signature-horizontal-crimson-gray-graydarker.svg"); }

  .vancouver-signature .fluid .lighter #wsu-signature {
    background-image: url("/marks/wsu-vancouver-signature-horizontal-crimson-gray-graydarker.svg"); }

  .tricities-signature .fluid .lighter #wsu-signature {
    background-image: url("/marks/wsu-tricities-signature-horizontal-crimson-gray-graydarker.svg"); }

  .globalcampus-signature .fluid .lighter #wsu-signature {
    background-image: url("/marks/wsu-globalcampus-signature-horizontal-crimson-gray-graydarker.svg"); }

  .extension-signature .fluid .lighter #wsu-signature {
    background-image: url("/marks/wsu-extension-signature-horizontal-crimson-gray-graydarker.svg"); }

  .foundation-signature .fluid .lighter #wsu-signature {
    background-image: url("/marks/wsu-foundation-signature-horizontal-crimson-gray-graydarker.svg"); }

  .fluid .light #wsu-signature {
    background-image: url("/marks/wsu-signature-horizontal-crimson-gray-white.svg"); }

  .spokane-signature .fluid .light #wsu-signature {
    background-image: url("/marks/wsu-spokane-signature-horizontal-crimson-gray-white.svg"); }

  .vancouver-signature .fluid .light #wsu-signature {
    background-image: url("/marks/wsu-vancouver-signature-horizontal-crimson-gray-white.svg"); }

  .tricities-signature .fluid .light #wsu-signature {
    background-image: url("/marks/wsu-tricities-signature-horizontal-crimson-gray-white.svg"); }

  .globalcampus-signature .fluid .light #wsu-signature {
    background-image: url("/marks/wsu-globalcampus-signature-horizontal-crimson-gray-white.svg"); }

  .extension-signature .fluid .light #wsu-signature {
    background-image: url("/marks/wsu-extension-signature-horizontal-crimson-gray-white.svg"); }

  .foundation-signature .fluid .light #wsu-signature {
    background-image: url("/marks/wsu-foundation-signature-horizontal-crimson-gray-white.svg"); }

  .fluid .gray #wsu-signature {
    background-image: url("/marks/wsu-signature-horizontal-crimson-graydark-graylighter.svg"); }

  .spokane-signature .fluid .gray #wsu-signature {
    background-image: url("/marks/wsu-spokane-signature-horizontal-crimson-graydark-graylighter.svg"); }

  .vancouver-signature .fluid .gray #wsu-signature {
    background-image: url("/marks/wsu-vancouver-signature-horizontal-crimson-graydark-graylighter.svg"); }

  .tricities-signature .fluid .gray #wsu-signature {
    background-image: url("/marks/wsu-tricities-signature-horizontal-crimson-graydark-graylighter.svg"); }

  .globalcampus-signature .fluid .gray #wsu-signature {
    background-image: url("/marks/wsu-globalcampus-signature-horizontal-crimson-graydark-graylighter.svg"); }

  .extension-signature .fluid .gray #wsu-signature {
    background-image: url("/marks/wsu-extension-signature-horizontal-crimson-graydark-graylighter.svg"); }

  .foundation-signature .fluid .gray #wsu-signature {
    background-image: url("/marks/wsu-foundation-signature-horizontal-crimson-graydark-graylighter.svg"); }

  .fluid .dark #wsu-signature {
    background-image: url("/marks/wsu-signature-horizontal-crimson-7d868c-graylightly.svg"); }

  .spokane-signature .fluid .dark #wsu-signature {
    background-image: url("/marks/wsu-spokane-signature-horizontal-crimson-7d868c-graylightly.svg"); }

  .vancouver-signature .fluid .dark #wsu-signature {
    background-image: url("/marks/wsu-vancouver-signature-horizontal-crimson-7d868c-graylightly.svg"); }

  .tricities-signature .fluid .dark #wsu-signature {
    background-image: url("/marks/wsu-tricities-signature-horizontal-crimson-7d868c-graylightly.svg"); }

  .globalcampus-signature .fluid .dark #wsu-signature {
    background-image: url("/marks/wsu-globalcampus-signature-horizontal-crimson-7d868c-graylightly.svg"); }

  .extension-signature .fluid .dark #wsu-signature {
    background-image: url("/marks/wsu-extension-signature-horizontal-crimson-7d868c-graylightly.svg"); }

  .foundation-signature .fluid .dark #wsu-signature {
    background-image: url("/marks/wsu-foundation-signature-horizontal-crimson-7d868c-graylightly.svg"); }

  .fluid .darker #wsu-signature,
  .fluid .darkest #wsu-signature {
    background-image: url("/marks/wsu-signature-horizontal-crimson-gray-graylighter.svg"); }

  .spokane-signature .fluid .darker #wsu-signature,
  .spokane-signature .fluid .darkest #wsu-signature {
    background-image: url("/marks/wsu-spokane-signature-horizontal-crimson-gray-graylighter.svg"); }

  .vancouver-signature .fluid .darker #wsu-signature,
  .vancouver-signature .fluid .darkest #wsu-signature {
    background-image: url("/marks/wsu-vancouver-signature-horizontal-crimson-gray-graylighter.svg"); }

  .tricities-signature .fluid .darker #wsu-signature,
  .tricities-signature .fluid .darkest #wsu-signature {
    background-image: url("/marks/wsu-tricities-signature-horizontal-crimson-gray-graylighter.svg"); }

  .globalcampus-signature .fluid .darker #wsu-signature,
  .globalcampus-signature .fluid .darkest #wsu-signature {
    background-image: url("/marks/wsu-globalcampus-signature-horizontal-crimson-gray-graylighter.svg"); }

  .extension-signature .fluid .darker #wsu-signature,
  .extension-signature .fluid .darkest #wsu-signature {
    background-image: url("/marks/wsu-extension-signature-horizontal-crimson-gray-graylighter.svg"); }

  .foundation-signature .fluid .darker #wsu-signature,
  .foundation-signature .fluid .darkest #wsu-signature {
    background-image: url("/marks/wsu-foundation-signature-horizontal-crimson-gray-graylighter.svg"); }

  .fluid .crimson #wsu-signature {
    background-image: url("/marks/wsu-signature-horizontal-white-graylightly-white.svg"); }

  .spokane-signature .fluid .crimson #wsu-signature {
    background-image: url("/marks/wsu-spokane-signature-horizontal-white-graylightly-white.svg"); }

  .vancouver-signature .fluid .crimson #wsu-signature {
    background-image: url("/marks/wsu-vancouver-signature-horizontal-white-graylightly-white.svg"); }

  .tricities-signature .fluid .crimson #wsu-signature {
    background-image: url("/marks/wsu-tricities-signature-horizontal-white-graylightly-white.svg"); }

  .globalcampus-signature .fluid .crimson #wsu-signature {
    background-image: url("/marks/wsu-globalcampus-signature-horizontal-white-graylightly-white.svg"); }

  .extension-signature .fluid .crimson #wsu-signature {
    background-image: url("/marks/wsu-extension-signature-horizontal-white-graylightly-white.svg"); }

  .foundation-signature .fluid .crimson #wsu-signature {
    background-image: url("/marks/wsu-foundation-signature-horizontal-white-graylightly-white.svg"); }

  html.lt-ie9 #binder.fluid #wsu-signature {
    background-image: url("//repo.wsu.edu/spine/1/marks/wsu-signature-horizontal.png"); } }
/* SMALL-MED (Fixed Only)
----------------------------------------------------- */
/* Medium and Desktop - Small */
@media only screen and (min-width: 694px) and (max-width: 791px) and (max-device-width: 990px), (min-width: 694px) and (max-width: 791px) and (min-device-width: 990px) {
  #binder.fixed {
    width: 694px; }

  #binder.fixed main {
    width: 396px;
    margin-top: 0px;
    margin-left: 298px; }

  #binder.fixed #spine {
    left: auto; }

  #binder.fixed #glue {
    margin-top: 0px; }

  /* Header */
  #binder.fixed #spine #glue > header {
    top: 0;
    left: 0;
    position: relative;
    height: 198px; }

  #binder.fixed #spine.unshelved,
  #binder.fixed #spine.shelved,
  #binder.fixed #spine.scanned header,
  #binder.fixed #spine.unshelved header {
    box-shadow: none;
    -webkit-transition: none;
    left: auto; }

  #binder.fixed #spine button#shelve {
    display: none; }

  .fixed .row.sidebar .column {
    width: 100%; }

  /* Logo */
  #binder.fixed #wsu-signature {
    background-position: center;
    background-size: 180px auto;
    height: 197px;
    margin-left: 0px; }

  .fixed #wsu-signature {
    background-image: url("/marks/wsu-signature-horizontal.svg"); }

  .spokane-signature .fixed #wsu-signature {
    background-image: url("/marks/wsu-spokane-signature-horizontal.svg"); }

  .vancouver-signature .fixed #wsu-signature {
    background-image: url("/marks/wsu-vancouver-signature-horizontal.svg"); }

  .tricities-signature .fixed #wsu-signature {
    background-image: url("/marks/wsu-tricities-signature-horizontal.svg"); }

  .globalcampus-signature .fixed #wsu-signature {
    background-image: url("/marks/wsu-globalcampus-signature-horizontal.svg"); }

  .extension-signature .fixed #wsu-signature {
    background-image: url("/marks/wsu-extension-signature-horizontal.svg"); }

  .foundation-signature .fixed #wsu-signature {
    background-image: url("/marks/wsu-foundation-signature-horizontal.svg"); }

  .fixed .lighter #wsu-signature {
    background-image: url("/marks/wsu-signature-horizontal-crimson-gray-graydarker.svg"); }

  .spokane-signature .fixed .lighter #wsu-signature {
    background-image: url("/marks/wsu-spokane-signature-horizontal-crimson-gray-graydarker.svg"); }

  .vancouver-signature .fixed .lighter #wsu-signature {
    background-image: url("/marks/wsu-vancouver-signature-horizontal-crimson-gray-graydarker.svg"); }

  .tricities-signature .fixed .lighter #wsu-signature {
    background-image: url("/marks/wsu-tricities-signature-horizontal-crimson-gray-graydarker.svg"); }

  .globalcampus-signature .fixed .lighter #wsu-signature {
    background-image: url("/marks/wsu-globalcampus-signature-horizontal-crimson-gray-graydarker.svg"); }

  .extension-signature .fixed .lighter #wsu-signature {
    background-image: url("/marks/wsu-extension-signature-horizontal-crimson-gray-graydarker.svg"); }

  .foundation-signature .fixed .lighter #wsu-signature {
    background-image: url("/marks/wsu-foundation-signature-horizontal-crimson-gray-graydarker.svg"); }

  .fixed .light #wsu-signature {
    background-image: url("/marks/wsu-signature-horizontal-crimson-gray-white.svg"); }

  .spokane-signature .fixed .light #wsu-signature {
    background-image: url("/marks/wsu-spokane-signature-horizontal-crimson-gray-white.svg"); }

  .vancouver-signature .fixed .light #wsu-signature {
    background-image: url("/marks/wsu-vancouver-signature-horizontal-crimson-gray-white.svg"); }

  .tricities-signature .fixed .light #wsu-signature {
    background-image: url("/marks/wsu-tricities-signature-horizontal-crimson-gray-white.svg"); }

  .globalcampus-signature .fixed .light #wsu-signature {
    background-image: url("/marks/wsu-globalcampus-signature-horizontal-crimson-gray-white.svg"); }

  .extension-signature .fixed .light #wsu-signature {
    background-image: url("/marks/wsu-extension-signature-horizontal-crimson-gray-white.svg"); }

  .foundation-signature .fixed .light #wsu-signature {
    background-image: url("/marks/wsu-foundation-signature-horizontal-crimson-gray-white.svg"); }

  .fixed .gray #wsu-signature {
    background-image: url("/marks/wsu-signature-horizontal-crimson-graydark-graylighter.svg"); }

  .spokane-signature .fixed .gray #wsu-signature {
    background-image: url("/marks/wsu-spokane-signature-horizontal-crimson-graydark-graylighter.svg"); }

  .vancouver-signature .fixed .gray #wsu-signature {
    background-image: url("/marks/wsu-vancouver-signature-horizontal-crimson-graydark-graylighter.svg"); }

  .tricities-signature .fixed .gray #wsu-signature {
    background-image: url("/marks/wsu-tricities-signature-horizontal-crimson-graydark-graylighter.svg"); }

  .globalcampus-signature .fixed .gray #wsu-signature {
    background-image: url("/marks/wsu-globalcampus-signature-horizontal-crimson-graydark-graylighter.svg"); }

  .extension-signature .fixed .gray #wsu-signature {
    background-image: url("/marks/wsu-extension-signature-horizontal-crimson-graydark-graylighter.svg"); }

  .foundation-signature .fixed .gray #wsu-signature {
    background-image: url("/marks/wsu-foundation-signature-horizontal-crimson-graydark-graylighter.svg"); }

  .fixed .dark #wsu-signature {
    background-image: url("/marks/wsu-signature-horizontal-crimson-7d868c-graylightly.svg"); }

  .spokane-signature .fixed .dark #wsu-signature {
    background-image: url("/marks/wsu-spokane-signature-horizontal-crimson-7d868c-graylightly.svg"); }

  .vancouver-signature .fixed .dark #wsu-signature {
    background-image: url("/marks/wsu-vancouver-signature-horizontal-crimson-7d868c-graylightly.svg"); }

  .tricities-signature .fixed .dark #wsu-signature {
    background-image: url("/marks/wsu-tricities-signature-horizontal-crimson-7d868c-graylightly.svg"); }

  .globalcampus-signature .fixed .dark #wsu-signature {
    background-image: url("/marks/wsu-globalcampus-signature-horizontal-crimson-7d868c-graylightly.svg"); }

  .extension-signature .fixed .dark #wsu-signature {
    background-image: url("/marks/wsu-extension-signature-horizontal-crimson-7d868c-graylightly.svg"); }

  .foundation-signature .fixed .dark #wsu-signature {
    background-image: url("/marks/wsu-foundation-signature-horizontal-crimson-7d868c-graylightly.svg"); }

  .fixed .darker #wsu-signature,
  .fixed .darkest #wsu-signature {
    background-image: url("/marks/wsu-signature-horizontal-crimson-gray-graylighter.svg"); }

  .spokane-signature .fixed .darker #wsu-signature,
  .spokane-signature .fixed .darkest #wsu-signature {
    background-image: url("/marks/wsu-spokane-signature-horizontal-crimson-gray-graylighter.svg"); }

  .vancouver-signature .fixed .darker #wsu-signature,
  .vancouver-signature .fixed .darkest #wsu-signature {
    background-image: url("/marks/wsu-vancouver-signature-horizontal-crimson-gray-graylighter.svg"); }

  .tricities-signature .fixed .darker #wsu-signature,
  .tricities-signature .fixed .darkest #wsu-signature {
    background-image: url("/marks/wsu-tricities-signature-horizontal-crimson-gray-graylighter.svg"); }

  .globalcampus-signature .fixed .darker #wsu-signature,
  .globalcampus-signature .fixed .darkest #wsu-signature {
    background-image: url("/marks/wsu-globalcampus-signature-horizontal-crimson-gray-graylighter.svg"); }

  .extension-signature .fixed .darker #wsu-signature,
  .extension-signature .fixed .darkest #wsu-signature {
    background-image: url("/marks/wsu-extension-signature-horizontal-crimson-gray-graylighter.svg"); }

  .foundation-signature .fixed .darker #wsu-signature,
  .foundation-signature .fixed .darkest #wsu-signature {
    background-image: url("/marks/wsu-foundation-signature-horizontal-crimson-gray-graylighter.svg"); }

  .fixed .crimson #wsu-signature {
    background-image: url("/marks/wsu-signature-horizontal-white-graylightly-white.svg"); }

  .spokane-signature .fixed .crimson #wsu-signature {
    background-image: url("/marks/wsu-spokane-signature-horizontal-white-graylightly-white.svg"); }

  .vancouver-signature .fixed .crimson #wsu-signature {
    background-image: url("/marks/wsu-vancouver-signature-horizontal-white-graylightly-white.svg"); }

  .tricities-signature .fixed .crimson #wsu-signature {
    background-image: url("/marks/wsu-tricities-signature-horizontal-white-graylightly-white.svg"); }

  .globalcampus-signature .fixed .crimson #wsu-signature {
    background-image: url("/marks/wsu-globalcampus-signature-horizontal-white-graylightly-white.svg"); }

  .extension-signature .fixed .crimson #wsu-signature {
    background-image: url("/marks/wsu-extension-signature-horizontal-white-graylightly-white.svg"); }

  .foundation-signature .fixed .crimson #wsu-signature {
    background-image: url("/marks/wsu-foundation-signature-horizontal-white-graylightly-white.svg"); }

  html.lt-ie9 #binder.fixed #wsu-signature {
    background-image: url("//repo.wsu.edu/spine/1/marks/wsu-signature-horizontal.png"); } }
/* SMALL (max 693)
----------------------------------------------------- */
/* 792px - 198px = 594px */
@media only screen and (max-width: 693px) {
  #binder.fixed {
    width: 396px;
    min-width: 396px;
    margin: 0px auto; }
    #binder.fixed main {
      margin-top: 50px;
      margin-left: 0px; }
  #binder.fluid, #binder.hybrid {
    width: 100%; }
    #binder.fluid main, #binder.hybrid main {
      width: auto;
      margin-left: 0px; }

  /*
  main {
  		width: 396px;
  		margin: 0px;
  		padding-top: 50px;
  		}
  */
  /* Logo */
  [class*="-signature"] #wsu-signature {
    background-size: 340px auto !important;
    background-position: center 14px !important;
    margin-left: 40px !important; }

  /* GRID BEHAVIOR */
  .row .column {
    width: 100% !important;
    float: none;
    clear: both; }

  .fluid .row.quarters .column {
    width: 50%; }

  /*
  .fixed .row {
  
  	&.single .column,
  	&.halves .column,
  	&.thirds .column,
  	&.triptych .column,
  	&.sidebar .column.one,
  	&.sidebar .column.two,
  	&.sideleft .column.one,
  	&.sideleft .column.two,
  	&.margin .column.one,
  	&.margin .column.two,
  	&.single .halves .column {
  		width: 100%;
  		float: none;
  		clear: both;
  		}
  		
  	}
  
  
  /* Grid */
  /*
  .fluid .row.single .column,
  .fluid .row.halves .column,
  .fluid .row.thirds .column.one,
  .fluid .row.thirds .column.two,
  .fluid .row.thirds .column.three,
  .fluid .row.triptych .column,
  .fluid .row.sidebar .column.one,
  .fluid .row.sidebar .column.two,
  .fluid .row.sideleft .column.one,
  .fluid .row.sideleft .column.two,
  .fluid .row.margin .column.one,
  .fluid .row.margin .column.two,
  .fluid .row.single .halves .column {
  	width: 100%;
  	float: none;
  	clear: both;
  	}
  */
  /* Unfortunately, this doesn't work --> .hybrid .row.halves *:not(.row) .column, */
  /*
  .hybrid .row.single .column,
  .hybrid .row.halves .column,
  
  .hybrid .row.thirds .column.one,
  .hybrid .row.thirds .column.two,
  .hybrid .row.thirds .column.three,
  .hybrid .row.triptych .column,
  .hybrid .row.sidebar .column.one,
  .hybrid .row.sidebar .column.two,
  .hybrid .row.sideleft .column.one,
  .hybrid .row.sideleft .column.two,
  .hybrid .row.margin .column.one,
  .hybrid .row.margin .column.two,
  .hybrid .row.thirds .halves .column,
  .hybrid .row.fifteenths .four-fifteenths,
  .hybrid .row.fifteenths .five-fifteenths,
  .hybrid .row.fifteenths .six-fifteenths,
  .hybrid .row.fifteenths .seven-fifteenths {
  	width: 100%;
  	float: none;
  	clear: both;
  	}
  */
  .hybrid .row.quarters .column,
  .hybrid .row.fifteenths .two-fifteenths,
  .hybrid .row.fifteenths .three-fifteenths {
    width: 50%; }

  .hybrid .row .row.thirds .column {
    width: 33%; }

  .hybrid .row .row.thirds .column.two {
    width: 34%; }

  /* nesting */
  .hybrid .row .row.quarters .column,
  .fluid .row .row.quarters .column,
  .hybrid .row .row.thirds .column,
  .hybrid .row .row.thirds .column.two,
  .hybrid .row .row.halves .column,
  .hybrid .row .row.halves .column {
    clear: none;
    float: left; }

  /* Gutters */
  .halves.gutter .column:nth-of-type(odd),
  .halves.gutter .column:nth-of-type(even) {
    padding: 2em 2em 0 2em; }

  .halves.gutter.wide .column:nth-of-type(odd),
  .halves.gutter.wide .column:nth-of-type(even) {
    padding: 4em 4em 0 4em; }

  .halves.gutter.wide .column ~ .column {
    padding: 0em 4em 0 4em; }

  .thirds.gutter .column:nth-of-type(3n+1) {
    padding-left: 2em; }

  .thirds.gutter .column:nth-of-type(3n+2) {
    padding-left: 2em;
    padding-right: 2em; }

  .thirds.gutter .column:nth-of-type(3n+3) {
    padding-right: 2em; }

  .fifths.gutter .column {
    padding: 1em; }

  .fifths.gutter .column:nth-of-type(5n+1) {
    padding-left: 2em; }

  .fifths.gutter .column:nth-of-type(5n+5) {
    padding-right: 2em; }

  /* Gutters */
  .halves.gutter .column:nth-of-type(odd),
  .halves.gutter .column:nth-of-type(even) {
    padding: 2em 2em 1em 2em; }

  .halves.gutter.wide .column:nth-of-type(odd),
  .halves.gutter.wide .column:nth-of-type(even) {
    padding: 4em 4em 1.5em 4em; }

  .halves.gutter.wide .column ~ .column {
    padding: 0em 4em 1.5em 4em; }

  /* Signature */
  #wsu-signature {
    background-position: center 14px !important;
    background-size: auto 30px !important;
    height: 49px !important; }

  [class*="-signature"] #wsu-signature {
    background-size: 320px auto !important; }

  /* Header Colors and Signatures */
  #binder #spine header {
    background-color: white; }
  #binder #spine.lightest header {
    background-color: #eff0f1; }
  #binder #spine.lightly header {
    background-color: #d7dadb; }
  #binder #spine.lighter header {
    background-color: #b5babe; }
  #binder #spine.light header {
    background-color: #8d959a; }
  #binder #spine.gray header {
    background-color: #5e6a71; }
  #binder #spine.dark header {
    background-color: #464e54; }
  #binder #spine.darker header {
    background-color: #23282b; }
  #binder #spine.darkest header {
    background-color: black; }
  #binder #spine.crimson header {
    background-color: #981e32; }

  .fluid #wsu-signature {
    background-image: url("/marks/wsu-signature-horizontal.svg"); }

  .spokane-signature .fluid #wsu-signature {
    background-image: url("/marks/wsu-spokane-signature-horizontal.svg"); }

  .vancouver-signature .fluid #wsu-signature {
    background-image: url("/marks/wsu-vancouver-signature-horizontal.svg"); }

  .tricities-signature .fluid #wsu-signature {
    background-image: url("/marks/wsu-tricities-signature-horizontal.svg"); }

  .globalcampus-signature .fluid #wsu-signature {
    background-image: url("/marks/wsu-globalcampus-signature-horizontal.svg"); }

  .extension-signature .fluid #wsu-signature {
    background-image: url("/marks/wsu-extension-signature-horizontal.svg"); }

  .foundation-signature .fluid #wsu-signature {
    background-image: url("/marks/wsu-foundation-signature-horizontal.svg"); }

  .fluid .lighter #wsu-signature {
    background-image: url("/marks/wsu-signature-horizontal-crimson-gray-graydarker.svg"); }

  .spokane-signature .fluid .lighter #wsu-signature {
    background-image: url("/marks/wsu-spokane-signature-horizontal-crimson-gray-graydarker.svg"); }

  .vancouver-signature .fluid .lighter #wsu-signature {
    background-image: url("/marks/wsu-vancouver-signature-horizontal-crimson-gray-graydarker.svg"); }

  .tricities-signature .fluid .lighter #wsu-signature {
    background-image: url("/marks/wsu-tricities-signature-horizontal-crimson-gray-graydarker.svg"); }

  .globalcampus-signature .fluid .lighter #wsu-signature {
    background-image: url("/marks/wsu-globalcampus-signature-horizontal-crimson-gray-graydarker.svg"); }

  .extension-signature .fluid .lighter #wsu-signature {
    background-image: url("/marks/wsu-extension-signature-horizontal-crimson-gray-graydarker.svg"); }

  .foundation-signature .fluid .lighter #wsu-signature {
    background-image: url("/marks/wsu-foundation-signature-horizontal-crimson-gray-graydarker.svg"); }

  .fluid .light #wsu-signature {
    background-image: url("/marks/wsu-signature-horizontal-crimson-gray-white.svg"); }

  .spokane-signature .fluid .light #wsu-signature {
    background-image: url("/marks/wsu-spokane-signature-horizontal-crimson-gray-white.svg"); }

  .vancouver-signature .fluid .light #wsu-signature {
    background-image: url("/marks/wsu-vancouver-signature-horizontal-crimson-gray-white.svg"); }

  .tricities-signature .fluid .light #wsu-signature {
    background-image: url("/marks/wsu-tricities-signature-horizontal-crimson-gray-white.svg"); }

  .globalcampus-signature .fluid .light #wsu-signature {
    background-image: url("/marks/wsu-globalcampus-signature-horizontal-crimson-gray-white.svg"); }

  .extension-signature .fluid .light #wsu-signature {
    background-image: url("/marks/wsu-extension-signature-horizontal-crimson-gray-white.svg"); }

  .foundation-signature .fluid .light #wsu-signature {
    background-image: url("/marks/wsu-foundation-signature-horizontal-crimson-gray-white.svg"); }

  .fluid .gray #wsu-signature {
    background-image: url("/marks/wsu-signature-horizontal-crimson-graydark-graylighter.svg"); }

  .spokane-signature .fluid .gray #wsu-signature {
    background-image: url("/marks/wsu-spokane-signature-horizontal-crimson-graydark-graylighter.svg"); }

  .vancouver-signature .fluid .gray #wsu-signature {
    background-image: url("/marks/wsu-vancouver-signature-horizontal-crimson-graydark-graylighter.svg"); }

  .tricities-signature .fluid .gray #wsu-signature {
    background-image: url("/marks/wsu-tricities-signature-horizontal-crimson-graydark-graylighter.svg"); }

  .globalcampus-signature .fluid .gray #wsu-signature {
    background-image: url("/marks/wsu-globalcampus-signature-horizontal-crimson-graydark-graylighter.svg"); }

  .extension-signature .fluid .gray #wsu-signature {
    background-image: url("/marks/wsu-extension-signature-horizontal-crimson-graydark-graylighter.svg"); }

  .foundation-signature .fluid .gray #wsu-signature {
    background-image: url("/marks/wsu-foundation-signature-horizontal-crimson-graydark-graylighter.svg"); }

  .fluid .dark #wsu-signature {
    background-image: url("/marks/wsu-signature-horizontal-crimson-7d868c-graylightly.svg"); }

  .spokane-signature .fluid .dark #wsu-signature {
    background-image: url("/marks/wsu-spokane-signature-horizontal-crimson-7d868c-graylightly.svg"); }

  .vancouver-signature .fluid .dark #wsu-signature {
    background-image: url("/marks/wsu-vancouver-signature-horizontal-crimson-7d868c-graylightly.svg"); }

  .tricities-signature .fluid .dark #wsu-signature {
    background-image: url("/marks/wsu-tricities-signature-horizontal-crimson-7d868c-graylightly.svg"); }

  .globalcampus-signature .fluid .dark #wsu-signature {
    background-image: url("/marks/wsu-globalcampus-signature-horizontal-crimson-7d868c-graylightly.svg"); }

  .extension-signature .fluid .dark #wsu-signature {
    background-image: url("/marks/wsu-extension-signature-horizontal-crimson-7d868c-graylightly.svg"); }

  .foundation-signature .fluid .dark #wsu-signature {
    background-image: url("/marks/wsu-foundation-signature-horizontal-crimson-7d868c-graylightly.svg"); }

  .fluid .darker #wsu-signature,
  .fluid .darkest #wsu-signature {
    background-image: url("/marks/wsu-signature-horizontal-crimson-gray-graylighter.svg"); }

  .spokane-signature .fluid .darker #wsu-signature,
  .spokane-signature .fluid .darkest #wsu-signature {
    background-image: url("/marks/wsu-spokane-signature-horizontal-crimson-gray-graylighter.svg"); }

  .vancouver-signature .fluid .darker #wsu-signature,
  .vancouver-signature .fluid .darkest #wsu-signature {
    background-image: url("/marks/wsu-vancouver-signature-horizontal-crimson-gray-graylighter.svg"); }

  .tricities-signature .fluid .darker #wsu-signature,
  .tricities-signature .fluid .darkest #wsu-signature {
    background-image: url("/marks/wsu-tricities-signature-horizontal-crimson-gray-graylighter.svg"); }

  .globalcampus-signature .fluid .darker #wsu-signature,
  .globalcampus-signature .fluid .darkest #wsu-signature {
    background-image: url("/marks/wsu-globalcampus-signature-horizontal-crimson-gray-graylighter.svg"); }

  .extension-signature .fluid .darker #wsu-signature,
  .extension-signature .fluid .darkest #wsu-signature {
    background-image: url("/marks/wsu-extension-signature-horizontal-crimson-gray-graylighter.svg"); }

  .foundation-signature .fluid .darker #wsu-signature,
  .foundation-signature .fluid .darkest #wsu-signature {
    background-image: url("/marks/wsu-foundation-signature-horizontal-crimson-gray-graylighter.svg"); }

  .fluid .crimson #wsu-signature {
    background-image: url("/marks/wsu-signature-horizontal-white-graylightly-white.svg"); }

  .spokane-signature .fluid .crimson #wsu-signature {
    background-image: url("/marks/wsu-spokane-signature-horizontal-white-graylightly-white.svg"); }

  .vancouver-signature .fluid .crimson #wsu-signature {
    background-image: url("/marks/wsu-vancouver-signature-horizontal-white-graylightly-white.svg"); }

  .tricities-signature .fluid .crimson #wsu-signature {
    background-image: url("/marks/wsu-tricities-signature-horizontal-white-graylightly-white.svg"); }

  .globalcampus-signature .fluid .crimson #wsu-signature {
    background-image: url("/marks/wsu-globalcampus-signature-horizontal-white-graylightly-white.svg"); }

  .extension-signature .fluid .crimson #wsu-signature {
    background-image: url("/marks/wsu-extension-signature-horizontal-white-graylightly-white.svg"); }

  .foundation-signature .fluid .crimson #wsu-signature {
    background-image: url("/marks/wsu-foundation-signature-horizontal-white-graylightly-white.svg"); }

  html.lt-ie9 #binder.fluid #wsu-signature {
    background-image: url("//repo.wsu.edu/spine/1/marks/wsu-signature-horizontal.png"); } }
@media only screen and (max-width: 420px), screen and (max-width: 360px) and (max-device-width: 480px) and (orientation: landscape) {
  #wsu-signature {
    background-size: 320px auto !important; } }
@media only screen and (max-width: 360px), screen and (max-width: 360px) and (max-device-width: 480px) and (orientation: portrait) {
  #wsu-signature {
    background-size: 260px auto !important;
    background-position: center 60% !important; } }
/* LARGE FORMAT (Folio)
---------------------------------------------------------- */
.folio-only {
  display: none; }

.hybrid.folio .row .column,
.fixed.folio .row .column {
  float: left; }

@media only screen and (min-width: 990px) {
  #binder.fluid {
    width: 100%; }

  #binder.fluid main {
    width: auto;
    margin: 0px 0px 0px 198px; }

  #binder.fluid.max-1188 {
    max-width: 1188px; }
  #binder.fluid.max-1386 {
    max-width: 1386px; }
  #binder.fluid.max-1584 {
    max-width: 1584px; }
  #binder.fluid.max-1782 {
    max-width: 1782px; }
  #binder.fluid.max-1980 {
    max-width: 1980px; } }
/* !LARGE FORMAT -> 1188 */
@media only screen and (min-width: 1188px) and (min-device-width: 990px) {
  #binder:not(.fluid).max-1188, #binder:not(.fluid).max-1386, #binder:not(.fluid).max-1584, #binder:not(.fluid).max-1782, #binder:not(.fluid).max-1980 {
    width: 1188px; }

  #binder:not(.fluid).max-1188 main, #binder:not(.fluid).max-1386 main, #binder:not(.fluid).max-1584 main, #binder:not(.fluid).max-1782 main, #binder:not(.fluid).max-1980 main {
    width: 990px; }

  #binder.max-1188 .row, #binder.max-1386 .row, #binder.max-1584 .row, #binder.max-1782 .row, #binder.max-1980 .row {
    max-width: 990px; } }
/* XLARGE -> 1386 */
@media only screen and (min-width: 1386px) {
  #binder:not(.fluid).max-1386, #binder:not(.fluid).max-1584, #binder:not(.fluid).max-1782, #binder:not(.fluid).max-1980 {
    width: 1386px; }

  #binder:not(.fluid).folio.max-1386 main,
  #binder:not(.fluid).folio.max-1584 main,
  #binder:not(.fluid).folio.max-1782 main,
  #binder:not(.fluid).folio.max-1980 main {
    width: 1188px; }

  #binder.max-1386 .row, #binder.max-1584 .row, #binder.max-1782 .row, #binder.max-1980 .row {
    max-width: 1188px; } }
/* !LARGE FORMAT -> 1584  */
@media only screen and (min-width: 1584px) {
  #binder:not(.fluid).folio.max-1584,
  #binder:not(.fluid).folio.max-1782,
  #binder:not(.fluid).folio.max-1980 {
    width: 1584px; }

  #binder:not(.fluid).folio.max-1584 main,
  #binder:not(.fluid).folio.max-1782 main,
  #binder:not(.fluid).folio.max-1980 main {
    width: 1386px; }

  #binder.folio.max-1584 .row, #binder.folio.max-1782 .row, #binder.folio.max-1980 .row {
    max-width: 1386px; } }
/* !LARGE FORMAT -> 1782  */
@media only screen and (min-width: 1782px) {
  #binder:not(.fluid).max-1782, #binder:not(.fluid).max-1980 {
    width: 1782px; }

  #binder:not(.fluid).folio.max-1782 main,
  #binder:not(.fluid).folio.max-1980 main {
    width: 1584px; }

  #binder.folio.max-1782 .row, #binder.folio.max-1980 .row {
    max-width: 1584px; } }
/* !LARGE FORMAT -> 1980  */
@media only screen and (min-width: 1980px) {
  #binder:not(.fluid).folio.max-1980 {
    width: 1980px; }

  #binder:not(.fluid).folio.max-1980 main {
    width: 1782px; }

  #binder.folio.max-1980 .row {
    max-width: 1782px; } }
/* III.5.0 PRINT
----------------------------------------------------------------- */
html.print #binder main {
  margin-left: 0px; }

html.print #binder #spine header button#shelve {
  display: none; }

@media print {
  html.print {
    zoom: 90%; }

  html.print #spine header button#shelve,
  html.print #spine .print-controls {
    display: none; }

  /*#jacket { overflow: visible; }*/ }
html.print #binder {
  position: relative;
  width: 792px;
  overflow: hidden; }

html.print #spine,
html.print #glue {
  min-height: 0px !important;
  width: 792px; }

html.print #spine {
  height: 50px;
  width: 100%;
  top: 0;
  margin-left: 0px; }

html.print main {
  padding-top: 50px; }

html.print #spine header {
  position: relative; }

html.print #wsu-signature {
  background-position: center 14px;
  background-size: auto 30px;
  height: 49px; }

html.print #spine #glue header ~ * {
  display: none !important; }

html.print #wsu-signature {
  background-image: url("//repo.wsu.edu/spine/1/marks/wsu-signature-horizontal.svg"); }

html.print .light #wsu-signature,
html.print .gray #wsu-signature,
html.print .dark #wsu-signature,
html.print .crimson #wsu-signature {
  background-image: url("//repo.wsu.edu/spine/1/marks/wsu-signature-horizontal-lighter.svg"); }

/*
.for(@campuses); .-each(@campus) {
	html.print .@{campus}-signature #wsu-signature { background-image: url('//repo.wsu.edu/marks/wsu-@{campus}-signature-horizontal.svg'); }
	}
*/
html.print #spine .print-controls {
  float: right; }

html.print #spine .print-controls button {
  display: inline-block;
  width: auto;
  font-size: 1.4em;
  line-height: 1em;
  padding: 0px; }

html.print #spine .print-button {
  display: none; }

#spine .print-controls {
  display: block;
  z-index: 99164;
  margin: 0px 10px 0px 0px;
  position: absolute;
  right: 20px; }

#spine .print-controls button {
  display: block;
  float: left;
  margin: 0px;
  text-indent: 0px;
  font-weight: normal; }

#spine button#print-invoke,
#spine button#print-cancel {
  color: #8D959A;
  background: white;
  border-color: #8D959A;
  border-style: solid;
  display: block; }

#spine button#print-invoke {
  border-width: 0px 1px 1px 1px;
  border-radius: 0px 0px 0px 5px;
  padding: 4px 15px 4px 12px; }

#spine button#print-cancel {
  border-width: 0px 1px 1px 0px;
  border-radius: 0px 0px 5px 0px;
  padding: 4px 5px 4px 12px; }

#spine button#print-invoke:hover,
#spine button#print-cancel:hover {
  text-shadow: none;
  background: #EFF0F1; }

#spine button#print-invoke:before,
#spine button#print-cancel:before {
  font-family: "Spine-Icons";
  font-size: 12px;
  width: 17px;
  text-align: left;
  padding-right: 8px;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

#spine button#print-cancel:before {
  padding-right: 5px; }

#spine button#print-invoke:before {
  content: "⎙"; }

#spine button#print-cancel:before {
  content: "␡"; }
