body:not(.unset) table {
  width: 100%; }

body:not(.unset) table th {
  font-weight: bold;
  text-align: left; }

body:not(.unset) table td,
body:not(.unset) table th {
  padding: .3em .6em .3em 0em;
  vertical-align: top; }

table.stripe td,
table.stripe th {
  padding: .3em .6em; }

/* line */
table.line td {
  border-top: 1px #d7dadb solid; }

/* stripe */
table.stripe tr:nth-of-type(even) td {
  background-color: #eff0f1; }

ul.line {
  padding: 0 0 1em 0; }

ul.line li {
  list-style: none;
  padding: .3em 0;
  margin: 0px; }

ul.line li ~ li {
  border-top: 1px #d7dadb solid; }

/* # Skeleton */
/* ## RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

main, article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

figcaption {
  line-height: 1em; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ## DEFAULTS */
/* ### Fonts  */
body {
  font: 14px/22px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif; }

.sans {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif; }

.serif {
  font-family: "Palatino Linotype", Palatino, "Book Antiqua", Georgia, serif; }

/* ### Headers */
h6, h5, h4, h3, h2, h1 {
  margin: 0;
  line-height: 1.1em;
  letter-spacing: 0em;
  font-weight: bold;
  padding: .5em 0px .2em 0px;
  /* Maybe... -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */ }

h1 {
  font-size: 2em;
  font-size: 2rem;
  padding-top: 0; }

h2 {
  font-size: 1.8em;
  font-size: 1.8rem; }

h3 {
  font-size: 1.6em;
  font-size: 1.6rem; }

h4 {
  font-size: 1.4em;
  font-size: 1.4rem; }

h5 {
  font-size: 1.2em;
  font-size: 1.2rem; }

h6 {
  font-size: 1.0em;
  font-size: 1.0rem; }

/* ### Lists */
ul, ol {
  padding: 0em 2em 1em 2em; }

ul ul,
ol ol {
  padding-bottom: 0; }

ul li,
ol li {
  padding: 0 0 .3em 0;
  line-height: 1.4em; }

ul li ul,
ol li ol {
  padding-top: .3em; }

p {
  margin: 0px;
  padding-bottom: 1em; }

p ~ p,
blockquote,
ul, ol {
  padding-bottom: 1em; }

h1 + ul, h2 + ul, h3 + ul, h4 + ul, h5 + ul, h6 + ul,
h1 + ol, h2 + ol, h3 + ol, h4 + ol, h5 + ol, h6 + ol {
  padding-top: .3em; }

blockquote {
  padding-left: 1em;
  padding-right: 1em;
  font-family: "Palatino Linotype", Palatino, "Book Antiqua", Georgia, serif; }

pre, code {
  font-family: "Courier New", Courier, monospace; }

big {
  font-size: 1.5em; }

small {
  font-size: smaller;
  line-height: 110%; }

article img[align="right"] {
  margin: 0px 0px 1em 10px; }

article img[align="left"] {
  margin: 0px 10px 1em 0px; }

sup, sub {
  font-size: .7em;
  line-height: .7em; }

sup {
  vertical-align: super;
  margin-top: -6px; }

sub {
  vertical-align: sub; }

small {
  font-size: .8em;
  line-height: .8em; }

nav ul li,
.widget ul li {
  list-style: none; }

a {
  text-decoration: none;
  color: #981e32; }

a:hover {
  color: #c60c30; }

strong, b {
  font-weight: bold; }

em, i {
  font-style: italic; }

hr {
  border-width: 0px;
  border-style: solid;
  border-color: black;
  margin: 1em 0;
  height: 1px;
  background-color: rgba(93, 105, 112, 0.5);
  display: block;
  clear: both; }

/* IE9, IE10 */
@media screen and (min-width: 0 \0) {
  em, i, bold, big, h1, h2, h3, h4, h5, h6 {
    font-family: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; } }
.wsu-icon, .wsu-icons {
  font-family: "Spine-Icons-Extended";
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* ## STRUCTURE  */
html {
  background-color: #f9f9f9; }

body {
  color: #5e6a71;
  background-repeat: no-repeat;
  /* nix */
  background-position: center top;
  /* nix */ }

#binder {
  width: 990px;
  margin: 0px auto; }

main {
  margin-left: 198px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

.fixed main,
.hybrid main {
  width: 792px; }

/* ### Spineless */
.spineless.fixed main,
.spineless.hybrid main,
.spineless .fixed main,
.spineless .hybrid main {
  margin-left: 0px;
  width: 990px; }

.spineless.fluid main,
.spineless .fluid main {
  margin-left: 0px; }

.fluid main {
  width: auto; }

section {
  position: relative;
  clear: both; }

/* ## GRID */
/* ### Rows */
.row {
  box-sizing: border-box; }

.row:not(.boundless):not(.rebound) {
  width: 100%; }

/* ### Columns */
.row .column {
  position: relative;
  display: block;
  overflow: visible;
  z-index: auto;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row.fifteenths,
.row.fifths {
  max-width: 990px; }

.row.reverse {
  direction: rtl; }

.row.reverse .column {
  direction: ltr; }

/* ### Unbind */
.row.unbound,
.unbound {
  position: relative;
  max-width: 100%;
  max-width: 99164px; }

.rebound {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

.verso .rebound {
  margin-right: 0px;
  margin-left: auto; }

.recto.verso .rebound {
  margin-left: auto;
  margin-right: auto; }

.spineless .recto.verso .rebound {
  border-left-width: 0px; }

.rebound,
.row.rebound {
  width: 792px; }

.spineless .rebound,
.fifteenths .rebound,
.fifths .rebound,
.max-1188 .rebound,
.max-1188 .row.rebound {
  width: 990px; }

.max-1188 .spineless .rebound,
.max-1188 .spineless .row.rebound {
  width: 1188px; }

.recto.verso .rebound {
  border-left: 99px transparent solid; }

/* ## LAYOUTS */
.row.single .column {
  width: 792px; }

.column.singled {
  width: 792px !important; }

.row.halves .column {
  width: 396px; }

.column.half {
  width: 396px !important; }

.row.thirds .column {
  width: 264px; }

.column.third {
  width: 264px !important; }

.row.quarters .column {
  width: 198px; }

.column.quarter {
  width: 198px !important; }

.row.triptych .column {
  width: 198px; }

.row.triptych .column.two {
  width: 396px; }

.row.margin-right .column.one,
.row.margin-left .column.two {
  width: 594px; }

.row.margin-right .column.two,
.row.margin-left .column.one {
  width: 198px; }

.row.side-right .column.one,
.row.side-left .column.two {
  width: 528px; }

.row.side-right .column.two,
.row.side-left .column.one {
  width: 264px; }

.fluid .row.single .column {
  width: 100%; }
.fluid .row.halves .column {
  width: 50%; }
.fluid .column.half {
  width: 50% !important; }
.fluid .row.thirds .column {
  width: 33%; }
.fluid .row.thirds .column.two {
  width: 34%; }
.fluid .column.third {
  width: 33.33333% !important; }
.fluid .row.quarters .column {
  width: 25%; }
.fluid .column.quarter {
  width: 25% !important; }
.fluid .row.triptych .column {
  width: 25%; }
.fluid .row.triptych .column.two {
  width: 50%; }
.fluid .row.margin-right .column.one,
.fluid .row.margin-left .column.two {
  width: 75%; }
.fluid .row.margin-right .column.two,
.fluid .row.margin-left .column.one {
  width: 25%; }
.fluid .row.side-right .column.one,
.fluid .row.side-left .column.two {
  width: 67%; }
.fluid .row.side-right .column.two,
.fluid .row.side-left .column.one {
  width: 33%; }

/* ### Nesting */
.row:not(.boundless):not(.max-width):not(.full-width) .row,
.row.spineless:not(.boundless):not(.max-width):not(.full-width) .row {
  max-width: auto; }

/* single then halves */
.row.single row.halves .column {
  width: 396px; }

.fluid .row.single .halves .column {
  width: 50%; }

/* halves then halves */
.row.halves .halves .column {
  width: 198px; }

.hybrid .row.halves .halves .column,
.fluid .row.halves .halves .column {
  width: 50%; }

/* halves then thirds */
.row .row.thirds .column {
  width: 132px; }

.row.quarters .row.thirds .column {
  width: 66px; }

.fluid .row .row.thirds .column {
  width: 33%; }

.fluid .row .row.thirds .column.two {
  width: 34%; }

/* halves then quarters */
.row .row.quarters .column {
  width: 99px; }

.hybrid .row .row.quarters .column,
.fluid .row .row.quarters .column {
  width: 25%; }

/* thirds then halves */
.row.thirds .row.halves .column {
  width: 132px; }

.fluid .row.thirds .halves .column {
  width: 50%; }

/* quarters then ... */
.row .column.row.single,
.row .column.row.single .column {
  width: 792px; }

/* ### Spacing  */
/* #### Margins (Uses padding) */
/* "Marginalize" is Deprecated */
.marginalize .column,
.marginalized {
  padding: 2em; }

.marginalize.wide .column,
.marginalized.wide {
  padding-left: 4em;
  padding-right: 4em; }

.marginalize.narrow .column,
.marginalized.narrow {
  padding-left: 1em;
  padding-right: 1em; }

.marginalize.tall .column,
.marginalized.tall {
  padding-top: 4em;
  padding-bottom: 4em; }

.marginalize.short .column,
.marginalized.short {
  padding-top: 1em;
  padding-bottom: 1em; }

.marginalize-top .column,
.marginalized-top {
  padding-top: 2em; }

.marginalize-right .column,
.marginalized-right {
  padding-right: 2em; }

.marginalize-bottom .column,
.marginalized-bottom {
  padding-bottom: 2em; }

.marginalize-left .column,
.marginalized-left {
  padding-left: 2em; }

.marginalize-sides .column,
.marginalized-sides {
  padding-left: 2em;
  padding-right: 2em; }

.marginalize-sides.wide .column,
.marginalized-sides.wide {
  padding-left: 4em;
  padding-right: 4em; }

.marginalize-right.wide .column,
.marginalized-right.wide {
  padding-right: 4em; }

.marginalize-left.wide .column,
.marginalized-left.wide {
  padding-left: 4em; }

.marginalize-sides.narrow .column,
.marginalized-sides.narrow {
  padding-left: 1em;
  padding-right: 1em; }

.marginalize-right.narrow .column,
.marginalized-right.narrow {
  padding-right: 1em; }

.marginalize-left.narrow .column,
.marginalized-left.narrow {
  padding-left: 1em; }

.marginalize-ends .column,
.marginalized-ends {
  padding-top: 2em;
  padding-bottom: 2em; }

.marginalize-ends.tall .column,
.marginalized-ends.tall {
  padding-top: 4em;
  padding-bottom: 4em; }

.marginalize-top.tall .column,
.marginalized-top.tall {
  padding-top: 4em; }

.marginalize-bottom.tall .column,
.marginalized-bottom.tall {
  padding-bottom: 4em; }

.marginalize-ends.short .column,
.marginalized-ends.short {
  padding-top: 1em;
  padding-bottom: 1em; }

.marginalize-top.short .column,
.marginalized-top.short {
  padding-top: 1em; }

.marginalize-bottom.short .column,
.marginalized-bottom.short {
  padding-bottom: 1em; }

.pad .column,
.padded {
  padding: 2rem; }

.pad.wide .column,
.padded.wide {
  padding-left: 4rem;
  padding-right: 4rem; }

.pad.narrow .column,
.padded.narrow {
  padding-left: 1rem;
  padding-right: 1rem; }

.pad.tall .column,
.padded.tall {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.pad.short .column,
.padded.short {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.pad-top .column,
.padded-top {
  padding-top: 2rem; }

.pad-right .column,
.padded-right {
  padding-right: 2rem; }

.pad-bottom .column,
.padded-bottom {
  padding-bottom: 2rem; }

.pad-left .column,
.padded-left {
  padding-left: 2rem; }

.pad-sides .column,
.padded-sides {
  padding-left: 2rem;
  padding-right: 2rem; }

.pad-sides.wide .column,
.padded-sides.wide {
  padding-left: 4rem;
  padding-right: 4rem; }

.pad-right.wide .column,
.padded-right.wide {
  padding-right: 4rem; }

.pad-left.wide .column,
.padded-left.wide {
  padding-left: 4rem; }

.pad-sides.narrow .column,
.padded-sides.narrow {
  padding-left: 1rem;
  padding-right: 1rem; }

.pad-right.narrow .column,
.padded-right.narrow {
  padding-right: 1rem; }

.pad-left.narrow .column,
.padded-left.narrow {
  padding-left: 1rem; }

.pad-ends .column,
.padded-ends {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.pad-ends.tall .column,
.padded-ends.tall {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.pad-top.tall .column,
.padded-top.tall {
  padding-top: 4rem; }

.pad-bottom.tall .column,
.padded-bottom.tall {
  padding-bottom: 4rem; }

.pad-ends.short .column,
.padded-ends.short {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.pad-top.short .column,
.padded-top.short {
  padding-top: 1rem; }

.pad-bottom.short .column,
.padded-bottom.short {
  padding-bottom: 1rem; }

/* #### Gutters */
/*  */
.gutter .column,
.guttered {
  padding-left: 2rem;
  padding-right: 2rem; }

/* .wide */
.gutter.wide .column,
.guttered.wide {
  padding-left: 4rem;
  padding-right: 4rem; }

/* .narrow */
.gutter.narrow .column,
.guttered.narrow {
  padding-left: 1rem;
  padding-right: 1rem; }

.spacing-loose .gutter .colum,
.spacing-loose .guttered {
  padding-left: 4rem;
  padding-right: 4rem; }

.spacing-loose .single.gutter .column {
  padding-left: 4rem;
  padding-right: 4rem; }

.spacing-loose .halves.gutter .column.one,
.spacing-loose .halves.gutter .column:nth-of-type(2n+3),
.spacing-loose .side-left.gutter .column.one,
.spacing-loose .side-right.gutter .column.one {
  padding-left: 4rem;
  padding-right: 2rem; }

.spacing-loose .halves.gutter .column.two,
.spacing-loose .halves.gutter .column:nth-of-type(2n+4),
.spacing-loose .side-left.gutter .column.two,
.spacing-loose .side-right.gutter .column.two {
  padding-left: 2rem;
  padding-right: 4rem; }

.spacing-loose .thirds.gutter .column.one,
.spacing-loose .thirds.gutter .column:nth-of-type(3n+4),
.spacing-loose .triptych.gutter .column.one {
  padding-left: 4rem;
  padding-right: 2rem; }

.spacing-loose .thirds.gutter .column.two,
.spacing-loose .thirds.gutter .column:nth-of-type(3n+5),
.spacing-loose .triptych.gutter .column.two {
  padding-left: 2rem;
  padding-right: 2rem; }

.spacing-loose .thirds.gutter .column.three,
.spacing-loose .thirds.gutter .column:nth-of-type(3n+6),
.spacing-loose .triptych.gutter .column.three {
  padding-left: 2rem;
  padding-right: 4rem; }

.spacing-loose .quarters.gutter .column.one,
.spacing-loose .quarters.gutter .column:nth-of-type(4n+5) {
  padding-left: 4rem;
  padding-right: 2rem; }

.spacing-loose .quarters.gutter .column.two,
.spacing-loose .quarters.gutter .column.three,
.spacing-loose .quarters.gutter .column:nth-of-type(4n+6),
.spacing-loose .quarters.gutter .column:nth-of-type(4n+7) {
  padding-left: 2rem;
  padding-right: 2rem; }

.spacing-loose .quarters.gutter .column.four,
.spacing-loose .quarters.gutter .column:nth-of-type(4n+8) {
  padding-left: 2rem;
  padding-right: 4rem; }

.spacing-tight .gutter .colum,
.spacing-tight .guttered {
  padding-left: 1rem;
  padding-right: 1rem; }

.spacing-tight .single.gutter .column {
  padding-left: 1rem;
  padding-right: 1rem; }

.spacing-tight .halves.gutter .column.one,
.spacing-tight .halves.gutter .column:nth-of-type(2n+3),
.spacing-tight .side-left.gutter .column.one,
.spacing-tight .side-right.gutter .column.one {
  padding-left: 1rem;
  padding-right: 0.5rem; }

.spacing-tight .halves.gutter .column.two,
.spacing-tight .halves.gutter .column:nth-of-type(2n+4),
.spacing-tight .side-left.gutter .column.two,
.spacing-tight .side-right.gutter .column.two {
  padding-left: 0.5rem;
  padding-right: 1rem; }

.spacing-tight .thirds.gutter .column.one,
.spacing-tight .thirds.gutter .column:nth-of-type(3n+4),
.spacing-tight .triptych.gutter .column.one {
  padding-left: 1rem;
  padding-right: 0.5rem; }

.spacing-tight .thirds.gutter .column.two,
.spacing-tight .thirds.gutter .column:nth-of-type(3n+5),
.spacing-tight .triptych.gutter .column.two {
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

.spacing-tight .thirds.gutter .column.three,
.spacing-tight .thirds.gutter .column:nth-of-type(3n+6),
.spacing-tight .triptych.gutter .column.three {
  padding-left: 0.5rem;
  padding-right: 1rem; }

.spacing-tight .quarters.gutter .column.one,
.spacing-tight .quarters.gutter .column:nth-of-type(4n+5) {
  padding-left: 1rem;
  padding-right: 0.5rem; }

.spacing-tight .quarters.gutter .column.two,
.spacing-tight .quarters.gutter .column.three,
.spacing-tight .quarters.gutter .column:nth-of-type(4n+6),
.spacing-tight .quarters.gutter .column:nth-of-type(4n+7) {
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

.spacing-tight .quarters.gutter .column.four,
.spacing-tight .quarters.gutter .column:nth-of-type(4n+8) {
  padding-left: 0.5rem;
  padding-right: 1rem; }

.single.gutter .column {
  padding-left: 2rem;
  padding-right: 2rem; }

.halves.gutter .column.one,
.halves.gutter .column:nth-of-type(2n+3),
.side-left.gutter .column.one,
.side-right.gutter .column.one {
  padding-left: 2rem;
  padding-right: 1rem; }

.halves.gutter .column.two,
.halves.gutter .column:nth-of-type(2n+4),
.side-left.gutter .column.two,
.side-right.gutter .column.two {
  padding-left: 1rem;
  padding-right: 2rem; }

.thirds.gutter .column.one,
.thirds.gutter .column:nth-of-type(3n+4),
.triptych.gutter .column.one {
  padding-left: 2rem;
  padding-right: 1rem; }

.thirds.gutter .column.two,
.thirds.gutter .column:nth-of-type(3n+5),
.triptych.gutter .column.two {
  padding-left: 1rem;
  padding-right: 1rem; }

.thirds.gutter .column.three,
.thirds.gutter .column:nth-of-type(3n+6),
.triptych.gutter .column.three {
  padding-left: 1rem;
  padding-right: 2rem; }

.quarters.gutter .column.one,
.quarters.gutter .column:nth-of-type(4n+5) {
  padding-left: 2rem;
  padding-right: 1rem; }

.quarters.gutter .column.two,
.quarters.gutter .column.three,
.quarters.gutter .column:nth-of-type(4n+6),
.quarters.gutter .column:nth-of-type(4n+7) {
  padding-left: 1rem;
  padding-right: 1rem; }

.quarters.gutter .column.four,
.quarters.gutter .column:nth-of-type(4n+8) {
  padding-left: 1rem;
  padding-right: 2rem; }

.single.gutter.wide .column {
  padding-left: 4rem;
  padding-right: 4rem; }

.halves.gutter.wide .column.one,
.halves.gutter.wide .column:nth-of-type(2n+3),
.side-left.gutter.wide .column.one,
.side-right.gutter.wide .column.one {
  padding-left: 4rem;
  padding-right: 2rem; }

.halves.gutter.wide .column.two,
.halves.gutter.wide .column:nth-of-type(2n+4),
.side-left.gutter.wide .column.two,
.side-right.gutter.wide .column.two {
  padding-left: 2rem;
  padding-right: 4rem; }

.thirds.gutter.wide .column.one,
.thirds.gutter.wide .column:nth-of-type(3n+4),
.triptych.gutter.wide .column.one {
  padding-left: 4rem;
  padding-right: 2rem; }

.thirds.gutter.wide .column.two,
.thirds.gutter.wide .column:nth-of-type(3n+5),
.triptych.gutter.wide .column.two {
  padding-left: 2rem;
  padding-right: 2rem; }

.thirds.gutter.wide .column.three,
.thirds.gutter.wide .column:nth-of-type(3n+6),
.triptych.gutter.wide .column.three {
  padding-left: 2rem;
  padding-right: 4rem; }

.quarters.gutter.wide .column.one,
.quarters.gutter.wide .column:nth-of-type(4n+5) {
  padding-left: 4rem;
  padding-right: 2rem; }

.quarters.gutter.wide .column.two,
.quarters.gutter.wide .column.three,
.quarters.gutter.wide .column:nth-of-type(4n+6),
.quarters.gutter.wide .column:nth-of-type(4n+7) {
  padding-left: 2rem;
  padding-right: 2rem; }

.quarters.gutter.wide .column.four,
.quarters.gutter.wide .column:nth-of-type(4n+8) {
  padding-left: 2rem;
  padding-right: 4rem; }

.single.gutter.narrow .column {
  padding-left: 1rem;
  padding-right: 1rem; }

.halves.gutter.narrow .column.one,
.halves.gutter.narrow .column:nth-of-type(2n+3),
.side-left.gutter.narrow .column.one,
.side-right.gutter.narrow .column.one {
  padding-left: 1rem;
  padding-right: 0.5rem; }

.halves.gutter.narrow .column.two,
.halves.gutter.narrow .column:nth-of-type(2n+4),
.side-left.gutter.narrow .column.two,
.side-right.gutter.narrow .column.two {
  padding-left: 0.5rem;
  padding-right: 1rem; }

.thirds.gutter.narrow .column.one,
.thirds.gutter.narrow .column:nth-of-type(3n+4),
.triptych.gutter.narrow .column.one {
  padding-left: 1rem;
  padding-right: 0.5rem; }

.thirds.gutter.narrow .column.two,
.thirds.gutter.narrow .column:nth-of-type(3n+5),
.triptych.gutter.narrow .column.two {
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

.thirds.gutter.narrow .column.three,
.thirds.gutter.narrow .column:nth-of-type(3n+6),
.triptych.gutter.narrow .column.three {
  padding-left: 0.5rem;
  padding-right: 1rem; }

.quarters.gutter.narrow .column.one,
.quarters.gutter.narrow .column:nth-of-type(4n+5) {
  padding-left: 1rem;
  padding-right: 0.5rem; }

.quarters.gutter.narrow .column.two,
.quarters.gutter.narrow .column.three,
.quarters.gutter.narrow .column:nth-of-type(4n+6),
.quarters.gutter.narrow .column:nth-of-type(4n+7) {
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

.quarters.gutter.narrow .column.four,
.quarters.gutter.narrow .column:nth-of-type(4n+8) {
  padding-left: 0.5rem;
  padding-right: 1rem; }

.gutterless,
.gutless {
  padding-left: 0px !important;
  padding-right: 0px !important; }

/*
	.fifths.gutter .column { padding: 1em; }
	.fifths.gutter .column:nth-of-type(5n+1) { padding-left: 2em; }
	.fifths.gutter .column:nth-of-type(5n+5) { padding-right: 2em; }
*/
/* ## GRID  */
/* ### twelfths */
.one-twelfths, .twelfths-1 {
  width: 66px; }

.one-twelfths-max, .twelfths-1-max {
  max-width: 66px; }

.one-twelfths-tall, .twelfths-1-tall {
  height: 66px; }

.two-twelfths, .twelfths-2 {
  width: 132px; }

.two-twelfths-max, .twelfths-2-max {
  max-width: 132px; }

.two-twelfths-tall, .twelfths-2-tall {
  height: 132px; }

.three-twelfths, .twelfths-3 {
  width: 198px; }

.three-twelfths-max, .twelfths-3-max {
  max-width: 198px; }

.three-twelfths-tall, .twelfths-3-tall {
  height: 198px; }

.four-twelfths, .twelfths-4 {
  width: 264px; }

.four-twelfths-max, .twelfths-4-max {
  max-width: 264px; }

.four-twelfths-tall, .twelfths-4-tall {
  height: 264px; }

.five-twelfths, .twelfths-5 {
  width: 330px; }

.five-twelfths-max, .twelfths-5-max {
  max-width: 330px; }

.five-twelfths-tall, .twelfths-5-tall {
  height: 330px; }

.six-twelfths, .twelfths-6 {
  width: 396px; }

.six-twelfths-max, .twelfths-6-max {
  max-width: 396px; }

.six-twelfths-tall, .twelfths-6-tall {
  height: 396px; }

.seven-twelfths, .twelfths-7 {
  width: 462px; }

.seven-twelfths-max, .twelfths-7-max {
  max-width: 462px; }

.seven-twelfths-tall, .twelfths-7-tall {
  height: 462px; }

.eight-twelfths, .twelfths-8 {
  width: 528px; }

.eight-twelfths-max, .twelfths-8-max {
  max-width: 528px; }

.eight-twelfths-tall, .twelfths-8-tall {
  height: 528px; }

.nine-twelfths, .twelfths-9 {
  width: 594px; }

.nine-twelfths-max, .twelfths-9-max {
  max-width: 594px; }

.nine-twelfths-tall, .twelfths-9-tall {
  height: 594px; }

.ten-twelfths, .twelfths-10 {
  width: 660px; }

.ten-twelfths-max, .twelfths-10-max {
  max-width: 660px; }

.ten-twelfths-tall, .twelfths-10-tall {
  height: 660px; }

.eleven-twelfths, .twelfths-11 {
  width: 726px; }

.eleven-twelfths-max, .twelfths-11-max {
  max-width: 726px; }

.eleven-twelfths-tall, .twelfths-11-tall {
  height: 726px; }

.twelve-twelfths, .twelfths-12 {
  width: 792px; }

.twelve-twelfths-max, .twelfths-12-max {
  max-width: 792px; }

.twelve-twelfths-tall, .twelfths-12-tall {
  height: 792px; }

.thirteen-twelfths, .twelfths-13 {
  width: 858px; }

.thirteen-twelfths-max, .twelfths-13-max {
  max-width: 858px; }

.thirteen-twelfths-tall, .twelfths-13-tall {
  height: 858px; }

.fourteen-twelfths, .twelfths-14 {
  width: 924px; }

.fourteen-twelfths-max, .twelfths-14-max {
  max-width: 924px; }

.fourteen-twelfths-tall, .twelfths-14-tall {
  height: 924px; }

.fifteen-twelfths, .twelfths-15 {
  width: 990px; }

.fifteen-twelfths-max, .twelfths-15-max {
  max-width: 990px; }

.fifteen-twelfths-tall, .twelfths-15-tall {
  height: 990px; }

.sixteen-twelfths, .twelfths-16 {
  width: 1056px; }

.sixteen-twelfths-max, .twelfths-16-max {
  max-width: 1056px; }

.sixteen-twelfths-tall, .twelfths-16-tall {
  height: 1056px; }

.seventeen-twelfths, .twelfths-17 {
  width: 1122px; }

.seventeen-twelfths-max, .twelfths-17-max {
  max-width: 1122px; }

.seventeen-twelfths-tall, .twelfths-17-tall {
  height: 1122px; }

.eighteen-twelfths, .twelfths-18 {
  width: 1188px; }

.eighteen-twelfths-max, .twelfths-18-max {
  max-width: 1188px; }

.eighteen-twelfths-tall, .twelfths-18-tall {
  height: 1188px; }

.nineteen-twelfths, .twelfths-19 {
  width: 1254px; }

.nineteen-twelfths-max, .twelfths-19-max {
  max-width: 1254px; }

.nineteen-twelfths-tall, .twelfths-19-tall {
  height: 1254px; }

.twenty-twelfths, .twelfths-20 {
  width: 1320px; }

.twenty-twelfths-max, .twelfths-20-max {
  max-width: 1320px; }

.twenty-twelfths-tall, .twelfths-20-tall {
  height: 1320px; }

.twentyone-twelfths, .twelfths-21 {
  width: 1386px; }

.twentyone-twelfths-max, .twelfths-21-max {
  max-width: 1386px; }

.twentyone-twelfths-tall, .twelfths-21-tall {
  height: 1386px; }

.twentytwo-twelfths, .twelfths-22 {
  width: 1452px; }

.twentytwo-twelfths-max, .twelfths-22-max {
  max-width: 1452px; }

.twentytwo-twelfths-tall, .twelfths-22-tall {
  height: 1452px; }

.twentythree-twelfths, .twelfths-23 {
  width: 1518px; }

.twentythree-twelfths-max, .twelfths-23-max {
  max-width: 1518px; }

.twentythree-twelfths-tall, .twelfths-23-tall {
  height: 1518px; }

.twentyfour-twelfths, .twelfths-24 {
  width: 1584px; }

.twentyfour-twelfths-max, .twelfths-24-max {
  max-width: 1584px; }

.twentyfour-twelfths-tall, .twelfths-24-tall {
  height: 1584px; }

.fluid .one-twelfths, .fluid .twelfths-1 {
  width: 8.33333%; }
.fluid .two-twelfths, .fluid .twelfths-2 {
  width: 16.66667%; }
.fluid .three-twelfths, .fluid .twelfths-3 {
  width: 25.0%; }
.fluid .four-twelfths, .fluid .twelfths-4 {
  width: 33.33333%; }
.fluid .five-twelfths, .fluid .twelfths-5 {
  width: 41.66666%; }
.fluid .six-twelfths, .fluid .twelfths-6 {
  width: 50.0%; }
.fluid .seven-twelfths, .fluid .twelfths-7 {
  width: 58.33333%; }
.fluid .eight-twelfths, .fluid .twelfths-8 {
  width: 66.66666%; }
.fluid .nine-twelfths, .fluid .twelfths-9 {
  width: 75.0%; }
.fluid .ten-twelfths, .fluid .twelfths-10 {
  width: 83.33333%; }
.fluid .eleven-twelfths, .fluid .twelfths-11 {
  width: 91.66666%; }
.fluid .twelve-twelfths, .fluid .twelfths-12 {
  width: 100.0%; }

/* ### Fifteenths Deprecated */
.one-fifteenths, .fifteenths-1 {
  width: 66px; }

.one-fifteenths-max, .fifteenths-1-max {
  max-width: 66px; }

.one-fifteenths-tall, .fifteenths-1-tall {
  height: 66px; }

.two-fifteenths, .fifteenths-2 {
  width: 132px; }

.two-fifteenths-max, .fifteenths-2-max {
  max-width: 132px; }

.two-fifteenths-tall, .fifteenths-2-tall {
  height: 132px; }

.three-fifteenths, .fifteenths-3 {
  width: 198px; }

.three-fifteenths-max, .fifteenths-3-max {
  max-width: 198px; }

.three-fifteenths-tall, .fifteenths-3-tall {
  height: 198px; }

.four-fifteenths, .fifteenths-4 {
  width: 264px; }

.four-fifteenths-max, .fifteenths-4-max {
  max-width: 264px; }

.four-fifteenths-tall, .fifteenths-4-tall {
  height: 264px; }

.five-fifteenths, .fifteenths-5 {
  width: 330px; }

.five-fifteenths-max, .fifteenths-5-max {
  max-width: 330px; }

.five-fifteenths-tall, .fifteenths-5-tall {
  height: 330px; }

.six-fifteenths, .fifteenths-6 {
  width: 396px; }

.six-fifteenths-max, .fifteenths-6-max {
  max-width: 396px; }

.six-fifteenths-tall, .fifteenths-6-tall {
  height: 396px; }

.seven-fifteenths, .fifteenths-7 {
  width: 462px; }

.seven-fifteenths-max, .fifteenths-7-max {
  max-width: 462px; }

.seven-fifteenths-tall, .fifteenths-7-tall {
  height: 462px; }

.eight-fifteenths, .fifteenths-8 {
  width: 528px; }

.eight-fifteenths-max, .fifteenths-8-max {
  max-width: 528px; }

.eight-fifteenths-tall, .fifteenths-8-tall {
  height: 528px; }

.nine-fifteenths, .fifteenths-9 {
  width: 594px; }

.nine-fifteenths-max, .fifteenths-9-max {
  max-width: 594px; }

.nine-fifteenths-tall, .fifteenths-9-tall {
  height: 594px; }

.ten-fifteenths, .fifteenths-10 {
  width: 660px; }

.ten-fifteenths-max, .fifteenths-10-max {
  max-width: 660px; }

.ten-fifteenths-tall, .fifteenths-10-tall {
  height: 660px; }

.eleven-fifteenths, .fifteenths-11 {
  width: 726px; }

.eleven-fifteenths-max, .fifteenths-11-max {
  max-width: 726px; }

.eleven-fifteenths-tall, .fifteenths-11-tall {
  height: 726px; }

.twelve-fifteenths, .fifteenths-12 {
  width: 792px; }

.twelve-fifteenths-max, .fifteenths-12-max {
  max-width: 792px; }

.twelve-fifteenths-tall, .fifteenths-12-tall {
  height: 792px; }

.thirteen-fifteenths, .fifteenths-13 {
  width: 858px; }

.thirteen-fifteenths-max, .fifteenths-13-max {
  max-width: 858px; }

.thirteen-fifteenths-tall, .fifteenths-13-tall {
  height: 858px; }

.fourteen-fifteenths, .fifteenths-14 {
  width: 924px; }

.fourteen-fifteenths-max, .fifteenths-14-max {
  max-width: 924px; }

.fourteen-fifteenths-tall, .fifteenths-14-tall {
  height: 924px; }

.fifteen-fifteenths, .fifteenths-15 {
  width: 990px; }

.fifteen-fifteenths-max, .fifteenths-15-max {
  max-width: 990px; }

.fifteen-fifteenths-tall, .fifteenths-15-tall {
  height: 990px; }

.fluid .one-fifteenths, .fluid .fifteenths-1 {
  width: 6.66667%; }
.fluid .two-fifteenths, .fluid .fifteenths-2 {
  width: 13.33333%; }
.fluid .three-fifteenths, .fluid .fifteenths-3 {
  width: 20.0%; }
.fluid .four-fifteenths, .fluid .fifteenths-4 {
  width: 26.66667%; }
.fluid .five-fifteenths, .fluid .fifteenths-5 {
  width: 33.33333%; }
.fluid .six-fifteenths, .fluid .fifteenths-6 {
  width: 40.0%; }
.fluid .seven-fifteenths, .fluid .fifteenths-7 {
  width: 46.66667%; }
.fluid .eight-fifteenths, .fluid .fifteenths-8 {
  width: 53.33333%; }
.fluid .nine-fifteenths, .fluid .fifteenths-9 {
  width: 60.0%; }
.fluid .ten-fifteenths, .fluid .fifteenths-10 {
  width: 66.66667%; }
.fluid .eleven-fifteenths, .fluid .fifteenths-11 {
  width: 73.33333%; }
.fluid .twelve-fifteenths, .fluid .fifteenths-12 {
  width: 80.0%; }
.fluid .thirteen-fifteenths, .fluid .fifteenths-13 {
  width: 86.66667%; }
.fluid .fourteen-fifteenths, .fluid .fifteenths-14 {
  width: 93.33333%; }
.fluid .fifteen-fifteenths, .fluid .fifteenths-15 {
  width: 100.0%; }

/* ### Spineless  */
.row.fifths .column {
  width: 198px; }

.fluid .row.fifths .column {
  width: 20%; }

/* ## CONTENT  */
/* ### Main Header */
.main-header {
  height: 142px;
  background-color: #5e6a71;
  width: 100%;
  position: relative;
  box-sizing: border-box; }

.main-header .header-group:not(.unset) {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 792px; }

.main-header:not(.gutter) .header-group:not(.unset):not(.guttered) {
  padding-bottom: 1em;
  padding-left: 2em; }

.main-header sup:not(.unset),
.main-header sub:not(.unset) {
  display: block;
  color: white;
  line-height: 1em;
  vertical-align: baseline;
  margin: 0px; }

.main-header a,
.main-header a:hover {
  color: white; }

.main-header sup:not(.unset) {
  font-size: .9em;
  text-transform: uppercase; }

.main-header sup:not(.unset) a {
  color: #e6e8e9; }

.main-header sub:not(.unset) {
  font-size: 2em; }

.main-header sup:not(.unset) a,
.main-header sub:not(.unset) a,
.main-header sub:not(.unset) * {
  font-size: 100%; }

.main-header sup:not(.unset) span {
  display: block;
  line-height: 1em; }

/* ### Block Level Styles */
main hr.tall {
  margin-top: 2em;
  margin-bottom: 2em; }

main hr.short {
  margin-top: 0;
  margin-bottom: 0; }

.column .marginalized {
  position: absolute;
  box-sizing: border-box;
  border-width: 0px;
  border-style: solid;
  border-color: #b5babe;
  padding: 1em 2em; }

.side-right .marginalized {
  width: 264px;
  padding-left: 1em;
  border-left-width: 1px;
  right: -264px; }

.side-left .marginalized {
  width: 264px;
  left: -264px;
  padding-right: 1em;
  border-right-width: 1px; }

.margin-right .marginalized {
  width: 198px;
  right: -198px;
  border-left-width: 1px;
  padding-left: 1em; }

.margin-left .marginalized {
  width: 198px;
  left: -198px;
  border-right-width: 1px;
  padding-right: 1em; }

/* ### Images  */
.column img {
  max-width: 100%;
  height: auto; }

.fill-width,
.full-width {
  width: 100%;
  height: auto; }

.fill-height {
  height: 100%;
  width: auto; }

.max-width {
  max-width: 100%;
  height: auto !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@media \0screen {
  img.max-width {
    width: auto;
    /* for ie 8 */ } }
.hybrid.small figure.fill-width {
  width: 100%; }

.picture-frame {
  line-height: 0px; }

img.grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  /* Firefox 10+, Firefox on Android */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(100%);
  /* Chrome 19+, Safari 6+, Safari 6+ iOS */ }

/* Pseudo Responsive Images */
.center.vertically:before {
  content: '';
  display: inline-block;
  height: 50%;
  vertical-align: middle;
  margin-right: -0.25em;
  /* Adjusts for spacing */ }

.center.vertically > * {
  vertical-align: middle;
  display: inline-block; }

.centered.absolutely,
.center.absolutely > *:first-of-type {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

/* Character Styles
-------------------------------------------------------- */
ul + h1, ul + h2, ul + h3, ul + h4,
ol + h1, ol + h2, ol + h3, ol + h4 {
  margin-top: .8; }

/* #Clearing
-------------------------------------------------------- */
.row:before, .row:after,
main:before, main:after,
#binder:before, #binder:after,
.clearfix:before, .clearfix:after,
.rebound:before, .rebound:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

#binder:after,
main:after,
.row:after,
.clearfix:after,
.rebound:after {
  clear: both; }

main,
.row,
.rebound,
.clearfix {
  zoom: 1; }

/* or */
.cf:before,
.cf:after,
.clear:before,
.clear:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after,
.clear:after {
  clear: both; }

/* FORMS */
/* BUTTONS
-------------------------------------------------------- */
.spine-button,
.button, button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  background: #eff0f1;
  border-style: solid;
  border-width: 1px;
  border-color: #d7dadb #8d959a #8d959a #d7dadb;
  border-radius: 0.5em;
  color: #464e54;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 0px;
  line-height: normal;
  padding: 0.5em 1em;
  vertical-align: middle; }

.button:hover, button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus, button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #464e54;
  background: white;
  border-color: #8d959a;
  border-width: 0px 2px 2px 0px; }

.button:active, .button.active,
button:active, button.active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
  color: #b5babe;
  border-color: black;
  background: #464e54;
  border-width: 2px 0px 0px 2px; }

.button.full-width,
button.full-width,
input[type="submit"].full-width,
input[type="reset"].full-width,
input[type="button"].full-width {
  width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: center; }

button.functional,
button.glassine {
  border: none;
  padding: 0px;
  margin: 0px;
  background: transparent;
  border-radius: 0px; }

/* Fix for odd Mozilla border & padding issues */
button:-moz-focus-inner,
input:-moz-focus-inner {
  border: 0;
  padding: 0; }

/* ## FORMS  */
/* This could be a wee bit controversial */
form, fieldset, input, textarea, legend, label {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

form {
  margin-bottom: 5px;
  padding: 10px 0px; }

fieldset {
  margin-bottom: 5px;
  padding: 0px; }

input {
  outline: none; }

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
  border: 1px solid #ccc;
  padding: 6px 4px;
  outline: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #777;
  margin: 0;
  background: #fff; }

select {
  padding: 0; }

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
  border: 1px solid #aaa;
  color: #444;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); }

textarea {
  min-height: 60px;
  width: 100%;
  box-sizing: border-box; }

label,
legend {
  font-weight: bold;
  font-size: 13px; }

input[type="checkbox"] {
  display: inline; }

label span,
legend span {
  font-weight: normal;
  font-size: 13px;
  color: #444; }

fieldset {
  position: relative; }

/* ## Utility Classes */
code textarea,
code textarea:focus {
  width: 100%;
  padding: 15px;
  height: auto;
  color: white;
  background-color: rgba(94, 106, 113, 0.5); }

.center {
  text-align: center; }

.hidden {
  display: none; }

.shown {
  display: block; }

.visible {
  visibility: visible; }

.invisible {
  visibility: hidden; }

.nowrap {
  white-space: nowrap; }

/* Important */
.padless, .padding-0 {
  padding: 0px !important; }

.marginless, .margin-0 {
  margin: 0px !important; }

.display-block {
  display: block !important; }

.display-none {
  display: none !important; }

.visibility-visible {
  visibility: visible !important; }

.visibility-hidden {
  visibility: hidden !important; }

.text-align-right {
  text-align: right !important; }

.text-align-left {
  text-align: left !important; }

.text-align-center {
  text-align: center !important; }

.text-align-justify {
  text-align: justify !important; }
