@charset "UTF-8";

/* Reset (Thanks Eric Meyer) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-weight: normal;
	vertical-align: baseline;
	}
main, article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
	}
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q {	quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
	}
table {
	border-collapse: collapse;
	border-spacing: 0;
	}

/* Setting Defaults */
sup,sub { font-size: 9px; line-height: 11px; }
sup { vertical-align: super; margin-top: -6px; }
sub { vertical-align: sub; }
small { font-size: 10px; line-height: 12px;	}
nav ul li,
.widget ul li { list-style: none; }
a {
	text-decoration: none;
	color: #981e32;
	}
a:hover { color: #c60c30; }
strong,b { font-weight: bold; }
em,i { font-style: italic; }
hr { border-width: 3px 0px 0px 0px;
	border-style: dotted;
	border-color: #b6bcbf;
	margin: 10px 0px;
	}
h6,h5,h4,h3,h2,h1 { margin: 0px 0px 3px 0px; letter-spacing: 0em; font-weight: normal; }
h1 { font-size: 26px; line-height: 30px; font-weight: bold; }
h2 { font-size: 18px; line-height: 20px; font-weight: bold;	margin: 5px 0px; }
h3 { font-size: 1.2em; line-height: 1.2em; margin: 10px 0px 5px 0px; text-transform: uppercase;	}
h4 { font-weight: bold;	font-size: 1.1em; line-height: 1.2em; }
p { margin: 0px; padding-bottom: 12px; }
ol li { list-style: decimal; margin: 0px 0px 5px 25px; }
ul li { list-style: circle; margin: 0px 0px 5px 20px; padding: 0px 0px 0px 0px; }

input {
	outline: none;
	}

.sans { font: 14px/22px "Lucida Grande","Lucida Sans Unicode", "Arial", sans-serif; }
.serif { font: 14px/22px "Palatino Linotype", Palatino, "Book Antiqua", Georgia, serif; }

/* ! Grid //////////////////////// */

/* LAYOUT */

body {
	color: #262a2d;
	xfont: 14px/22px "OpenSans","Lucida Grande","Lucida Sans Unicode", "Arial", sans-serif;
	font: 14px/22px "Lucida Grande","Lucida Sans Unicode", "Arial", sans-serif;
	background: white url('../images/gradient.png') left top repeat-x;
	}

#binder {
	width: 990px;
	margin: 0px auto;
	position: relative;
	}
#binder.fluid.folio {
	width: 100%;
	max-width: 1782px; /* Main (792) x 2 + Spine (198) */
	}
main {
	margin-left: 198px;
	width: 792px;
	background-color: #e6e7e8;
	float: right;
	}
#spine {
	width: 198px;
	position: fixed;
	height: 100%;
	min-height: 100%;
	}
section {
	position: relative;
	clear: both;
	}
	
/* !LAYOUTS */
.row {
	width: 100%;
	xmargin-bottom: 5px;
	}
.row .column {
	position: relative;
	display: block;
	overflow: visible;
	z-index: auto;
	float: left;
	min-height: 198px;
	}

/* !Single */
.row.single .column {
	width: 100%;	
	min-height: 250px;
	display: block;
	}

/* halves */
.row.halves .column { width: 396px; }
.fluid .row.halves .column { width: 50%; }
	
/* thirds */
.row.thirds .column { width: 264px; }
.fluid .row.thirds .column { width: 33%; }
.fluid .row.thirds .column.two { width: 34%; }

/* quarters */
.row.quarters .column { width: 198px; }
.fluid .row.quarters .column { width: 25%; }

/* eighths */
.row.eighths .column { width: 99px; }
.fluid .row.eighths .column { width: 12.5%; }

/* ninths */
.row.ninths .column { width: 99px; }
.fluid .row.ninths .column { width: 12.5%; }

/* twelfths */
.row.twelfths .column { width: 66px; }
.fluid .row.twelfths .column { width: 8.33334%; }
	
/* Triptych */
.row.triptych .column { width: 198px; }
.row.triptych .column.two { width: 396px; }

/* Margin */
.row.margin .column.one { width: 594px; }
.row.margin .column.two { width: 198px; }
.fluid .row.margin .column.one { width: 75%; }
.fluid .row.margin .column.two { width: 25%; }

/* Sidebar */
.row.sidebar .column.one { width: 528px; }
.row.sidebar .column.two { width: 264px; }
.fluid .row.sidebar .column.one { width: 67%; }
.fluid .row.sidebar .column.two { width: 33%; }

/* Nested */

/* halves and halves */
.row.halves .halves .column { width: 198px; }
.fluid .row.halves .halves .column { width: 50%; }

/* halves and thirds */
.row .column.thirds .column { width: 132px; }
.row.quarters .thirds .column { width: 66px; }
.fluid .row .column.thirds .column { width: 33%; }
.fluid .row .column.thirds .column.two { width: 34%; }

/* Spineless Severed */
.row.fifths .column { width: 198px; }
.fluid .row.fifths .column { width: 20%; }

/* Twelfths */
.three-fourths, .nine-twelfths { width: 594px; }

/* Fifteenths */
.row .column.one-fifteenth { width: 66px; }
.row .column.three-fifteenths, .column.one-fifth { width: 198px; }
.row .column.six-fifteenths, .column.two-fifths { width: 396px; }
.row .column.nine-fifteenths, .column.three-fifths { width: 594px; }
.row .column.twelve-fifteenths, .column.four-fifths { width: 792px; }
.row .column.fifteen-fifteenths, .column.five-fifths { width: 990px; }

.panel {
	position: absolute;
	z-index: 5000;
	}
.quarters .panel.doublewide,
.fifths .panel.doublewide {
	width: 396px;
	xborder: 1px pink solid;
	}
.fifths .panel.doublehigh {
	height: 396px;
	}


/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */

.column article {
	padding: 30px;
	}


/* #Clearing //////////////////////// */

/* Self Clearing Goodness */
section:before,
section:after,
main:before,
main:after,
#binder:after,
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }
#binder:after,
main:after,
section:after,
.row:after,
.clearfix:after {
  clear: both; }
main,
section,
.row,
.clearfix {
  zoom: 1; }

/* You can also use a <br class="clear" /> to clear columns */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
    


/* #Basic Styles //////////////////////// */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/* #Images */
img.scale-with-grid {
		max-width: 100%;
		height: auto; }

/* Tabs */
ul.tabs {
	display: block;
	xbackground: #eceeef;
	}
ul.tabs li {
	display: block;
	float: left;
	margin-right: 1px;
	white-space: nowrap;
	}
ul.tabs li a {
	padding: 6px 12px;
	display: table-cell;
	vertical-align: middle;
	background: #eceeef;
	border-right: 1px #bdbfc0 solid;
	border-bottom: 2px #d6d8d9 solid;
	}
ul.tabs li.active a {
	xborder-left-color: white;
	}
ul.tabs li a:hover {
	-webkit-transition: background .3s ease-in-out;
	background: #d6d8d9;
	}
ul.tabs li.active a {
	background: white;
	border-bottom: 2px white solid;
	xfont-weight: bold;
	}
	
/* Character Styles //////////////////////// */




/* BUTTONS //////////////////////// */

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	background: #eee;
	border: 1px solid #aaa;
	border: none;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #444;
	display: inline-block;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0 1px rgba(255, 255, 255, .75);
	cursor: pointer;
	margin-bottom: 0px;
	line-height: normal;
	padding: 6px 8px;
	}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
	color: #222;
	background: #ddd;
	border: 1px solid #888;
	border-top: 1px solid #aaa;
	border-left: 1px solid #aaa; }

.button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
	border: 1px solid #666;
	background: #ccc; }

.button.full-width,
button.full-width,
input[type="submit"].full-width,
input[type="reset"].full-width,
input[type="button"].full-width {
	width: 100%;
	padding-left: 0 !important;
	padding-right: 0 !important;
	text-align: center; }
		
button.functional,
button.glassine {
	border: none;
	padding: 0px;
	margin: 0px;
	background: transparent;
	border-radius: 0px;
	}

/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
	}

/*////////////////////////*/
/* FORMS */

/* This could be a wee bit controversial */
form,fieldset,input,textarea,legend,label {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	}
form {
	margin-bottom: 5px;
	padding: 10px;
	}
fieldset {
	margin-bottom: 5px;
	padding: 0px;
	}
input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
	border: 1px solid #ccc;
	padding: 6px 4px;
	outline: none;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	color: #777;
	margin: 0;
	background: #fff; }
select {
	padding: 0; }
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
	border: 1px solid #aaa;
		color: #444;
		-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
	box-shadow:  0 0 3px rgba(0,0,0,.2); }
textarea {
	min-height: 60px; }
label,
legend {
	font-weight: bold;
	font-size: 13px;  }
select {
	 }
input[type="checkbox"] {
	display: inline; }
label span,
legend span {
	font-weight: normal;
	font-size: 13px;
	color: #444; }

fieldset {
	position: relative;
	}
	
/* MISC */
code textarea,
code textarea:focus {
	width: 100%;
	padding: 15px;
	height: auto;
	color: white;
	background-color: rgba(94,106,113,0.5);
	}
	
/* COLORS */

/* CRIMSON */ div.crimson, section.crimson, article.crimson, aside.crimson, header.crimson, footer.crimson { color: white; background-color: #981e32; }
/* crimsoner */ div.crimsonr, section.crimson-er, article.crimson-er, aside.crimson-er, header.crimson-er, footer.crimson-er { color: white; background-color: #9b0023; }
/* lighter */ div.crimson-lighter, section.crimson-lighter, article.crimson-lighter, aside.crimson-lighter, header.crimson-lighter, footer.crimson-lighter { background-color: #981e32; }
/* lightest */ div.crimson-lightest, section.crimson-lightest, article.crimson-lightest, aside.crimson-lightest, header.crimson-lightest, footer.crimson-lightest { background-color: #981e32; }
/* darker */ div.crimson-darker, section.crimson-darker, article.crimson-darker, aside.crimson-darker, header.crimson-darker, footer.crimson-darker { color: white; background-color: #5d1c27; }
/* darkest */ div.crimson-darkest, section.crimson-darkest, article.crimson-darkest, aside.crimson-darkest, header.crimson-darkest, footer.crimson-darkest { color: white; background-color: #37141a; }

/* GRAY */ div.gray, section.gray, article.gray, aside.gray, header.gray, footer.gray { color: white; background-color: #626a70; }
/* grayer */ div.gray-er, section.gray-er, article.gray-er, aside.gray-er, header.gray-er, footer.gray-er { background-color: white; }
/* lighter */ div.gray-lighter, section.gray-lighter, article.gray-lighter, aside.gray-lighter, header.gray-lighter, footer.gray-lighter { background-color: #a7abae; }
/* lightest */ div.gray-lightest, section.gray-lightest, article.gray-lightest, aside.gray-lightest, header.gray-lightest, footer.gray-lightest { background-color: #e6e7e8; }
/* darker */ div.gray-darker, section.gray-darker, article.gray-darker, aside.gray-darker, header.gray-darker, footer.gray-darker { background-color: #464b50; }
/* darkest */ div.gray-darkest, section.gray-darkest, article.gray-darkest, aside.gray-darkest, header.gray-darkest, footer.gray-darkest { background-color: #2e3b3c; }

/* BLUE */ div.blue, section.blue, article.blue, aside.blue, header.blue, footer.blue { background-color: #678a8f; }
/* bluer */ div.blue-er, section.blue-er, article.blue-er, aside.blue-er, header.blue-er, footer.blue-er { background-color: #65a2ad; }
/* lighter */ div.blue-lighter, section.blue-lighter, article.blue-lighter, aside.blue-lighter, header.blue-lighter, footer.blue-lighter { background-color: #a8bec1; }
/* lightest */ div.blue-lightest, section.blue-lightest, article.blue-lightest, aside.blue-lightest, header.blue-lightest, footer.blue-lightest { background-color: #e7eced; }
/* darker */ div.blue-darker, section.blue-darker, article.blue-darker, aside.blue-darker, header.blue-darker, footer.blue-darker { background-color: #4a6266; }
/* darkest */ div.blue-darkest, section.blue-darkest, article.blue-darkest, aside.blue-darkest, header.blue-darkest, footer.blue-darkest { background-color: #2e3b3c; }

/* GOLD */ div.gold, section.gold, article.gold, aside.gold, header.gold, footer.gold { background-color: #bea860; }
/* golder */ div.gold-er, section.gold-er, article.gold-er, aside.gold-er, header.gold-er, footer.gold-er { background-color: #edc13b; }
/* lighter */ div.gold-lighter, section.gold-lighter, article.gold-lighter, aside.gold-lighter, header.gold-lighter, footer.gold-lighter { background-color: #dbcfa5; }
/* lightest */ div.gold-lightest, section.gold-lightest, article.gold-lightest, aside.gold-lightest, header.gold-lightest, footer.gold-lightest { background-color: #f4f1e6; }
/* darker */ div.gold-darker, section.gold-darker, article.gold-darker, aside.gold-darker, header.gold-darker, footer.gold-darker { background-color: #bea860; }
/* darkest */ div.gold-darkest, section.gold-darkest, article.gold-darkest, aside.gold-darkest, header.gold-darkest, footer.gold-darkest { background-color: #bea860; }

/* ORANGE */ div.orange, section.orange, article.orange, aside.orange, header.orange, footer.orange { background-color: #a46f2e; }
/* orange */ div.orange-er, section.orange-er, article.orange-er, aside.orange-er, header.orange-er, footer.orange-er { background-color: #c2701a; }
/* lighter */ div.orange-lighter, section.orange-lighter, article.orange-lighter, aside.orange-lighter, header.orange-lighter, footer.orange-lighter { background-color: #ccae87; }
/* lightest */ div.orange-lightest, section.orange-lightest, article.orange-lightest, aside.orange-lightest, header.orange-lightest, footer.orange-lightest { background-color: #f0e8de; }
/* darker */ div.orange-darker, section.orange-darker, article.orange-darker, aside.orange-darker, header.orange-darker, footer.orange-darker { background-color: #745023; }
/* darkest */ div.orange-darkest, section.orange-darkest, article.orange-darkest, aside.orange-darkest, header.orange-darkest, footer.orange-darkest { background-color: #443118; }

/* GREEN */ div.green, section.green, article.green, aside.green, header.green, footer.green { color: #393721; background-color: #878247; }
/* greener */ div.green-er, section.green-er, article.green-er, aside.green-er, header.green-er, footer.green-er { color: #605c34; background-color: #a99e31; }
/* lighter */ div.green-lighter, section.green-lighter, article.green-lighter, aside.green-lighter, header.green-lighter, footer.green-lighter { background-color: #bcb996; }
/* lightest */ div.green-lightest, section.green-lightest, article.green-lightest, aside.green-lightest, header.green-lightest, footer.green-lightest { background-color: #ecebe2; }
/* darker */ div.green-darker, section.green-darker, article.green-darker, aside.green-darker, header.green-darker, footer.green-darker { color: #ecebe2; background-color: #605c34; }
/* darkest */ div.green-darkest, section.green-darkest, article.green-darkest, aside.green-darkest, header.green-darkest, footer.green-darkest { color: #bcb996; background-color: #393721; }
