/* Table of Contents
==================================================
    I.1.0 Reset
    I.2.0 Set Defaults
    
    
    #Clearing */
/* 1.0 RESET
-------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-weight: normal;
  vertical-align: baseline; }

main, article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

figure {
  /* Hmmmm */
  xxline-height: 0px; }

figcaption {
  line-height: 1em; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* I.2.0 DEFAULTS (feel free to override)
-------------------------------------------------------- */
sup, sub {
  font-size: .7em;
  line-height: .7em; }

sup {
  vertical-align: super;
  margin-top: -6px; }

sub {
  vertical-align: sub; }

small {
  font-size: .8em;
  line-height: .8em; }

nav ul li,
.widget ul li {
  list-style: none; }

a {
  text-decoration: none;
  color: #981e32; }

a:hover {
  color: #c60c30; }

strong, b {
  font-weight: bold; }

em, i {
  font-style: italic; }

hr {
  border-width: 0px;
  border-style: solid;
  border-color: black;
  margin: 10px 0px;
  height: 2px;
  background-color: rgba(93, 105, 112, 0.5);
  display: block;
  clear: both; }

h6, h5, h4, h3, h2, h1 {
  margin: 0px 0px 3px 0px;
  line-height: 1.1em;
  letter-spacing: 0em;
  font-weight: bold;
  /* Maybe... -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */ }

h1 {
  font-size: 2em;
  padding: 0px 0px .2em 0px; }

h2 {
  font-size: 1.8em;
  margin: 0px;
  padding: .5em 0px .2em 0px; }

h3 {
  font-size: 1.6em;
  margin: 0px;
  padding: .5em 0px .2em 0px; }

h4 {
  font-size: 1.4em;
  margin: 0px;
  padding: .5em 0px .2em 0px; }

h5 {
  font-size: 1.2em;
  margin: 0px;
  padding: .5em 0px .2em 0px; }

h6 {
  font-size: 1.0em;
  margin: 0px;
  padding: .5em 0px .2em 0px; }

p {
  margin: 0px;
  padding-bottom: .8em; }

blockquote {
  padding-bottom: .8em; }

ul, ol {
  padding-bottom: .8em; }

ol li {
  list-style: decimal;
  margin: 0px 0px 0px 20px;
  padding: 0px 0px .8em 0px; }

ul li {
  list-style: circle;
  margin: 0px 0px 0px 20px;
  padding: 0px 0px .8em 0px; }

pre, code {
  font-family: "Courier New", Courier, monospace; }

input {
  outline: none; }

/* These may be too heavy-handed */
/*article img {
	margin: 10px;
	}*/
article img[align="right"] {
  margin: 0px 0px 10px 10px; }

article img[align="left"] {
  margin: 0px 10px 10px 0px; }

/* Fonts
-------------------------------------------------------- */
body {
  font: 14px/22px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif; }

.sans {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif; }

.serif {
  font-family: "Palatino Linotype", Palatino, "Book Antiqua", Georgia, serif; }

/* IE9, IE10 */
@media screen and (min-width: 0 \0) {
  em, i, bold, big, h1, h2, h3, h4, h5, h6 {
    font-family: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; } }
.wsu-icon, .wsu-icons {
  font-family: "Spine-Icons";
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* Layout
-------------------------------------------------------- */
body {
  color: #5e6a71;
  background-repeat: no-repeat;
  background-position: center top;
  background-color: #f9f9f9; }

#binder {
  width: 990px;
  margin: 0px auto; }

#binder.fluid.folio {
  width: 100%;
  max-width: 1980px;
  /* 990 x 2 */ }

main {
  margin-left: 198px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

:not(.fluid) main {
  width: 792px; }

.spineless main {
  margin-left: 0px;
  width: 990px; }

.fluid main {
  width: auto; }

section {
  position: relative;
  clear: both; }

/* I.4.0 GRID
-------------------------------------------------------- */
.row {
  width: 100%;
  max-width: 792px; }

.max-1188 .row {
  max-width: 990px; }

.row.fifteenths,
.row.fifths {
  max-width: 990px; }

.row .column {
  position: relative;
  display: block;
  overflow: visible;
  z-index: auto;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row.reverse .column {
  float: right; }

.row.unbound,
.unbound {
  position: relative; }

.rebound {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

.recto.verso .rebound {
  margin-left: auto;
  margin-right: auto; }

.rebound {
  width: 792px; }

.side-right .rebound {
  width: 594px; }

.spineless .rebound,
.fifteenths .rebound,
.fifths .rebound {
  width: 990px; }

/* single */
.row.single .column {
  width: 792px; }

.fluid .row.single .column {
  width: 100%; }

.column.singled {
  width: 792px !important; }

.fluid .column.singled {
  width: 100% !important; }

/* halves */
.row.halves .column {
  width: 396px; }

.fluid .row.halves .column {
  width: 50%; }

.column.half {
  width: 396px !important; }

.fluid .column.half {
  width: 50% !important; }

/* thirds */
.row.thirds .column {
  width: 264px; }

.fluid .row.thirds .column {
  width: 33%; }

.fluid .row.thirds .column.two {
  width: 34%; }

.column.third {
  width: 264px !important; }

.fluid .column.third {
  width: 33.33333% !important; }

/* quarters */
.row.quarters .column {
  width: 198px; }

.fluid .row.quarters .column {
  width: 25%; }

.column.quarter {
  width: 198px !important; }

.fluid .column.quarter {
  width: 25% !important; }

/* Triptych */
.fixed .row.triptych .column {
  width: 198px; }

.fixed .row.triptych .column.two {
  width: 396px; }

.row.triptych .column {
  width: 25%; }

.row.triptych .column.two {
  width: 50%; }

/* Margin - Right & Left */
.fixed .row.margin-right .column.one,
.fixed .row.margin-left .column.two {
  width: 594px; }

.fixed .row.margin-right .column.two,
.fixed .row.margin-left .column.one {
  width: 198px; }

.row.margin-right .column.one,
.row.margin-left .column.two {
  width: 75%; }

.row.margin-right .column.two,
.row.margin-left .column.one {
  width: 25%; }

/*  Side - Right & Left */
.fixed .row.side-right .column.one,
.fixed .row.side-left .column.two {
  width: 528px; }

.fixed .row.side-right .column.two,
.fixed .row.side-left .column.one {
  width: 264px; }

.row.side-right .column.one,
.row.side-left .column.two {
  width: 67%; }

.row.side-right .column.two,
.row.side-left .column.one {
  width: 33%; }

/* I.4.1 NESTING
-------------------------------------------------------- */
.row.single row.halves .column {
  width: 396px; }

.fluid .row.single .halves .column {
  width: 50%; }

/* halves then halves */
.row.halves .halves .column {
  width: 198px; }

.hybrid .row.halves .halves .column,
.fluid .row.halves .halves .column {
  width: 50%; }

/* halves then thirds */
.row .row.thirds .column {
  width: 132px; }

.row.quarters .row.thirds .column {
  width: 66px; }

.fluid .row .row.thirds .column {
  width: 33%; }

.fluid .row .row.thirds .column.two {
  width: 34%; }

/* halves then quarters */
.row .row.quarters .column {
  width: 99px; }

.hybrid .row .row.quarters .column,
.fluid .row .row.quarters .column {
  width: 25%; }

/* thirds then halves */
.row.thirds .row.halves .column {
  width: 132px; }

.fluid .row.thirds .halves .column {
  width: 50%; }

/* quarters then ... */
.row .column.row.single,
.row .column.row.single .column {
  width: 792px; }

/* I.4.1 Clearing
-------------------------------------------------------- */
/* Automatic Clearing (awesome but questionable) */
/*
.row.halves .column:nth-of-type(2n),
.row.quarters .column:nth-of-type(4n) {
	clear: both;
	}
.row.halves .row .column:nth-of-type(2n),
.row.quarters .row .column:nth-of-type(4n) {
	clear: none;
	}
*/
/* I.4.2 Columnar Units
-------------------------------------------------------- */
/* twelfths */
.one-twelfths, .twelfths-1 {
  width: 66px; }

.one-twelfths-max, .twelfths-1-max {
  max-width: 66px; }

.one-twelfths-tall, .twelfths-1-tall {
  height: 66px; }

.two-twelfths, .twelfths-2 {
  width: 132px; }

.two-twelfths-max, .twelfths-2-max {
  max-width: 132px; }

.two-twelfths-tall, .twelfths-2-tall {
  height: 132px; }

.three-twelfths, .twelfths-3 {
  width: 198px; }

.three-twelfths-max, .twelfths-3-max {
  max-width: 198px; }

.three-twelfths-tall, .twelfths-3-tall {
  height: 198px; }

.four-twelfths, .twelfths-4 {
  width: 264px; }

.four-twelfths-max, .twelfths-4-max {
  max-width: 264px; }

.four-twelfths-tall, .twelfths-4-tall {
  height: 264px; }

.five-twelfths, .twelfths-5 {
  width: 330px; }

.five-twelfths-max, .twelfths-5-max {
  max-width: 330px; }

.five-twelfths-tall, .twelfths-5-tall {
  height: 330px; }

.six-twelfths, .twelfths-6 {
  width: 396px; }

.six-twelfths-max, .twelfths-6-max {
  max-width: 396px; }

.six-twelfths-tall, .twelfths-6-tall {
  height: 396px; }

.seven-twelfths, .twelfths-7 {
  width: 462px; }

.seven-twelfths-max, .twelfths-7-max {
  max-width: 462px; }

.seven-twelfths-tall, .twelfths-7-tall {
  height: 462px; }

.eight-twelfths, .twelfths-8 {
  width: 528px; }

.eight-twelfths-max, .twelfths-8-max {
  max-width: 528px; }

.eight-twelfths-tall, .twelfths-8-tall {
  height: 528px; }

.nine-twelfths, .twelfths-9 {
  width: 594px; }

.nine-twelfths-max, .twelfths-9-max {
  max-width: 594px; }

.nine-twelfths-tall, .twelfths-9-tall {
  height: 594px; }

.ten-twelfths, .twelfths-10 {
  width: 660px; }

.ten-twelfths-max, .twelfths-10-max {
  max-width: 660px; }

.ten-twelfths-tall, .twelfths-10-tall {
  height: 660px; }

.eleven-twelfths, .twelfths-11 {
  width: 726px; }

.eleven-twelfths-max, .twelfths-11-max {
  max-width: 726px; }

.eleven-twelfths-tall, .twelfths-11-tall {
  height: 726px; }

.twelve-twelfths, .twelfths-12 {
  width: 792px; }

.twelve-twelfths-max, .twelfths-12-max {
  max-width: 792px; }

.twelve-twelfths-tall, .twelfths-12-tall {
  height: 792px; }

.thirteen-twelfths, .twelfths-13 {
  width: 858px; }

.thirteen-twelfths-max, .twelfths-13-max {
  max-width: 858px; }

.thirteen-twelfths-tall, .twelfths-13-tall {
  height: 858px; }

.fourteen-twelfths, .twelfths-14 {
  width: 924px; }

.fourteen-twelfths-max, .twelfths-14-max {
  max-width: 924px; }

.fourteen-twelfths-tall, .twelfths-14-tall {
  height: 924px; }

.fifteen-twelfths, .twelfths-15 {
  width: 990px; }

.fifteen-twelfths-max, .twelfths-15-max {
  max-width: 990px; }

.fifteen-twelfths-tall, .twelfths-15-tall {
  height: 990px; }

.sixteen-twelfths, .twelfths-16 {
  width: 1056px; }

.sixteen-twelfths-max, .twelfths-16-max {
  max-width: 1056px; }

.sixteen-twelfths-tall, .twelfths-16-tall {
  height: 1056px; }

.seventeen-twelfths, .twelfths-17 {
  width: 1122px; }

.seventeen-twelfths-max, .twelfths-17-max {
  max-width: 1122px; }

.seventeen-twelfths-tall, .twelfths-17-tall {
  height: 1122px; }

.eighteen-twelfths, .twelfths-18 {
  width: 1188px; }

.eighteen-twelfths-max, .twelfths-18-max {
  max-width: 1188px; }

.eighteen-twelfths-tall, .twelfths-18-tall {
  height: 1188px; }

.nineteen-twelfths, .twelfths-19 {
  width: 1254px; }

.nineteen-twelfths-max, .twelfths-19-max {
  max-width: 1254px; }

.nineteen-twelfths-tall, .twelfths-19-tall {
  height: 1254px; }

.twenty-twelfths, .twelfths-20 {
  width: 1320px; }

.twenty-twelfths-max, .twelfths-20-max {
  max-width: 1320px; }

.twenty-twelfths-tall, .twelfths-20-tall {
  height: 1320px; }

.twentyone-twelfths, .twelfths-21 {
  width: 1386px; }

.twentyone-twelfths-max, .twelfths-21-max {
  max-width: 1386px; }

.twentyone-twelfths-tall, .twelfths-21-tall {
  height: 1386px; }

.twentytwo-twelfths, .twelfths-22 {
  width: 1452px; }

.twentytwo-twelfths-max, .twelfths-22-max {
  max-width: 1452px; }

.twentytwo-twelfths-tall, .twelfths-22-tall {
  height: 1452px; }

.twentythree-twelfths, .twelfths-23 {
  width: 1518px; }

.twentythree-twelfths-max, .twelfths-23-max {
  max-width: 1518px; }

.twentythree-twelfths-tall, .twelfths-23-tall {
  height: 1518px; }

.twentyfour-twelfths, .twelfths-24 {
  width: 1584px; }

.twentyfour-twelfths-max, .twelfths-24-max {
  max-width: 1584px; }

.twentyfour-twelfths-tall, .twelfths-24-tall {
  height: 1584px; }

.fluid .one-twelfths, .fluid .twelfths-1 {
  width: 8.33333%; }
.fluid .two-twelfths, .fluid .twelfths-2 {
  width: 16.66667%; }
.fluid .three-twelfths, .fluid .twelfths-3 {
  width: 25.0%; }
.fluid .four-twelfths, .fluid .twelfths-4 {
  width: 33.33333%; }
.fluid .five-twelfths, .fluid .twelfths-5 {
  width: 41.66666%; }
.fluid .six-twelfths, .fluid .twelfths-6 {
  width: 50.0%; }
.fluid .seven-twelfths, .fluid .twelfths-7 {
  width: 58.33333%; }
.fluid .eight-twelfths, .fluid .twelfths-8 {
  width: 66.66666%; }
.fluid .nine-twelfths, .fluid .twelfths-9 {
  width: 75.0%; }
.fluid .ten-twelfths, .fluid .twelfths-10 {
  width: 83.33333%; }
.fluid .eleven-twelfths, .fluid .twelfths-11 {
  width: 91.66666%; }
.fluid .twelve-twelfths, .fluid .twelfths-12 {
  width: 100.0%; }

/* Fifteenths */
.one-fifteenths, .fifteenths-1 {
  width: 66px; }

.one-fifteenths-max, .fifteenths-1-max {
  max-width: 66px; }

.one-fifteenths-tall, .fifteenths-1-tall {
  height: 66px; }

.two-fifteenths, .fifteenths-2 {
  width: 132px; }

.two-fifteenths-max, .fifteenths-2-max {
  max-width: 132px; }

.two-fifteenths-tall, .fifteenths-2-tall {
  height: 132px; }

.three-fifteenths, .fifteenths-3 {
  width: 198px; }

.three-fifteenths-max, .fifteenths-3-max {
  max-width: 198px; }

.three-fifteenths-tall, .fifteenths-3-tall {
  height: 198px; }

.four-fifteenths, .fifteenths-4 {
  width: 264px; }

.four-fifteenths-max, .fifteenths-4-max {
  max-width: 264px; }

.four-fifteenths-tall, .fifteenths-4-tall {
  height: 264px; }

.five-fifteenths, .fifteenths-5 {
  width: 330px; }

.five-fifteenths-max, .fifteenths-5-max {
  max-width: 330px; }

.five-fifteenths-tall, .fifteenths-5-tall {
  height: 330px; }

.six-fifteenths, .fifteenths-6 {
  width: 396px; }

.six-fifteenths-max, .fifteenths-6-max {
  max-width: 396px; }

.six-fifteenths-tall, .fifteenths-6-tall {
  height: 396px; }

.seven-fifteenths, .fifteenths-7 {
  width: 462px; }

.seven-fifteenths-max, .fifteenths-7-max {
  max-width: 462px; }

.seven-fifteenths-tall, .fifteenths-7-tall {
  height: 462px; }

.eight-fifteenths, .fifteenths-8 {
  width: 528px; }

.eight-fifteenths-max, .fifteenths-8-max {
  max-width: 528px; }

.eight-fifteenths-tall, .fifteenths-8-tall {
  height: 528px; }

.nine-fifteenths, .fifteenths-9 {
  width: 594px; }

.nine-fifteenths-max, .fifteenths-9-max {
  max-width: 594px; }

.nine-fifteenths-tall, .fifteenths-9-tall {
  height: 594px; }

.ten-fifteenths, .fifteenths-10 {
  width: 660px; }

.ten-fifteenths-max, .fifteenths-10-max {
  max-width: 660px; }

.ten-fifteenths-tall, .fifteenths-10-tall {
  height: 660px; }

.eleven-fifteenths, .fifteenths-11 {
  width: 726px; }

.eleven-fifteenths-max, .fifteenths-11-max {
  max-width: 726px; }

.eleven-fifteenths-tall, .fifteenths-11-tall {
  height: 726px; }

.twelve-fifteenths, .fifteenths-12 {
  width: 792px; }

.twelve-fifteenths-max, .fifteenths-12-max {
  max-width: 792px; }

.twelve-fifteenths-tall, .fifteenths-12-tall {
  height: 792px; }

.thirteen-fifteenths, .fifteenths-13 {
  width: 858px; }

.thirteen-fifteenths-max, .fifteenths-13-max {
  max-width: 858px; }

.thirteen-fifteenths-tall, .fifteenths-13-tall {
  height: 858px; }

.fourteen-fifteenths, .fifteenths-14 {
  width: 924px; }

.fourteen-fifteenths-max, .fifteenths-14-max {
  max-width: 924px; }

.fourteen-fifteenths-tall, .fifteenths-14-tall {
  height: 924px; }

.fifteen-fifteenths, .fifteenths-15 {
  width: 990px; }

.fifteen-fifteenths-max, .fifteenths-15-max {
  max-width: 990px; }

.fifteen-fifteenths-tall, .fifteenths-15-tall {
  height: 990px; }

.fluid .one-fifteenths, .fluid .fifteenths-1 {
  width: 6.66667%; }
.fluid .two-fifteenths, .fluid .fifteenths-2 {
  width: 13.33333%; }
.fluid .three-fifteenths, .fluid .fifteenths-3 {
  width: 20.0%; }
.fluid .four-fifteenths, .fluid .fifteenths-4 {
  width: 26.66667%; }
.fluid .five-fifteenths, .fluid .fifteenths-5 {
  width: 33.33333%; }
.fluid .six-fifteenths, .fluid .fifteenths-6 {
  width: 40.0%; }
.fluid .seven-fifteenths, .fluid .fifteenths-7 {
  width: 46.66667%; }
.fluid .eight-fifteenths, .fluid .fifteenths-8 {
  width: 53.33333%; }
.fluid .nine-fifteenths, .fluid .fifteenths-9 {
  width: 60.0%; }
.fluid .ten-fifteenths, .fluid .fifteenths-10 {
  width: 66.66667%; }
.fluid .eleven-fifteenths, .fluid .fifteenths-11 {
  width: 73.33333%; }
.fluid .twelve-fifteenths, .fluid .fifteenths-12 {
  width: 80.0%; }
.fluid .thirteen-fifteenths, .fluid .fifteenths-13 {
  width: 86.66667%; }
.fluid .fourteen-fifteenths, .fluid .fifteenths-14 {
  width: 93.33333%; }
.fluid .fifteen-fifteenths, .fluid .fifteenths-15 {
  width: 100.0%; }

/* I.4.3 Spineless
-------------------------------------------------------- */
.row.fifths .column {
  width: 198px; }

.fluid .row.fifths .column {
  width: 20%; }

/* I.5.0  CONTENT
-------------------------------------------------------- */
.column > article,
.column > aside {
  padding: 2em 2em 1em 2em; }

.column > article ~ article {
  padding: .75em 2em; }

.column > article ~ article p {
  padding-bottom: 0px; }

.column > aside {
  padding: .75em 2em; }

.column > aside > header {
  font-size: 1.3em;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 5px; }

.column > aside ul li {
  list-style: none;
  padding: 5px 0px;
  margin: 0px;
  border-top: 1px gray dotted; }

/* Margins */
.marginalize .column, .marginalized {
  padding: 2em; }

.marginalize-top .column, .marginalized-top {
  padding-top: 2em; }

.marginalize-right .column, .marginalized-right {
  padding-right: 2em; }

.marginalize-bottom .column, .marginalized-bottom {
  padding-bottom: 2em; }

.marginalize-left .column, .marginalized-left {
  padding-left: 2em; }

.marginalize.wide .column, .marginalized.wide {
  padding: 4em; }

.marginalize-top.wide .column, .marginalized-top.wide {
  padding-top: 4em; }

.marginalize-right.wide .column, .marginalized-right.wide {
  padding-right: 4em; }

.marginalize-bottom.wide .column, .marginalized-bottom.wide {
  padding-bottom: 4em; }

.marginalize-left.wide .column, .marginalized-left.wide {
  padding-left: 4em; }

/* Gutters */
.guttered {
  padding-left: 2em;
  padding-right: 2em; }

.guttered.wide {
  padding-left: 4em;
  padding-right: 4em; }

.single.gutter .column {
  padding-left: 2em;
  padding-right: 2em; }

.single.gutter.wide .column {
  padding-left: 4em;
  padding-right: 4em; }

.side-right.gutter .column:nth-of-type(odd),
.halves.gutter .column:nth-of-type(odd) {
  padding-left: 2em;
  padding-right: 1em; }

.side-right.gutter .column:nth-of-type(even),
.halves.gutter .column:nth-of-type(even) {
  padding-left: 1em;
  padding-right: 2em; }

.side-right.gutter.wide .column:nth-of-type(odd),
.halves.gutter.wide .column:nth-of-type(odd) {
  padding-left: 4em;
  padding-right: 2em; }

.side-right.gutter.wide .column:nth-of-type(even),
.halves.gutter.wide .column:nth-of-type(even) {
  padding-left: 2em;
  padding-right: 4em; }

.thirds.gutter .column:nth-of-type(3n+1) {
  padding-left: 2em;
  padding-right: 1em; }
.thirds.gutter .column:nth-of-type(3n+2) {
  padding-left: 1em;
  padding-right: 1em; }
.thirds.gutter .column:nth-of-type(3n+3) {
  padding-left: 1em;
  padding-right: 2em; }

.thirds.gutter.wide .column:nth-of-type(3n+1) {
  padding-left: 4em;
  padding-right: 2em; }
.thirds.gutter.wide .column:nth-of-type(3n+2) {
  padding-left: 2em;
  padding-right: 2em; }
.thirds.gutter.wide .column:nth-of-type(3n+3) {
  padding-left: 2em;
  padding-right: 4em; }

.fifths.gutter .column {
  padding: 1em; }

.fifths.gutter .column:nth-of-type(5n+1) {
  padding-left: 2em; }

.fifths.gutter .column:nth-of-type(5n+5) {
  padding-right: 2em; }

/* Block Level Styles
-------------------------------------------------------- */
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  xxpadding-top: 0; }

main hr.tall {
  margin-top: 2em;
  margin-bottom: 2em; }

main hr.short {
  margin-top: 0;
  margin-bottom: 0; }

/* Images
-------------------------------------------------------- */
.fluid .column img {
  max-width: 100%;
  height: auto; }

.fill-width,
.full-width {
  width: 100%;
  height: auto; }

.fill-height {
  height: 100%;
  width: auto; }

.max-width {
  max-width: 100%;
  height: auto !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@media \0screen {
  img.max-width {
    width: auto;
    /* for ie 8 */ } }
.hybrid.small figure.fill-width {
  width: 100%; }

.picture-frame {
  line-height: 0px; }

img.grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  /* Firefox 10+, Firefox on Android */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(100%);
  /* Chrome 19+, Safari 6+, Safari 6+ iOS */ }

/* Pseudo Responsive Images */
.center.vertically:before {
  content: '';
  display: inline-block;
  height: 50%;
  vertical-align: middle;
  margin-right: -0.25em;
  /* Adjusts for spacing */ }

.center.vertically > * {
  vertical-align: middle;
  display: inline-block; }

.centered.absolutely,
.center.absolutely > *:first-of-type {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

/* Character Styles
-------------------------------------------------------- */
ul + h1, ul + h2, ul + h3, ul + h4,
ol + h1, ol + h2, ol + h3, ol + h4 {
  margin-top: .8; }

/* #Clearing
-------------------------------------------------------- */
.row:before, .row:after,
main:before, main:after,
#binder:before, #binder:after,
.clearfix:before, .clearfix:after,
.rebound:before, .rebound:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

#binder:after,
main:after,
.row:after,
.clearfix:after,
.rebound:after {
  clear: both; }

main,
.row,
.rebound,
.clearfix {
  zoom: 1; }

/* or */
.cf:before,
.cf:after,
.clear:before,
.clear:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after,
.clear:after {
  clear: both; }

/* BUTTONS
-------------------------------------------------------- */
.spine-button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  background: #eff0f1;
  border-style: solid;
  border-width: 1px;
  border-color: #d7dadb #8d959a #8d959a #d7dadb;
  border-radius: 0.5em;
  color: #464e54;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 0px;
  line-height: normal;
  padding: 0.5em 1em; }

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  color: #464e54;
  background: white;
  border-color: #8d959a;
  border-width: 0px 2px 2px 0px; }

.button:active, .button.active,
button:active, button.active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #b5babe;
  border-color: black;
  background: #464e54;
  border-width: 2px 0px 0px 2px; }

.button.full-width,
button.full-width,
input[type="submit"].full-width,
input[type="reset"].full-width,
input[type="button"].full-width {
  width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: center; }

button.functional,
button.glassine {
  border: none;
  padding: 0px;
  margin: 0px;
  background: transparent;
  border-radius: 0px; }

/* Fix for odd Mozilla border & padding issues */
button:-moz-focus-inner,
input:-moz-focus-inner {
  border: 0;
  padding: 0; }

/* I.5.0 FORMS
-------------------------------------------------------- */
/* This could be a wee bit controversial */
form, fieldset, input, textarea, legend, label {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

form {
  margin-bottom: 5px;
  padding: 10px; }

fieldset {
  margin-bottom: 5px;
  padding: 0px; }

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
  border: 1px solid #ccc;
  padding: 6px 4px;
  outline: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #777;
  margin: 0;
  background: #fff; }

select {
  padding: 0; }

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
  border: 1px solid #aaa;
  color: #444;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); }

textarea {
  min-height: 60px; }

label,
legend {
  font-weight: bold;
  font-size: 13px; }

input[type="checkbox"] {
  display: inline; }

label span,
legend span {
  font-weight: normal;
  font-size: 13px;
  color: #444; }

fieldset {
  position: relative; }

/* MISC */
code textarea,
code textarea:focus {
  width: 100%;
  padding: 15px;
  height: auto;
  color: white;
  background-color: rgba(94, 106, 113, 0.5); }

.padless {
  padding: 0px !important; }

.marginless {
  margin: 0px !important; }

.center {
  text-align: center; }

.hidden {
  display: none;
  visibility: hidden; }

.invisible {
  visibility: hidden; }

.nowrap {
  white-space: nowrap; }
