/* II Spine */
/* Icons Font */
@font-face {
  font-family: "Spine-Icons";
  src: url("//repo.wsu.edu/spine/1/icons/wsu-spine-icons-regular.eot");
  src: url("//repo.wsu.edu/spine/1/icons/wsu-spine-icons-regular.eot?#iefix") format("embedded-opentype"), url("//repo.wsu.edu/spine/1/icons/wsu-spine-icons-regular.ttf") format("font/truetype"), url("//repo.wsu.edu/spine/1/icons/wsu-spine-icons-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
/* II.1.0 THE SPINE
--------------------------------------------------------------------------- */
#spine,
#spine * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

#spine {
  font-size: 12px;
  width: 198px;
  height: 100%;
  top: 0;
  z-index: 99164;
  position: fixed;
  bottom: 0;
  /* II.1.2 Cropped */ }
  #spine #glue {
    margin-top: 0px;
    xxwidth: 198px;
    position: relative; }
  #spine button {
    background-color: transparent;
    border: none;
    border-radius: 0px;
    text-indent: 120%;
    white-space: nowrap;
    overflow: hidden; }
  #spine a {
    color: #5e6a71; }
  #spine a:hover {
    color: #981e32; }
  #spine.scrolled {
    bottom: 0;
    top: auto;
    position: fixed;
    xxwidth: 198px; }
  #spine.cropped {
    font-size: 12px;
    height: 198px;
    min-height: 198px;
    box-shadow: 0px 0px 5px rgba(66, 74, 79, 0.5);
    position: absolute;
    top: 0px; }
    #spine.cropped nav,
    #spine.cropped footer {
      display: none; }

#spine nav,
#spine footer {
  margin-left: 1.75em;
  margin-right: 1.75em; }

/* II.1.1 Cracked (Deprecated) */
.size-lt-large #spine.cropped nav,
.size-lt-large #spine.cropped footer {
  display: block; }

footer.looseleaf {
  padding-top: 10px; }
  footer.looseleaf nav,
  footer.looseleaf small {
    position: absolute;
    white-space: nowrap; }
  footer.looseleaf .spine-global-links {
    right: 50%;
    padding-right: 45px; }
  footer.looseleaf .copyright-link {
    left: 50%;
    padding-left: 43px;
    padding-top: 4px; }
  footer.looseleaf .spine-social-channels {
    float: right;
    display: block;
    left: 50%;
    z-index: 500;
    width: 1px;
    overflow: visible; }
  footer.looseleaf .spine-social-channels ul {
    position: relative;
    left: -42px; }
  footer.looseleaf .spine-social-channels ul li {
    display: inline-block;
    width: auto;
    padding: 0px 0px 0px 1px;
    margin: 0px;
    width: 20px;
    white-space: nowrap; }
  footer.looseleaf .spine-social-channels li a {
    font-size: 16px; }
  footer.looseleaf .spine-global-links li {
    width: auto;
    display: inline-block;
    margin: 0px;
    padding-left: 10px; }

/* II.2.0 HEADER (#spine)
--------------------------------------------------------------------------- */
#spine header {
  z-index: 99164; }

#wsu-signature {
  background-repeat: no-repeat;
  background-position: center center;
  xxbackground-image: url("//repo.wsu.edu/spine/1/marks/wsu-signature-vertical.svg");
  background-size: 150px auto;
  height: 155px;
  display: block;
  text-indent: 120%;
  overflow: hidden;
  white-space: nowrap; }

html.no-svg #wsu-signature {
  xxbackground-image: url("//repo.wsu.edu/spine/1/marks/wsu-signature-vertical.png"); }

/* Spine Menu Button (Shelve and Unshelve) */
button#shelve {
  height: 50px;
  width: 100px;
  border: none;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 100;
  font-size: 24px;
  color: #b6bcbf;
  display: none;
  background: transparent url("http://repo.wsu.edu/spine/1/icons/menu.svg") 20px center no-repeat;
  outline: none; }

button#shelve:hover {
  color: #5e6a71; }

.spine-actions-tabs button:before,
.spine-nav button:before,
.spine-footer button:before {
  font-family: "Spine-Icons";
  text-indent: 0px;
  position: absolute;
  left: 0px;
  top: 0em;
  right: 0px;
  bottom: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* II.3.0 NAVIGATION
--------------------------------------------------------------------------- */
#spine .spine-navigation {
  padding-bottom: 100px; }
#spine nav {
  /* Parents */
  /* II.2.2 NAVIGATION -> Disclosure */ }
  #spine nav ul {
    margin: 0px;
    padding: 0px; }
  #spine nav li {
    list-style: none; }
  #spine nav ul li {
    position: relative;
    margin: 0px;
    padding: 0px;
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    line-height: 1.1em; }
  #spine nav ul li a {
    display: block;
    padding: 6px 0px; }
  #spine nav ul li li,
  #spine nav ul li li:hover {
    border-top: none; }
  #spine nav ul ul li a {
    text-transform: none;
    padding: .4em 0; }
  #spine nav ul ul li {
    margin-left: 1.25em; }
  #spine nav ul ul ul li a {
    padding: .25em 0; }
  #spine nav li.parent > a {
    padding-right: 15px; }
  #spine nav li.parent.opened > a, #spine nav li.parent.active > a {
    padding-bottom: 3px; }
  #spine nav li.parent > a:after, #spine nav li.parent.opened > a:after {
    font-family: "Spine-Icons";
    display: none;
    position: absolute;
    top: .5em;
    right: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  #spine nav li.parent:not(.active) > a:after {
    content: "\F501"; }
  #spine nav li.parent.opened:not(.active) > a:after {
    content: "\F500"; }
  #spine nav li.parent > a:hover:after, #spine nav li.parent.opened > a:hover:after {
    display: block; }
  #spine nav li.parent.opened li:last-child a, #spine nav li.parent.active li:last-child a {
    padding-bottom: 8px; }
  #spine nav li.parent.active > a:hover {
    cursor: default; }
  #spine nav .active li.parent > a:after,
  #spine nav .active li.parent.opened > a:hover:after {
    top: .4em; }
  #spine nav ul ul li {
    display: none; }
  #spine nav ul ul li {
    line-height: 1.3em; }
  #spine nav ul li.active > ul > li,
  #spine nav ul li.opened > ul > li {
    display: block; }

/* II.2.3 NAVIGATION -> SECTIONS -> Site */
#spine {
  /* Home Icon */
  /* "Dogeared" Link */
  /* External Links */ }
  #spine .spine-sitenav {
    margin-top: 1em;
    margin-bottom: 1em; }
  #spine .spine-sitenav > ul > li:nth-last-of-type(1) {
    border-bottom-width: 1px; }
  #spine .spine-sitenav:not(.homeless) > ul > li:first-child > a {
    padding-left: 1.4em;
    background-image: url("//repo.wsu.edu/spine/1/icons/home-gray.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 1em auto; }
  #spine .spine-sitenav:not(.homeless) > ul > li.active:first-child > a,
  #spine .spine-sitenav:not(.homeless) > ul > li:first-child > a:hover,
  #spine .spine-sitenav:not(.homeless) > ul > li:first-child > a:before {
    background-image: url("//repo.wsu.edu/spine/1/icons/home-crimson.svg"); }
  #spine li:not(.parent).dogeared > a {
    color: #981e32;
    font-weight: bold; }
  #spine li.dogeared > a:hover,
  #spine li.parent.dogeared > a:hover {
    cursor: default; }
  #spine nav a.external:hover:after {
    font-family: "Spine-Icons";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    margin-left: 3px;
    content: "\21AA"; }

/* II.2.4 NAVIGATION -> SECTIONS -> Offsite  */
.spine-offsitenav {
  margin-top: 20px; }
  .spine-offsitenav ul li {
    border: none !important;
    line-height: 1.3em; }
  .spine-offsitenav a {
    text-transform: none;
    padding: .35em 0px; }
  .spine-offsitenav a i {
    display: none; }
  .spine-offsitenav a:hover i {
    display: inline; }

/* II.3.0 ACTIONS 
--------------------------------------------------------------------------- */
.no-js #spine .spine-actions,
html.lt-ie9 #spine .spine-actions {
  display: none; }

#spine {
  /* II.3.2 Actions -> Tabs */ }
  #spine .spine-actions {
    padding: 0px; }
    #spine .spine-actions section {
      z-index: 99164;
      height: 100%;
      position: fixed;
      display: block;
      width: 198px; }
    #spine .spine-actions section.closed {
      display: none; }
    #spine .spine-actions section.opened {
      display: block; }
    #spine .spine-actions > ul {
      display: block; }
    #spine .spine-actions ul li {
      padding: 0px;
      margin: 0px;
      list-style: none; }
    #spine .spine-actions > ul li {
      display: block;
      width: 25%;
      text-align: center;
      list-style: none;
      display: block;
      float: left; }
  #spine .spine-actions-tabs {
    padding: 0px;
    margin-top: 0;
    margin-right: 1.75em;
    margin-bottom: 0;
    margin-left: 1.75em; }
    #spine .spine-actions-tabs button {
      outline: none; }
    #spine .spine-actions-tabs li {
      width: 25%;
      display: inline-block;
      margin: 0;
      padding: 0; }
    #spine .spine-actions-tabs li button {
      position: relative;
      width: 100%;
      height: 2.2em;
      font-weight: normal;
      font-size: 1.2em;
      line-height: 1em;
      text-shadow: none;
      width: 100%;
      padding: .8em 0 .8em 0;
      display: block; }
    #spine .spine-actions-tabs li button:before {
      text-align: center;
      top: .9em; }
  #spine .spine-search-tab button:before {
    content: "$"; }
  #spine .spine-contact-tab button:before {
    content: "\2709"; }
  #spine .spine-share-tab button:before {
    content: "\F601"; }
  #spine .spine-print-tab button:before {
    content: "\2399"; }
  #spine .spine-search-tab.opened button:hover:before,
  #spine .spine-contact-tab.opened button:hover:before,
  #spine .spine-share-tab.opened button:hover:before,
  #spine .spine-print-tab.opened button:hover:before {
    content: "\2421"; }

/* II.3.1 ACTIONS -> Search 
--------------------------------------------------------------------------- */
.spine-search form {
  padding: 1em 1.75em 0 1.75em;
  margin: 0px 0px -1px 0px;
  position: relative;
  line-height: 1em; }
.spine-search input[type="text"] {
  font-size: 1.6em;
  color: #5e6a71;
  background-color: transparent;
  border-radius: 0px;
  padding: .5em 15px 5px 0;
  text-indent: 0px;
  height: 1.7em;
  width: 100%;
  margin: 0px;
  border: none;
  box-shadow: none;
  border-bottom: 1px #b6bcbf solid; }
.spine-search input:focus {
  color: #981e32;
  border: none;
  border-bottom: 1px #981e32 solid; }
.spine-search button {
  position: absolute;
  left: auto;
  bottom: 0px;
  right: 0px;
  padding: 0px;
  height: 40px;
  width: 50px;
  text-indent: 110%;
  overflow: hidden; }
.spine-search button:before {
  content: "\25BB";
  color: #8d959a;
  font-size: 1.3em;
  display: inline-block;
  text-align: right;
  left: auto !important;
  top: auto !important;
  bottom: 5px !important;
  right: 20px !important; }
.spine-search button:hover:before {
  color: #981e32; }

.spine-search :-webkit-input-placeholder {
  text-indent: 3px; }

.spine-search :-moz-placeholder,
.spine-search :-ms-input-placeholder {
  text-indent: 5px; }

/* Index */
/* Reset jQuery UI */
#spine-shortcuts {
  padding-top: 2px;
  max-height: 100%;
  display: block;
  position: relative;
  padding: 0 1.75em; }

#spine-shortcuts *,
#spine-shortcuts *:focus,
#spine-shortcuts *:hover {
  border: none;
  background: transparent;
  padding: 0px;
  margin: 0px;
  border-radius: 0;
  line-height: 1.1em;
  box-shadow: none; }

#spine-shortcuts li {
  padding: 0px;
  list-style: none; }
#spine-shortcuts li a {
  color: #5e6a71;
  display: block;
  padding: .6em 0;
  margin: 0;
  border-bottom: 1px #c3cbcf solid; }
#spine-shortcuts li a:hover,
#spine-shortcuts li a.ui-state-focus {
  color: white;
  background-color: #434d53;
  margin: -1px -1.75em 0px -1.75em;
  padding: .6em 1.75em .6em 1.75em;
  border-bottom: 2px #434d53 solid; }
#spine-shortcuts li:first-child a:hover,
#spine-shortcuts li:first-child a.ui-state-focus {
  margin: 0px -1.75em 0px -1.75em;
  border-bottom: 1px #434d53 solid; }
#spine-shortcuts li:first-child a {
  border-top: 1px transparent solid; }
#spine-shortcuts li:last-child a {
  border-bottom-color: transparent; }
#spine-shortcuts li a:active,
#spine-shortcuts li a:hover,
#spine-shortcuts li a:focus {
  outline: none; }

.ui-helper-hidden-accessible {
  border: 0 none;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* II.3.2 ACTIONS -> Contact 
--------------------------------------------------------------------------- */
#spine .spine-contact address {
  color: #384044;
  margin: 1.75em;
  display: block; }
#spine .spine-contact div {
  padding: 0.75em 0;
  border-bottom: 1px #d7dadb solid;
  line-height: 1.4em; }
#spine .spine-contact div div {
  padding: 0;
  line-height: 1.1em;
  border-bottom: none; }
#spine .spine-contact .organization {
  font-weight: bold;
  padding-bottom: .5em; }
#spine .spine-contact .organization-unit {
  font-size: 1.3em;
  padding-bottom: .3em;
  border-bottom: none; }
#spine .spine-contact .organization-unit a,
#spine .spine-contact .organization-unit a:hover {
  color: black; }
#spine .spine-contact .organization-name {
  white-space: nowrap;
  padding: 0;
  border-bottom: none; }
#spine .spine-contact .adr {
  border: none;
  padding: 0px; }
#spine .spine-contact .street-address {
  border-bottom: none;
  padding: 0; }
#spine .spine-contact .more {
  border-bottom: none; }
#spine .spine-contact .area {
  padding-top: 0; }
#spine .spine-contact div:before {
  font-family: "Spine-Icons";
  width: 1.7em;
  display: inline-block;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
#spine .spine-contact .tel:before {
  content: "\1F4DE"; }
#spine .spine-contact .email:before {
  content: "\0040"; }
#spine .spine-contact .more:before {
  content: "\2139"; }
#spine .spine-contact .postalcode {
  white-space: nowrap; }

/* 3.3 Share */
#spine .spine-share ul {
  margin: 1.75em !important; }
  #spine .spine-share ul li a {
    display: block;
    padding-top: .75em;
    padding-bottom: .75em;
    border-bottom: 1px #c3cbcf solid; }
  #spine .spine-share ul li a:hover {
    color: white !important;
    background: #434d53;
    padding-left: 1.75em;
    padding-right: 1.75em;
    margin: -1px -1.75em 1px -1.75em; }
  #spine .spine-share ul li a:active {
    background: #981e32; }
  #spine .spine-share ul li a:hover {
    color: white; }
  #spine .spine-share ul li a:before {
    font-family: "Spine-Icons" !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 1.8em;
    display: inline-block;
    text-align: center; }
  #spine .spine-share ul li:last-of-type a {
    border-bottom: none; }
  #spine .spine-share ul li a span {
    display: none; }
  #spine .spine-share ul li.by-facebook a:before {
    content: "F"; }
  #spine .spine-share ul li.by-twitter a:before {
    content: "T"; }
  #spine .spine-share ul li.by-email a:before {
    content: "@"; }
  #spine .spine-share ul li.by-pinterest a:before {
    content: "P"; }
  #spine .spine-share ul li.by-linkedin a:before {
    content: "L"; }
  #spine .spine-share ul li.by-other a:before {
    content: "";
    display: none; }

/* II.3.4 Print */
/* II.5.0 FOOTER-Spine */
#spine footer {
  position: absolute;
  bottom: 0px;
  padding: 1.75em 0 0.75em 0;
  width: 156px; }

html.lt-ie9 #spine footer {
  position: relative; }

#spine footer nav {
  margin: 0; }

/* II.5.1 FOOTER -> Social */
.spine-footer nav ul li {
  border-top: none !important;
  text-align: center; }

#spine .spine-social-channels {
  margin-bottom: .6em;
  width: 100%; }
  #spine .spine-social-channels ul {
    text-align: center; }
    #spine .spine-social-channels ul li {
      color: #b6bcbf;
      background-position: center center;
      background-repeat: no-repeat;
      width: 2.3em;
      display: inline-block;
      margin: 0px;
      padding: 0px; }
    #spine .spine-social-channels ul li a {
      color: #e0e5e8;
      color: #D7DADB;
      text-indent: -9000px;
      font-size: 1.8em;
      line-height: .8em;
      height: 1.2em;
      padding: 0px;
      display: block;
      position: relative;
      text-transform: none; }
    #spine .spine-social-channels ul li a:before {
      font-family: "Spine-Icons";
      position: absolute;
      top: 0;
      left: 0;
      text-indent: 0;
      text-align: center;
      width: 30px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
    #spine .spine-social-channels ul .facebook-channel a:before {
      content: "F"; }
    #spine .spine-social-channels ul .facebook-channel a:hover {
      color: #3b5998; }
    #spine .spine-social-channels ul .twitter-channel a:before {
      content: "T"; }
    #spine .spine-social-channels ul .twitter-channel a:hover {
      color: #55acee; }
    #spine .spine-social-channels ul .youtube-channel a:before {
      content: "Y"; }
    #spine .spine-social-channels ul .youtube-channel a:hover {
      color: #cc181e; }
    #spine .spine-social-channels ul .directory-channel a:before {
      content: "s"; }
    #spine .spine-social-channels ul .directory-channel a:hover:before {
      content: "S"; }
    #spine .spine-social-channels ul .directory-channel a:hover {
      color: #b6bcbf; }
    #spine .spine-social-channels ul .linkedin-channel a:before {
      content: "L"; }
    #spine .spine-social-channels ul .linkedin-channel a:hover {
      color: #007bb6; }
    #spine .spine-social-channels ul .pinterest-channel a:before {
      content: "P"; }
    #spine .spine-social-channels ul .pinterest-channel a:hover {
      color: #cb2027; }
    #spine .spine-social-channels ul .gplus-channel a:before {
      content: "G"; }
    #spine .spine-social-channels ul .gplus-channel a:hover {
      color: #dd4b39; }
    #spine .spine-social-channels ul .flickr-channel a:before {
      content: "R"; }
    #spine .spine-social-channels ul .flickr-channel a:hover {
      color: #ff0084; }
    #spine .spine-social-channels ul .tumblr-channel a:before {
      content: "B"; }
    #spine .spine-social-channels ul .tumblr-channel a:hover {
      color: #34526f; }

/* II.5.2 FOOTER -> Global Navigation */
.spine-global-links {
  font-size: .9em;
  border-top-width: 1px;
  border-top-style: solid;
  padding-top: 5px;
  margin-top: 5px;
  width: 100%; }
  .spine-global-links ul {
    display: table;
    width: 100%; }
  .spine-global-links ul li {
    font-size: .8em;
    line-height: 1em;
    display: table-cell;
    text-transform: uppercase;
    text-align: left; }
  .spine-global-links ul li:nth-of-type(1) {
    text-align: left;
    width: 29%; }
  .spine-global-links ul li:nth-of-type(2) {
    text-align: left;
    width: 31%; }
  .spine-global-links ul li:nth-of-type(3) {
    text-align: left;
    width: 30%; }
  .spine-global-links ul li:nth-of-type(4) {
    text-align: right;
    width: 10%; }
  .spine-global-links small {
    font-size: .7em;
    line-height: 1em;
    color: #b6bcbf;
    display: block;
    text-align: center;
    margin: 0px 0px;
    padding: 6px 0px; }
  .spine-global-links .copyright-link a {
    color: #8b9399; }
  .spine-global-links .copyright-link a:hover {
    color: #5e6a71; }

/* II.6.0 COLORS - Spinal Column */
main {
  position: relative; }

#spine {
  background-color: white; }
  #spine.bleed:before {
    content: " ";
    background-color: white;
    width: 1000px;
    position: absolute;
    min-height: 100%;
    left: -1000px;
    background-color: white; }
  #spine.vellum-05 {
    background-color: rgba(239, 240, 241, 0.95); }
  #spine.vellum-05.bleed:before {
    background-color: rgba(239, 240, 241, 0.95); }
  #spine.vellum-10 {
    background-color: rgba(239, 240, 241, 0.9); }
  #spine.vellum-10.bleed:before {
    background-color: rgba(239, 240, 241, 0.9); }
  #spine.vellum-15 {
    background-color: rgba(239, 240, 241, 0.85); }
  #spine.vellum-15.bleed:before {
    background-color: rgba(239, 240, 241, 0.85); }
  #spine.vellum-20 {
    background-color: rgba(239, 240, 241, 0.8); }
  #spine.vellum-20.bleed:before {
    background-color: rgba(239, 240, 241, 0.8); }
  #spine.vellum-25 {
    background-color: rgba(239, 240, 241, 0.75); }
  #spine.vellum-25.bleed:before {
    background-color: rgba(239, 240, 241, 0.75); }
  #spine .spine-sitenav a,
  #spine .spine-search-tab button {
    color: #5e6a71; }
  #spine .spine-actions-tabs button,
  #spine .spine-social-channels a,
  #spine .spine-footer small a {
    color: #d7dadb; }
  #spine .spine-sitenav ul li,
  #spine .spine-global-links {
    border-color: #e4e6e7; }
  #spine .spine-sitenav a:hover,
  #spine .spine-sitenav li.dogeared > a {
    color: #981e32; }
  #spine .spine-offsitenav a,
  #spine .spine-global-links a {
    color: #b5babe; }
  #spine .spine-actions-tabs .opened button,
  #spine .spine-actions-tabs button:hover,
  #spine .spine-actions-tabs .opened button:hover {
    color: #8d959a; }
  #spine .spine-offsitenav a:hover,
  #spine .spine-global-links a:hover {
    color: #5e6a71; }
  #spine .spine-actions-tabs .opened,
  #spine .spine-actions-tabs .opened:hover,
  #spine .spine-actions section {
    background-color: #eff0f1; }
  #spine .spine-actions li:hover i {
    color: #981e32; }
  #spine .spine-search-tab button {
    color: #8d959a; }
  #spine .spine-search-tab button:hover {
    color: #5e6a71; }
  #spine.lightest {
    /* LIGHTEST #e6e8e9, rgb(230,232,233) */
    background-color: #eff0f1; }
    #spine.lightest.bleed:before {
      background-color: #eff0f1; }
    #spine.lightest.vellum-05 {
      background-color: rgba(239, 240, 241, 0.95); }
    #spine.lightest.vellum-05.bleed:before {
      background-color: rgba(239, 240, 241, 0.95); }
    #spine.lightest.vellum-10 {
      background-color: rgba(239, 240, 241, 0.9); }
    #spine.lightest.vellum-10.bleed:before {
      background-color: rgba(239, 240, 241, 0.9); }
    #spine.lightest.vellum-15 {
      background-color: rgba(239, 240, 241, 0.85); }
    #spine.lightest.vellum-15.bleed:before {
      background-color: rgba(239, 240, 241, 0.85); }
    #spine.lightest.vellum-20 {
      background-color: rgba(239, 240, 241, 0.8); }
    #spine.lightest.vellum-20.bleed:before {
      background-color: rgba(239, 240, 241, 0.8); }
    #spine.lightest.vellum-25 {
      background-color: rgba(239, 240, 241, 0.75); }
    #spine.lightest.vellum-25.bleed:before {
      background-color: rgba(239, 240, 241, 0.75); }
    #spine.lightest .spine-sitenav a,
    #spine.lightest .spine-offsitenav a:hover,
    #spine.lightest .spine-search-tab button {
      color: #464e54; }
    #spine.lightest .spine-sitenav a:hover {
      color: #981e32; }
    #spine.lightest .spine-actions-tabs li button,
    #spine.lightest .spine-social-channels a,
    #spine.lightest .spine-footer small a {
      color: #b5babe; }
    #spine.lightest .spine-sitenav ul li,
    #spine.lightest .spine-global-links {
      border-color: #d7dadb; }
    #spine.lightest .spine-offsitenav a,
    #spine.lightest .spine-global-links a {
      color: #929a9f; }
    #spine.lightest .spine-actions-tabs button:hover,
    #spine.lightest .spine-offsitenav a:hover,
    #spine.lightest .spine-global-links a:hover {
      color: #5e6a71; }
    #spine.lightest .spine-search-tab:not(.opened) button {
      color: #8d959a; }
    #spine.lightest .spine-search-tab:not(.opened) button:hover {
      color: #5e6a71; }
    #spine.lightest .spine-actions-tabs li.opened,
    #spine.lightest .spine-actions-tabs li.opened:hover,
    #spine.lightest .spine-actions section {
      background-color: white; }
  #spine.lightly {
    /* LIGHTLY #d7dadb, rgb(215 218 219) */
    background-color: #d7dadb; }
    #spine.lightly.bleed:before {
      background-color: #d7dadb; }
    #spine.lightly.vellum-05 {
      background-color: rgba(215, 218, 219, 0.95); }
    #spine.lightly.vellum-05.bleed:before {
      background-color: rgba(215, 218, 219, 0.95); }
    #spine.lightly.vellum-10 {
      background-color: rgba(215, 218, 219, 0.9); }
    #spine.lightly.vellum-10.bleed:before {
      background-color: rgba(215, 218, 219, 0.9); }
    #spine.lightly.vellum-15 {
      background-color: rgba(215, 218, 219, 0.85); }
    #spine.lightly.vellum-15.bleed:before {
      background-color: rgba(215, 218, 219, 0.85); }
    #spine.lightly.vellum-20 {
      background-color: rgba(215, 218, 219, 0.8); }
    #spine.lightly.vellum-20.bleed:before {
      background-color: rgba(215, 218, 219, 0.8); }
    #spine.lightly.vellum-25 {
      background-color: rgba(215, 218, 219, 0.75); }
    #spine.lightly.vellum-25.bleed:before {
      background-color: rgba(215, 218, 219, 0.75); }
    #spine.lightly .spine-actions-tabs button,
    #spine.lightly .spine-social-channels a:hover,
    #spine.lightly .spine-social-channels a,
    #spine.lightly .spine-footer small a {
      color: #b5babe; }
    #spine.lightly .spine-sitenav a,
    #spine.lightly .spine-offsitenav a:hover {
      color: #2a3033; }
    #spine.lightly .spine-sitenav ul li,
    #spine.lightly .spine-global-links {
      border-color: #babfc3; }
    #spine.lightly .spine-offsitenav a,
    #spine.lightly .spine-global-links a {
      color: #8d959a; }
    #spine.lightly .spine-actions-tabs button:hover,
    #spine.lightly .spine-sitenav a,
    #spine.lightly .spine-offsitenav a:hover,
    #spine.lightly .spine-global-links a:hover {
      color: #5e6a71; }
    #spine.lightly .spine-search-tab button {
      color: #8d959a; }
    #spine.lightly .spine-search-tab button:hover {
      color: #5e6a71; }
    #spine.lightly .spine-sitenav a:hover,
    #spine.lightly .spine-sitenav li.dogeared > a {
      color: #981e32; }
  #spine.lighter {
    /* LIGHTER #b5babe, rgb(181 186 190) */
    background-color: #b5babe; }
    #spine.lighter.bleed:before {
      background-color: #b5babe; }
    #spine.lighter.vellum-05 {
      background-color: rgba(181, 186, 190, 0.95); }
    #spine.lighter.vellum-05.bleed:before {
      background-color: rgba(181, 186, 190, 0.95); }
    #spine.lighter.vellum-10 {
      background-color: rgba(181, 186, 190, 0.9); }
    #spine.lighter.vellum-10.bleed:before {
      background-color: rgba(181, 186, 190, 0.9); }
    #spine.lighter.vellum-15 {
      background-color: rgba(181, 186, 190, 0.85); }
    #spine.lighter.vellum-15.bleed:before {
      background-color: rgba(181, 186, 190, 0.85); }
    #spine.lighter.vellum-20 {
      background-color: rgba(181, 186, 190, 0.8); }
    #spine.lighter.vellum-20.bleed:before {
      background-color: rgba(181, 186, 190, 0.8); }
    #spine.lighter.vellum-25 {
      background-color: rgba(181, 186, 190, 0.75); }
    #spine.lighter.vellum-25.bleed:before {
      background-color: rgba(181, 186, 190, 0.75); }
    #spine.lighter button#shelve {
      background-image: url("//repo.wsu.edu/spine/1/icons/menu-white.svg"); }
    #spine.lighter .spine-actions-tabs .opened button,
    #spine.lighter .spine-actions-tabs button,
    #spine.lighter .spine-actions-tabs .opened button:hover,
    #spine.lighter .spine-social-channels .directory-channel a:hover,
    #spine.lighter .spine-social-channels a,
    #spine.lighter .spine-footer small a {
      color: #8d959a; }
    #spine.lighter .spine-sitenav a,
    #spine.lighter .spine-offsitenav a:hover {
      color: #2a3033; }
    #spine.lighter .spine-sitenav ul li,
    #spine.lighter .spine-global-links {
      border-color: #8d959a; }
    #spine.lighter .spine-search-tab.opened button:hover {
      color: black; }
    #spine.lighter .spine-offsitenav a,
    #spine.lighter .spine-global-links a {
      color: #5e6a71; }
    #spine.lighter .spine-actions-tabs button:hover,
    #spine.lighter .spine-sitenav a,
    #spine.lighter .spine-offsitenav a:hover,
    #spine.lighter .spine-global-links a:hover {
      color: #2a3033; }
    #spine.lighter .spine-search-tab button {
      color: #647279;
      /* 3% */ }
    #spine.lighter .spine-search-tab button:hover {
      color: black; }
    #spine.lighter .spine-sitenav a:hover,
    #spine.lighter .spine-sitenav li.dogeared > a {
      color: #981e32; }
  #spine.light {
    /* LIGHT #8b9399, rgb(139,147,153) */
    background-color: #8d959a; }
    #spine.light.bleed:before {
      background-color: #8d959a; }
    #spine.light.vellum-05 {
      background-color: rgba(141, 149, 154, 0.95); }
    #spine.light.vellum-05.bleed:before {
      background-color: rgba(141, 149, 154, 0.95); }
    #spine.light.vellum-10 {
      background-color: rgba(141, 149, 154, 0.9); }
    #spine.light.vellum-10.bleed:before {
      background-color: rgba(141, 149, 154, 0.9); }
    #spine.light.vellum-15 {
      background-color: rgba(141, 149, 154, 0.85); }
    #spine.light.vellum-15.bleed:before {
      background-color: rgba(141, 149, 154, 0.85); }
    #spine.light.vellum-20 {
      background-color: rgba(141, 149, 154, 0.8); }
    #spine.light.vellum-20.bleed:before {
      background-color: rgba(141, 149, 154, 0.8); }
    #spine.light.vellum-25 {
      background-color: rgba(141, 149, 154, 0.75); }
    #spine.light.vellum-25.bleed:before {
      background-color: rgba(141, 149, 154, 0.75); }
    #spine.light:not(.homeless) .spine-sitenav > ul > li:first-child a {
      background-image: url("//repo.wsu.edu/spine/1/icons/home-gray-lightest.svg"); }
    #spine.light:not(.homeless) .spine-sitenav > ul > li:first-child a:before, #spine.light:not(.homeless) .spine-sitenav > ul > li:first-child a:hover {
      background-image: url("//repo.wsu.edu/spine/1/icons/home-white.svg"); }
    #spine.light .spine-actions .opened button,
    #spine.light .spine-actions button,
    #spine.light .spine-actions .opened button:hover,
    #spine.light .spine-social-channels a,
    #spine.light .spine-footer small a {
      color: #b5babe; }
    #spine.light .spine-sitenav a,
    #spine.light .spine-offsitenav a:hover {
      color: #d7dadb; }
    #spine.light .spine-sitenav ul li,
    #spine.light .spine-global-links {
      border-color: #b5babe; }
    #spine.light .spine-offsitenav a,
    #spine.light .spine-global-links a {
      color: #babfc3; }
    #spine.light .spine-actions-tabs button:hover,
    #spine.light .spine-offsitenav a:hover,
    #spine.light .spine-global-links a:hover {
      color: #d7dadb; }
    #spine.light .spine-search-tab:not(.opened) button {
      color: #d7dadb; }
    #spine.light .spine-search-tab:not(.opened) button:hover {
      color: #eff0f1; }
    #spine.light .spine-social-channels .twitter-channel a:hover {
      color: #e1e8ed; }
    #spine.light .spine-sitenav a:hover,
    #spine.light .spine-sitenav li.dogeared > a {
      color: white; }
  #spine.gray {
    /* GRAY #5e6a71, rgb(94,106,113) */
    background-color: #5e6a71; }
    #spine.gray.bleed:before {
      background: #5e6a71; }
    #spine.gray.vellum-05 {
      background-color: rgba(94, 106, 113, 0.95); }
    #spine.gray.vellum-05.bleed:before {
      background-color: rgba(94, 106, 113, 0.95); }
    #spine.gray.vellum-10 {
      background-color: rgba(94, 106, 113, 0.9); }
    #spine.gray.vellum-10.bleed:before {
      background-color: rgba(94, 106, 113, 0.9); }
    #spine.gray.vellum-15 {
      background-color: rgba(94, 106, 113, 0.85); }
    #spine.gray.vellum-15.bleed:before {
      background-color: rgba(94, 106, 113, 0.85); }
    #spine.gray.vellum-20 {
      background-color: rgba(94, 106, 113, 0.8); }
    #spine.gray.vellum-20.bleed:before {
      background-color: rgba(94, 106, 113, 0.8); }
    #spine.gray.vellum-25 {
      background-color: rgba(94, 106, 113, 0.75); }
    #spine.gray.vellum-25.bleed:before {
      background-color: rgba(94, 106, 113, 0.75); }
    #spine.gray:not(.homeless) .spine-sitenav > ul > li:first-child a {
      background-image: url("//repo.wsu.edu/spine/1/icons/home-gray-lightest.svg"); }
    #spine.gray:not(.homeless) .spine-sitenav > ul > li:first-child a:before, #spine.gray:not(.homeless) .spine-sitenav > ul > li:first-child a:hover {
      background-image: url("//repo.wsu.edu/spine/1/icons/home-white.svg"); }
    #spine.gray .spine-actions .opened button,
    #spine.gray .spine-actions button,
    #spine.gray .spine-actions .opened button:hover,
    #spine.gray .spine-social-channels a,
    #spine.gray .spine-footer small a {
      color: #41494e; }
    #spine.gray .spine-sitenav a,
    #spine.gray .spine-offsitenav a:hover,
    #spine.gray .spine-search-tab button {
      color: #d7dadb; }
    #spine.gray .spine-sitenav ul li,
    #spine.gray .spine-global-links {
      border-color: #464e54; }
    #spine.gray .spine-offsitenav a {
      color: #212528; }
    #spine.gray .spine-global-links a {
      color: #33393e; }
    #spine.gray .spine-actions-tabs :not(.opened) button:hover,
    #spine.gray .spine-offsitenav a:hover,
    #spine.gray .spine-global-links a:hover {
      color: #d7dadb; }
    #spine.gray .spine-search-tab button {
      color: #2a3033; }
    #spine.gray .spine-search-tab button:hover {
      color: black; }
    #spine.gray .spine-social-channels .facebook-channel a:hover {
      color: #d3d8e8; }
    #spine.gray .spine-sitenav a:hover,
    #spine.gray .spine-sitenav li.dogeared > a {
      color: white; }
  #spine.dark {
    /* GRAY-DARK #383D42, rgb(75,85,90) */
    background-color: #464e54; }
    #spine.dark.bleed:before {
      background-color: #464e54; }
    #spine.dark.vellum-05 {
      background-color: rgba(70, 78, 84, 0.95); }
    #spine.dark.vellum-05.bleed:before {
      background-color: rgba(70, 78, 84, 0.95); }
    #spine.dark.vellum-10 {
      background-color: rgba(70, 78, 84, 0.9); }
    #spine.dark.vellum-10.bleed:before {
      background-color: rgba(70, 78, 84, 0.9); }
    #spine.dark.vellum-15 {
      background-color: rgba(70, 78, 84, 0.85); }
    #spine.dark.vellum-15.bleed:before {
      background-color: rgba(70, 78, 84, 0.85); }
    #spine.dark.vellum-20 {
      background-color: rgba(70, 78, 84, 0.8); }
    #spine.dark.vellum-20.bleed:before {
      background-color: rgba(70, 78, 84, 0.8); }
    #spine.dark.vellum-25 {
      background-color: rgba(70, 78, 84, 0.75); }
    #spine.dark.vellum-25.bleed:before {
      background-color: rgba(70, 78, 84, 0.75); }
    #spine.dark:not(.homeless) .spine-sitenav > ul > li:first-child a {
      background-image: url("//repo.wsu.edu/spine/1/icons/home-gray-lightest.svg"); }
    #spine.dark:not(.homeless) .spine-sitenav > ul > li:first-child a:before, #spine.dark:not(.homeless) .spine-sitenav > ul > li:first-child a:hover {
      background-image: url("//repo.wsu.edu/spine/1/icons/home-white.svg"); }
    #spine.dark .spine-sitenav a,
    #spine.dark .spine-offsitenav a:hover {
      color: #d7dadb; }
    #spine.dark .spine-actions .opened button,
    #spine.dark .spine-actions button,
    #spine.dark .spine-actions .opened button:hover,
    #spine.dark .spine-social-channels a,
    #spine.dark .spine-footer small a {
      color: #7d868c; }
    #spine.dark .spine-sitenav ul li,
    #spine.dark .spine-global-links {
      border-color: #5e6a71; }
    #spine.dark .spine-search-tab.opened button,
    #spine.dark .spine-search-tab.opened button:hover {
      color: #2a3033; }
    #spine.dark .spine-offsitenav a,
    #spine.dark .spine-global-links a {
      color: #8d959a; }
    #spine.dark .spine-actions-tabs :not(.opened) button:hover,
    #spine.dark .spine-sitenav a,
    #spine.dark .spine-offsitenav a:hover,
    #spine.dark .spine-global-links a:hover,
    #spine.dark .spine-social-channels li[class*="-channel"] a:hover {
      color: #d7dadb; }
    #spine.dark .spine-search-tab button {
      color: #aab0b4; }
    #spine.dark .spine-search-tab button:hover {
      color: #d7dadb; }
    #spine.dark .spine-sitenav a:hover,
    #spine.dark .spine-sitenav li.dogeared > a {
      color: white; }
  #spine.darker {
    /* GRAY-DARKER #2a3033, rgb(42 48 51) */
    background-color: #23282b; }
    #spine.darker.bleed:before {
      background-color: #23282b; }
    #spine.darker.vellum-05 {
      background-color: rgba(35, 40, 43, 0.95); }
    #spine.darker.vellum-05.bleed:before {
      background-color: rgba(35, 40, 43, 0.95); }
    #spine.darker.vellum-10 {
      background-color: rgba(35, 40, 43, 0.9); }
    #spine.darker.vellum-10.bleed:before {
      background-color: rgba(35, 40, 43, 0.9); }
    #spine.darker.vellum-15 {
      background-color: rgba(35, 40, 43, 0.85); }
    #spine.darker.vellum-15.bleed:before {
      background-color: rgba(35, 40, 43, 0.85); }
    #spine.darker.vellum-20 {
      background-color: rgba(35, 40, 43, 0.8); }
    #spine.darker.vellum-20.bleed:before {
      background-color: rgba(35, 40, 43, 0.8); }
    #spine.darker.vellum-25 {
      background-color: rgba(35, 40, 43, 0.75); }
    #spine.darker.vellum-25.bleed:before {
      background-color: rgba(35, 40, 43, 0.75); }
    #spine.darker:not(.homeless) .spine-sitenav > ul > li:first-child a {
      background-image: url("//repo.wsu.edu/spine/1/icons/home-gray-lighter.svg"); }
    #spine.darker:not(.homeless) .spine-sitenav > ul > li:first-child a:before, #spine.darker:not(.homeless) .spine-sitenav > ul > li:first-child a:hover {
      background-image: url("//repo.wsu.edu/spine/1/icons/home-white.svg"); }
    #spine.darker .spine-sitenav a,
    #spine.darker .spine-offsitenav a:hover {
      color: #b5babe; }
    #spine.darker .spine-actions .opened button,
    #spine.darker .spine-actions button,
    #spine.darker .spine-actions .opened button:hover,
    #spine.darker .spine-social-channels a,
    #spine.darker .spine-footer small a {
      color: #5e6a71; }
    #spine.darker .spine-sitenav ul li,
    #spine.darker .spine-global-links {
      border-color: #464e54; }
    #spine.darker .spine-search-tab.opened button,
    #spine.darker .spine-search-tab.opened button:hover {
      color: #2a3033; }
    #spine.darker .spine-offsitenav a,
    #spine.darker .spine-global-links a {
      color: #8d959a; }
    #spine.darker .spine-actions-tabs :not(.opened) button:hover,
    #spine.darker .spine-sitenav a,
    #spine.darker .spine-offsitenav a:hover,
    #spine.darker .spine-global-links a:hover {
      color: #d7dadb; }
    #spine.darker .spine-search-tab button {
      color: #8d959a; }
    #spine.darker .spine-search-tab button:hover {
      color: #b5babe; }
    #spine.darker .spine-sitenav a:hover,
    #spine.darker .spine-sitenav li.dogeared > a {
      color: white; }
  #spine.darkest {
    /* GRAY-DARKEST #000, rgb 0,0,0 */
    background-color: black; }
    #spine.darkest.bleed:before {
      background-color: black; }
    #spine.darkest.vellum-05 {
      background-color: rgba(0, 0, 0, 0.95); }
    #spine.darkest.vellum-05.bleed:before {
      background-color: rgba(0, 0, 0, 0.95); }
    #spine.darkest.vellum-10 {
      background-color: rgba(0, 0, 0, 0.9); }
    #spine.darkest.vellum-10.bleed:before {
      background-color: rgba(0, 0, 0, 0.9); }
    #spine.darkest.vellum-15 {
      background-color: rgba(0, 0, 0, 0.85); }
    #spine.darkest.vellum-15.bleed:before {
      background-color: rgba(0, 0, 0, 0.85); }
    #spine.darkest.vellum-20 {
      background-color: rgba(0, 0, 0, 0.8); }
    #spine.darkest.vellum-20.bleed:before {
      background-color: rgba(0, 0, 0, 0.8); }
    #spine.darkest.vellum-25 {
      background-color: rgba(0, 0, 0, 0.75); }
    #spine.darkest.vellum-25.bleed:before {
      background-color: rgba(0, 0, 0, 0.75); }
    #spine.darkest:not(.homeless) .spine-sitenav > ul > li:first-child a {
      background-image: url("//repo.wsu.edu/spine/1/icons/home-gray-lighter.svg"); }
    #spine.darkest:not(.homeless) .spine-sitenav > ul > li:first-child a:before, #spine.darkest:not(.homeless) .spine-sitenav > ul > li:first-child a:hover {
      background-image: url("//repo.wsu.edu/spine/1/icons/home-crimson.svg"); }
    #spine.darkest .spine-sitenav a,
    #spine.darkest .spine-offsitenav a:hover {
      color: #b5babe; }
    #spine.darkest .spine-actions button,
    #spine.darkest .spine-social-channels a,
    #spine.darkest .spine-footer small a {
      color: #5e6a71; }
    #spine.darkest .spine-sitenav ul li,
    #spine.darkest .spine-global-links {
      border-color: #464e54; }
    #spine.darkest .spine-offsitenav a,
    #spine.darkest .spine-global-links a {
      color: #8d959a; }
    #spine.darkest .spine-actions-tabs :not(.opened) button:hover,
    #spine.darkest .spine-sitenav a,
    #spine.darkest .spine-offsitenav a:hover,
    #spine.darkest .spine-global-links a:hover {
      color: #d7dadb; }
    #spine.darkest .spine-search-tab:not(.opened) button {
      color: #8d959a; }
    #spine.darkest .spine-search-tab:not(.opened) button:hover {
      color: #b5babe; }
    #spine.darkest .spine-sitenav a:hover,
    #spine.darkest .spine-sitenav li.dogeared > a {
      color: #c60c30; }
  #spine.crimson {
    /* CRIMSON #981e32 */
    background-color: #981e32; }
    #spine.crimson.bleed:before {
      background-color: #981e32; }
    #spine.crimson.vellum-05 {
      background-color: rgba(152, 30, 50, 0.95); }
    #spine.crimson.vellum-05.bleed:before {
      background-color: rgba(152, 30, 50, 0.95); }
    #spine.crimson.vellum-10 {
      background-color: rgba(152, 30, 50, 0.9); }
    #spine.crimson.vellum-10.bleed:before {
      background-color: rgba(152, 30, 50, 0.9); }
    #spine.crimson.vellum-15 {
      background-color: rgba(152, 30, 50, 0.85); }
    #spine.crimson.vellum-15.bleed:before {
      background-color: rgba(152, 30, 50, 0.85); }
    #spine.crimson.vellum-20 {
      background-color: rgba(152, 30, 50, 0.8); }
    #spine.crimson.vellum-20.bleed:before {
      background-color: rgba(152, 30, 50, 0.8); }
    #spine.crimson.vellum-25 {
      background-color: rgba(152, 30, 50, 0.75); }
    #spine.crimson.vellum-25.bleed:before {
      background-color: rgba(152, 30, 50, 0.75); }
    #spine.crimson:not(.homeless) .spine-sitenav > ul > li:first-child a {
      background-image: url("//repo.wsu.edu/spine/1/icons/home-gray-lighter.svg"); }
    #spine.crimson:not(.homeless) .spine-sitenav > ul > li:first-child a:before, #spine.crimson:not(.homeless) .spine-sitenav > ul > li:first-child a:hover {
      background-image: url("//repo.wsu.edu/spine/1/icons/home-white.svg"); }
    #spine.crimson .spine-sitenav a {
      color: #b5babe; }
    #spine.crimson .spine-actions-tabs button,
    #spine.crimson .spine-social-channels a,
    #spine.crimson .spine-footer small a {
      xcolor: black;
      color: #6b1523;
      color: #5a121d; }
    #spine.crimson .spine-sitenav ul li,
    #spine.crimson .spine-global-links {
      border-color: #6b1523; }
    #spine.crimson .spine-offsitenav a,
    #spine.crimson .spine-global-links a {
      color: #2f0910;
      color: black; }
    #spine.crimson .spine-actions-tabs :not(.opened) button:hover,
    #spine.crimson .spine-offsitenav a:hover,
    #spine.crimson .spine-global-links a:hover,
    #spine.crimson .spine-social-channels li[class*="-channel"] a:hover {
      color: black;
      color: #490e18; }
    #spine.crimson .spine-search-tab:not(.opened) button {
      color: #1e060a; }
    #spine.crimson .spine-search-tab:not(.opened) button:hover {
      color: black; }
    #spine.crimson .spine-sitenav a:hover,
    #spine.crimson .spine-sitenav li.dogeared > a {
      color: white; }

/* Campus Signature Versions */
#wsu-signature {
  background-image: url("/marks/wsu-signature-vertical.svg"); }

.spokane-signature #wsu-signature {
  background-image: url("/marks/wsu-spokane-signature-vertical.svg"); }

.vancouver-signature #wsu-signature {
  background-image: url("/marks/wsu-vancouver-signature-vertical.svg"); }

.tricities-signature #wsu-signature {
  background-image: url("/marks/wsu-tricities-signature-vertical.svg"); }

.globalcampus-signature #wsu-signature {
  background-image: url("/marks/wsu-globalcampus-signature-vertical.svg"); }

.extension-signature #wsu-signature {
  background-image: url("/marks/wsu-extension-signature-vertical.svg"); }

.foundation-signature #wsu-signature {
  background-image: url("/marks/wsu-foundation-signature-vertical.svg"); }

.lighter #wsu-signature {
  background-image: url("/marks/wsu-signature-vertical-crimson-gray-graydarker.svg"); }

.spokane-signature .lighter #wsu-signature {
  background-image: url("/marks/wsu-spokane-signature-vertical-crimson-gray-graydarker.svg"); }

.vancouver-signature .lighter #wsu-signature {
  background-image: url("/marks/wsu-vancouver-signature-vertical-crimson-gray-graydarker.svg"); }

.tricities-signature .lighter #wsu-signature {
  background-image: url("/marks/wsu-tricities-signature-vertical-crimson-gray-graydarker.svg"); }

.globalcampus-signature .lighter #wsu-signature {
  background-image: url("/marks/wsu-globalcampus-signature-vertical-crimson-gray-graydarker.svg"); }

.extension-signature .lighter #wsu-signature {
  background-image: url("/marks/wsu-extension-signature-vertical-crimson-gray-graydarker.svg"); }

.foundation-signature .lighter #wsu-signature {
  background-image: url("/marks/wsu-foundation-signature-vertical-crimson-gray-graydarker.svg"); }

.light #wsu-signature {
  background-image: url("/marks/wsu-signature-vertical-crimson-gray-white.svg"); }

.spokane-signature .light #wsu-signature {
  background-image: url("/marks/wsu-spokane-signature-vertical-crimson-gray-white.svg"); }

.vancouver-signature .light #wsu-signature {
  background-image: url("/marks/wsu-vancouver-signature-vertical-crimson-gray-white.svg"); }

.tricities-signature .light #wsu-signature {
  background-image: url("/marks/wsu-tricities-signature-vertical-crimson-gray-white.svg"); }

.globalcampus-signature .light #wsu-signature {
  background-image: url("/marks/wsu-globalcampus-signature-vertical-crimson-gray-white.svg"); }

.extension-signature .light #wsu-signature {
  background-image: url("/marks/wsu-extension-signature-vertical-crimson-gray-white.svg"); }

.foundation-signature .light #wsu-signature {
  background-image: url("/marks/wsu-foundation-signature-vertical-crimson-gray-white.svg"); }

.gray #wsu-signature {
  background-image: url("/marks/wsu-signature-vertical-crimson-graydark-graylighter.svg"); }

.spokane-signature .gray #wsu-signature {
  background-image: url("/marks/wsu-spokane-signature-vertical-crimson-graydark-graylighter.svg"); }

.vancouver-signature .gray #wsu-signature {
  background-image: url("/marks/wsu-vancouver-signature-vertical-crimson-graydark-graylighter.svg"); }

.tricities-signature .gray #wsu-signature {
  background-image: url("/marks/wsu-tricities-signature-vertical-crimson-graydark-graylighter.svg"); }

.globalcampus-signature .gray #wsu-signature {
  background-image: url("/marks/wsu-globalcampus-signature-vertical-crimson-graydark-graylighter.svg"); }

.extension-signature .gray #wsu-signature {
  background-image: url("/marks/wsu-extension-signature-vertical-crimson-graydark-graylighter.svg"); }

.foundation-signature .gray #wsu-signature {
  background-image: url("/marks/wsu-foundation-signature-vertical-crimson-graydark-graylighter.svg"); }

.dark #wsu-signature {
  background-image: url("/marks/wsu-signature-vertical-crimson-7d868c-graylightly.svg"); }

.spokane-signature .dark #wsu-signature {
  background-image: url("/marks/wsu-spokane-signature-vertical-crimson-7d868c-graylightly.svg"); }

.vancouver-signature .dark #wsu-signature {
  background-image: url("/marks/wsu-vancouver-signature-vertical-crimson-7d868c-graylightly.svg"); }

.tricities-signature .dark #wsu-signature {
  background-image: url("/marks/wsu-tricities-signature-vertical-crimson-7d868c-graylightly.svg"); }

.globalcampus-signature .dark #wsu-signature {
  background-image: url("/marks/wsu-globalcampus-signature-vertical-crimson-7d868c-graylightly.svg"); }

.extension-signature .dark #wsu-signature {
  background-image: url("/marks/wsu-extension-signature-vertical-crimson-7d868c-graylightly.svg"); }

.foundation-signature .dark #wsu-signature {
  background-image: url("/marks/wsu-foundation-signature-vertical-crimson-7d868c-graylightly.svg"); }

.darker #wsu-signature,
.darkest #wsu-signature {
  background-image: url("/marks/wsu-signature-vertical-crimson-gray-graylighter.svg"); }

.spokane-signature .darker #wsu-signature,
.spokane-signature .darkest #wsu-signature {
  background-image: url("/marks/wsu-spokane-signature-vertical-crimson-gray-graylighter.svg"); }

.vancouver-signature .darker #wsu-signature,
.vancouver-signature .darkest #wsu-signature {
  background-image: url("/marks/wsu-vancouver-signature-vertical-crimson-gray-graylighter.svg"); }

.tricities-signature .darker #wsu-signature,
.tricities-signature .darkest #wsu-signature {
  background-image: url("/marks/wsu-tricities-signature-vertical-crimson-gray-graylighter.svg"); }

.globalcampus-signature .darker #wsu-signature,
.globalcampus-signature .darkest #wsu-signature {
  background-image: url("/marks/wsu-globalcampus-signature-vertical-crimson-gray-graylighter.svg"); }

.extension-signature .darker #wsu-signature,
.extension-signature .darkest #wsu-signature {
  background-image: url("/marks/wsu-extension-signature-vertical-crimson-gray-graylighter.svg"); }

.foundation-signature .darker #wsu-signature,
.foundation-signature .darkest #wsu-signature {
  background-image: url("/marks/wsu-foundation-signature-vertical-crimson-gray-graylighter.svg"); }

.crimson #wsu-signature {
  background-image: url("/marks/wsu-signature-vertical-white-graylightly-white.svg"); }

.spokane-signature .crimson #wsu-signature {
  background-image: url("/marks/wsu-spokane-signature-vertical-white-graylightly-white.svg"); }

.vancouver-signature .crimson #wsu-signature {
  background-image: url("/marks/wsu-vancouver-signature-vertical-white-graylightly-white.svg"); }

.tricities-signature .crimson #wsu-signature {
  background-image: url("/marks/wsu-tricities-signature-vertical-white-graylightly-white.svg"); }

.globalcampus-signature .crimson #wsu-signature {
  background-image: url("/marks/wsu-globalcampus-signature-vertical-white-graylightly-white.svg"); }

.extension-signature .crimson #wsu-signature {
  background-image: url("/marks/wsu-extension-signature-vertical-white-graylightly-white.svg"); }

.foundation-signature .crimson #wsu-signature {
  background-image: url("/marks/wsu-foundation-signature-vertical-white-graylightly-white.svg"); }

html.lt-ie9 #binder #wsu-signature {
  background-image: url("//repo.wsu.edu/spine/1/marks/wsu-signature-vertical.png"); }
